Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

format:
  name: Format Python files
  entry: poe format
  language: system
  pass_filenames: true

format-docs:
  name: Format docs
  entry: poe format-docs
  language: system
  pass_filenames: true

lastgenre: Dedup fallback handling in _get_genre
  beetsplug/lastgenre/__init__.py
Due: format

Changelog for #6449 genre ignorelist
  docs/changelog.rst
Due: format-docs

lastgenre: Docs for genre ignorelist feature
  docs/plugins/lastgenre.rst
Due: format-docs

fetchart: handle FilesystemError when setting album art
  beetsplug/fetchart.py
  test/plugins/test_fetchart.py
Due: format

Add tests for rewrite plugin
  test/plugins/test_rewrite.py
Due: format

Add a failing test for list fields
  test/plugins/test_advancedrewrite.py
  test/plugins/test_rewrite.py
Due: format

Handle list fields in rewrite
  beetsplug/advancedrewrite.py
  beetsplug/rewrite.py
  test/plugins/test_advancedrewrite.py
  test/plugins/test_rewrite.py
Due: format

Update docs
  docs/changelog.rst
  docs/plugins/advancedrewrite.rst
  docs/plugins/rewrite.rst
Due: format-docs

Show that only the first pattern applied currently
  test/plugins/test_rewrite.py
Due: format

Apply all matching rules to a field
  beetsplug/rewrite.py
  docs/changelog.rst
  docs/plugins/rewrite.rst
  test/plugins/test_rewrite.py
Due: format, format-docs

chroma: gate candidates on the musicbrainz plugin being enabled
  beetsplug/chroma.py
  docs/changelog.rst
  docs/plugins/chroma.rst
  test/plugins/test_chroma.py
Due: format, format-docs

chroma: reformat changelog entry to satisfy docstrfmt
  docs/changelog.rst
Due: format-docs

Simplify fetch_genre
  beetsplug/lastgenre/client.py
  test/plugins/test_lastgenre.py
Due: format

Remove special handling for pylast.Album.get_top_tags
  beetsplug/lastgenre/client.py
Due: format

Add JOJ0 as a lastgenre codeowner
  .github/CODEOWNERS
Due: none

lastgenre: use a single fetch method
  beetsplug/lastgenre/__init__.py
  beetsplug/lastgenre/client.py
  test/plugins/test_lastgenre.py
Due: format

Remove unused import in lastgenre tests
  test/plugins/test_lastgenre.py
Due: format

lastgenre: Docs for genre normalization (aliases)
  docs/plugins/lastgenre.rst
Due: format-docs

lastgenre: Implement genre alias normalization
  beetsplug/lastgenre/__init__.py
  beetsplug/lastgenre/client.py
  beetsplug/lastgenre/utils.py
Due: format

lastgenre: Test aliases and ship default config
  beetsplug/lastgenre/aliases.yaml
  test/plugins/test_lastgenre.py
Due: format

lastgenre: Docs hint on canonical without whitelist
  docs/plugins/lastgenre.rst
Due: format-docs

lastgenre: Slightly optimize filter_valid performance
  beetsplug/lastgenre/__init__.py
Due: format

Fixes/additions to default aliases
  beetsplug/lastgenre/aliases.yaml
Due: none

Fix normalize_genre docstring wording
  beetsplug/lastgenre/utils.py
Due: format

Test invalid alias template catch
  test/plugins/test_lastgenre.py
Due: format

Catch exception on invalid alias template
  beetsplug/lastgenre/utils.py
Due: format

Do not delete the genres tag when musicbrainz.genres is False.
  beetsplug/mbsync.py
  docs/changelog.rst
  docs/plugins/mbsync.rst
  test/plugins/test_mbsync.py
Due: format, format-docs

Refactored most plugin tests to use pytest instead of unitest. Also simplified test wherever possible.
  beets/test/helper.py
  test/test_plugins.py
Due: format

Renamed PluginTestCasePytest to PluginTest
  beets/test/helper.py
  test/plugins/test_importfeeds.py
  test/plugins/test_inline.py
  test/plugins/test_lastgenre.py
  test/plugins/test_titlecase.py
  test/test_plugins.py
Due: format

Fixed issue with mpdstats test and removed unregister_all function as it introduces issues.
  beets/test/helper.py
  test/plugins/test_mpdstats.py
  test/test_plugins.py
Due: format

Set the class module during plugin registration to not trigger the plugin load dedup.
  beets/test/helper.py
  test/test_plugins.py
Due: format

test_logging:LoggingLevelTest now uses pytest PluginMixin
  test/test_logging.py
Due: format

Fixed some typing issues with rebase
  test/plugins/test_mpdstats.py
  test/test_plugins.py
Due: format

Fixed metadatasource tests.
  test/plugins/test_mpdstats.py
  test/test_metadata_plugins.py
  test/test_plugins.py
Due: format

Updated pyacoustid
  poetry.lock
  pyproject.toml
Due: none

Run poetry update. New lockfile.
  poetry.lock
Due: none

Added changelog entry.
  docs/changelog.rst
Due: format-docs

Updated lockfile
  poetry.lock
Due: none

Fixed issue with differences in how mp starts processes now. This is needed for the unitest patch decorator to work similar in python 3.14 in compassion to earlier versions.
  test/plugins/test_bpd.py
Due: format

Run tests in python 3.14 and added classifier for python 3.14
  .github/workflows/ci.yaml
  pyproject.toml
Due: none

Path conditions:
  format: any of: .*.py
  format-docs: any of: .*.rst
