Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

format:
  name: Format Python files
  entry: poe format
  language: system
  pass_filenames: true

format-docs:
  name: Format docs
  entry: poe format-docs
  language: system
  pass_filenames: true

Readded licence. Removed last legacy occurrences of `artist` and replaced them with `field`. Removed unnecessary default parameters where applicable.
  beetsplug/random.py
  test/plugins/test_random.py
Due: format

Add annotation for LibModel.length property
  beets/library/models.py
  beetsplug/random.py
Due: format

Overall refactor of random plugin. Added length property to albums.
  beets/library/models.py
  beetsplug/random.py
  test/plugins/test_random.py
Due: format

Added an option to define the field to use for equal chance sampling
  beetsplug/random.py
Due: format

Replace random.Random with random module
  beetsplug/random.py
  test/plugins/test_random.py
Due: format

Enhanced documentation of random plugin.
  docs/changelog.rst
  docs/plugins/random.rst
Due: format-docs

Fix grouping for list fields and stabilize equal-chance order
  beetsplug/random.py
Due: format

Nuked tests
  test/plugins/utils/test_request_handler.py
Due: format

Retries with 1, 2, 4, 8, 16, 32s backoff
  beetsplug/_utils/requests.py
  test/plugins/utils/test_request_handler.py
Due: format

Attemt to rework tests
  test/plugins/utils/test_request_handler.py
Due: format

Simplify creating indices
  beets/dbcore/db.py
  test/test_dbcore.py
Due: format

Fix lints
  beets/dbcore/__init__.py
Due: format

Add changelog note
  docs/changelog.rst
Due: format-docs

fix(lastgenre): Canonicalize keep_existing fallback
  beetsplug/lastgenre/__init__.py
  docs/changelog.rst
  test/plugins/test_lastgenre.py
Due: format, format-docs

feat(lastgenre): canonicalize_existing
  beetsplug/lastgenre/__init__.py
  docs/changelog.rst
  docs/plugins/lastgenre.rst
  test/plugins/test_lastgenre.py
Due: format, format-docs

Add missing commits to git blame ignore revs
  .git-blame-ignore-revs
Due: none

Replace/fix Release.type with Release.primary-type
  beetsplug/musicbrainz.py
  test/plugins/test_musicbrainz.py
Due: format

Simplify tests
  test/test_metadata_plugins.py
Due: format

Added a proxy to catch and handle exceptions in metadataplugins during the autotag process.
  beets/metadata_plugins.py
  test/test_metadata_plugins.py
Due: format

Added default config and simplified proxy class.
  beets/config_default.yaml
  beets/metadata_plugins.py
Due: format

Fixed cache clear issue.
  test/test_metadata_plugins.py
Due: format

Renamed variable to use protected names.
  beets/metadata_plugins.py
Due: format

Moved config check into find_metadata_source_plugins func.
  beets/metadata_plugins.py
  docs/changelog.rst
Due: format, format-docs

Use a decorator-based approach
  beets/metadata_plugins.py
  beets/plugins.py
  test/test_metadata_plugins.py
Due: format

Path conditions:
  format: any of: .*.py
  format-docs: any of: .*.rst
