Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: format
        name: Format Python files
        entry: poe format
        language: system
        files: '.*.py'
        pass_filenames: true
      - id: format-docs
        name: Format docs
        entry: poe format-docs
        language: system
        files: '.*.rst'
        pass_filenames: true

Improve reference title for command links
  extra/release.py
  test/test_release.py
Due: format

Properly format changelog section headers
  docs/changelog.rst
  extra/release.py
  test/test_release.py
Due: format, format-docs

Remove redundant MD_REPLACEMENTS
  extra/release.py
  test/test_release.py
Due: format

Add rst inline-literal check to lint-docs task
  pyproject.toml
Due: none

Sort changelog bullet points case-insensitively
  extra/release.py
  test/test_release.py
Due: format

Fix rendering generated refs
  extra/release.py
  test/test_release.py
Due: format

Fix single backticks issues
  docs/changelog.rst
  docs/guides/main.rst
  docs/plugins/mbpseudo.rst
  docs/plugins/titlecase.rst
Due: format-docs

Provide missing kwargs to musicbrainz browse
  beetsplug/musicbrainz.py
  docs/changelog.rst
Due: format, format-docs

Name these track/recording vars properly
  beetsplug/musicbrainz.py
Due: format

Fix test failures
  test/plugins/test_ftintitle.py
  test/ui/test_ui.py
Due: format

Replace custom stdio mocks with pytest io fixture
  beets/test/_common.py
  beets/test/helper.py
  test/conftest.py
  test/ui/commands/test_fields.py
Due: format

Patch sys.stdin and sys.stdout in tests
  beets/test/_common.py
  beets/test/helper.py
  test/ui/commands/test_completion.py
Due: format

Replace capture_output with io.getoutput
  beets/test/helper.py
  test/plugins/test_bareasc.py
  test/plugins/test_convert.py
  test/plugins/test_edit.py
  test/plugins/test_export.py
  test/plugins/test_fetchart.py
  test/plugins/test_info.py
  test/plugins/test_lastgenre.py
  test/plugins/test_limit.py
  test/plugins/test_mbsubmit.py
  test/plugins/test_missing.py
  test/plugins/test_play.py
  test/plugins/test_smartplaylist.py
  test/plugins/test_types_plugin.py
  test/test_metasync.py
  test/test_plugins.py
  test/ui/commands/test_config.py
  test/ui/commands/test_list.py
  test/ui/commands/test_write.py
  test/ui/test_ui.py
Due: format

Replace control_stdin with io.addinput
  beets/test/helper.py
  test/plugins/test_bpd.py
  test/plugins/test_convert.py
  test/plugins/test_edit.py
  test/plugins/test_importsource.py
  test/plugins/test_mbsubmit.py
  test/plugins/test_play.py
  test/plugins/test_zero.py
  test/test_plugins.py
  test/ui/commands/test_modify.py
  test/ui/test_ui_init.py
Due: format

Address review feedback: soften wording, include original error
  beets/ui/__init__.py
Due: format

Improve error message when database directory is not writable
  beets/ui/__init__.py
Due: format

Remove readonly check - only triggers on write ops, not open
  beets/ui/__init__.py
Due: format

docs: Add changelog entry for database permission error fix
  docs/changelog.rst
Due: format-docs

test: Add tests for database error handling to improve coverage
  test/ui/test_ui_init.py
Due: format

Fix TypeError: use fsdecode to handle bytes temp_dir path
  test/ui/test_ui_init.py
Due: format

Fix test failures: correct path literal and formatting issues
  pyproject.toml
  test/ui/test_ui_init.py
Due: format

Address code review: soften error message and improve path handling
  beets/ui/__init__.py
  test/ui/test_ui_init.py
Due: format
