Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: format
        name: Format Python files
        entry: poe format
        language: system
        files: '.*.py'
        pass_filenames: true
      - id: format-docs
        name: Format docs
        entry: poe format-docs
        language: system
        files: '.*.rst'
        pass_filenames: true

Improve remove_non_item_files docs
  beetsplug/convert.py
Due: format

Improve test coverage
  test/plugins/test_convert.py
Due: format

Improve wording on changelog
  docs/changelog.rst
Due: format-docs

Add full types to convert test
  test/plugins/test_convert.py
Due: format

Add return type for remove_non_item_files
  beetsplug/convert.py
Due: format

Update test/plugins/test_convert.py
  test/plugins/test_convert.py
Due: format

Improve test name
  test/plugins/test_convert.py
Due: format

Add types to create_dummy_file
  test/plugins/test_convert.py
Due: format

Avoid hardcoding file check
  test/plugins/test_convert.py
Due: format

Refactor convert remove_missing tests into a single parametrised one
  test/plugins/test_convert.py
Due: format

Follow pytest naming convention for TestConvertRemoveMissing
  test/plugins/test_convert.py
Due: format

Fix test_convert_remove_missing
  test/plugins/test_convert.py
Due: format

Fix doc format and typing errors
  beetsplug/convert.py
  docs/changelog.rst
Due: format, format-docs

Update test helper attribute name
  test/plugins/test_convert.py
Due: format

Store token files with 0600 permissions
  beetsplug/plexupdate.py
  beetsplug/spotify.py
  docs/changelog.rst
Due: format, format-docs

Reformat changelog entry
  docs/changelog.rst
Due: format-docs

web: bound search result sets so broad queries aren't slow
  beetsplug/web/__init__.py
  beetsplug/web/static/api.js
  beetsplug/web/static/app.js
  docs/plugins/web.rst
  test/plugins/test_web.py
Due: format, format-docs

web: show item comments in the track view
  beetsplug/web/static/app.js
  test/plugins/test_web.py
Due: format

web: address code-review findings (search correctness, playback, perf)
  beetsplug/web/__init__.py
  beetsplug/web/static/api.js
  beetsplug/web/static/app.js
  beetsplug/web/templates/index.html
  test/plugins/test_web.py
Due: format

web: move grid filter to the left; give artists a random album-cover avatar
  beetsplug/web/__init__.py
  beetsplug/web/static/app.js
  beetsplug/web/static/beets.css
  docs/plugins/web.rst
  test/plugins/test_web.py
Due: format, format-docs

docs: reformat web.rst with docstrfmt
  docs/plugins/web.rst
Due: format-docs

web: resolve relative album artpath before serving art
  beetsplug/web/__init__.py
  docs/changelog.rst
  test/plugins/test_web.py
Due: format, format-docs

web: use pathlib for album-art path resolution
  beetsplug/web/__init__.py
  test/plugins/test_web.py
Due: format

docs: draft AI_POLICY.md
  AI_POLICY.md
Due: none

Run CI on merge group
  .github/workflows/ci.yaml
Due: none

Run Lint on merge group
  .github/workflows/lint.yaml
Due: none

Improve tunique behavior
  beets/config_default.yaml
  beets/library/library.py
  beets/library/models.py
  docs/reference/config.rst
  docs/reference/pathformat.rst
  test/test_library.py
Due: format, format-docs

discogs: read the release month and day from `released`
  beetsplug/discogs/__init__.py
  docs/changelog.rst
  test/plugins/test_discogs.py
Due: format, format-docs

docs: update AI_POLICY.md
  AI_POLICY.md
Due: none

docs: rewrap changelog entry to match docstrfmt
  docs/changelog.rst
Due: format-docs

Fix album duplicate detection using MusicBrainz IDs
  beets/importer/tasks.py
  beets/util/__init__.py
  docs/changelog.rst
  test/test_importer.py
Due: format, format-docs

formatting
  beetsplug/playlist.py
Due: format

fix line skipping
  beetsplug/playlist.py
Due: format

fix path normalization
  beetsplug/playlist.py
Due: format

add test
  test/plugins/test_playlist.py
Due: format

edit changelog
  docs/changelog.rst
Due: format-docs

Document MusicBrainz album duplicate keys
  docs/reference/config.rst
Due: format-docs

docs: restore the Unreleased changelog section the merge mangled
  docs/changelog.rst
Due: format-docs

docs: list beets-clapback under Other Plugins
  docs/plugins/index.rst
Due: format-docs
