Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: format
        name: Format Python files
        entry: poe format
        language: system
        files: '.*.py'
        pass_filenames: true
      - id: format-docs
        name: Format docs
        entry: poe format-docs
        language: system
        files: '.*.rst'
        pass_filenames: true

Reduce else branches
  beetsplug/mbpseudo.py
Due: format

Fix proposal when search result is already a pseudo-release
  beetsplug/mbpseudo.py
  test/plugins/test_mbpseudo.py
Due: format

Send albuminfo_received only in metadata_plugins.py
  beets/autotag/match.py
  beets/metadata_plugins.py
Due: format

Improve mbpseudo for multiple pseudo-releases
  beetsplug/mbpseudo.py
  docs/plugins/mbpseudo.rst
  test/plugins/test_mbpseudo.py
  test/rsrc/mbpseudo/official_release.json
Due: format, format-docs

Add before_album_info_emitted for metadata plugins
  beets/metadata_plugins.py
  beetsplug/mbpseudo.py
  docs/changelog.rst
  docs/dev/plugins/events.rst
  test/plugins/test_mbpseudo.py
Due: format, format-docs

Add native support for multiple genres per album/track
  beets/autotag/__init__.py
  beets/autotag/hooks.py
  beets/library/models.py
  beets/ui/commands/__init__.py
  beets/ui/commands/migrate.py
  beetsplug/beatport.py
  beetsplug/lastgenre/__init__.py
  beetsplug/musicbrainz.py
  docs/changelog.rst
  test/plugins/test_beatport.py
  test/plugins/test_lastgenre.py
  test/plugins/test_musicbrainz.py
  test/test_autotag.py
  test/test_library.py
Due: format, format-docs

Remove outdated sentence.
  CONTRIBUTING.rst
Due: format-docs

avoid unnecessary writes when modifying non-media fields
  beets/library/models.py
Due: format

Fix edit plugin cancel flow restoring in-memory tags
  beetsplug/edit.py
Due: format

Added documentation
  docs/changelog.rst
Due: format-docs

Added test for new case
  test/plugins/test_edit.py
Due: format

Fixed doc
  docs/changelog.rst
Due: format-docs

Fix verbose comments and add e,c test
  beetsplug/edit.py
  test/plugins/test_edit.py
Due: format

importsource: fix potential prevent_suggest_removal crash
  beetsplug/importsource.py
Due: format

Fix ftintitle plugin to prioritize explicit featuring tokens
  beetsplug/ftintitle.py
  docs/changelog.rst
  test/plugins/test_ftintitle.py
Due: format, format-docs

Discogs: support multi-value album/track fields
  beetsplug/discogs.py
  test/plugins/test_discogs.py
Due: format

Fix ReplacePlugin CLI command
  beetsplug/replace.py
Due: format

Replace command now writes metadata to the file
  beetsplug/replace.py
  test/plugins/test_replace.py
Due: format

Update replace plugin docs
  docs/plugins/replace.rst
Due: format-docs

Fix fixture return type
  test/plugins/test_replace.py
Due: format

Add tests for replace CLI command
  beetsplug/replace.py
  test/plugins/test_replace.py
Due: format

Store new path only after successful write
  beetsplug/replace.py
Due: format

Test running replace command
  beetsplug/replace.py
  test/plugins/test_replace.py
Due: format

Save new path before writing metadata
  beetsplug/replace.py
Due: format

Tests for replace.replace_file
  test/plugins/test_replace.py
Due: format

fix: inline default bracket_keywords instead of defining/cloning constant
  beetsplug/ftintitle.py
Due: format

fix: revert needless whitespace change
  beetsplug/ftintitle.py
Due: format

Cleanup, fix format
  docs/plugins/titlecase.rst
  test/plugins/test_titlecase.py
Due: format, format-docs

support multiple artists for spotify and improve multiartist support for lastgenre
  beetsplug/lastgenre/__init__.py
  beetsplug/spotify.py
Due: format

added tests for multi-artist spotify and lastgenre changes
  beetsplug/spotify.py
  docs/changelog.rst
  test/plugins/test_lastgenre.py
  test/plugins/test_spotify.py
  test/rsrc/spotify/multi_artist_request.json
Due: format, format-docs
