Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: format
        name: Format Python files
        entry: poe format
        language: system
        files: '.*.py'
        pass_filenames: true
      - id: format-docs
        name: Format docs
        entry: poe format-docs
        language: system
        files: '.*.rst'
        pass_filenames: true

importer: always test .rar archives
  .github/workflows/ci.yaml
  test/test_importer.py
Due: format

Unskip tests that do not fail
  test/plugins/test_convert.py
  test/plugins/test_hook.py
  test/plugins/test_importadded_convert.py
  test/test_util.py
  test/util/test_m3ufile.py
Due: format

Fix Windows compatibility and refactor test organization for backends
  .github/workflows/ci.yaml
  beets/test/helper.py
  beets/util/extension.py
  beetsplug/_utils/vfs.py
  beetsplug/bpd/__init__.py
  docs/changelog.rst
  pyproject.toml
  test/plugins/test_bpd.py
  test/plugins/test_replaygain.py
  test/test_importer.py
  test/util/test_extension.py
  uv.lock
Due: format, format-docs

Migrate art functionalities to use pathlib.Path
  beets/importer/tasks.py
  beets/library/exceptions.py
  beets/library/library.py
  beets/library/models.py
  beets/test/_common.py
  beets/util/__init__.py
  beets/util/artresizer.py
  beetsplug/_utils/art.py
  beetsplug/convert.py
  beetsplug/embedart.py
  beetsplug/fetchart.py
  beetsplug/play.py
  beetsplug/thumbnails.py
  docs/changelog.rst
  pyproject.toml
  test/plugins/test_art.py
  test/plugins/test_play.py
  test/plugins/test_thumbnails.py
  test/test_files.py
  uv.lock
Due: format, format-docs

Add tests for regressions
  test/plugins/test_art.py
  test/plugins/test_embedart.py
Due: format

Remove dependency on pyxdg in thumbnails
  beetsplug/thumbnails.py
  pyproject.toml
  uv.lock
Due: format

Preserve legacy path types in art resizing
  beets/util/__init__.py
  beets/util/artresizer.py
  beets/util/extension.py
  beetsplug/_utils/art.py
  docs/changelog.rst
  test/util/test_art_resize.py
Due: format, format-docs

Refactor test_art_resize.py
  test/util/test_art_resize.py
Due: format

And a small fetchart refactor
  beetsplug/fetchart.py
  docs/changelog.rst
Due: format, format-docs

typing: Use pathlib.Path in beets.importer
  beets/events.py
  beets/importer/session.py
  beets/importer/stages.py
  beets/importer/state.py
  beets/importer/tasks.py
  beets/test/_common.py
  beets/test/helper.py
  beets/ui/commands/import_/__init__.py
  beets/ui/commands/import_/session.py
  beets/util/__init__.py
  beets/util/extension.py
  beetsplug/convert.py
  beetsplug/importadded.py
  beetsplug/mbsubmit.py
  beetsplug/replaygain.py
  test/plugins/test_convert.py
  test/test_importer.py
  test/ui/commands/test_import.py
Due: format

Handle only pathlib.Path in sorted_walk, albums_in_dir
  beets/importer/tasks.py
  beets/util/__init__.py
  beetsplug/fetchart.py
  test/test_importer.py
  test/test_util.py
Due: format

Make Library.directory a Path
  beets/context.py
  beets/importer/tasks.py
  beets/library/library.py
  beets/library/models.py
  beets/plugins.py
  beets/test/helper.py
  beets/ui/__init__.py
  beets/ui/commands/update.py
  beetsplug/bpsync.py
  beetsplug/ipfs.py
  beetsplug/mbsync.py
  beetsplug/permissions.py
  beetsplug/unimported.py
  test/plugins/test_permissions.py
  test/test_library.py
Due: format

Add tests
  test/ui/commands/test_list.py
  test/ui/test_ui.py
Due: format

Fix tests
  beetsplug/ipfs.py
  test/plugins/test_tidal.py
Due: format

Adjust docs
  docs/changelog.rst
  docs/dev/plugins/commands.rst
  docs/plugins/absubmit.rst
  docs/plugins/acousticbrainz.rst
  docs/plugins/autobpm.rst
  docs/plugins/badfiles.rst
  docs/plugins/bareasc.rst
  docs/plugins/bpm.rst
  docs/plugins/bpsync.rst
  docs/plugins/chroma.rst
  docs/plugins/convert.rst
  docs/plugins/deezer.rst
  docs/plugins/duplicates.rst
  docs/plugins/embedart.rst
  docs/plugins/export.rst
  docs/plugins/fetchart.rst
  docs/plugins/ftintitle.rst
  docs/plugins/info.rst
  docs/plugins/ipfs.rst
  docs/plugins/keyfinder.rst
  docs/plugins/limit.rst
  docs/plugins/lyrics.rst
  docs/plugins/mbsubmit.rst
  docs/plugins/mbsync.rst
  docs/plugins/metasync.rst
  docs/plugins/missing.rst
  docs/plugins/play.rst
  docs/plugins/random.rst
  docs/plugins/replace.rst
  docs/plugins/replaygain.rst
  docs/plugins/spotify.rst
  docs/plugins/thumbnails.rst
  docs/plugins/tidal.rst
  docs/plugins/zero.rst
  docs/reference/cli.rst
Due: format-docs

list: Sort musical keys by Circle of Fifths
  beets/config_default.yaml
  beets/dbcore/sort.py
  beets/dbcore/types.py
  beets/library/models.py
  beets/util/musictheory.py
  test/dbcore/test_types.py
Due: format

Bump python3-discogs-client optional and test dependencies
  pyproject.toml
  uv.lock
Due: none

discogs: Catch MalformedResponseError
  beetsplug/discogs/__init__.py
  test/plugins/test_discogs.py
Due: format

web: set the music directory for each request
  beetsplug/web/__init__.py
  docs/changelog.rst
  test/plugins/test_web.py
Due: format, format-docs

lyrics: keep synced LRCLib lyrics that end with a blank line
  beetsplug/lyrics.py
  docs/changelog.rst
  test/plugins/test_lyrics.py
Due: format, format-docs

unimported/permissions: add tests
  test/plugins/test_permissions.py
  test/plugins/test_unimported.py
Due: format

Make Library.directory a Path
  beets/context.py
  beets/importer/tasks.py
  beets/library/library.py
  beets/library/models.py
  beets/plugins.py
  beets/test/helper.py
  beets/ui/__init__.py
  beets/ui/commands/update.py
  beetsplug/bpsync.py
  beetsplug/mbsync.py
  beetsplug/permissions.py
  beetsplug/unimported.py
  docs/changelog.rst
  test/plugins/test_permissions.py
  test/plugins/test_unimported.py
  test/test_library.py
Due: format, format-docs

Set plugin configs through the config fixture
  test/plugins/test_discogs.py
  test/plugins/test_lastgenre.py
  test/plugins/test_lyrics.py
Due: format

Do not use global config in tests
  test/dbcore/test_types.py
  test/plugins/test_art.py
  test/plugins/test_bucket.py
  test/plugins/test_embedart.py
  test/plugins/test_inline.py
  test/plugins/test_smartplaylist.py
  test/plugins/test_the.py
  test/test_files.py
  test/test_importer.py
  test/test_library.py
  test/test_plugins.py
  test/ui/commands/test_config.py
  test/ui/commands/test_import.py
  test/ui/test_ui.py
  test/ui/test_ui_init.py
Due: format

Explicitly exclude test_release.py from not IS_MAIN_PYTHON tests
  .github/workflows/ci.yaml
  test/extra/test_release.py
Due: format

Fix typing issues
  docs/extensions/conf.py
Due: format

Fix linting issues
  beets/dbcore/db.py
  beets/importer/actions.py
  beets/importer/state.py
  beets/library/models.py
  beets/plugins.py
  beets/test/helper.py
  beets/ui/commands/modify.py
  beets/util/__init__.py
  beets/util/pipeline.py
  beetsplug/_typing.py
  beetsplug/_utils/musicbrainz.py
  beetsplug/_utils/playcount.py
  beetsplug/aura.py
  beetsplug/discogs/types.py
  beetsplug/mbpseudo.py
  beetsplug/mpdstats.py
  beetsplug/musicbrainz.py
  beetsplug/tidal/api_types.py
  extra/release.py
  test/ui/commands/test_update.py
Due: format

Update deps
  uv.lock
Due: none

Remove no-op sqlite conditional
  beets/dbcore/db.py
Due: format

Upgrade Python version references
  .github/workflows/ci.yaml
  .github/workflows/integration_test.yaml
  .github/workflows/lint.yaml
  .github/workflows/make_release.yaml
  docs/guides/installation.rst
  pyproject.toml
  uv.lock
Due: format-docs

Add a note to the changelog
  docs/changelog.rst
Due: format-docs

Replace tomli dependency with stdlib tomllib
  extra/release.py
  pyproject.toml
  uv.lock
Due: format
