Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: format
        name: Format Python files
        entry: poe format
        language: system
        files: '.*.py'
        pass_filenames: true
      - id: format-docs
        name: Format docs
        entry: poe format-docs
        language: system
        files: '.*.rst'
        pass_filenames: true

Define a shared fixture for config
  test/autotag/test_distance.py
  test/conftest.py
  test/plugins/test_mbpseudo.py
  test/test_autotag.py
  test/ui/test_field_diff.py
Due: format

Add a test to reproduce the issue
  beets/metadata_plugins.py
  test/autotag/test_match.py
Due: format

Move assignment tests to test/autotag/test_match.py
  test/autotag/__init__.py
  test/autotag/test_match.py
  test/test_autotag.py
Due: format

Return album candidates from multiple sources when matching by IDs
  beets/autotag/match.py
  beets/metadata_plugins.py
  test/autotag/test_match.py
  test/test_importer.py
Due: format

Take data source into account when deciding duplicate candidates
  beets/autotag/hooks.py
  beets/autotag/match.py
  test/autotag/test_match.py
Due: format

Refactor match_by_id
  beets/autotag/match.py
Due: format

Invoke album_matched hook from AlbumMatch.__post_init__
  beets/autotag/hooks.py
  beets/autotag/match.py
Due: format

Bring back album_for_id, track_for_id
  beets/metadata_plugins.py
  beetsplug/mbsync.py
  beetsplug/missing.py
  test/plugins/test_mbsync.py
Due: format

Search for multiple album/track ids
  beets/autotag/match.py
  beets/metadata_plugins.py
  test/autotag/test_match.py
Due: format

address pr feedback
  beetsplug/lyrics.py
  test/plugins/lyrics_pages.py
Due: format

fix formatting and type issues
  beetsplug/lyrics.py
Due: format

fix type signature
  beetsplug/lyrics.py
Due: format

Add harmonicmix plugin for DJ mixing suggestions
  beetsplug/harmonicmix.py
  docs/changelog.rst
  docs/plugins/harmonicmix.rst
  test/test_harmonicmix.py
Due: format, format-docs

Update copyright
  beetsplug/harmonicmix.py
Due: format

Fix linting, formatting, and extra tests
  beetsplug/harmonicmix.py
  test/test_harmonicmix.py
Due: format

Fix documentation formatting
  docs/changelog.rst
  docs/plugins/harmonicmix.rst
Due: format-docs

Fix RST header formatting and changelog alignment
  docs/changelog.rst
Due: format-docs

lastgenre: Add typehints to remaining methods,
  beetsplug/lastgenre/__init__.py
Due: format

dbcore: add Model.db cached attribute
  beets/dbcore/db.py
  beets/library/models.py
Due: format

Add NotFoundError and Model.get_fresh_from_db; tidy DB getters
  beets/dbcore/db.py
  beets/library/library.py
  beets/library/models.py
  beets/ui/__init__.py
Due: format

Improve and simplify show_model_changes
  beets/dbcore/db.py
  beets/ui/__init__.py
  docs/changelog.rst
  pyproject.toml
  test/ui/test_field_diff.py
Due: format, format-docs

Configure future-annotations
  beets/autotag/match.py
  beets/dbcore/db.py
  beets/dbcore/query.py
  beets/importer/session.py
  beets/importer/tasks.py
  beets/logging.py
  beets/ui/commands/import_/display.py
  beets/ui/commands/move.py
  beets/util/__init__.py
  beetsplug/albumtypes.py
  beetsplug/aura.py
  beetsplug/chroma.py
  beetsplug/deezer.py
  beetsplug/mbpseudo.py
  beetsplug/missing.py
  beetsplug/playlist.py
  beetsplug/replace.py
  beetsplug/smartplaylist.py
  beetsplug/spotify.py
  beetsplug/titlecase.py
  poetry.lock
  pyproject.toml
  test/plugins/test_albumtypes.py
  test/plugins/test_aura.py
  test/plugins/test_convert.py
  test/plugins/test_ftintitle.py
  test/plugins/test_lyrics.py
  test/plugins/test_mbpseudo.py
Due: format

Configure ruff for py310
  beets/dbcore/query.py
  beets/logging.py
  beets/util/__init__.py
  beetsplug/spotify.py
  pyproject.toml
Due: format

Address RUF012
  beets/dbcore/db.py
  beets/dbcore/query.py
  beets/dbcore/types.py
  beets/library/models.py
  beets/plugins.py
  beets/test/helper.py
  beetsplug/acousticbrainz.py
  beetsplug/bpd/__init__.py
  beetsplug/deezer.py
  beetsplug/fetchart.py
  beetsplug/lyrics.py
  beetsplug/metasync/__init__.py
  beetsplug/metasync/amarok.py
  beetsplug/metasync/itunes.py
  beetsplug/missing.py
  beetsplug/mpdstats.py
  beetsplug/playlist.py
  beetsplug/spotify.py
  beetsplug/the.py
  docs/extensions/conf.py
  test/plugins/lyrics_pages.py
  test/plugins/test_bpd.py
  test/plugins/test_edit.py
  test/plugins/test_hook.py
  test/plugins/test_mpdstats.py
  test/plugins/test_musicbrainz.py
  test/test_dbcore.py
  test/test_plugins.py
Due: format

Update git blame ignore revs
  .git-blame-ignore-revs
Due: none

remove noisy comment from test/plugins/test_beatport.py
  test/plugins/test_beatport.py
Due: format

Add native support for multiple genres per album/track
  beets/autotag/__init__.py
  beets/autotag/hooks.py
  beets/library/models.py
  beets/ui/commands/__init__.py
  beets/ui/commands/migrate.py
  beetsplug/beatport.py
  beetsplug/lastgenre/__init__.py
  beetsplug/musicbrainz.py
  docs/changelog.rst
  test/plugins/test_beatport.py
  test/plugins/test_lastgenre.py
  test/plugins/test_musicbrainz.py
  test/test_autotag.py
  test/test_library.py
Due: format, format-docs

simplify return logic in beetsplug/lastgenre/__init__.py
  beetsplug/lastgenre/__init__.py
Due: format

better function description in beetsplug/lastgenre/__init__.py
  beetsplug/lastgenre/__init__.py
Due: format

simplify genre unpacking in beetsplug/lastgenre/__init__.py
  beetsplug/lastgenre/__init__.py
Due: format

simplify check for fallback in beetsplug/lastgenre/__init__.py
  beetsplug/lastgenre/__init__.py
Due: format

shorte test description in test/plugins/test_lastgenre.py
  test/plugins/test_lastgenre.py
Due: format

Implement automatic database-level genre migration
  beets/autotag/__init__.py
  beets/autotag/hooks.py
  beets/library/library.py
  beetsplug/beatport.py
  beetsplug/lastgenre/__init__.py
  docs/changelog.rst
  docs/plugins/lastgenre.rst
  test/plugins/test_discogs.py
  test/plugins/test_lastgenre.py
  test/test_autotag.py
Due: format, format-docs

Simplify MusicBrainz genres assignment
  beetsplug/musicbrainz.py
Due: format
