Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: format
        name: Format Python files
        entry: poe format
        language: system
        files: '.*.py'
        pass_filenames: true
      - id: format-docs
        name: Format docs
        entry: poe format-docs
        language: system
        files: '.*.rst'
        pass_filenames: true

Remove readonly check - only triggers on write ops, not open
  beets/ui/__init__.py
Due: format

test: Add tests for database error handling to improve coverage (resolved)
  test/ui/test_ui_init.py
Due: format

Fix test failures: correct path literal and formatting issues
  pyproject.toml
  test/ui/test_ui_init.py
Due: format

Address code review: soften error message and improve path handling
  beets/ui/__init__.py
  test/ui/test_ui_init.py
Due: format

Fix TypeError: use fsdecode to handle bytes temp_dir path
  test/ui/test_ui_init.py
Due: format

Increase SQLite busy timeout to 30s to resolve 'database is locked' errors
  beets/dbcore/db.py
Due: format

Update changelog to reflect code review improvements
  docs/changelog.rst
Due: format-docs

smartplaylist: Space delimited unmatched list output
  beetsplug/smartplaylist.py
Due: format

Changelog for smpartplaylist copy-paste fix
  docs/changelog.rst
Due: format-docs

Update my teams page entry
  docs/team.rst
Due: format-docs

Fix symlink tests for macOS
  test/test_files.py
  test/test_importer.py
Due: format

fix: ftintitle can handle a list of ampersanded artists
  beetsplug/ftintitle.py
  docs/changelog.rst
  test/plugins/test_ftintitle.py
Due: format, format-docs

Update changelog note
  docs/changelog.rst
Due: format-docs

Move changelog note under unreleased section
  docs/changelog.rst
Due: format-docs

fix(fetchart): prevent deletion of configured fallback cover art
  beetsplug/fetchart.py
  docs/changelog.rst
  test/plugins/test_art.py
Due: format, format-docs

Add progress bars to several commands and plugins.
  beets/ui/__init__.py
  beetsplug/autobpm.py
  beetsplug/badfiles.py
  beetsplug/chroma.py
  beetsplug/duplicates.py
  beetsplug/embedart.py
  beetsplug/fetchart.py
  beetsplug/ftintitle.py
  beetsplug/lastgenre/__init__.py
  beetsplug/lyrics.py
  beetsplug/mbsync.py
  beetsplug/missing.py
  beetsplug/parentwork.py
  beetsplug/permissions.py
  beetsplug/replaygain.py
  beetsplug/unimported.py
  beetsplug/zero.py
  docs/changelog.rst
  docs/dev/plugins/other/index.rst
  docs/dev/plugins/other/progressbars.rst
  pyproject.toml
  test/test_ui.py
Due: format, format-docs

Add progress bar to 'beet mv', and handle missing file exceptions without crashing.
  beets/ui/commands/move.py
Due: format

Add progress bars to 'beet update', 'beet rm', 'beet mv', and the modify command.
  beets/ui/commands/modify.py
  beets/ui/commands/move.py
  beets/ui/commands/remove.py
  beets/ui/commands/update.py
  beets/ui/commands/write.py
Due: format

Code review feedback
  beets/library/library.py
  beets/ui/__init__.py
  beetsplug/embedart.py
  docs/changelog.rst
  docs/dev/plugins/other/progressbars.rst
Due: format, format-docs

Revise documentation formatting
  docs/changelog.rst
  docs/dev/plugins/other/progressbars.rst
Due: format-docs

Review feedback
  beets/library/library.py
  beets/ui/commands/move.py
  beetsplug/badfiles.py
  beetsplug/duplicates.py
  beetsplug/embedart.py
  beetsplug/ftintitle.py
  beetsplug/mbsync.py
  beetsplug/missing.py
  beetsplug/parentwork.py
  beetsplug/permissions.py
  beetsplug/unimported.py
  beetsplug/zero.py
  docs/changelog.rst
  test/test_library.py
  test/ui/test_ui.py
Due: format, format-docs

fix(lastgenre): Reset plugin config in fixtured tests
  test/plugins/test_lastgenre.py
Due: format

Review feedback
  beets/library/library.py
  beets/ui/__init__.py
  beetsplug/ftintitle.py
  beetsplug/missing.py
  beetsplug/parentwork.py
  beetsplug/permissions.py
  beetsplug/unimported.py
  beetsplug/zero.py
  pyproject.toml
  test/test_ui.py
Due: format

Fix poetry, and lint
  beets/library/library.py
  beets/ui/__init__.py
  beets/ui/commands/move.py
  beets/ui/commands/update.py
  beetsplug/badfiles.py
  beetsplug/missing.py
  beetsplug/permissions.py
  beetsplug/unimported.py
  beetsplug/zero.py
  poetry.lock
  test/test_library.py
Due: format

Formatting
  beets/ui/commands/move.py
  beetsplug/parentwork.py
  beetsplug/permissions.py
  beetsplug/zero.py
  test/test_library.py
Due: format

Plural units -> singular units
  beets/ui/__init__.py
  beetsplug/autobpm.py
  beetsplug/chroma.py
  beetsplug/duplicates.py
  beetsplug/embedart.py
  beetsplug/fetchart.py
  beetsplug/lastgenre/__init__.py
  beetsplug/lyrics.py
  docs/dev/plugins/other/progressbars.rst
Due: format, format-docs

Fix units
  beets/ui/commands/move.py
  beetsplug/duplicates.py
  beetsplug/mbsync.py
Due: format

Fix tests
  test/test_library.py
  test/ui/test_ui.py
Due: format

Formatting
  docs/dev/plugins/other/progressbars.rst
  test/test_library.py
Due: format, format-docs

Fix small counter error
  beets/ui/__init__.py
Due: format

Fix import
  beetsplug/badfiles.py
Due: format
