Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: format
        name: Format Python files
        entry: poe format
        language: system
        files: '.*.py'
        pass_filenames: true
      - id: format-docs
        name: Format docs
        entry: poe format-docs
        language: system
        files: '.*.rst'
        pass_filenames: true

Ruff format after rebase.
  beets/dbcore/db.py
  test/test_dbcore.py
Due: format

Annotated handlers to accept a Library instead of Any and added typed playlist helpers
  beetsplug/smartplaylist.py
Due: format

Fix URL-encoding path conversion
  beetsplug/smartplaylist.py
Due: format

Move no_convert force test to cli test class
  test/plugins/test_convert.py
Due: format

Fix edit plugin cancel flow restoring in-memory tags
  beetsplug/edit.py
Due: format

Added documentation
  docs/changelog.rst
Due: format-docs

Fixed doc
  docs/changelog.rst
Due: format-docs

Added test for new case
  test/plugins/test_edit.py
Due: format

Return album candidates from multiple sources when matching by IDs
  beets/autotag/match.py
  beets/metadata_plugins.py
  test/autotag/test_match.py
  test/test_importer.py
Due: format

Add a test to reproduce the issue
  beets/metadata_plugins.py
  test/autotag/test_match.py
Due: format

hooks: Generalise AlbumMatch and TrackMatch into Match
  beets/autotag/hooks.py
Due: format

Refactor match_by_id
  beets/autotag/match.py
Due: format

Search for multiple album/track ids
  beets/autotag/match.py
  beets/metadata_plugins.py
  test/autotag/test_match.py
Due: format

Take data source into account when deciding duplicate candidates
  beets/autotag/hooks.py
  beets/autotag/match.py
  test/autotag/test_match.py
Due: format

Move assignment tests to test/autotag/test_match.py
  test/autotag/__init__.py
  test/autotag/test_match.py
  test/test_autotag.py
Due: format

Bring back album_for_id, track_for_id
  beets/metadata_plugins.py
  beetsplug/mbsync.py
  beetsplug/missing.py
  test/plugins/test_mbsync.py
Due: format

Invoke album_matched hook from AlbumMatch.__post_init__
  beets/autotag/hooks.py
  beets/autotag/match.py
Due: format

Clarify cli help for convert --force
  beetsplug/convert.py
Due: format

Remove duplicate feature artist
  beets/library/models.py
  beetsplug/discogs.py
  test/plugins/test_discogs.py
  test/test_media_field.py
Due: format

Getting rid of Media file stuff
  beets/config_default.yaml
  beets/library/models.py
  test/plugins/test_plugin_mediafield.py
  test/test_media_field.py
Due: format

Fix convert --format with never_convert_lossy_files (#6171)
  beetsplug/convert.py
  docs/changelog.rst
  docs/plugins/convert.rst
  test/plugins/test_convert.py
Due: format, format-docs

Changing logic of removing duplicates
  beetsplug/discogs.py
  test/plugins/test_discogs.py
Due: format

Fixed style
  beetsplug/discogs.py
Due: format

Fix Issue #5635: improve SubsonicUpdate error messages when server is unavailable
  beetsplug/subsonicupdate.py
Due: format

Add changelog entry for #5635 subsonicupdate error messages
  docs/changelog.rst
Due: format-docs

Apply formatting and fix lint issues
  beetsplug/subsonicupdate.py
Due: format

Simplifies subsonicupdate JSON handling and updated changelog
  beetsplug/subsonicupdate.py
  docs/changelog.rst
Due: format, format-docs

Simplify SubsonicUpdate JSON handling and fix changelog formatting
  docs/changelog.rst
Due: format-docs

Fix subsonicupdate entry in changelog
  docs/changelog.rst
Due: format-docs

importsource: Catch importer crash when skipping
  beetsplug/importsource.py
Due: format

Update poetry command
  CONTRIBUTING.rst
Due: format-docs

Add shortcut for installation for developers
  CONTRIBUTING.rst
Due: format-docs

Fix incompatible types
  beetsplug/mbpseudo.py
Due: format

Let mbpseudo plugin work during reimport
  beets/autotag/match.py
  beets/metadata_plugins.py
  beetsplug/mbpseudo.py
  beetsplug/mbsync.py
  beetsplug/missing.py
  docs/changelog.rst
  docs/dev/plugins/events.rst
  test/plugins/test_mbpseudo.py
  test/test_importer.py
Due: format, format-docs

Fix emission of result from before_album_info_emitted
  beets/metadata_plugins.py
Due: format
