Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

format:
  name: Format Python files
  entry: poe format
  language: system
  pass_filenames: true

format-docs:
  name: Format docs
  entry: poe format-docs
  language: system
  pass_filenames: true

lastgenre: Implement genre alias normalization
  beetsplug/lastgenre/__init__.py
  beetsplug/lastgenre/client.py
  beetsplug/lastgenre/utils.py
Due: format

lastgenre: Test aliases and ship default config
  beetsplug/lastgenre/aliases.yaml
  test/plugins/test_lastgenre.py
Due: format

lastgenre: Docs for genre normalization (aliases)
  docs/plugins/lastgenre.rst
Due: format-docs

lastgenre: Docs hint on canonical without whitelist
  docs/plugins/lastgenre.rst
Due: format-docs

Moved query to unreleased
  docs/changelog.rst
Due: format-docs

refactoring and other improvements
  beets/importer/tasks.py
  beets/util/__init__.py
  beets/util/extension.py
  docs/reference/config.rst
  test/test_importer.py
Due: format, format-docs

format
  test/test_importer.py
Due: format

Remove dead code identified by static analysis
  beets/dbcore/types.py
  beetsplug/ftintitle.py
  beetsplug/listenbrainz.py
  beetsplug/mbcollection.py
Due: format

lastgenre: Move get_genre helpers to methods
  beetsplug/lastgenre/__init__.py
Due: format

lastgenre: Extract existing genre stage
  beetsplug/lastgenre/__init__.py
Due: format

lastgenre: Extract artist genre stage
  beetsplug/lastgenre/__init__.py
Due: format

lastgenre: Extract original genre fallback
  beetsplug/lastgenre/__init__.py
Due: format

lastgenre: Extrack track,album stages
  beetsplug/lastgenre/__init__.py
Due: format

lastgenre: Dedup finding correct artist attr
  beetsplug/lastgenre/__init__.py
Due: format

lastgenre: Method grouping comment headers
  beetsplug/lastgenre/__init__.py
Due: format

missingfiles: init
  beets/library/models.py
  beetsplug/missingfiles.py
  docs/changelog.rst
  docs/plugins/index.rst
  docs/plugins/missingfiles.rst
  test/plugins/test_missingfiles.py
Due: format, format-docs

Fix changelog
  docs/changelog.rst
Due: format-docs

Update dependencies
  poetry.lock
Due: none

Add listenbrainz_play_count type
  beetsplug/listenbrainz.py
Due: format

Move process_tracks to utils
  beetsplug/_utils/playcount.py
  beetsplug/lastimport.py
Due: format

Create a function for processing a single track
  beetsplug/_utils/playcount.py
Due: format

Update listenbrainz docs
  docs/plugins/listenbrainz.rst
Due: format-docs

Import query classes explicitly
  beetsplug/_utils/playcount.py
Due: format

Add types
  beetsplug/_utils/playcount.py
Due: format

Refactor process_tracks and add tests
  beetsplug/_utils/playcount.py
  beetsplug/lastimport.py
  test/plugins/utils/test_playcount.py
Due: format

Add a note to the changelog
  docs/changelog.rst
Due: format-docs

Update listenbrainz accordingly
  beetsplug/_utils/playcount.py
  beetsplug/lastimport.py
  beetsplug/listenbrainz.py
  test/plugins/utils/test_playcount.py
Due: format

Add pytest-xdist
  .github/workflows/ci.yaml
  poetry.lock
  pyproject.toml
  setup.cfg
Due: none

clarify changelog
  docs/changelog.rst
Due: format-docs

autobpm: Option --force for overwrite setting
  beetsplug/autobpm.py
Due: format

autobpm: Rename and deprecate overwrite setting
  beetsplug/autobpm.py
  docs/plugins/autobpm.rst
Due: format, format-docs

Add changelog for #6481 autobpm force option
  docs/changelog.rst
Due: format-docs

autobpm: Add quiet option and config
  beetsplug/autobpm.py
Due: format

Changelog for PR 6480 autobpm
  docs/changelog.rst
Due: format-docs

batch spotify requests
  beetsplug/spotify.py
  docs/changelog.rst
  test/plugins/test_spotify.py
Due: format, format-docs

lint
  beetsplug/spotify.py
  test/plugins/test_spotify.py
Due: format

Fix Spotify batch helper typing for mypy
  beetsplug/spotify.py
Due: format

Address reviewer coments
  beetsplug/spotify.py
  docs/changelog.rst
  test/plugins/test_spotify.py
Due: format, format-docs

fix doc format
  docs/changelog.rst
Due: format-docs

Fix albumartists_sort prepending joined artist credit (#6470)
  beets/autotag/hooks.py
  docs/changelog.rst
  test/autotag/test_hooks.py
Due: format, format-docs

Path conditions:
  format: any of: .*.py
  format-docs: any of: .*.rst
