Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

format:
  name: Format Python files
  entry: poe format
  language: system
  pass_filenames: true

format-docs:
  name: Format docs
  entry: poe format-docs
  language: system
  pass_filenames: true

Move AttrDict under beets.util
  beets/autotag/__init__.py
  beets/autotag/hooks.py
  beets/util/__init__.py
  test/autotag/test_hooks.py
Due: format

Update events docs
  docs/dev/plugins/events.rst
  docs/plugins/convert.rst
  docs/plugins/smartplaylist.rst
Due: format-docs

typing: add types to event handlers
  beetsplug/acousticbrainz.py
  beetsplug/advancedrewrite.py
  beetsplug/badfiles.py
  beetsplug/beatport.py
  beetsplug/chroma.py
  beetsplug/edit.py
  beetsplug/embyupdate.py
  beetsplug/fetchart.py
  beetsplug/filefilter.py
  beetsplug/fromfilename.py
  beetsplug/hook.py
  beetsplug/ihate.py
  beetsplug/importadded.py
  beetsplug/importfeeds.py
  beetsplug/importsource.py
  beetsplug/kodiupdate.py
  beetsplug/loadext.py
  beetsplug/mbpseudo.py
  beetsplug/mbsubmit.py
  beetsplug/mpdupdate.py
  beetsplug/permissions.py
  beetsplug/play.py
  beetsplug/playlist.py
  beetsplug/plexupdate.py
  beetsplug/replaygain.py
  beetsplug/scrub.py
  beetsplug/sonosupdate.py
  beetsplug/subsonicupdate.py
  beetsplug/thumbnails.py
  beetsplug/titlecase.py
  beetsplug/zero.py
Due: format

Serialize BPD notifications per connection
  beetsplug/bpd/__init__.py
  test/plugins/test_bpd.py
Due: format

Remove bluelet in favor of using asyncio in bpd plugin
  beets/util/bluelet.py
  beetsplug/bpd/__init__.py
  docs/changelog.rst
  test/plugins/test_bpd.py
Due: format, format-docs

typing: type handlers and listeners explicitly
  beets/plugins.py
Due: format

typing: Define events in a separate module, import explicitly
  beets/events.py
  beets/plugins.py
Due: format

typing: Import events module instead
  beets/plugins.py
Due: format

typing: fix typing in plugins
  beets/dbcore/query.py
  beets/dbcore/queryparse.py
  beets/util/color.py
  beetsplug/advancedrewrite.py
  beetsplug/badfiles.py
  beetsplug/chroma.py
  beetsplug/fromfilename.py
  beetsplug/importadded.py
  beetsplug/importsource.py
  beetsplug/loadext.py
  beetsplug/mbsubmit.py
  beetsplug/playlist.py
  beetsplug/zero.py
Due: format

typing: fix types in event handlers
  beetsplug/badfiles.py
  beetsplug/edit.py
  beetsplug/filefilter.py
  beetsplug/hook.py
  beetsplug/importadded.py
  beetsplug/mbsubmit.py
  beetsplug/permissions.py
  beetsplug/play.py
  beetsplug/replaygain.py
  beetsplug/smartplaylist.py
  beetsplug/subsonicupdate.py
  beetsplug/tidal/__init__.py
  test/plugins/test_hook.py
  test/plugins/test_subsonicupdate.py
Due: format

Exclude AttrDict move from git blame
  .git-blame-ignore-revs
Due: none

Define a container for Likelies
  beets/autotag/distance.py
  beets/autotag/source.py
  beets/util/__init__.py
Due: format

Ignore Match move commit
  .git-blame-ignore-revs
Due: none

Refactor autotag to use Source abstraction
  beets/autotag/__init__.py
  beets/autotag/distance.py
  beets/autotag/match.py
  beets/autotag/source.py
  beets/importer/tasks.py
  beets/ui/commands/import_/display.py
  beets/ui/commands/import_/session.py
  beets/util/__init__.py
  beetsplug/bench.py
  beetsplug/ihate.py
  beetsplug/mbpseudo.py
  test/autotag/test_distance.py
  test/autotag/test_match.py
  test/test_util.py
  test/ui/commands/test_import.py
Due: format

Add commits to git blame ignore
  .git-blame-ignore-revs
Due: none

fix(lyrics): Reject LRCLib records with no lyrics
  beetsplug/_typing.py
  beetsplug/lyrics.py
  docs/changelog.rst
  test/plugins/test_lyrics.py
Due: format, format-docs

fix: Out-of-date URL in lrclib test
  test/plugins/lyrics_pages.py
Due: format

feat(lyrics): Fall-back to synced lyrics with timestamps trimmed
  beetsplug/lyrics.py
  docs/changelog.rst
  test/plugins/test_lyrics.py
Due: format, format-docs

tidal: Normalize copyright text into a concise label name
  beetsplug/tidal/__init__.py
  docs/changelog.rst
  test/plugins/test_tidal.py
Due: format, format-docs

lastgenre: Improve _try_resolve_stage docstring
  beetsplug/lastgenre/__init__.py
Due: format

lastgenre: Extract existing genre stage
  beetsplug/lastgenre/__init__.py
Due: format

lastgenre: Extract original fallback stage to method
  beetsplug/lastgenre/__init__.py
Due: format

lastgenre: Move get_genre helpers to methods
  beetsplug/lastgenre/__init__.py
Due: format

lastgenre: Extract complex artist stage to methods
  beetsplug/lastgenre/__init__.py
Due: format

lastgenre: Name vars resolved instead of result
  beetsplug/lastgenre/__init__.py
Due: format

lastgenre: Rename genres to existing_genres
  beetsplug/lastgenre/__init__.py
Due: format

lastgenre: Conditional assign keep_genres (force mode)
  beetsplug/lastgenre/__init__.py
Due: format

lastgenre: Improve original fallback stage
  beetsplug/lastgenre/__init__.py
Due: format

lastgenre: Album stage albumartists fall back
  beetsplug/lastgenre/__init__.py
Due: format

lastgenre: Test album stage albumartists fallback
  test/plugins/test_lastgenre.py
Due: format

lastgenre: Docs for album stage albumartists fallback
  docs/plugins/lastgenre.rst
Due: format-docs

Fix lrclib integration test
  test/plugins/lyrics_pages.py
Due: format

add interactive upgrade option
  beets/importer/actions.py
  beets/test/helper.py
  docs/changelog.rst
  docs/guides/tagger.rst
  docs/reference/config.rst
  test/test_importer.py
  test/ui/test_ui_importer.py
Due: format, format-docs

address copilot comments
  beets/test/helper.py
  docs/reference/config.rst
  test/ui/test_ui_importer.py
Due: format, format-docs

tidal: rewrite _normalize_label without regex per review
  beetsplug/tidal/__init__.py
Due: format

remove dead code
  test/ui/test_ui_importer.py
Due: format

tidal: rewrite _normalize_label with regex, using apply_transforms
  beetsplug/_utils/func.py
  beetsplug/lyrics.py
  beetsplug/tidal/__init__.py
Due: format

fix(discogs): retry malformed search responses
  beetsplug/discogs/__init__.py
  docs/changelog.rst
  test/plugins/test_discogs.py
Due: format, format-docs

Potential fix for pull request finding
  beetsplug/lastgenre/__init__.py
Due: format

duplicates: improve the checksum option docs
  docs/changelog.rst
  docs/plugins/duplicates.rst
Due: format-docs

Path conditions:
  format: any of: .*.py
  format-docs: any of: .*.rst
