Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

format:
  name: Format Python files
  entry: poe format
  language: system
  pass_filenames: true

format-docs:
  name: Format docs
  entry: poe format-docs
  language: system
  pass_filenames: true

Reflow changelog entry to satisfy docstrfmt (line-length 80)
  docs/changelog.rst
Due: format-docs

Move badfiles changelog entry into the Unreleased section
  docs/changelog.rst
Due: format-docs

edit: allow item-only fields to remain in per-track documents during interactive import
  beetsplug/edit.py
  docs/changelog.rst
  docs/plugins/edit.rst
  test/plugins/test_edit.py
Due: format, format-docs

lint
  docs/plugins/edit.rst
Due: format-docs

fix(scrub): skip scrubbing when --nowrite is passed
  beetsplug/scrub.py
  test/plugins/test_scrub.py
Due: format

Normalize digital media in Discogs searches
  beetsplug/discogs/__init__.py
  docs/changelog.rst
  docs/plugins/discogs.rst
  test/plugins/test_discogs.py
Due: format, format-docs

Pass track duration as length for matching
  beetsplug/tidal/__init__.py
  docs/changelog.rst
  test/plugins/test_tidal.py
Due: format, format-docs

Add "Rescan directory" import prompt choice
  beets/importer/actions.py
  beets/importer/stages.py
  beets/importer/tasks.py
  beets/ui/commands/import_/session.py
  docs/changelog.rst
  docs/guides/tagger.rst
  test/test_importer.py
  test/test_plugins.py
  uv.lock
Due: format, format-docs

Stop the sibling-disc rescan from pulling its shared parent into scope
  beets/importer/stages.py
  test/test_importer.py
Due: format

Drop stale duplicate tasks left behind by a directory rescan
  beets/importer/session.py
  beets/importer/stages.py
  beets/importer/tasks.py
  beets/ui/commands/import_/session.py
  docs/changelog.rst
  test/test_importer.py
  test/test_plugins.py
Due: format, format-docs

docs: add changelog entry for scrub --nowrite fix
  docs/changelog.rst
Due: format-docs

util: add open_secure() for writing owner-only (0600) files
  beets/util/__init__.py
Due: format

plugins/spotify: use open_secure() for the cached OAuth token file
  beetsplug/spotify.py
Due: format

plugins/discogs: use util.open_secure() for the cached OAuth token file
  beetsplug/discogs/__init__.py
Due: format

plugins/beatport: use open_secure() for the cached OAuth token file
  beetsplug/beatport.py
Due: format

plugins/tidal: use open_secure() for the cached session token file
  beetsplug/tidal/session.py
Due: format

docs: changelog entry for the token-file permissions fix
  docs/changelog.rst
Due: format-docs

test: add coverage for util.open_secure()
  test/test_util.py
Due: format

release: sync project version in uv.lock
  .github/workflows/make_release.yaml
  uv.lock
Due: none

Add commands to labeler config
  .github/labeler.yaml
Due: none

Small rework on the polling logic
  beetsplug/plexupdate.py
Due: format

Add tests for the session and API layers
  test/plugins/test_plexupdate.py
Due: format

Update docs and changelog
  docs/changelog.rst
  docs/plugins/plexupdate.rst
Due: format-docs

Add interactive plex.tv authentication
  .github/CODEOWNERS
  beetsplug/plexupdate.py
  uv.lock
Due: format

Suppress more errors during token loading to catch corrupted files.
  beetsplug/plexupdate.py
Due: format

Add "Rescan directory" import prompt choice
  beets/importer/actions.py
  beets/importer/stages.py
  beets/importer/tasks.py
  beets/ui/commands/import_/session.py
  docs/changelog.rst
  docs/guides/tagger.rst
  test/test_importer.py
  test/test_plugins.py
Due: format, format-docs

Make import tasks own a mutable Candidates collection.
  beets/autotag/__init__.py
  beets/autotag/match.py
  beets/importer/tasks.py
  beets/ui/commands/import_/session.py
  test/autotag/test_match.py
  test/ui/commands/test_import.py
Due: format

Add changelog entry for in-place manual lookup candidates.
  docs/changelog.rst
Due: format-docs

util: remove open_secure(), superseded by TokenFileMixin
  beets/util/__init__.py
Due: format

Implement TokenFileMixin for token caching
  beets/metadata_plugins.py
Due: format

Refactor DiscogsPlugin to use TokenFileMixin
  beetsplug/discogs/__init__.py
Due: format

Refactor Spotify plugin for token handling
  beetsplug/spotify.py
Due: format

Refactor BeatportPlugin to use TokenFileMixin
  beetsplug/beatport.py
Due: format

Refactor TidalPlugin to use TokenFileMixin
  beetsplug/tidal/__init__.py
Due: format

Update token_path type to support Path
  beetsplug/tidal/api.py
Due: format

Refactor tidal session for token handling
  beetsplug/tidal/session.py
Due: format

Remove OpenSecureTest class and related tests
  test/test_util.py
Due: format

Implement tests for TokenFileMixin functionality
  test/test_metadata_plugins.py
Due: format

Fix ruff format CI failure
  test/test_metadata_plugins.py
Due: format

docs: wrap changelog lines for formatter
  docs/changelog.rst
Due: format-docs

Path conditions:
  format: any of: .*.py
  format-docs: any of: .*.rst
