Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

format:
  name: Format Python files
  entry: poe format
  language: system
  pass_filenames: true

format-docs:
  name: Format docs
  entry: poe format-docs
  language: system
  pass_filenames: true

Improve remove_missing option documentation
  docs/plugins/convert.rst
Due: format-docs

Update remove_non_item_files signature with annotations and remove unnecessary parameters
  beetsplug/convert.py
Due: format

Improve wording on changelog
  docs/changelog.rst
Due: format-docs

Add types to create_dummy_file
  test/plugins/test_convert.py
Due: format

Refactor convert remove_missing tests into a single parametrised one
  test/plugins/test_convert.py
Due: format

Improve test name
  test/plugins/test_convert.py
Due: format

Avoid hardcoding file check
  test/plugins/test_convert.py
Due: format

Follow pytest naming convention for TestConvertRemoveMissing
  test/plugins/test_convert.py
Due: format

Add return type for remove_non_item_files
  beetsplug/convert.py
Due: format

Add full types to convert test
  test/plugins/test_convert.py
Due: format

Update comment for PATTERN_BY_SOURCE to English
  beets/util/id_extractors.py
Due: format

Add Spotify URI recognition to changelog
  docs/changelog.rst
Due: format-docs

#M1: reconhece URIs nativas do Spotify na extracao de IDs
  beets/util/id_extractors.py
  docs/changelog.rst
  test/util/test_id_extractors.py
Due: format, format-docs

Recognize native Spotify URIs when extracting IDs (#6840)
  beets/util/id_extractors.py
  docs/changelog.rst
  test/util/test_id_extractors.py
Due: format, format-docs

typing: fix beets.dbcore.db
  beets/dbcore/db.py
  beets/library/models.py
  beetsplug/_utils/vfs.py
Due: format

typing: type beets.dbcore.db
  beets/dbcore/db.py
  beets/library/models.py
  beets/util/functemplate.py
Due: format

typing: fix beets.dbcore.types
  beets/dbcore/types.py
  test/dbcore/test_types.py
Due: format

typing: fix beets.dbcore.sort
  beets/dbcore/sort.py
Due: format

typing: type beets.dbcore.query
  beets/dbcore/query.py
Due: format

typing: fix beets.dbcore.query
  beets/dbcore/query.py
Due: format

typing: type beets.dbcore.sort
  beets/dbcore/sort.py
Due: format

typing: type beets.dbcore.types
  beets/dbcore/types.py
Due: format

Add commits to ignore
  .git-blame-ignore-revs
Due: none

Fix uncaught KeyError on date queries containing a stray pipe
  beets/dbcore/query.py
  docs/changelog.rst
  test/dbcore/test_datequery.py
Due: format, format-docs

ci: install flac for the metaflac replaygain tests
  .github/workflows/ci.yaml
Due: none

replaygain: filter supported items in metaflac track gain
  beetsplug/replaygain.py
Due: format

replaygain: use a yaml code-block for the docs config example
  docs/plugins/replaygain.rst
Due: format-docs

replaygain: add metaflac backend
  beetsplug/replaygain.py
  docs/changelog.rst
  docs/plugins/replaygain.rst
  test/plugins/test_replaygain.py
Due: format, format-docs

Add bitrate-based upgrade duplicate_action
  beets/importer/actions.py
  beets/importer/stages.py
  beets/importer/tasks.py
  docs/changelog.rst
  docs/reference/config.rst
  test/plugins/test_art.py
  test/test_importer.py
Due: format, format-docs

fix(util): split_into_lines merges a word split across 2+ colored spans
  beets/util/layout.py
  docs/changelog.rst
  test/util/test_layout.py
Due: format, format-docs

lastgenre: Fix whitelist/tree some disco/funk genres
  beetsplug/lastgenre/genres-tree.yaml
Due: none

discogs: Move test_parse_tracklist_positions... under TestTracklist
  test/plugins/test_discogs.py
Due: format

discogs: remove redundant check for required fields
  beetsplug/discogs/__init__.py
  test/plugins/test_discogs.py
Due: format

discogs: Use a single global fixture to kill DiscogsPlugin.setup
  test/plugins/test_discogs.py
Due: format

discogs: Use Release instead of Bag in tests
  beets/test/_common.py
  test/plugins/test_discogs.py
Due: format

discogs: Consolidate test_parse_tracklist_subtracks... tests
  test/plugins/test_discogs.py
Due: format

discogs: Test inherited track group artist
  .git-blame-ignore-revs
  test/plugins/test_discogs.py
Due: format

discogs: And now add full _coalesce_tracks coverage
  test/plugins/test_discogs.py
Due: format

discogs: Test index_tracks behaviour
  test/plugins/test_discogs.py
Due: format

discogs: Dedupe test_strip_disambiguation
  test/plugins/test_discogs.py
Due: format

Path conditions:
  format: any of: .*.py
  format-docs: any of: .*.rst
