Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

format:
  name: Format Python files
  entry: poe format
  language: system
  pass_filenames: true

format-docs:
  name: Format docs
  entry: poe format-docs
  language: system
  pass_filenames: true

Add lbimport file parameter
  beetsplug/listenbrainz.py
Due: format

Import listens from file
  beetsplug/listenbrainz.py
Due: format

Handle null mbid_mapping
  beetsplug/listenbrainz.py
Due: format

Prefer explicitly supplied recording_mbid from additional_info if available
  beetsplug/listenbrainz.py
Due: format

Fix code review comments
  beetsplug/listenbrainz.py
Due: format

lastgenre: Test empty last.fm result doesnt wipe
  test/plugins/test_lastgenre.py
Due: format

Refactor plugin, add type hints
  beetsplug/fromfilename.py
Due: format

Rewrite and extend regex, extend bad titles
  beetsplug/fromfilename.py
  test/plugins/test_fromfilename.py
Due: format

Final types, docs, ignore directories
  beetsplug/fromfilename.py
  docs/plugins/fromfilename.rst
  test/plugins/test_fromfilename.py
Due: format, format-docs

Lint, complete coverage
  beetsplug/fromfilename.py
  test/plugins/test_fromfilename.py
Due: format

Adjust log message. Initial fix for group albums. Test outlines written. TODO: Write tests.
  beetsplug/fromfilename.py
  docs/plugins/fromfilename.rst
  test/plugins/test_fromfilename.py
Due: format, format-docs

Refactor to use mutable mapping.
  beetsplug/fromfilename.py
  test/plugins/test_fromfilename.py
Due: format

Add configurable field test, multi-item test, sanity check
  beetsplug/fromfilename.py
  docs/plugins/fromfilename.rst
  test/plugins/test_fromfilename.py
Due: format, format-docs

Add future annotations, add vinyl track index parsing, simplify docs
  beetsplug/fromfilename.py
  docs/plugins/fromfilename.rst
  test/plugins/test_fromfilename.py
Due: format, format-docs

User patterns implemented
  beetsplug/fromfilename.py
  docs/plugins/fromfilename.rst
  test/plugins/test_fromfilename.py
Due: format, format-docs

Fixes and refinements, 100% coverage.
  beetsplug/fromfilename.py
  docs/plugins/fromfilename.rst
  test/plugins/test_fromfilename.py
Due: format, format-docs

Add album fields parsing, refactored tag updating, expanded testing.
  beetsplug/fromfilename.py
  docs/plugins/fromfilename.rst
  test/plugins/test_fromfilename.py
Due: format, format-docs

Rework fromfilename_task, rename dictionaries, create mock task
  beetsplug/fromfilename.py
  test/plugins/test_fromfilename.py
Due: format

Fix RUF linting
  beetsplug/fromfilename.py
Due: format

Add await_stable option
  beets/config_default.yaml
  beets/importer/stages.py
  docs/changelog.rst
  docs/reference/config.rst
  poetry.lock
  test/test_importer.py
Due: format, format-docs

Added import contextvars to capture the current context
  beets/importer/stages.py
  docs/changelog.rst
Due: format, format-docs

update changelog
  docs/changelog.rst
Due: format-docs

Update changelog
  docs/changelog.rst
Due: format-docs

fix: improve context propagation and add threaded regression test
  beets/importer/stages.py
  docs/changelog.rst
  test/test_importer.py
Due: format, format-docs

Add uv.lock to gitignore
  .gitignore
Due: none

Adjust beatport test for new URL getter
  test/plugins/test_beatport.py
Due: format

feat: `beets info --links` to make external ids links
  beets/library/models.py
  beets/util/color.py
  beets/util/urls.py
  beetsplug/info.py
  docs/changelog.rst
  docs/plugins/info.rst
  test/plugins/test_info.py
Due: format, format-docs

feat(duplicates): add chroma plugin integration
  beets/plugins.py
  beetsplug/chroma.py
  beetsplug/duplicates.py
  docs/changelog.rst
  docs/plugins/duplicates.rst
  test/plugins/test_duplicates.py
Due: format, format-docs

Add optional id extractor pattern parameter to metadata plugins
  beets/metadata_plugins.py
Due: format

Refactor ID extraction to use enum and cached patterns
  beets/util/id_extractors.py
  beetsplug/musicbrainz.py
Due: format

test: address reviewer comments in threaded duplicate merge test
  test/test_importer.py
Due: format

fix format
  test/test_importer.py
Due: format

Reproduce the issue in a test
  test/ui/test_ui.py
Due: format

Do not move command desc to the next line
  beets/ui/__init__.py
  docs/changelog.rst
  test/ui/test_ui.py
Due: format, format-docs

Move sort to a separate module
  beets/dbcore/query.py
  beets/dbcore/sort.py
Due: format

Update moving parts in both modules
  beets/dbcore/query.py
  beets/dbcore/sort.py
Due: format

sort: Update dotted sort references
  beets/dbcore/queryparse.py
  beets/library/library.py
  beets/library/models.py
  test/dbcore/test_sort.py
  test/test_dbcore.py
Due: format

Move test_sort.py under test/dbcore
  test/dbcore/__init__.py
  test/dbcore/test_sort.py
Due: format

sort: Update imports
  beets/dbcore/db.py
  beets/dbcore/queryparse.py
  beetsplug/aura.py
  beetsplug/smartplaylist.py
  test/plugins/test_smartplaylist.py
Due: format

Path conditions:
  format: any of: .*.py
  format-docs: any of: .*.rst
