Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

format:
  name: Format Python files
  entry: poe format
  language: system
  pass_filenames: true

format-docs:
  name: Format docs
  entry: poe format-docs
  language: system
  pass_filenames: true

type checking, tuple unpacking fix in various artists
  beetsplug/discogs.py
Due: format

resolve overriding method type error
  beetsplug/discogs.py
Due: format

Move TimeoutSession under beetsplug._utils
  beetsplug/_utils/requests.py
  beetsplug/lyrics.py
Due: format

Define MusicBrainzAPI class with rate limiting
  beetsplug/musicbrainz.py
  poetry.lock
  pyproject.toml
Due: format

Add missing blame ignore revs from musicbrainz plugin
  .git-blame-ignore-revs
Due: none

Move pseudo release lookup under the plugin
  beetsplug/musicbrainz.py
Due: format

Fully parametrize testing
  test/plugins/test_discogs.py
Due: format

musicbrainz: lookup release directly
  beetsplug/_utils/requests.py
  beetsplug/lyrics.py
  beetsplug/musicbrainz.py
  test/plugins/test_musicbrainz.py
Due: format

musicbrainz: lookup recordings directly
  beetsplug/musicbrainz.py
Due: format

musicbrainz: access the custom server directly, if configured
  beetsplug/musicbrainz.py
  docs/plugins/musicbrainz.rst
Due: format, format-docs

musicbrainz: browse directly
  beetsplug/musicbrainz.py
Due: format

musicbrainz: remove error handling
  beetsplug/musicbrainz.py
Due: format

musicbrainz: search directly
  beetsplug/musicbrainz.py
  test/plugins/test_musicbrainz.py
Due: format

Make musicbrainzngs dependency optional and requests required
  .github/workflows/ci.yaml
  docs/plugins/listenbrainz.rst
  docs/plugins/mbcollection.rst
  docs/plugins/missing.rst
  docs/plugins/parentwork.rst
  poetry.lock
  pyproject.toml
Due: format-docs

Fix plugin loading
  beets/plugins.py
  docs/changelog.rst
Due: format, format-docs

Mock DummyPlugin properly
  test/test_logging.py
Due: format

Fixed plugin typehints: use actual logger class.
  beetsplug/fetchart.py
  beetsplug/lyrics.py
Due: format

Enhanced custom logger typing and logging tests
  beets/logging.py
  test/test_logging.py
Due: format

Added overload to getLogger function. Added changelog entry and added myself to codeowners file.
  .github/CODEOWNERS
  beets/logging.py
  docs/changelog.rst
Due: format, format-docs

Added typehints from typeshed and removed default argument.
  beets/logging.py
Due: format

Removed unused ParamSpec and added a consistency check in the tests.
  beets/logging.py
  test/test_logging.py
Due: format

Removed typealias, worked locally with mypy but does seem to cause issues with the ci. Also python 3.9 requires unions here...
  beets/logging.py
  test/test_logging.py
Due: format

Improve regexp and module docstring
  beetsplug/fromfilename.py
Due: format

Refactor tests using pytest
  test/plugins/test_fromfilename.py
Due: format

Mention tests in changelog entry.
  docs/changelog.rst
Due: format-docs

Apply suggestions from code review
  beetsplug/musicbrainz.py
  docs/plugins/musicbrainz.rst
Due: format, format-docs

Allow selecting either tags or genres in the includes, defaulting to genres
  beetsplug/musicbrainz.py
  docs/changelog.rst
Due: format, format-docs

Path conditions:
  format: any of: .*.py
  format-docs: any of: .*.rst
