Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

format:
  name: Format Python files
  entry: poe format
  language: system
  pass_filenames: true

format-docs:
  name: Format docs
  entry: poe format-docs
  language: system
  pass_filenames: true

Add missing type defs in import_/display.py
  beets/ui/commands/import_/display.py
Due: format

autotag: add a test for overwrite_null configuration
  test/test_autotag.py
Due: format

tagging: allow nulling singleton fields
  beets/autotag/__init__.py
Due: format

autotag: refactor autotag tests to use single comprehensive test
  test/test_autotag.py
Due: format

autotag: split tests into test_match.py and test_hooks.py
  test/autotag/test_hooks.py
  test/autotag/test_match.py
Due: format

tagging: fix list albumartists field
  beets/autotag/__init__.py
  beets/importer/tasks.py
  test/plugins/test_edit.py
Due: format

autotag: fix list fields
  beets/autotag/__init__.py
Due: format

Renamed PluginTestCasePytest to PluginTest
  beets/test/helper.py
  test/plugins/test_importfeeds.py
  test/plugins/test_inline.py
  test/plugins/test_lastgenre.py
  test/plugins/test_titlecase.py
  test/test_plugins.py
Due: format

Fixed issue with mpdstats test and removed unregister_all function as it introduces issues.
  beets/test/helper.py
  test/plugins/test_mpdstats.py
  test/test_plugins.py
Due: format

Set the class module during plugin registration to not trigger the plugin load dedup.
  beets/test/helper.py
  test/test_plugins.py
Due: format

test_logging:LoggingLevelTest now uses pytest PluginMixin
  test/test_logging.py
Due: format

Migrate listenbrainz plugin to use our MusicBrainzAPI implementation
  beetsplug/_utils/musicbrainz.py
  beetsplug/listenbrainz.py
  beetsplug/musicbrainz.py
  docs/plugins/listenbrainz.rst
  poetry.lock
  pyproject.toml
  test/plugins/test_listenbrainz.py
Due: format, format-docs

Move MusicBrainzAPI to a shared util
  beetsplug/_utils/musicbrainz.py
  beetsplug/mbpseudo.py
  beetsplug/musicbrainz.py
  test/plugins/test_mbpseudo.py
  test/plugins/test_musicbrainz.py
  test/plugins/utils/test_musicbrainz.py
Due: format

Add a minimal test for listenbrainz
  beetsplug/listenbrainz.py
  test/plugins/test_listenbrainz.py
Due: format

Migrate missing to use MusicBrainzAPI
  beetsplug/_utils/musicbrainz.py
  beetsplug/missing.py
  docs/plugins/missing.rst
  poetry.lock
  pyproject.toml
  test/plugins/test_missing.py
Due: format, format-docs

mbcollection: Add tests
  beetsplug/mbcollection.py
  test/plugins/test_mbcollection.py
Due: format

missing: add tests for --album flag
  beetsplug/missing.py
  test/plugins/test_missing.py
Due: format

Migrate parentwork to use MusicBrainzAPI
  .github/workflows/ci.yaml
  beetsplug/_utils/musicbrainz.py
  beetsplug/parentwork.py
  docs/plugins/parentwork.rst
  poetry.lock
  pyproject.toml
  test/plugins/test_parentwork.py
Due: format, format-docs

parentwork: simplify work retrieval and tests
  beetsplug/parentwork.py
  test/plugins/test_parentwork.py
Due: format

Add a changelog note
  docs/changelog.rst
Due: format-docs

mbcollection: slight refactor
  beetsplug/mbcollection.py
  test/plugins/test_mbcollection.py
Due: format

Migrate mbcollection to use MusicBrainzAPI
  beetsplug/_utils/musicbrainz.py
  beetsplug/_utils/requests.py
  beetsplug/mbcollection.py
  docs/plugins/mbcollection.rst
  poetry.lock
  pyproject.toml
  test/plugins/conftest.py
  test/plugins/test_mbcollection.py
Due: format, format-docs

Add some documentation to musicbrainz api mixins
  beetsplug/_utils/musicbrainz.py
  beetsplug/mbcollection.py
Due: format

Retry on server errors too
  beetsplug/_utils/requests.py
  test/plugins/utils/test_request_handler.py
Due: format

lastgenre: Simplify genre fetchers
  beetsplug/lastgenre/__init__.py
Due: format

lastgenre: Use multi-valued albumartists field
  beetsplug/lastgenre/__init__.py
Due: format

lastgenre: Changelog for #5981 lastgenre
  docs/changelog.rst
Due: format-docs

lastgenre: Hint mypy to Album.items()
  beetsplug/lastgenre/__init__.py
Due: format

lastgenre: Adapt test_get_genre function signatures
  test/plugins/test_lastgenre.py
Due: format

lastgenre: Type hints for genre fetch methods
  beetsplug/lastgenre/__init__.py
Due: format

Add changelog
  docs/changelog.rst
Due: format-docs

Type MusicBrainzAPI properly
  beetsplug/_utils/musicbrainz.py
  beetsplug/listenbrainz.py
  beetsplug/mbcollection.py
  beetsplug/musicbrainz.py
Due: format

Add request handler utils to the docs
  beetsplug/_utils/requests.py
  docs/_templates/autosummary/class.rst
  docs/api/index.rst
  docs/api/plugin_utilities.rst
  docs/changelog.rst
  docs/conf.py
  poetry.lock
  pyproject.toml
Due: format, format-docs

Fix changelog formatting
  docs/changelog.rst
Due: format-docs

Update git blame ignore revs
  .git-blame-ignore-revs
Due: none

dbcore: replace _check_db by db cached attribute
  beets/dbcore/db.py
  beets/library/models.py
Due: format

db: replace _get with from_id
  beets/dbcore/db.py
  beets/library/library.py
  beets/ui/__init__.py
  test/test_dbcore.py
Due: format

db: stricten from_id
  beets/dbcore/db.py
  beets/library/library.py
  beets/library/models.py
  beets/ui/__init__.py
  beetsplug/mpdstats.py
  beetsplug/web/__init__.py
  test/test_dbcore.py
  test/test_importer.py
Due: format

Improve and simplify show_model_changes
  beets/dbcore/db.py
  beets/ui/__init__.py
  pyproject.toml
  test/ui/test_field_diff.py
Due: format

Path conditions:
  format: any of: .*.py
  format-docs: any of: .*.rst
