Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: format
        name: Format Python files
        entry: poe format
        language: system
        files: '.*.py'
        pass_filenames: true
      - id: format-docs
        name: Format docs
        entry: poe format-docs
        language: system
        files: '.*.rst'
        pass_filenames: true

lastgenre: Fix mypy errors in file load methods
  beetsplug/lastgenre/__init__.py
Due: format

lastgenre: Use pathlib and simplify whitelist load
  beetsplug/lastgenre/__init__.py
Due: format

lastgenre: Also log which whitelist file is loading
  beetsplug/lastgenre/__init__.py
Due: format

lastgenre: Fix _load_whitelist return type bytes
  beetsplug/lastgenre/__init__.py
Due: format

lastgenre: Fix failing CI tests by using syspath
  beetsplug/lastgenre/__init__.py
Due: format

lastgenre: Simplify default tree loading
  beetsplug/lastgenre/__init__.py
Due: format

lastgenre: Accept AI suggested use open() for tree file
  beetsplug/lastgenre/__init__.py
Due: format

lastgenre: Move file loading to helpers
  beetsplug/lastgenre/__init__.py
Due: format

lastgenre: Add expanduser to whitelist/tree load
  beetsplug/lastgenre/__init__.py
Due: format

lastgenre: Use pathlib for opening tree file
  beetsplug/lastgenre/__init__.py
Due: format

Removed discourse.beets references and use https for links. Also removed flattr button, as flattr does not exist anymore.
  _layouts/main.html
Due: none

Use Optional
  beetsplug/mbpseudo.py
Due: format

Use pseudo-release's track titles for its recordings
  beetsplug/musicbrainz.py
Due: format

Add some documentation and plugins-loaded check
  beetsplug/mbpseudo.py
Due: format

Execute even if loaded before MusicBrainz plugin
  beetsplug/mbpseudo.py
Due: format

Support embedded album ids
  beetsplug/mbpseudo.py
Due: format

Optionally emit official candidates
  beetsplug/mbpseudo.py
Due: format

Always emit official releases if no pseudo-releases found
  beetsplug/mbpseudo.py
Due: format

Update imports
  beetsplug/mbpseudo.py
Due: format

Fix linting issues
  beetsplug/mbpseudo.py
Due: format

Revert "Use pseudo-release's track titles for its recordings"
  beetsplug/musicbrainz.py
Due: format

Add mbpseudo plugin
  beetsplug/mbpseudo.py
Due: format

fix: dont convert open_args to contain strings, use another var for that
  beetsplug/play.py
Due: format

implemented test_pls_marker()
  test/plugins/test_play.py
Due: format

formatting
  test/plugins/test_play.py
Due: format

formatting
  beetsplug/play.py
Due: format

Replace flowery language
  README.rst
  test/rsrc/lyrics/examplecom/beetssong.txt
Due: format-docs

Remove unbelievable claim in docs
  docs/guides/main.rst
Due: format-docs

lastgenre: tree/whitelist: UK/Breakbeat Hardcore
  beetsplug/lastgenre/genres-tree.yaml
Due: none

lastgenre: tree/whitlist: Jojo's essential fixes
  beetsplug/lastgenre/genres-tree.yaml
  beetsplug/lastgenre/genres.txt
Due: none

lastgenre: tree/whitelist: Contributor feedback
  beetsplug/lastgenre/genres-tree.yaml
  beetsplug/lastgenre/genres.txt
Due: none

lastgenre: tree/whitelist: Remove experimental
  beetsplug/lastgenre/genres-tree.yaml
Due: none

Changelog for #5977 lastgenre whitelist/tree
  docs/changelog.rst
Due: format-docs
