Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: format
        name: Format Python files
        entry: poe format
        language: system
        files: '.*.py'
        pass_filenames: true
      - id: format-docs
        name: Format docs
        entry: poe format-docs
        language: system
        files: '.*.rst'
        pass_filenames: true

zero:implemented cleaner code for artwork field aliasing
  beetsplug/zero.py
Due: format

zero: treat 'images' and 'art' as aliases in keep_fields
  beetsplug/zero.py
  test/plugins/test_zero.py
Due: format

zero: fix ruff formatting
  beetsplug/zero.py
Due: format

zero: fix ruff formatting
  beetsplug/zero.py
  test/plugins/test_zero.py
Due: format

Validate output format early
  beetsplug/smartplaylist.py
Due: format

Simplify variable handling
  beetsplug/smartplaylist.py
Due: format

Create write_playlist method
  beetsplug/smartplaylist.py
Due: format

Set playlist_count
  beetsplug/smartplaylist.py
Due: format

Add smartplaylist_update to support events
  beets/plugins.py
  beetsplug/smartplaylist.py
Due: format

Define a function to get playlist items
  beetsplug/smartplaylist.py
Due: format

Simplify get_playlist_items
  beetsplug/smartplaylist.py
  test/plugins/test_smartplaylist.py
Due: format

Simplify pretend handling
  beetsplug/smartplaylist.py
Due: format

Define set_item_uri
  beetsplug/smartplaylist.py
  test/plugins/test_smartplaylist.py
Due: format

Simplify variables
  beetsplug/smartplaylist.py
Due: format

Move extm3u comment generation to PlaylistItem
  beetsplug/smartplaylist.py
Due: format

Add a retry logic for windows mp3gain installation
  .github/workflows/ci.yaml
Due: none

Add types
  beetsplug/convert.py
Due: format

Fix typing issues
  beets/plugins.py
  beetsplug/convert.py
Due: format

Remove dependency on global config
  beetsplug/convert.py
  test/plugins/test_convert.py
Due: format

Handle opts using the config
  beetsplug/convert.py
Due: format

Replace _get_opts_and_config with attributes
  beetsplug/convert.py
  docs/changelog.rst
  docs/plugins/convert.rst
Due: format, format-docs

Remove redundant param provision to encode
  beetsplug/convert.py
Due: format

Remove redundant param provision to should_transcode
  beetsplug/convert.py
Due: format

Replace get_format with command attribute
  beetsplug/convert.py
Due: format

Clarify MusicBrainz extra_tags defaults
  docs/plugins/musicbrainz.rst
Due: format-docs

Reproduce the issue
  test/test_metadata_plugins.py
Due: format

Fix lambda closure bug in concurrent plugin method execution
  beets/metadata_plugins.py
  docs/changelog.rst
  test/test_metadata_plugins.py
Due: format, format-docs

fix: Improve DBAccessError messages to guide users on permission/directory issues
  beets/dbcore/db.py
Due: format

changelog: add entry for DBAccessError message improvement
  docs/changelog.rst
Due: format-docs

revert unwanted changes
  docs/changelog.rst
Due: format-docs

lyrics: handle apostrophes in musixmatch slug
  beetsplug/lyrics.py
  docs/changelog.rst
  test/plugins/test_lyrics.py
Due: format, format-docs

Revert unrelated docstring reformatting
  beetsplug/spotify.py
  test/plugins/test_spotify.py
Due: format

autotag: move original_date override into AlbumInfo.item_data
  beets/autotag/hooks.py
  docs/changelog.rst
  test/autotag/test_hooks.py
Due: format, format-docs

Use pipeline.mutator_stage instead of a Generator
  beetsplug/convert.py
Due: format
