Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

format:
  name: Format Python files
  entry: poe format
  language: system
  pass_filenames: true

format-docs:
  name: Format docs
  entry: poe format-docs
  language: system
  pass_filenames: true

Add test for --pretend option in LastGenrePlugin to skip library updates
  test/plugins/test_lastgenre.py
Due: format

fromfilename: Don't crash if title is missing
  beetsplug/fromfilename.py
  docs/changelog.rst
Due: format, format-docs

CONTRIBUTING.rst: updates and improvements
  CONTRIBUTING.rst
Due: format-docs

Docs: replace pip with pipx, install instructions
  README.rst
  docs/faq.rst
  docs/guides/main.rst
  docs/plugins/absubmit.rst
  docs/plugins/aura.rst
  docs/plugins/autobpm.rst
  docs/plugins/beatport.rst
  docs/plugins/bpd.rst
  docs/plugins/chroma.rst
  docs/plugins/discogs.rst
  docs/plugins/embedart.rst
  docs/plugins/embyupdate.rst
  docs/plugins/fetchart.rst
  docs/plugins/index.rst
  docs/plugins/kodiupdate.rst
  docs/plugins/lastgenre.rst
  docs/plugins/lastimport.rst
  docs/plugins/lyrics.rst
  docs/plugins/metasync.rst
  docs/plugins/mpdstats.rst
  docs/plugins/plexupdate.rst
  docs/plugins/replaygain.rst
  docs/plugins/scrub.rst
  docs/plugins/sonosupdate.rst
  docs/plugins/thumbnails.rst
  docs/plugins/web.rst
  docs/reference/config.rst
Due: format-docs

test(ftintitle): parameterize tests
  test/plugins/test_ftintitle.py
Due: format

test(ftintitle): fix flake, massage mypy
  test/plugins/test_ftintitle.py
Due: format

Removed mailing list ref in index.rst
  docs/index.rst
Due: format-docs

Removed outdated installation instructions.
  docs/faq.rst
  docs/guides/main.rst
  docs/guides/tagger.rst
Due: format-docs

Removed duplicate yet.
  docs/guides/main.rst
Due: format-docs

Added pipx refernces
  docs/guides/main.rst
Due: format-docs

Run formatter.
  docs/faq.rst
  docs/guides/main.rst
  docs/index.rst
Due: format-docs

Added changelog entry.
  docs/changelog.rst
Due: format-docs

Re-added macport instructions. Removed mailing list ref. Added section header for pip and pipx. Removed python 3.13 attention.
  docs/guides/main.rst
  docs/index.rst
Due: format-docs

Readded (outdated) mac instructions. No idea why they were dropped.
  docs/changelog.rst
  docs/guides/main.rst
Due: format-docs

Enhanced custom logger typing and logging tests
  beets/logging.py
  test/test_logging.py
Due: format

Added overload to getLogger function. Added changelog entry and added myself to codeowners file.
  .github/CODEOWNERS
  beets/logging.py
  docs/changelog.rst
Due: format, format-docs

Fixed plugin typehints: use actual logger class.
  beetsplug/fetchart.py
  beetsplug/lyrics.py
Due: format

Removed unused ParamSpec and added a consistency check in the tests.
  beets/logging.py
  test/test_logging.py
Due: format

Removed config options and fixed a bug with `beet spotify command`
  beetsplug/spotify.py
  docs/changelog.rst
Due: format, format-docs

fix incorrect matches when album is missing or empty
  beets/metadata_plugins.py
  beetsplug/spotify.py
  docs/changelog.rst
Due: format, format-docs

Fixed issue with plugins not loaded as multiple plugins are exposed in the plugins file.
  beets/plugins.py
  beetsplug/bpsync.py
  beetsplug/chroma.py
  docs/changelog.rst
Due: format, format-docs

Replaced filter with list comprehension.
  beets/plugins.py
Due: format

Moved debuglog into error message.
  beets/plugins.py
Due: format

style: remove extraneous `pass` statements
  test/test_dbcore.py
Due: format

fix: enable tracebacks for "user"/custom sqlite functions
  beets/dbcore/db.py
  test/test_dbcore.py
Due: format

feat: mark SQLite custom functions as deterministic to allow caching
  beets/dbcore/db.py
Due: format

Remove Discogs Disambiguation stripping from metadata_plugins
  beets/metadata_plugins.py
  docs/changelog.rst
Due: format, format-docs

initial changes, changelog adjusted, TODO: test for various artists and update docs
  beetsplug/discogs.py
  docs/changelog.rst
  test/plugins/test_discogs.py
Due: format, format-docs

Disambiguation fix implemented & tested
  beets/metadata_plugins.py
  beetsplug/discogs.py
  docs/changelog.rst
  docs/plugins/discogs.rst
  test/plugins/test_discogs.py
Due: format, format-docs

Add type check
  beetsplug/discogs.py
Due: format

Path conditions:
  format: any of: .*.py
  format-docs: any of: .*.rst
