Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: format
        name: Format Python files
        entry: poe format
        language: system
        files: '.*.py'
        pass_filenames: true
      - id: format-docs
        name: Format docs
        entry: poe format-docs
        language: system
        files: '.*.rst'
        pass_filenames: true

ui: always run tests that need bash-completion
  .github/workflows/ci.yaml
  beets/ui/commands/completion.py
  test/rsrc/test_completion.sh
  test/ui/commands/test_completion.py
Due: format

importer: always test .rar archives
  .github/workflows/ci.yaml
  test/test_importer.py
Due: format

Enable reflink tests on Ubuntu
  .github/workflows/ci.yaml
  beets/test/helper.py
Due: format

mpdupdate: add support for abstract sockets
  beetsplug/mpdupdate.py
  docs/changelog.rst
Due: format, format-docs

fetchart: use 3000x3000bb token for high-resolution iTunes artwork
  beetsplug/fetchart.py
  docs/changelog.rst
  test/plugins/test_art.py
Due: format, format-docs

Normalize digital media in Discogs searches
  beetsplug/discogs/__init__.py
  docs/changelog.rst
  docs/plugins/discogs.rst
  test/plugins/test_discogs.py
Due: format, format-docs

Normalize Discogs media before plurality
  beetsplug/discogs/__init__.py
  test/plugins/test_discogs.py
Due: format

Simplify Discogs media aliases
  beetsplug/discogs/__init__.py
Due: format

Replace has_program with shutil.which
  beets/test/helper.py
  test/plugins/test_art.py
  test/plugins/test_replaygain.py
  test/test_importer.py
  test/ui/commands/test_completion.py
Due: format

Do not skip any replaygain tests
  .github/workflows/ci.yaml
  beets/util/extension.py
  beetsplug/_utils/vfs.py
  beetsplug/bpd/__init__.py
  docs/changelog.rst
  pyproject.toml
  test/plugins/test_bpd.py
  test/plugins/test_replaygain.py
  test/test_importer.py
  test/util/test_extension.py
  uv.lock
Due: format, format-docs

windows: do not skip test when hiding file fails
  test/util/test_hidden.py
Due: format

replaygain: separate out r128 tests into a mixin to clarify which backends are tested
  .github/workflows/ci.yaml
  test/plugins/test_replaygain.py
Due: format

artresizer: always run test_art_resize tests
  .github/workflows/ci.yaml
  beets/util/artresizer.py
  docs/changelog.rst
  test/util/test_art_resize.py
Due: format, format-docs

And a small fetchart refactor
  beetsplug/fetchart.py
Due: format

Refactor test_art_resize.py
  test/util/test_art_resize.py
Due: format

Add tests for regressions
  test/plugins/test_art.py
  test/plugins/test_embedart.py
Due: format

Migrate art functionalities to use pathlib.Path
  beets/importer/tasks.py
  beets/library/exceptions.py
  beets/library/library.py
  beets/library/models.py
  beets/test/_common.py
  beets/util/__init__.py
  beets/util/artresizer.py
  beetsplug/_utils/art.py
  beetsplug/convert.py
  beetsplug/embedart.py
  beetsplug/fetchart.py
  beetsplug/play.py
  beetsplug/thumbnails.py
  pyproject.toml
  test/plugins/test_art.py
  test/plugins/test_play.py
  test/plugins/test_thumbnails.py
  test/test_files.py
  uv.lock
Due: format

Configure xdist
  pyproject.toml
  setup.cfg
  uv.lock
Due: none

lastgenre: Improve original fallback stage
  beetsplug/lastgenre/__init__.py
  test/plugins/test_lastgenre.py
Due: format

Test plugins in isolated subprocess rather than current interpreter
  beetsplug/playlist.py
  test/test_plugins.py
Due: format

Configure xdist
  pyproject.toml
  setup.cfg
  test/conftest.py
  uv.lock
Due: format

Add stable param IDs to test_intervals
  test/dbcore/test_datequery.py
Due: format

Unload plugins at the end of each test
  test/conftest.py
Due: format

Add pytest-randomly
  pyproject.toml
  uv.lock
Due: none

test: reset shared configuration state between tests
  test/conftest.py
  test/dbcore/test_sort.py
  test/plugins/test_musicbrainz.py
  test/test_util.py
Due: format

Isolate path query test data per test
  test/dbcore/test_query.py
Due: format

Changelog for lastgenre #6890 original fallback
  docs/changelog.rst
Due: format-docs

Fix import display change detection
  beets/ui/commands/import_/display.py
  test/ui/commands/test_import.py
Due: format

Format import display tests
  test/ui/commands/test_import.py
Due: format

test: derive the import fixture extension from resource_path
  beets/test/helper.py
Due: format

scrub: clear tags in memory instead of rewriting the file
  beetsplug/scrub.py
  docs/changelog.rst
Due: format, format-docs

scrub: test padding reuse and art preservation across formats
  test/plugins/test_scrub.py
Due: format

fix: improve DB open errors for permission failures
  beets/ui/__init__.py
  docs/changelog.rst
  test/ui/test_ui_init.py
Due: format, format-docs

lastgenre: Refactor aliases and ignorelist tests
  test/plugins/test_lastgenre.py
Due: format

lastgenre: Add Original Genre Fallback chapter
  docs/plugins/lastgenre.rst
Due: format-docs

docs: add MusicBrainz track totals changelog
  docs/changelog.rst
Due: format-docs

scrub: skip unsupported MP4 art instead of catching ValueError
  beetsplug/scrub.py
  docs/changelog.rst
  docs/plugins/scrub.rst
  test/plugins/test_scrub.py
Due: format, format-docs
