Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: format
        name: Format Python files
        entry: poe format
        language: system
        files: '.*.py'
        pass_filenames: true
      - id: format-docs
        name: Format docs
        entry: poe format-docs
        language: system
        files: '.*.rst'
        pass_filenames: true

Fix typing issues in tests
  test/plugins/test_musicbrainz.py
Due: format

Refactor medium parsing
  beetsplug/musicbrainz.py
  test/plugins/factories/musicbrainz.py
  test/plugins/test_musicbrainz.py
Due: format

Refactor _preferred_release_event
  beetsplug/musicbrainz.py
  test/plugins/factories/musicbrainz.py
  test/plugins/test_musicbrainz.py
Due: format

Make packaging a required dependency
  docs/changelog.rst
  poetry.lock
  pyproject.toml
Due: format-docs

Update vulnerable dependencies
  poetry.lock
Due: none

Increment version to 2.6.1
  beets/__init__.py
  docs/changelog.rst
  docs/conf.py
  pyproject.toml
Due: format, format-docs

misc improvements
  beets/util/__init__.py
Due: format

improve cached_classproperty type annotations
  beets/util/__init__.py
Due: format

make cache private and add clear_cache method to cached_classproperty
  beets/util/__init__.py
  test/conftest.py
Due: format

try to fix fish plugin
  beetsplug/fish.py
Due: format

Disable Tekstowo by default as they block requests with the beets UA
  beetsplug/lyrics.py
  docs/changelog.rst
  docs/plugins/lyrics.rst
Due: format, format-docs

Added handling FileNotFoundError specifically, changed chanelog
  beets/ui/commands/config.py
  docs/changelog.rst
Due: format, format-docs

use _cache as a ClassVar
  beets/util/__init__.py
Due: format

fix(fetchart): prevent deletion of configured fallback cover art
  beetsplug/fetchart.py
  docs/changelog.rst
  test/plugins/test_art.py
Due: format, format-docs

Change missing plugin to allow for filtering albums by release type
  beetsplug/_utils/musicbrainz.py
  beetsplug/missing.py
  docs/changelog.rst
  docs/plugins/missing.rst
  test/plugins/test_missing.py
Due: format, format-docs

Fix lint and mypy
  beetsplug/_utils/musicbrainz.py
  beetsplug/missing.py
Due: format

spotify, deezer: Store IDs in dedicated fields instead of MusicBrainz fields
  beetsplug/deezer.py
  beetsplug/spotify.py
  docs/plugins/deezer.rst
  docs/plugins/spotify.rst
  test/plugins/test_deezer.py
  test/plugins/test_spotify.py
Due: format, format-docs

lastgenre: Move fetching to client module
  beetsplug/lastgenre/__init__.py
  beetsplug/lastgenre/client.py
  beetsplug/lastgenre/utils.py
Due: format

lastgenre: tunelog better
  beetsplug/lastgenre/__init__.py
  beetsplug/lastgenre/client.py
  beetsplug/lastgenre/utils.py
Due: format

lastgenre: File loaders module
  beetsplug/lastgenre/__init__.py
  beetsplug/lastgenre/loaders.py
Due: format

lastgenre: Move tree helpers to where they are used
  beetsplug/lastgenre/__init__.py
  beetsplug/lastgenre/loaders.py
Due: format

lastgenre: Adapt existing tests to refactor
  test/plugins/test_lastgenre.py
Due: format

lastgenre: Tiny code style fix in _get_genre
  beetsplug/lastgenre/__init__.py
Due: format

Format MusicBrainz search terms and escape Lucene special chars
  beetsplug/_utils/musicbrainz.py
  docs/changelog.rst
  test/plugins/utils/test_musicbrainz.py
Due: format, format-docs

Musicbrainz: Fix support for alias, tracks extra tags
  beetsplug/musicbrainz.py
  docs/changelog.rst
  docs/plugins/musicbrainz.rst
Due: format, format-docs

Order mbcollection, mbpseudo, mbsubmit after musicbrainz plugin in docs
  docs/plugins/index.rst
Due: format-docs

Make MusicBrainzAPI logs visible
  beetsplug/_utils/musicbrainz.py
  beetsplug/bpd/__init__.py
Due: format

Update ownership
  .github/CODEOWNERS
Due: none

Fix rendering generated refs
  extra/release.py
  test/test_release.py
Due: format

Sort changelog bullet points case-insensitively
  extra/release.py
  test/test_release.py
Due: format
