Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

format:
  name: Format Python files
  entry: poe format
  language: system
  pass_filenames: true

format-docs:
  name: Format docs
  entry: poe format-docs
  language: system
  pass_filenames: true

Remove redundant param provision to encode
  beetsplug/convert.py
Due: format

Replace get_format with command attribute
  beetsplug/convert.py
Due: format

Removed plugin specific filter rewrite for global formatter setup.
  beets/logging.py
  beets/plugins.py
  beets/ui/__init__.py
Due: format

Changelog entry
  docs/changelog.rst
Due: format-docs

test_autobpm: Removed capture_log in favor for pytest caplog
  test/plugins/test_autobpm.py
Due: format

test_playcount: Removed capture_log in favor for pytest caplog
  test/plugins/utils/test_playcount.py
Due: format

test_discogs: Removed capture_log in favor for pytest caplog
  test/plugins/test_discogs.py
Due: format

Added notes on AI usage to contribution guide.
  CONTRIBUTING.rst
Due: format-docs

Removed statement about disclosure of AI usage.
  CONTRIBUTING.rst
Due: format-docs

badfiles: address review feedback
  beetsplug/badfiles.py
  test/plugins/test_badfiles.py
Due: format

badfiles: respect import.quiet during import hook
  beetsplug/badfiles.py
  docs/changelog.rst
  test/plugins/test_badfiles.py
Due: format, format-docs

Show how to install extra dependencies
  CONTRIBUTING.rst
Due: format-docs

Add Beetnik in other plugins
  docs/plugins/index.rst
Due: format-docs

fix(MusicBrainz): date parsing fix
  beetsplug/musicbrainz.py
  docs/changelog.rst
  test/plugins/test_musicbrainz.py
Due: format, format-docs

persist mtime to DB after reading file metadata
  beets/ui/commands/update.py
  test/ui/commands/test_update.py
Due: format

persist mtime to DB after reading file metadata
  docs/changelog.rst
Due: format-docs

Fix changelog
  docs/changelog.rst
Due: format-docs

Replace poetry by uv
  .github/workflows/ci.yaml
  .github/workflows/integration_test.yaml
  .github/workflows/lint.yaml
  .github/workflows/make_release.yaml
  CONTRIBUTING.rst
  docs/dev/plugins/index.rst
  docs/faq.rst
  extra/release.py
  pyproject.toml
  uv.lock
Due: format, format-docs

Add a note to the changelog
  docs/changelog.rst
Due: format-docs

Do not attempt to install linux-specific deps on Windows
  pyproject.toml
  uv.lock
Due: none

fix(ui): handle database permission errors gracefully
  beets/dbcore/db.py
  beets/ui/__init__.py
  docs/changelog.rst
  pyproject.toml
  test/ui/test_ui_init.py
Due: format, format-docs

Fixes/additions to default aliases
  beetsplug/lastgenre/aliases.yaml
Due: none

Fixes to default aliases.yaml
  beetsplug/lastgenre/aliases.yaml
Due: none

fix test aliases
  test/plugins/test_lastgenre.py
Due: format

Add alt rock to default aliases test
  test/plugins/test_lastgenre.py
Due: format

lastgenre: Fix ignorelist tests naming inconsistencies
  test/plugins/test_lastgenre.py
Due: format

Fix normalize_genre docstring wording
  beetsplug/lastgenre/utils.py
Due: format

Test invalid alias template catch
  test/plugins/test_lastgenre.py
Due: format

lastgenre: Slightly optimize filter_valid performance
  beetsplug/lastgenre/__init__.py
Due: format

lastgenre: Docs hint on canonical without whitelist
  docs/plugins/lastgenre.rst
Due: format-docs

Reword comment on config bool/mapping handling
  beetsplug/lastgenre/__init__.py
Due: format

Finalize default aliases and fix genres,genres-tree
  beetsplug/lastgenre/aliases.yaml
  beetsplug/lastgenre/genres-tree.yaml
  beetsplug/lastgenre/genres.txt
  test/plugins/test_lastgenre.py
Due: format

Catch exception on invalid alias template
  beetsplug/lastgenre/utils.py
Due: format

lastgenre: Docs for genre normalization (aliases)
  docs/plugins/lastgenre.rst
Due: format-docs

Streamline in test alias type with ignore naming
  test/plugins/test_lastgenre.py
Due: format

lastgenre: Implement genre alias normalization
  beetsplug/lastgenre/__init__.py
  beetsplug/lastgenre/client.py
  beetsplug/lastgenre/utils.py
Due: format

lastgenre: Test aliases and ship default config
  beetsplug/lastgenre/aliases.yaml
  test/plugins/test_lastgenre.py
Due: format

lastgenre: Dedup ignore/alias regex compilation
  beetsplug/lastgenre/__init__.py
  beetsplug/lastgenre/utils.py
Due: format

Streamline alias type with ignore naming
  beetsplug/lastgenre/__init__.py
  beetsplug/lastgenre/client.py
  beetsplug/lastgenre/utils.py
Due: format

Restructure and reduce alias tests
  test/plugins/test_lastgenre.py
Due: format

Path conditions:
  format: any of: .*.py
  format-docs: any of: .*.rst
