Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

format:
  name: Format Python files
  entry: poe format
  language: system
  pass_filenames: true

format-docs:
  name: Format docs
  entry: poe format-docs
  language: system
  pass_filenames: true

Moved _store_dict.
  beets/ui/__init__.py
  beets/ui/commands/import_/__init__.py
Due: format

Moved completion bash
  beets/ui/commands/completion.py
  beets/ui/commands/completion_base.sh
Due: format

Moved `show_path_changes` into move command as it is only used in it.
  beets/ui/__init__.py
  beets/ui/commands/move.py
Due: format

Wrong import for some reason
  beets/ui/commands/import_/session.py
Due: format

typo
  beets/test/_common.py
Due: format

Moved path utils into import_ as they are only used in this command.
  beets/ui/commands/_utils.py
  beets/ui/commands/import_/__init__.py
  test/ui/commands/test_import.py
Due: format

Import order
  beetsplug/edit.py
Due: format

Unified search string construction between albums and items.
  beets/autotag/match.py
  beets/metadata_plugins.py
  docs/changelog.rst
Due: format, format-docs

Adjusted changelog, added suggestions by copilot
  beets/autotag/match.py
  docs/changelog.rst
Due: format, format-docs

Added testcase.
  test/autotag/test_match.py
Due: format

Removed trailing comma
  beets/metadata_plugins.py
Due: format

Spotify: gracefully handle 403 from deprecated audio-features API
  beetsplug/spotify.py
  docs/changelog.rst
Due: format, format-docs

lint
  beetsplug/spotify.py
Due: format

resolve sorucery issue....make it thread safe
  beetsplug/spotify.py
Due: format

more lint
  beetsplug/spotify.py
Due: format

ruff formating
  beetsplug/spotify.py
Due: format

hopefully...this works
  beetsplug/spotify.py
Due: format

Add plugin
  beetsplug/saveskippedsongs.py
Due: format

Add docs
  docs/plugins/saveskippedsongs.rst
Due: format-docs

Update changelog
  docs/changelog.rst
Due: format-docs

Update beetsplug/saveskippedsongs.py
  beetsplug/saveskippedsongs.py
Due: format

Use SingletonImportTask instead of ImportTask as it contains info for both track and album
  beetsplug/saveskippedsongs.py
Due: format

Clean up code
  beetsplug/saveskippedsongs.py
Due: format

Return None if no Spotify url was found
  beetsplug/saveskippedsongs.py
Due: format

Lint docs
  docs/plugins/saveskippedsongs.rst
Due: format-docs

Use pseudo-release's track titles for its recordings
  beetsplug/musicbrainz.py
Due: format

Fix linting issues
  beetsplug/mbpseudo.py
Due: format

Add tests for mbpseudo plugin
  beetsplug/mbpseudo.py
  test/plugins/test_mbpseudo.py
  test/rsrc/mbpseudo/official_release.json
  test/rsrc/mbpseudo/pseudo_release.json
Due: format

Update mbpseudo implementation for beets 2.5
  beets/autotag/match.py
  beets/plugins.py
  beetsplug/mbpseudo.py
Due: format

Add mbpseudo plugin
  .github/CODEOWNERS
  beetsplug/mbpseudo.py
Due: format

Path conditions:
  format: any of: .*.py
  format-docs: any of: .*.rst
