Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

format:
  name: Format Python files
  entry: poe format
  language: system
  pass_filenames: true

format-docs:
  name: Format docs
  entry: poe format-docs
  language: system
  pass_filenames: true

Bound Spotify auth retry during search
  beetsplug/spotify.py
Due: format

Document new methods
  beets/metadata_plugins.py
  beetsplug/deezer.py
  beetsplug/discogs/__init__.py
  beetsplug/musicbrainz.py
  beetsplug/spotify.py
Due: format

Document shared metadata search plugin workflow
  docs/_templates/autosummary/namedtuple.rst
  docs/api/plugins.rst
  docs/changelog.rst
  docs/conf.py
  docs/dev/plugins/autotagger.rst
Due: format, format-docs

Upgrade all dependencies
  poetry.lock
Due: none

Make get_search_query_with_filters abstract
  beets/metadata_plugins.py
  beetsplug/deezer.py
  beetsplug/spotify.py
Due: format

Move pytest marker definitions to conftest.py
  setup.cfg
  test/conftest.py
Due: format

Skip langdetect-dependent tests when package is not installed
  docs/changelog.rst
  test/conftest.py
  test/library/test_migrations.py
  test/plugins/test_lyrics.py
  test/util/test_lyrics.py
Due: format, format-docs

Document custom marks in CONTRIBUTING.rst
  CONTRIBUTING.rst
Due: format-docs

Extend requires_import marker with force_ci option
  test/conftest.py
  test/plugins/test_autobpm.py
Due: format

Pin docstrfmt>=2.0.2 and add --preserve-adornments flag
  docs/plugins/duplicates.rst
  docs/plugins/playlist.rst
  poetry.lock
  pyproject.toml
Due: format-docs

Increment version to 2.7.1
  beets/__init__.py
  docs/changelog.rst
  docs/conf.py
  pyproject.toml
Due: format, format-docs

docs(CONTRIBUTING): Fix typo
  CONTRIBUTING.rst
Due: format-docs

Clarify %if template behavior
  docs/reference/pathformat.rst
Due: format-docs

Reword
  docs/reference/pathformat.rst
Due: format-docs

Format
  docs/reference/pathformat.rst
Due: format-docs

Fix empty literal error
  docs/reference/pathformat.rst
Due: format-docs

Refactor shared search API flow
  beets/metadata_plugins.py
  beetsplug/deezer.py
  beetsplug/discogs/__init__.py
  beetsplug/spotify.py
  test/test_metadata_plugins.py
Due: format

Migrate MusicBrainz to shared search hooks
  beetsplug/_utils/musicbrainz.py
  beetsplug/musicbrainz.py
  test/plugins/test_musicbrainz.py
Due: format

Make get_search_query_with_filters abstract
  beets/metadata_plugins.py
  beetsplug/deezer.py
  beetsplug/spotify.py
  test/test_metadata_plugins.py
Due: format

Path conditions:
  format: any of: .*.py
  format-docs: any of: .*.rst
