Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

format:
  name: Format Python files
  entry: poe format
  language: system
  pass_filenames: true

format-docs:
  name: Format docs
  entry: poe format-docs
  language: system
  pass_filenames: true

Set constant langdetection seed for stable results
  beetsplug/lyrics.py
Due: format

Document methods changed/introduced
  beets/dbcore/db.py
  beets/library/migrations.py
  beets/util/lyrics.py
  beetsplug/lyrics.py
Due: format

Refactor lyrics handling to use structured Lyrics object
  beetsplug/lyrics.py
  docs/changelog.rst
  docs/plugins/lyrics.rst
  test/plugins/lyrics_pages.py
  test/plugins/test_lyrics.py
Due: format, format-docs

Fix genius end to end lyrics test
  beetsplug/_typing.py
  beetsplug/lyrics.py
  test/plugins/lyrics_pages.py
Due: format

Document migrations
  docs/api/database.rst
  docs/dev/library.rst
Due: format-docs

Format docs
  CONTRIBUTING.rst
  docs/faq.rst
Due: format-docs

Replace http URLs with https
  CONTRIBUTING.rst
  docs/changelog.rst
  docs/faq.rst
  docs/guides/installation.rst
  docs/plugins/badfiles.rst
  docs/plugins/bpd.rst
  docs/plugins/embedart.rst
  docs/plugins/index.rst
  docs/plugins/info.rst
  docs/plugins/keyfinder.rst
  docs/plugins/lyrics.rst
  docs/plugins/replaygain.rst
  docs/plugins/subsonicupdate.rst
Due: format-docs

Fix broken URLs
  CONTRIBUTING.rst
  docs/changelog.rst
  docs/conf.py
  docs/faq.rst
  docs/guides/installation.rst
  docs/plugins/aura.rst
  docs/plugins/badfiles.rst
  docs/plugins/bpd.rst
  docs/plugins/convert.rst
  docs/plugins/embedart.rst
  docs/plugins/index.rst
  docs/plugins/info.rst
  docs/plugins/lyrics.rst
  docs/plugins/replaygain.rst
  docs/plugins/spotify.rst
  docs/reference/pathformat.rst
Due: format, format-docs

Fix redirect URLs
  CODE_OF_CONDUCT.rst
  CONTRIBUTING.rst
  README.rst
  README_kr.rst
  docs/changelog.rst
  docs/dev/plugins/commands.rst
  docs/dev/plugins/index.rst
  docs/dev/plugins/other/logging.rst
  docs/faq.rst
  docs/guides/installation.rst
  docs/plugins/absubmit.rst
  docs/plugins/aura.rst
  docs/plugins/bpd.rst
  docs/plugins/convert.rst
  docs/plugins/deezer.rst
  docs/plugins/discogs.rst
  docs/plugins/embedart.rst
  docs/plugins/fetchart.rst
  docs/plugins/hook.rst
  docs/plugins/index.rst
  docs/plugins/ipfs.rst
  docs/plugins/lastgenre.rst
  docs/plugins/lastimport.rst
  docs/plugins/lyrics.rst
  docs/plugins/musicbrainz.rst
  docs/plugins/plexupdate.rst
  docs/plugins/replaygain.rst
  docs/plugins/sonosupdate.rst
  docs/plugins/spotify.rst
  docs/plugins/thumbnails.rst
  docs/plugins/web.rst
  docs/reference/cli.rst
  docs/reference/pathformat.rst
  docs/reference/query.rst
Due: format-docs

Add a changelog note
  docs/changelog.rst
Due: format-docs

Fix changelog and discogs plugin documentation
  .gazelle.yaml.swp
  docs/changelog.rst
  docs/plugins/discogs.rst
Due: format-docs

Delete gazelle.yaml
  gazelle.yaml
Due: none

Delete config directory
  config/library.blb
Due: none

This PR improves the regex detection used for the drive_sep_replace default.
  beets/dbcore/db.py
  docs/changelog.rst
Due: format, format-docs

lastgenre: Move fetching to client module
  beets/logging.py
  beetsplug/lastgenre/__init__.py
  beetsplug/lastgenre/client.py
Due: format

lastgenre: Adapt test to last.fm client separation
  test/plugins/test_lastgenre.py
Due: format

lastgenre: Named types Whitelist and CanonTree
  beetsplug/lastgenre/__init__.py
Due: format

lastgenre: Group all tree processing helpers together
  beetsplug/lastgenre/__init__.py
Due: format

lastgenre: Adapt test to canon helpers move
  test/plugins/test_lastgenre.py
Due: format

lastgenre: Polish method grouping comments wording
  beetsplug/lastgenre/__init__.py
Due: format

Relocate an existing lastgenre changelog entry
  docs/changelog.rst
Due: format-docs

Changelog for extra_debug tool
  docs/changelog.rst
Due: format-docs

Reword
  docs/reference/pathformat.rst
Due: format-docs

Format
  docs/reference/pathformat.rst
Due: format-docs

Fix empty literal error
  docs/reference/pathformat.rst
Due: format-docs

Clarify %if template behavior
  docs/reference/pathformat.rst
Due: format-docs

Added new tests for discogs plugin to test extra_tags
  test/plugins/test_discogs.py
Due: format

Add docs fixes to git blame ignore revs
  .git-blame-ignore-revs
Due: none

Increment version to 2.7.0
  beets/__init__.py
  docs/changelog.rst
  docs/conf.py
  pyproject.toml
Due: format, format-docs

Migrate MusicBrainz to shared search hooks
  beetsplug/_utils/musicbrainz.py
  beetsplug/musicbrainz.py
  test/plugins/test_musicbrainz.py
Due: format

Refactor shared search API flow
  beets/metadata_plugins.py
  beetsplug/deezer.py
  beetsplug/discogs/__init__.py
  beetsplug/spotify.py
  test/test_metadata_plugins.py
Due: format

Path conditions:
  format: any of: .*.py
  format-docs: any of: .*.rst
