Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: format
        name: Format Python files
        entry: poe format
        language: system
        files: '.*.py'
        pass_filenames: true
      - id: format-docs
        name: Format docs
        entry: poe format-docs
        language: system
        files: '.*.rst'
        pass_filenames: true

Fixed an issue where the poetry-dynamic-versioning-plugin was not used in release artifacts.
  .github/workflows/test_release.yaml
  extra/release.py
  pyproject.toml
Due: format

Added perms to flow.
  .github/workflows/test_release.yaml
Due: none

Removed test release file.
  .github/workflows/test_release.yaml
Due: none

Fix misspelling
  docs/changelog.rst
Due: format-docs

Fixed too long text line
  docs/plugins/ftintitle.rst
Due: format-docs

Initialise the last plugin class found in the plugin namespace
  beets/plugins.py
Due: format

Add note regarding the last plugin class
  docs/changelog.rst
  docs/conf.py
  docs/dev/plugins/autotagger.rst
  docs/dev/plugins/index.rst
  docs/reference/config.rst
Due: format, format-docs

Make _verify_config method private to remove it from the docs
  beets/plugins.py
Due: format

Add changelog note
  docs/changelog.rst
Due: format-docs

Convert replacements and Include URLs for :class: refs in release notes
  extra/release.py
Due: format

Added test additions
  test/autotag/test_distance.py
Due: format

Fixed issue with legacy plugin copy not copying properties. Also added test for it
  beets/plugins.py
  docs/changelog.rst
  test/test_plugins.py
Due: format, format-docs

slight simplification.
  beets/plugins.py
Due: format

Yet some more simplification.
  beets/plugins.py
Due: format

Revert "Fix dynamic versioning plugin not correctly installed in workflow (#6094)"
  docs/changelog.rst
  pyproject.toml
Due: format-docs

Revert "Add git commit suffix to __version__ for development installs (#5967)"
  .gitignore
  beets/__init__.py
  beets/_version.py
  docs/changelog.rst
  extra/release.py
  pyproject.toml
Due: format, format-docs

Increment version to 2.5.1
  beets/__init__.py
  docs/changelog.rst
  docs/conf.py
  pyproject.toml
Due: format, format-docs

Use pseudo-release's track titles for its recordings
  beetsplug/musicbrainz.py
Due: format

Use Optional
  beetsplug/mbpseudo.py
Due: format

Revert "Use pseudo-release's track titles for its recordings"
  beetsplug/musicbrainz.py
Due: format

Don't use Optional
  beetsplug/mbpseudo.py
Due: format

Reimplement mbpseudo plugin inheriting from MusicBrainzPlugin
  beetsplug/mbpseudo.py
  beetsplug/musicbrainz.py
Due: format

Add mbpseudo plugin
  .github/CODEOWNERS
  beetsplug/mbpseudo.py
Due: format

Fix linting issues
  beetsplug/mbpseudo.py
Due: format

Add tests for mbpseudo plugin
  beetsplug/mbpseudo.py
  test/plugins/test_mbpseudo.py
  test/rsrc/mbpseudo/official_release.json
  test/rsrc/mbpseudo/pseudo_release.json
Due: format
