Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: format
        name: Format Python files
        entry: poe format
        language: system
        files: '.*.py'
        pass_filenames: true
      - id: format-docs
        name: Format docs
        entry: poe format-docs
        language: system
        files: '.*.rst'
        pass_filenames: true

Moved 'summarize_items' test into test_import file.
  test/ui/commands/test_import.py
  test/ui/test_ui.py
Due: format

Moved 'completion' command test into own file.
  beets/ui/commands/__init__.py
  beets/ui/commands/completion.py
  test/ui/__init__.py
  test/ui/commands/__init__.py
  test/ui/commands/test_completion.py
  test/ui/test_ui.py
Due: format

Added deprecation for TerminalImportSession and PromptChoice.
  beets/test/_common.py
  beets/test/helper.py
  beets/ui/__init__.py
  beets/ui/commands/__init__.py
  beetsplug/edit.py
  docs/changelog.rst
  test/ui/commands/test_config.py
Due: format, format-docs

Run linter
  docs/changelog.rst
  test/ui/commands/test_modify.py
  test/ui/test_ui.py
Due: format, format-docs

typo
  beets/test/_common.py
Due: format

Wrong import for some reason
  beets/ui/commands/import_/session.py
Due: format

titlecase plugin nearly complete, one typecheck error to resolve.
  beetsplug/titlecase.py
  test/plugins/test_titlecase.py
Due: format

Add custom_tags_only mode for mbpseudo plugin
  beetsplug/mbpseudo.py
  docs/plugins/mbpseudo.rst
  test/plugins/test_mbpseudo.py
Due: format, format-docs

Prefer alias if import languages not defined
  beetsplug/mbpseudo.py
  beetsplug/musicbrainz.py
  test/plugins/test_mbpseudo.py
Due: format

Allow selecting either tags or genres in the includes, defaulting to genres
  beetsplug/musicbrainz.py
  docs/changelog.rst
  docs/plugins/musicbrainz.rst
Due: format, format-docs

add self as codeowner
  .github/CODEOWNERS
Due: none

detectmissing: init
  beets/library/models.py
  beetsplug/detectmissing.py
Due: format

lastgenre: -vvv tuning log helper, remove -d
  beetsplug/lastgenre/__init__.py
Due: format

Changelog for lastgenre tuning log #6007
  docs/changelog.rst
Due: format-docs

lastgenre: Document tuning log -vvv
  docs/plugins/lastgenre.rst
Due: format-docs

docs: Move "Handling Paths" to "Developers" chapter
  CONTRIBUTING.rst
  docs/dev/plugins/other/index.rst
  docs/dev/plugins/other/paths.rst
Due: format-docs

docs: Rewrite Handling Paths chapter (pathlib)
  docs/dev/plugins/other/paths.rst
Due: format-docs

fish: complete files in more places
  beetsplug/fish.py
Due: format

spotify: Handle API failures
  beetsplug/spotify.py
Due: format

logging: use beets logger in more places
  beets/importer/stages.py
  beets/importer/state.py
  beets/importer/tasks.py
  beetsplug/convert.py
  beetsplug/discogs.py
Due: format

ThreadLocalLevelLogger: remove
  beets/logging.py
  beets/ui/__init__.py
  test/test_library.py
  test/test_logging.py
Due: format

logging: use module names as logger names
  beets/autotag/__init__.py
  beets/autotag/hooks.py
  beets/autotag/match.py
  beets/importer/session.py
  beets/importer/stages.py
  beets/importer/state.py
  beets/importer/tasks.py
  beets/library/models.py
  beets/library/queries.py
  beets/plugins.py
  beets/ui/__init__.py
  beets/ui/commands.py
  beets/util/artresizer.py
  beets/util/id_extractors.py
  beetsplug/discogs.py
  test/plugins/test_convert.py
  test/plugins/test_hook.py
  test/plugins/test_mbsync.py
Due: format

logging: make log levels/format configurable
  beets/logging.py
  beets/ui/__init__.py
Due: format

initial docs draft, add to before choice import stage
  beetsplug/titlecase.py
  docs/plugins/titlecase.rst
Due: format, format-docs

lint and format
  beetsplug/titlecase.py
  docs/plugins/titlecase.rst
Due: format, format-docs

plugins: add importhistory
  beetsplug/importhistory.py
  docs/changelog.rst
  docs/plugins/importhistory.rst
  docs/plugins/index.rst
Due: format, format-docs

importhistory: Small ruff suggestions
  beetsplug/importhistory.py
Due: format

importhistory: Use displayable_path utility
  beetsplug/importhistory.py
Due: format

importhistory: Shorten comment about reimport event firing
  beetsplug/importhistory.py
Due: format

importhistory: Apply sphinx-lint suggestions
  docs/plugins/importhistory.rst
Due: format-docs

Replace displayable_path(item.path) with item.filepath
  beetsplug/importhistory.py
Due: format

importfeeds: Fix CI failing tests (w/ importhistory plugin)
  beetsplug/importfeeds.py
  test/plugins/test_importhistory.py
Due: format

importhistory: Shorten comment reimport overwrite
  beetsplug/importhistory.py
Due: format

importhistory: Fix deprecation
  beetsplug/importhistory.py
Due: format

importhistory: Rewrite docs intro text
  docs/plugins/importhistory.rst
Due: format-docs

importhistory: Check suggest_removal option first
  beetsplug/importhistory.py
Due: format

importhistory: Shorten comment about removal suggesting
  beetsplug/importhistory.py
Due: format
