Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: format
        name: Format Python files
        entry: poe format
        language: system
        files: '.*.py'
        pass_filenames: true
      - id: format-docs
        name: Format docs
        entry: poe format-docs
        language: system
        files: '.*.rst'
        pass_filenames: true

Update changelog to reflect code review improvements
  docs/changelog.rst
Due: format-docs

fix(fetchart): prevent deletion of configured fallback cover art
  beetsplug/fetchart.py
  docs/changelog.rst
  test/plugins/test_art.py
Due: format, format-docs

lastgenre: Adapt existing tests to refactor
  test/plugins/test_lastgenre.py
Due: format

Changelog for #6353 lastgenre refactor
  docs/changelog.rst
Due: format-docs

lastgenre: Tiny code style fix in _get_genre
  beetsplug/lastgenre/__init__.py
Due: format

lastgenre: Simplify 'source' configuration handling
  beetsplug/lastgenre/__init__.py
Due: format

lastgenre: File loaders module
  beetsplug/lastgenre/__init__.py
  beetsplug/lastgenre/loaders.py
Due: format

lastgenre: Move tree helpers to where they are used
  beetsplug/lastgenre/__init__.py
  beetsplug/lastgenre/loaders.py
Due: format

lastgenre: Fix type hints after refactor
  beetsplug/lastgenre/loaders.py
Due: format

lastgenre: Move fetching to client module
  beetsplug/lastgenre/__init__.py
  beetsplug/lastgenre/client.py
  beetsplug/lastgenre/utils.py
Due: format

lastgenre: Fix all confuse get() usage
  beetsplug/lastgenre/__init__.py
  beetsplug/lastgenre/loaders.py
Due: format

lastgenre: tunelog better
  beetsplug/lastgenre/__init__.py
  beetsplug/lastgenre/client.py
  beetsplug/lastgenre/utils.py
Due: format

Clarify Azure Translator resource region requirement
  docs/plugins/lyrics.rst
Due: format-docs

Fix #6302: musicbrainz: crash when releases lack the "track" key.
  beetsplug/musicbrainz.py
Due: format

test added
  test/plugins/test_musicbrainz.py
Due: format

changelog entry
  docs/changelog.rst
Due: format-docs

format changelog
  docs/changelog.rst
Due: format-docs

Update docs/changelog.rst
  docs/changelog.rst
Due: format-docs

Format docs to pass lint checker
  docs/plugins/lyrics.rst
Due: format-docs

fix: wrong count in badfiles log message
  beetsplug/badfiles.py
Due: format

append badfiles fix to changelog
  docs/changelog.rst
Due: format-docs

feat: zero plugin zeroes disctotal if single disc
  beetsplug/zero.py
  docs/changelog.rst
  docs/plugins/zero.rst
  test/plugins/test_zero.py
Due: format, format-docs

lastgenre: Named types; Document flatten_tree
  beetsplug/lastgenre/__init__.py
  beetsplug/lastgenre/loaders.py
  beetsplug/lastgenre/types.py
Due: format

lastgenre: Named types; Document flatten_tree
  beetsplug/lastgenre/__init__.py
  beetsplug/lastgenre/client.py
  beetsplug/lastgenre/loaders.py
  beetsplug/lastgenre/types.py
Due: format

lastgenre: Blacklist based on artist
  beetsplug/lastgenre/__init__.py
  beetsplug/lastgenre/client.py
  beetsplug/lastgenre/loaders.py
  beetsplug/lastgenre/processing.py
  beetsplug/lastgenre/types.py
  docs/plugins/lastgenre.rst
  test/plugins/test_lastgenre.py
Due: format, format-docs

Update confuse
  poetry.lock
  pyproject.toml
Due: none

Adapt code to fully typed confuse library
  beets/__init__.py
  beets/plugins.py
  beets/ui/__init__.py
  beets/ui/commands/import_/session.py
  beetsplug/discogs/__init__.py
  beetsplug/fetchart.py
  beetsplug/lastgenre/__init__.py
  beetsplug/lyrics.py
  beetsplug/playlist.py
  beetsplug/smartplaylist.py
  beetsplug/titlecase.py
Due: format

Add beets-fillmissing to the list of plugins
  docs/plugins/index.rst
Due: format-docs
