Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: format
        name: Format Python files
        entry: poe format
        language: system
        files: '.*.py'
        pass_filenames: true
      - id: format-docs
        name: Format docs
        entry: poe format-docs
        language: system
        files: '.*.rst'
        pass_filenames: true

fixed formatting
  docs/plugins/play.rst
Due: format-docs

Removed mailing list ref in index.rst
  docs/index.rst
Due: format-docs

Removed outdated installation instructions.
  docs/faq.rst
  docs/guides/main.rst
  docs/guides/tagger.rst
Due: format-docs

Added changelog entry.
  docs/changelog.rst
Due: format-docs

Run formatter.
  docs/faq.rst
  docs/guides/main.rst
  docs/index.rst
Due: format-docs

Modernized getting started guide.
  docs/conf.py
  docs/guides/index.rst
  docs/guides/installation.rst
  docs/guides/main.rst
  poetry.lock
  pyproject.toml
Due: format, format-docs

Added pipx refernces
  docs/guides/main.rst
Due: format-docs

Set sphinx dependencies as optional
  poetry.lock
  pyproject.toml
Due: none

Re-added macport instructions. Removed mailing list ref. Added section header for pip and pipx. Removed python 3.13 attention.
  docs/guides/main.rst
  docs/index.rst
Due: format-docs

Readded (outdated) mac instructions. No idea why they were dropped.
  docs/guides/main.rst
Due: format-docs

Removed duplicate yet.
  docs/guides/main.rst
Due: format-docs

Enhanced changelog entry.
  docs/changelog.rst
Due: format-docs

Removed yaml hyperlink. Changed dropdown naming. Use full console param instead of short form.
  docs/guides/main.rst
Due: format-docs

Developer Resources card now links to doc page.
  docs/guides/main.rst
Due: format-docs

Add references to configuration values in the changelog
  docs/changelog.rst
Due: format-docs

Make sure conf references are converted properly in release notes
  extra/release.py
Due: format

Add Sphinx extension for configuration value documentation
  docs/conf.py
  docs/extensions/conf.py
  poetry.lock
  pyproject.toml
Due: format

Convert autotagger plugin docs to use conf role
  beetsplug/discogs.py
  docs/plugins/deezer.rst
  docs/plugins/discogs.rst
  docs/plugins/index.rst
  docs/plugins/musicbrainz.rst
  docs/plugins/shared_metadata_source_config.rst
  docs/plugins/spotify.rst
Due: format, format-docs

Add custom feat words
  beets/plugins.py
  beetsplug/ftintitle.py
  test/plugins/test_ftintitle.py
Due: format

Add documentation
  docs/plugins/ftintitle.rst
Due: format-docs

Added changelog
  docs/changelog.rst
Due: format-docs

Fix sourcery-ai comments
  beets/plugins.py
  beetsplug/ftintitle.py
Due: format

Add new line after New features:
  docs/changelog.rst
Due: format-docs
