Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

format:
  name: Format Python files
  entry: poe format
  language: system
  pass_filenames: true

format-docs:
  name: Format docs
  entry: poe format-docs
  language: system
  pass_filenames: true

Add beets-fillmissing to the list of plugins
  docs/plugins/index.rst
Due: format-docs

Add documentation for date metadata merge fix analysis (PR #4199)
  docs/pr_analysis_date_merge.md
Due: none

Fix importer metadata merge to prevent incomplete date overwrite
  beets/importer/stages.py
Due: format

Metadata fix
  beets/library/library.py
Due: format

Remove markdown doc causing Sphinx build failure
  docs/pr_analysis_date_merge.md
Due: none

fixed library
  beets/importer/stages.py
Due: format

metadeta fixed
  beets/importer/stages.py
Due: format

Fix symlink tests for macOS
  test/test_files.py
  test/test_importer.py
Due: format

Clarify redaction behavior for acoustid apikey in chroma plugin
  beetsplug/chroma.py
Due: format

fetchart: gracefully handle permissions errors when setting album art
  beets/util/__init__.py
  beetsplug/fetchart.py
  docs/changelog.rst
Due: format, format-docs

lastgenre: Apply canonicalization to genres of items with no Last.fm results
  beetsplug/lastgenre/__init__.py
Due: format

lastgenre: Add blacklisted genre
  beetsplug/lastgenre/genres-tree.yaml
Due: none

lastgenre: Update tests
  test/plugins/test_lastgenre.py
Due: format

Update changelog
  docs/changelog.rst
Due: format-docs

Ensure mp3gain is installed in CI
  .github/workflows/ci.yaml
Due: none

Fix replaygain tests
  test/plugins/test_replaygain.py
Due: format

Fix mp3gain/aacgain paths on Windows
  beetsplug/replaygain.py
  docs/changelog.rst
Due: format, format-docs

Set default release/recording includes in MusicBrainzAPI
  beetsplug/_utils/musicbrainz.py
  beetsplug/musicbrainz.py
  docs/changelog.rst
Due: format, format-docs

Increment version to 2.6.2
  beets/__init__.py
  docs/changelog.rst
  docs/conf.py
  pyproject.toml
Due: format, format-docs

Fix multi-value delimiter handling in templates
  beets/dbcore/types.py
  beets/library/models.py
  docs/changelog.rst
  docs/conf.py
  docs/reference/cli.rst
  docs/reference/pathformat.rst
  test/test_library.py
  test/test_plugins.py
Due: format, format-docs

Colorize multi-valued field changes distinctly
  beets/ui/__init__.py
  docs/changelog.rst
  test/ui/test_field_diff.py
Due: format, format-docs

Remove redundant coloring logic
  beets/ui/__init__.py
  beets/ui/commands/import_/display.py
  test/ui/test_field_diff.py
Due: format

Handle DelimitedString fields as native lists in edit plugin
  beets/dbcore/types.py
  beetsplug/edit.py
  docs/changelog.rst
Due: format, format-docs

shorte test description in test/plugins/test_lastgenre.py
  test/plugins/test_lastgenre.py
Due: format

simplify genre unpacking in beetsplug/lastgenre/__init__.py
  beetsplug/lastgenre/__init__.py
Due: format

better function description in beetsplug/lastgenre/__init__.py
  beetsplug/lastgenre/__init__.py
Due: format

simplify return logic in beetsplug/lastgenre/__init__.py
  beetsplug/lastgenre/__init__.py
Due: format

simplify check for fallback in beetsplug/lastgenre/__init__.py
  beetsplug/lastgenre/__init__.py
Due: format

remove noisy comment from test/plugins/test_beatport.py
  test/plugins/test_beatport.py
Due: format

Add native support for multiple genres per album/track
  beets/autotag/__init__.py
  beets/autotag/hooks.py
  beets/library/models.py
  beets/ui/commands/__init__.py
  beets/ui/commands/migrate.py
  beetsplug/beatport.py
  beetsplug/lastgenre/__init__.py
  beetsplug/musicbrainz.py
  docs/changelog.rst
  test/plugins/test_beatport.py
  test/plugins/test_lastgenre.py
  test/plugins/test_musicbrainz.py
  test/test_autotag.py
  test/test_library.py
Due: format, format-docs

Implement automatic database-level genre migration
  beets/autotag/__init__.py
  beets/autotag/hooks.py
  beets/library/library.py
  beetsplug/beatport.py
  beetsplug/lastgenre/__init__.py
  docs/changelog.rst
  docs/plugins/lastgenre.rst
  test/plugins/test_discogs.py
  test/plugins/test_lastgenre.py
  test/test_autotag.py
Due: format, format-docs

Path conditions:
  format: any of: .*.py
  format-docs: any of: .*.rst
