Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: format
        name: Format Python files
        entry: poe format
        language: system
        files: '.*.py'
        pass_filenames: true
      - id: format-docs
        name: Format docs
        entry: poe format-docs
        language: system
        files: '.*.rst'
        pass_filenames: true

Added proper bounds for the officially supported python version (<3.15). Adjusted numpy&numba versions to support 3.14.
  pyproject.toml
Due: none

Fixed minor typing issue as requests is now more strictly typed.
  beetsplug/fetchart.py
Due: format

Quickfix readthedocs build
  docs/conf.py
Due: format

Pin sphinx<9
  docs/conf.py
  poetry.lock
  pyproject.toml
Due: format

Increment version to 2.9.0
  beets/__init__.py
  docs/changelog.rst
  docs/conf.py
  pyproject.toml
Due: format, format-docs

Add changelog note
  docs/changelog.rst
Due: format-docs

Store item paths relative to library directory
  beets/library/models.py
  beetsplug/ipfs.py
  test/test_files.py
  test/test_library.py
  test/ui/commands/test_list.py
  test/ui/test_ui.py
Due: format

Store paths relative to music dir in DB, expand on read
  beets/dbcore/pathutils.py
  beets/dbcore/query.py
  beets/dbcore/types.py
  beets/library/models.py
  beets/util/pipeline.py
  beetsplug/replaygain.py
  test/test_library.py
  test/test_query.py
Due: format

Use context to share music_dir
  beets/context.py
  beets/library/library.py
  beets/library/models.py
  beets/util/__init__.py
  test/plugins/test_ipfs.py
  test/test_query.py
Due: format

Migrate item/album paths to relative storage
  beets/dbcore/db.py
  beets/library/library.py
  beets/library/migrations.py
  test/library/test_migrations.py
Due: format

Fix path tests on Windows
  test/test_library.py
  test/test_query.py
  test/test_sort.py
Due: format

Update docs
  docs/changelog.rst
  docs/dev/paths.rst
  docs/reference/query.rst
Due: format-docs

Fix paths for Windows
  beets/dbcore/pathutils.py
  beets/library/models.py
  test/library/test_migrations.py
  test/plugins/test_ipfs.py
  test/test_library.py
Due: format

Add ability to set temporary music dir context for ipfs
  beets/context.py
  beets/library/library.py
  beetsplug/ipfs.py
  test/plugins/test_ipfs.py
Due: format

Do not chunk path migration
  beets/library/migrations.py
Due: format

Normalise Windows paths
  beets/dbcore/pathutils.py
  beets/library/models.py
  test/library/test_migrations.py
  test/test_library.py
Due: format

Added small typing wrapper for api layer. Not enterly needed but it makes working with the api response data so much easier.
  beetsplug/tidal/api.py
  beetsplug/tidal/api_types.py
Due: format

Fixed a few typing issues and a small bug around how responses are handled in the session.
  beetsplug/tidal/api.py
Due: format

Added candidate method implementations methods: Required a slight amount of refactoring but im more happy with the abstraction now.
  beetsplug/tidal/__init__.py
  beetsplug/tidal/api.py
  beetsplug/tidal/api_types.py
  beetsplug/tidal/authenticate.py
  test/plugins/test_tidal.py
Due: format

Implemented batch lookup methods for more efficient retrieval.
  beetsplug/tidal/__init__.py
  test/plugins/test_tidal.py
Due: format

Refactored slightly and move search into own methods
  beetsplug/tidal/__init__.py
Due: format

Added the *_by_id capabilities for TidalPlugin.
  beetsplug/tidal/__init__.py
Due: format

Added a number of unit tests for the parsing.
  test/plugins/test_tidal.py
Due: format

Renamed Album, Track, Artists to TidalAlbum, TidalTrack, TidalArtist
  beetsplug/tidal/__init__.py
  beetsplug/tidal/api_types.py
Due: format

Added changelog entry
  .github/CODEOWNERS
  docs/changelog.rst
Due: format-docs

Fetch remixers, composers, arrangers and lyricists from Discogs
  beetsplug/discogs/states.py
  beetsplug/discogs/types.py
  test/plugins/test_discogs.py
Due: format

Update docs
  docs/changelog.rst
  docs/plugins/discogs.rst
Due: format-docs

Add tests
  test/plugins/test_discogs.py
Due: format

Added documentation.
  docs/plugins/index.rst
  docs/plugins/tidal.rst
Due: format-docs

First iteration of reviews: - too strict ids - typos and docstring improvements
  beets/util/id_extractors.py
  beetsplug/tidal/__init__.py
  beetsplug/tidal/api.py
Due: format

Added tests for candidates and item_candidates.
  test/plugins/test_tidal.py
Due: format

Added batching for max filter size.
  beetsplug/tidal/api.py
Due: format

Added state verify step in authentication function. Not that is needed but a good thing to have.
  beetsplug/tidal/authenticate.py
Due: format

super requests already raises.
  beetsplug/tidal/api.py
Due: format

Retry listenbrainz requests for temporary failures
  beetsplug/listenbrainz.py
  docs/changelog.rst
Due: format, format-docs

Ignore types files in coverage.
  setup.cfg
Due: none

chroma: route acoustid matches via MB cross-references to enabled sources
  beetsplug/chroma.py
  beetsplug/musicbrainz.py
  docs/changelog.rst
  docs/plugins/chroma.rst
  test/plugins/test_chroma.py
Due: format, format-docs

mbpseudo: propagate extra_external_sources through album_info override
  beetsplug/mbpseudo.py
Due: format

docs(chroma,changelog): reformat to satisfy docstrfmt under python 3.10
  docs/changelog.rst
  docs/plugins/chroma.rst
Due: format-docs
