Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: format
        name: Format Python files
        entry: poe format
        language: system
        files: '.*.py'
        pass_filenames: true
      - id: format-docs
        name: Format docs
        entry: poe format-docs
        language: system
        files: '.*.rst'
        pass_filenames: true

Rename track -> recording in tests for clarity
  test/plugins/test_musicbrainz.py
Due: format

Fix recording parsing
  beetsplug/musicbrainz.py
Due: format

Normalize dashes to underscores in musicbrainz data fields
  beetsplug/_utils/musicbrainz.py
  beetsplug/mbpseudo.py
  beetsplug/musicbrainz.py
  test/plugins/test_mbpseudo.py
  test/plugins/test_musicbrainz.py
  test/plugins/utils/test_musicbrainz.py
  test/rsrc/mbpseudo/official_release.json
  test/rsrc/mbpseudo/pseudo_release.json
Due: format

Refactor track_info taking into account Recording data shape
  beetsplug/musicbrainz.py
Due: format

Type musicbrainz fully
  beetsplug/_utils/musicbrainz.py
  beetsplug/mbpseudo.py
  beetsplug/musicbrainz.py
  setup.cfg
Due: format

Simplify parsing recordings
  beetsplug/musicbrainz.py
  test/plugins/test_musicbrainz.py
Due: format

Simplify aliases parsing
  beetsplug/musicbrainz.py
  poetry.lock
  pyproject.toml
  test/plugins/factories/__init__.py
  test/plugins/factories/musicbrainz.py
  test/plugins/test_musicbrainz.py
Due: format

Use ArtistFactory
  test/plugins/test_musicbrainz.py
Due: format

Refactor _get_related_artist_names
  beetsplug/musicbrainz.py
  test/plugins/factories/musicbrainz.py
  test/plugins/test_musicbrainz.py
Due: format

Remove album_url, track_url
  beetsplug/musicbrainz.py
Due: format

Simplify multi artist credit parsing
  beetsplug/musicbrainz.py
  test/plugins/test_musicbrainz.py
Due: format

Use ArtistCreditFactory for test artist_credit construction
  test/plugins/factories/musicbrainz.py
  test/plugins/test_musicbrainz.py
Due: format

Remove _artist_ids
  beetsplug/musicbrainz.py
  test/plugins/test_musicbrainz.py
Due: format

Refactor parsing language and script
  beetsplug/musicbrainz.py
  test/plugins/factories/musicbrainz.py
  test/plugins/test_musicbrainz.py
Due: format

Refactor parsing label info
  beetsplug/musicbrainz.py
  test/plugins/factories/musicbrainz.py
  test/plugins/test_musicbrainz.py
Due: format

Refactor date parsing
  beetsplug/musicbrainz.py
  test/plugins/test_musicbrainz.py
Due: format

Refactor _preferred_release_event
  beetsplug/musicbrainz.py
  test/plugins/factories/musicbrainz.py
  test/plugins/test_musicbrainz.py
Due: format

Use RecordingFactory in tests
  test/plugins/factories/musicbrainz.py
  test/plugins/test_musicbrainz.py
Due: format

Refactor parsing medium track
  beetsplug/musicbrainz.py
  test/plugins/factories/musicbrainz.py
  test/plugins/test_musicbrainz.py
Due: format

Refactor parsing genre
  beetsplug/musicbrainz.py
  test/plugins/factories/musicbrainz.py
  test/plugins/test_musicbrainz.py
Due: format

Use ReleaseGroupFactory
  test/plugins/factories/musicbrainz.py
  test/plugins/test_musicbrainz.py
Due: format

Refactor parsing external ids
  beetsplug/musicbrainz.py
Due: format

Enforce asin, disambiguation, fix status
  beetsplug/musicbrainz.py
  test/plugins/test_musicbrainz.py
Due: format

Refactor release group parsing
  beetsplug/musicbrainz.py
Due: format

Refactor medium parsing
  beetsplug/musicbrainz.py
  test/plugins/factories/musicbrainz.py
  test/plugins/test_musicbrainz.py
Due: format

Introduce ReleaseFactory
  test/plugins/factories/musicbrainz.py
  test/plugins/test_musicbrainz.py
Due: format

Make use of ReleaseFactory
  test/plugins/factories/musicbrainz.py
  test/plugins/test_musicbrainz.py
Due: format

Fix typing issues in tests
  test/plugins/test_musicbrainz.py
Due: format

fix: ftintitle can handle a list of ampersanded artists
  beetsplug/ftintitle.py
  docs/changelog.rst
  test/plugins/test_ftintitle.py
Due: format, format-docs

Import MusicBrainz composer/lyricist/arranger ids
  beets/autotag/__init__.py
  beets/autotag/hooks.py
  beets/library/models.py
  beetsplug/musicbrainz.py
Due: format

Add changelog
  docs/changelog.rst
Due: format-docs

Update my teams page entry
  docs/team.rst
Due: format-docs

Fix genius end to end lyrics test
  test/plugins/lyrics_pages.py
Due: format

Add a test to show duplicate translations we have right now
  test/plugins/test_lyrics.py
Due: format

Preserve synced lyrics when fetched result is plain text
  beetsplug/lyrics.py
  docs/changelog.rst
  docs/plugins/lyrics.rst
  test/plugins/test_lyrics.py
Due: format, format-docs

Do not split orig/trans if they are not different
  beetsplug/lyrics.py
  test/plugins/test_lyrics.py
Due: format

lyrics: validate synced lyrics duration
  beetsplug/lyrics.py
  docs/changelog.rst
  test/plugins/test_lyrics.py
Due: format, format-docs

Refactor lyrics handling to use structured Lyrics object
  beetsplug/lyrics.py
  docs/changelog.rst
  docs/plugins/lyrics.rst
  test/plugins/lyrics_pages.py
  test/plugins/test_lyrics.py
Due: format, format-docs

Clarify %if template behavior
  docs/reference/pathformat.rst
Due: format-docs

docs: Document match.distance_weights in autotagger docs
  docs/reference/config.rst
Due: format-docs
