Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: format
        name: Format Python files
        entry: poe format
        language: system
        files: '.*.py'
        pass_filenames: true
      - id: format-docs
        name: Format docs
        entry: poe format-docs
        language: system
        files: '.*.rst'
        pass_filenames: true

chore(convert): Format
  beetsplug/convert.py
Due: format

refactor(convert): Use cached_property for refresh option
  beetsplug/convert.py
Due: format

Fix changelog
  docs/changelog.rst
Due: format-docs

Added minimal backup system which create a database backup before migrations.
  beets/config_default.yaml
  beets/dbcore/db.py
  test/library/test_migrations.py
Due: format

Added changelog and docs.
  docs/changelog.rst
  docs/reference/config.rst
Due: format-docs

Normalize albumtype
  beetsplug/tidal/__init__.py
  docs/changelog.rst
  test/plugins/test_tidal.py
Due: format, format-docs

Use a single data-driven test for parsing
  test/plugins/test_tidal.py
Due: format

Set albumtypes instead of albumtype
  beetsplug/tidal/__init__.py
  test/plugins/test_tidal.py
Due: format

Remove misplaced implementation test
  test/plugins/test_tidal.py
Due: format

Add missing types to beets.util.pipeline
  beets/importer/session.py
  beets/importer/stages.py
  beets/util/pipeline.py
  beetsplug/convert.py
Due: format

Add some background about git-blame-ignore-revs to CONTRIBUTING
  CONTRIBUTING.rst
Due: format-docs

Exclude pipeline types in git blame
  .git-blame-ignore-revs
Due: none

Use pytest
  test/dbcore/test_sort.py
Due: format

Parametrize ascending sort coverage
  test/dbcore/test_sort.py
Due: format

Tighten config sort tests
  test/dbcore/test_sort.py
Due: format

Parametrize descending sort coverage
  test/dbcore/test_sort.py
Due: format

Refactor TestNonExistingField
  test/dbcore/test_sort.py
Due: format

Simplify TestCaseSensitivity
  test/dbcore/test_sort.py
Due: format

Remove duplicate branches
  test/dbcore/test_sort.py
Due: format

Only set required fields
  test/dbcore/test_sort.py
Due: format

Use class-scoped config across the test module
  test/dbcore/test_sort.py
Due: format

Consolidate sort query tests
  test/dbcore/test_sort.py
Due: format

Simplify paths
  test/dbcore/test_sort.py
Due: format

add cover art support
  beetsplug/tidal/__init__.py
  beetsplug/tidal/api_types.py
  docs/changelog.rst
  docs/plugins/tidal.rst
  test/plugins/test_tidal.py
Due: format, format-docs

tidal: fix mypy errors in cover art parsing
  beetsplug/tidal/__init__.py
  beetsplug/tidal/api_types.py
Due: format

tidal: fix mypy docref and dict access
  beetsplug/tidal/__init__.py
  docs/plugins/tidal.rst
Due: format, format-docs

tidal: fix docstrfmt formatting in tidal.rst
  docs/plugins/tidal.rst
Due: format-docs

fix cover art types and parsing to match API response
  beetsplug/tidal/__init__.py
  beetsplug/tidal/api_types.py
  test/plugins/test_tidal.py
Due: format

make cover_art_by_id required and remove broken fallback URL
  beetsplug/tidal/__init__.py
  test/plugins/test_tidal.py
Due: format

rename CoverArt types to Artwork to match Tidal API
  beetsplug/tidal/__init__.py
  beetsplug/tidal/api_types.py
  test/plugins/test_tidal.py
Due: format

fix changelog formatting
  docs/changelog.rst
Due: format-docs

fix test_parse_artwork_url placement into TestStaticHelpers class
  test/plugins/test_tidal.py
Due: format

update changelog
  docs/changelog.rst
Due: format-docs

Removed a return. Still a bit complicated but I don't think there is a way to further optimize.
  beetsplug/tidal/__init__.py
Due: format

Ensure default config is read, even on config error.
  beets/ui/__init__.py
Due: format

Short round of reviews, typo and use logging function.
  beets/ui/__init__.py
Due: format

Moved early logging error on windows into place where the error will propagate and log properly.
  beets/ui/__init__.py
Due: format

Moved ui logging setup into own setup/bootstrap function.
  beets/__init__.py
  beets/ui/__init__.py
Due: format

Enhanced comment. See thread https://github.com/beetbox/beets/pull/6755#discussion_r3444580358
  beets/__init__.py
  beets/ui/__init__.py
Due: format

docs: add changelog entry for removed deprecated plugins
  docs/changelog.rst
Due: format-docs
