Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: format
        name: Format Python files
        entry: poe format
        language: system
        files: '.*.py'
        pass_filenames: true
      - id: format-docs
        name: Format docs
        entry: poe format-docs
        language: system
        files: '.*.rst'
        pass_filenames: true

Revert "Use pseudo-release's track titles for its recordings"
  beetsplug/musicbrainz.py
Due: format

Don't use Optional
  beetsplug/mbpseudo.py
Due: format

Update mbpseudo implementation for beets 2.5
  beets/autotag/match.py
  beets/plugins.py
  beetsplug/mbpseudo.py
Due: format

Reimplement mbpseudo plugin inheriting from MusicBrainzPlugin
  beetsplug/mbpseudo.py
  beetsplug/musicbrainz.py
Due: format

Use Optional
  beetsplug/mbpseudo.py
Due: format

Add tests for mbpseudo plugin
  beetsplug/mbpseudo.py
  test/plugins/test_mbpseudo.py
  test/rsrc/mbpseudo/official_release.json
  test/rsrc/mbpseudo/pseudo_release.json
Due: format

Add mbpseudo plugin
  .github/CODEOWNERS
  beetsplug/mbpseudo.py
Due: format

Update docs for mbpseudo plugin
  docs/changelog.rst
  docs/dev/plugins/events.rst
  docs/plugins/index.rst
  docs/plugins/mbpseudo.rst
Due: format-docs

Add custom_tags_only mode for mbpseudo plugin
  beetsplug/mbpseudo.py
  docs/plugins/mbpseudo.rst
  test/plugins/test_mbpseudo.py
Due: format, format-docs

Fix data source penalty for mbpseudo
  beetsplug/mbpseudo.py
  docs/plugins/mbpseudo.rst
  test/plugins/test_mbpseudo.py
Due: format, format-docs

Prefer alias if import languages not defined
  beetsplug/mbpseudo.py
  beetsplug/musicbrainz.py
  test/plugins/test_mbpseudo.py
Due: format

refactor: reorganize command modules and utils
  beets/ui/commands.py
  beets/ui/commands/__init__.py
  beets/ui/commands/_utils.py
  beets/ui/commands/completion.py
  beets/ui/commands/config.py
  beets/ui/commands/fields.py
  beets/ui/commands/help.py
  beets/ui/commands/import_/__init__.py
  beets/ui/commands/import_/display.py
  beets/ui/commands/import_/session.py
  beets/ui/commands/list.py
  beets/ui/commands/modify.py
  beets/ui/commands/move.py
  beets/ui/commands/remove.py
  beets/ui/commands/stats.py
  beets/ui/commands/update.py
  beets/ui/commands/version.py
  beets/ui/commands/write.py
Due: format

tests: move command tests into dedicated files
  beets/test/_common.py
  beets/test/helper.py
  beets/ui/commands/__init__.py
  beets/ui/commands/completion.py
  beets/ui/commands/completion_base.sh
  test/test_ui.py
  test/ui/__init__.py
  test/ui/commands/__init__.py
  test/ui/commands/test_completion.py
  test/ui/commands/test_config.py
  test/ui/commands/test_fields.py
  test/ui/commands/test_import.py
  test/ui/commands/test_list.py
  test/ui/commands/test_modify.py
  test/ui/commands/test_move.py
  test/ui/commands/test_remove.py
  test/ui/commands/test_update.py
  test/ui/commands/test_utils.py
  test/ui/commands/test_write.py
  test/ui/test_ui.py
  test/ui/test_ui_importer.py
  test/ui/test_ui_init.py
Due: format

refactor: moved some more imports that are only used in the commands in their respective files. Also fixed some imports
  beets/ui/__init__.py
  beets/ui/commands/__init__.py
  beets/ui/commands/_utils.py
  beets/ui/commands/completion.py
  beets/ui/commands/config.py
  beets/ui/commands/import_/__init__.py
  beets/ui/commands/import_/display.py
  beets/ui/commands/import_/session.py
  beets/ui/commands/modify.py
  beets/ui/commands/move.py
  beets/ui/commands/remove.py
  beets/ui/commands/update.py
  beets/ui/commands/utils.py
  beets/ui/commands/write.py
  beetsplug/edit.py
Due: format

Added changelog entry and git blame ignore revs.
  .git-blame-ignore-revs
  docs/changelog.rst
Due: format-docs

Added more descriptions to git-blame-ignore-revs file.
  .git-blame-ignore-revs
Due: none

Correct function declaration for type hinting
  beets/ui/__init__.py
Due: format

Accept lyrics source as a string
  beetsplug/lyrics.py
  docs/changelog.rst
Due: format, format-docs

Improve changelog
  docs/changelog.rst
Due: format-docs

Fix changelog formatting
  docs/changelog.rst
Due: format-docs

Remove unnecessary space
  docs/changelog.rst
Due: format-docs

Remove newline character between list points
  docs/changelog.rst
Due: format-docs
