Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

format:
  name: Format Python files
  entry: poe format
  language: system
  pass_filenames: true

format-docs:
  name: Format docs
  entry: poe format-docs
  language: system
  pass_filenames: true

Fix handling of commas and semicolons in artist join
  beetsplug/discogs.py
  test/plugins/test_discogs.py
Due: format

Clarify variable in _process_clean_tracklist
  beetsplug/discogs.py
Due: format

Split discogs.py into smaller and more workable modules.
  beetsplug/discogs/__init__.py
  beetsplug/discogs/states.py
  beetsplug/discogs/types.py
  beetsplug/discogs/utils.py
Due: format

Add comments, clean up types.
  beetsplug/discogs.py
  test/plugins/test_discogs.py
Due: format

Fix behavior when ANV does not exist
  beetsplug/discogs.py
  test/plugins/test_discogs.py
Due: format

Document ArtistState
  beetsplug/discogs.py
Due: format

Move building logic to dataclasses
  beetsplug/discogs.py
  test/plugins/test_discogs.py
Due: format

Ensure all fields in artist dicts in tests
  test/plugins/test_discogs.py
Due: format

Remove utils, rework from_plugin method in ArtistState to from_config
  beetsplug/discogs/__init__.py
  beetsplug/discogs/states.py
  beetsplug/discogs/utils.py
  test/plugins/test_discogs.py
Due: format

Simplify building artist
  beetsplug/discogs.py
  test/plugins/test_discogs.py
Due: format

Adjust type annotation, rebase.
  beetsplug/discogs/states.py
Due: format

detectmissing: init
  beets/library/models.py
  beetsplug/detectmissing.py
  docs/changelog.rst
  docs/plugins/detectmissing.rst
  docs/plugins/index.rst
  test/plugins/test_detectmissing.py
Due: format, format-docs

duplicates: write type annotations
  beetsplug/duplicates.py
Due: format

Adjust log message. Initial fix for group albums. Test outlines written. TODO: Write tests.
  beetsplug/fromfilename.py
  docs/plugins/fromfilename.rst
  test/plugins/test_fromfilename.py
Due: format, format-docs

fish: complete files in more places
  beetsplug/fish.py
  docs/changelog.rst
Due: format, format-docs

Gracefully handle 404s when importing from MusicBrainz.
  beetsplug/musicbrainz.py
  test/plugins/test_musicbrainz.py
Due: format

Fixed error with Errno2 corresponding to set editor in enviroment variables
  beets/ui/commands/config.py
Due: format

Fixed error with Errno2 corresponding to set editor in enviroment variables
  docs/changelog.rst
Due: format-docs

fix(fetchart): prevent deletion of configured fallback cover art
  beetsplug/fetchart.py
  test/plugins/test_art.py
Due: format

docs: Add changelog entry for database permission error fix
  docs/changelog.rst
Due: format-docs

test: Add tests for database error handling to improve coverage
  test/ui/test_ui_init.py
Due: format

Merge mbpseudo into musicbrainz
  .github/CODEOWNERS
  beetsplug/mbpseudo.py
  beetsplug/musicbrainz.py
  docs/changelog.rst
  docs/plugins/index.rst
  docs/plugins/mbpseudo.rst
  docs/plugins/musicbrainz.rst
  test/plugins/test_musicbrainz_pseudo.py
  test/rsrc/musicbrainz/official_release.json
  test/rsrc/musicbrainz/pseudo_release.json
Due: format, format-docs

Introduce album_info_received event with items
  beets/autotag/match.py
  beets/metadata_plugins.py
  beets/plugins.py
  beetsplug/mbsync.py
  beetsplug/missing.py
  docs/changelog.rst
  docs/dev/plugins/events.rst
  test/test_importer.py
Due: format, format-docs

Support multiple pseudo-releases and reimport in musicbrainz
  beetsplug/musicbrainz.py
  docs/plugins/musicbrainz.rst
  test/plugins/test_musicbrainz_pseudo.py
  test/rsrc/musicbrainz/official_release.json
Due: format, format-docs

Try simple MB search in case artist is an alias
  beetsplug/_utils/musicbrainz.py
  beetsplug/musicbrainz.py
Due: format

Path conditions:
  format: any of: .*.py
  format-docs: any of: .*.rst
