Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: format
        name: Format Python files
        entry: poe format
        language: system
        files: '.*.py'
        pass_filenames: true
      - id: format-docs
        name: Format docs
        entry: poe format-docs
        language: system
        files: '.*.rst'
        pass_filenames: true

Fix dict syntax error and update art tests to use new convert method
  beets/util/artresizer.py
  beetsplug/_utils/art.py
  beetsplug/fetchart.py
  test/plugins/test_art.py
  test/test_art_resize.py
Due: format

Add test for resize and reformat at the same time
  beetsplug/fetchart.py
  test/test_art_resize.py
Due: format

Make ArtResizer test comments more accurate
  test/test_art_resize.py
Due: format

chore(changelog): Foramt with docstrfmt
  docs/changelog.rst
Due: format-docs

fix(test_smartplaylist.py): mypy type error as commit 002a051d0
  test/plugins/test_smartplaylist.py
Due: format

fix(test): Linting issues in smartplaylist
  test/plugins/test_smartplaylist.py
Due: format

chore(test_smartplaylist): Add future TODO about Mocks usage
  test/plugins/test_smartplaylist.py
Due: format

Update docs/plugins/smartplaylist.rst
  docs/plugins/smartplaylist.rst
Due: format-docs

fix(test_smartplaylist): Adapt to changes from commit d01727019
  test/plugins/test_smartplaylist.py
Due: format

chore(test): format with poe
  test/plugins/test_smartplaylist.py
Due: format

chore(docs): Lint double backquotes
  docs/plugins/smartplaylist.rst
Due: format-docs

[docs/changelog] Add log for dest_regen option
  docs/changelog.rst
Due: format-docs

[beetsplug/spl] Add the dest_regen/dest-regen option
  beetsplug/smartplaylist.py
Due: format

test(plugins): write dest_regen test for smartplaylist
  test/plugins/test_smartplaylist.py
Due: format

chore(docs): Format with docstrfmt
  docs/changelog.rst
  docs/plugins/smartplaylist.rst
Due: format-docs

[beetsplug/spl] Fix linting error
  beetsplug/smartplaylist.py
Due: format

[docs/spl] Add documentation for new dest_regen option
  docs/plugins/smartplaylist.rst
Due: format-docs

chore(test): Format test_smartplaylist.py
  test/plugins/test_smartplaylist.py
Due: format

chore(test): Lint test_smartplaylist.py
  test/plugins/test_smartplaylist.py
Due: format

Update docs/changelog.rst
  docs/changelog.rst
Due: format-docs

chore(changelog): Move new feature under Unreleased section
  docs/changelog.rst
Due: format-docs

Fix references to color utils
  beets/ui/commands/import_/display.py
  beets/ui/commands/import_/session.py
  beets/ui/commands/update.py
  beets/util/color.py
  beetsplug/badfiles.py
  beetsplug/fetchart.py
  beetsplug/importsource.py
  beetsplug/play.py
  test/ui/test_field_diff.py
  test/util/test_color.py
Due: format

Move colorisation to beets/util/color.py
  beets/ui/__init__.py
  beets/ui/commands/import_/display.py
  beets/util/color.py
  test/ui/commands/test_import.py
  test/util/test_color.py
Due: format

Move diff utils to beets/util/diff.py
  beets/ui/__init__.py
  beets/util/diff.py
  pyproject.toml
  test/util/test_diff.py
Due: format

Fix diff references
  beets/ui/commands/import_/display.py
  beets/ui/commands/move.py
  test/util/test_diff.py
Due: format

Move layout utils to beets/util/layout.py
  beets/ui/__init__.py
  beets/util/layout.py
  test/ui/commands/test_import.py
  test/util/test_layout.py
Due: format

Refactor layout to remove dependency on ui
  beets/ui/commands/import_/display.py
  beets/util/layout.py
Due: format

Create a dedicated get_model_changes function in beets/util/diff.py
  beets/ui/__init__.py
  beets/util/diff.py
  test/ui/test_ui.py
Due: format

Fix layout references
  beets/ui/commands/import_/display.py
  test/util/test_layout.py
Due: format

Add commits to .git-ignore-blame-revs
  .git-blame-ignore-revs
Due: none

Add types to moved utils
  beets/ui/commands/import_/display.py
  beets/util/color.py
  beets/util/layout.py
Due: format

Change missing plugin to allow for filtering albums by release type
  beetsplug/_utils/musicbrainz.py
  beetsplug/missing.py
  docs/changelog.rst
  docs/plugins/missing.rst
  test/plugins/test_missing.py
Due: format, format-docs

Address review comments
  beetsplug/_utils/musicbrainz.py
  beetsplug/missing.py
Due: format

Fix rebase in tests
  test/plugins/test_missing.py
Due: format

Fix lint and mypy
  beetsplug/_utils/musicbrainz.py
  beetsplug/missing.py
Due: format

Add IOMixin to fix failures
  test/plugins/test_missing.py
Due: format

Address comments and add new test case
  beetsplug/missing.py
  docs/plugins/missing.rst
  test/plugins/test_missing.py
Due: format, format-docs

Remove redundant term_width and separator args
  beets/ui/commands/import_/display.py
  beets/util/layout.py
Due: format

Fix lint
  test/plugins/test_missing.py
Due: format

Use NamedTuple instead of dict for Side
  beets/ui/commands/import_/display.py
  beets/util/layout.py
Due: format
