Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

format:
  name: Format Python files
  entry: poe format
  language: system
  pass_filenames: true

format-docs:
  name: Format docs
  entry: poe format-docs
  language: system
  pass_filenames: true

discogs: Refactor _coalesce_tracks to make use of various tracks type_
  beetsplug/discogs/__init__.py
  beetsplug/discogs/states.py
  test/plugins/test_discogs.py
Due: format

discogs: Add descriptions of each possible Tracks
  beetsplug/discogs/types.py
  test/plugins/factories/discogs.py
  test/plugins/test_discogs.py
Due: format

Added proposal for logging modes to docs. This is intended for review and decision making at the moment.
  docs/reference/index.rst
  docs/reference/logging.rst
Due: format-docs

typing: fix the rest of beets.library.models
  beets/library/library.py
  beets/library/models.py
Due: format

typing: feed PathLike as database path
  beets/dbcore/db.py
  beets/library/library.py
  beets/test/helper.py
  beets/ui/__init__.py
  beetsplug/ipfs.py
  test/dbcore/test_db.py
  test/plugins/test_ipfs.py
  test/ui/test_ui_init.py
Due: format

typing: fix beets.library.library
  beets/dbcore/query.py
  beets/library/library.py
Due: format

dbcore: rename Database._fetch to Database.get_results
  beets/dbcore/db.py
  beets/library/library.py
  test/dbcore/test_db.py
Due: format

typing: add return types to beets.library.models
  beets/library/models.py
Due: format

typing: type the rest of beets.library.models
  beets/library/models.py
Due: format

typing: type models in beets.library.models
  beets/library/models.py
Due: format

typing: fix models typing in beets.library.models
  beets/library/models.py
  beets/plugins.py
  beetsplug/convert.py
  beetsplug/fetchart.py
  beetsplug/replaygain.py
Due: format

typing: type beets.library.queries
  beets/library/queries.py
Due: format

Fix beets.plugins.queries type
  beets/plugins.py
Due: format

typing: type beets.library.library
  beets/library/library.py
Due: format

typing: type beets.library.exceptions
  beets/library/exceptions.py
Due: format

Add commits to ignore
  .git-blame-ignore-revs
Due: none

fix(autotag): "featuring" pattern in string_dist matches mid-word "ft"
  beets/autotag/distance.py
  docs/changelog.rst
  test/autotag/test_distance.py
Due: format, format-docs

docs: reflow changelog entry to satisfy docstrfmt
  docs/changelog.rst
Due: format-docs

fix(autotag): make featuring word boundary symmetric
  beets/autotag/distance.py
Due: format

fix(functemplate): empty ${} inside a call argument truncates the argument list
  beets/util/functemplate.py
  docs/changelog.rst
  test/util/test_functemplate.py
Due: format, format-docs

add tunique
  beets/config_default.yaml
  beets/library/models.py
  docs/changelog.rst
  docs/reference/config.rst
  docs/reference/pathformat.rst
  test/test_library.py
Due: format, format-docs

Add a failing test
  test/autotag/test_hooks.py
Due: format

Fix the issue
  beets/autotag/hooks.py
  test/autotag/test_hooks.py
Due: format

library: skip saving files with unchanged tags
  beets/library/models.py
  beets/ui/commands/write.py
  docs/changelog.rst
  docs/dev/library.rst
  docs/dev/plugins/events.rst
  docs/reference/cli.rst
  docs/reference/config.rst
  test/test_library.py
  test/ui/commands/test_modify.py
Due: format, format-docs

library: save files whose tags still need ID3 conversion
  beets/library/models.py
  docs/changelog.rst
  docs/dev/plugins/events.rst
  test/test_library.py
  test/test_plugins.py
  test/ui/commands/test_write.py
Due: format, format-docs

library: save the removal of a tag holding only empty values
  beets/library/models.py
  test/test_library.py
Due: format

library: test that a foreign-path write always saves
  test/test_library.py
Due: format

importadded: note that a skipped write leaves the mtime alone
  docs/plugins/importadded.rst
Due: format-docs

library: record the compared mtime when skipping a save
  beets/library/models.py
Due: format

library: pin the always-save of image writes with a test
  test/test_library.py
  test/test_plugins.py
Due: format

fix(dbcore): NumericQuery range crashes on a null value
  beets/dbcore/query.py
  test/dbcore/test_query.py
Due: format

docs: changelog entry for the NumericQuery null-range fix
  docs/changelog.rst
Due: format-docs

importadded: wrap the note the way the docs check wants
  docs/plugins/importadded.rst
Due: format-docs

Document art_set event
  docs/dev/plugins/events.rst
Due: format-docs

Fix uncaught ValueError on reversed date range queries
  beets/dbcore/query.py
  docs/changelog.rst
  test/dbcore/test_datequery.py
Due: format, format-docs

Move AttrDict under beets.util
  beets/autotag/__init__.py
  beets/autotag/hooks.py
  beets/util/__init__.py
  test/autotag/test_hooks.py
Due: format

Exclude AttrDict move from git blame
  .git-blame-ignore-revs
Due: none

Refactor autotag to use Source abstraction
  beets/autotag/__init__.py
  beets/autotag/distance.py
  beets/autotag/match.py
  beets/autotag/source.py
  beets/importer/tasks.py
  beets/ui/commands/import_/display.py
  beets/ui/commands/import_/session.py
  beets/util/__init__.py
  beetsplug/bench.py
  beetsplug/ihate.py
  beetsplug/mbpseudo.py
  test/autotag/test_distance.py
  test/autotag/test_match.py
  test/test_util.py
  test/ui/commands/test_import.py
Due: format

Ignore Match move commit
  .git-blame-ignore-revs
Due: none

Path conditions:
  format: any of: .*.py
  format-docs: any of: .*.rst
