Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: format
        name: Format Python files
        entry: poe format
        language: system
        files: '.*.py'
        pass_filenames: true
      - id: format-docs
        name: Format docs
        entry: poe format-docs
        language: system
        files: '.*.rst'
        pass_filenames: true

docs: reflow scrub changelog entry to formatter fixpoint
  docs/changelog.rst
Due: format-docs

scrub: don't abort import on illegal MP4 album art (#2498)
  beetsplug/scrub.py
  docs/changelog.rst
  docs/plugins/scrub.rst
  test/plugins/test_scrub.py
Due: format, format-docs

update queries to use field_query for flexible keys and improve path formatting in disambiguation tests
  beets/library/models.py
  test/test_library.py
Due: format

add tunique
  beets/config_default.yaml
  beets/library/models.py
  docs/changelog.rst
  docs/reference/config.rst
  docs/reference/pathformat.rst
  test/test_library.py
Due: format, format-docs

docs: move tunique changelog entry under Unreleased section
  docs/changelog.rst
Due: format-docs

Fix unique path collision handling
  beets/library/library.py
  beets/library/models.py
  test/test_library.py
Due: format

Improve tunique behavior
  beets/config_default.yaml
  beets/library/library.py
  beets/library/models.py
  docs/reference/config.rst
  docs/reference/pathformat.rst
  test/test_library.py
Due: format, format-docs

Use TimeoutAndRetrySession in test_lyrics.py
  beetsplug/_utils/requests.py
  test/plugins/lyrics_pages.py
  test/plugins/test_lyrics.py
Due: format

BeetsHTTPError: Centralise getting status message
  beetsplug/_utils/musicbrainz.py
  beetsplug/_utils/requests.py
Due: format

Fix lyrics pages
  test/plugins/lyrics_pages.py
Due: format

Improve Genius API rate limit error reporting
  beetsplug/_utils/musicbrainz.py
  beetsplug/_utils/requests.py
  beetsplug/lyrics.py
Due: format

fix: resume import respects albums imported as tracks
  beets/importer/stages.py
  docs/changelog.rst
  test/test_importer.py
Due: format, format-docs

fix: formatting
  docs/changelog.rst
Due: format-docs

Simplify duplicate import action internals
  beets/importer/actions.py
  beets/importer/stages.py
  beets/importer/tasks.py
Due: format

Catch within-run track duplicates and reduce early returns
  beets/importer/session.py
  beets/importer/stages.py
  beets/importer/tasks.py
  test/test_importer.py
Due: format

Merge fold into skip and colorize duplicate-skip messages
  beets/importer/session.py
  beets/importer/stages.py
  beets/importer/tasks.py
  beets/test/helper.py
  beets/ui/commands/import_/session.py
  docs/changelog.rst
  docs/reference/config.rst
  test/test_importer.py
Due: format, format-docs

Move duplicate_track_resolution changelog entry to Unreleased
  docs/changelog.rst
Due: format-docs

Add track-level duplicate resolution to the importer
  beets/config_default.yaml
  beets/importer/session.py
  beets/importer/stages.py
  beets/importer/tasks.py
  beets/test/helper.py
  beets/ui/commands/import_/session.py
  docs/changelog.rst
  docs/reference/config.rst
  test/test_importer.py
Due: format, format-docs

Address review: reuse DuplicateAction for track dedup
  beets/importer/session.py
  beets/importer/stages.py
  beets/test/helper.py
  beets/ui/commands/import_/session.py
  docs/reference/config.rst
  test/test_importer.py
  test/ui/test_ui_importer.py
Due: format, format-docs

Fold new tracks into existing album despite singleton matches
  beets/importer/stages.py
  docs/reference/config.rst
  test/test_importer.py
Due: format, format-docs

Format docs
  docs/changelog.rst
  docs/reference/config.rst
Due: format-docs

docs: recommend artist/title duplicate keys when mb_trackid may be absent
  docs/reference/config.rst
Due: format-docs

Address review feedback on duplicate import actions
  beets/importer/session.py
  beets/importer/stages.py
  beets/importer/tasks.py
  beets/ui/commands/import_/session.py
  docs/changelog.rst
Due: format, format-docs

Catch within-run track duplicates via a session seen-key cache
  beets/importer/session.py
  beets/importer/stages.py
  test/test_importer.py
Due: format

Tolerate configs missing duplicate-track options
  beets/importer/session.py
  beets/importer/stages.py
Due: format

Redesign per-track duplicate resolution with integrated config and per-track decisions
  beets/config_default.yaml
  beets/importer/actions.py
  beets/importer/session.py
  beets/importer/stages.py
  beets/importer/tasks.py
  beets/ui/commands/import_/session.py
  docs/changelog.rst
  docs/reference/config.rst
  test/test_importer.py
  test/ui/test_ui_importer.py
Due: format, format-docs

Add fold action and fix track duplicate resolution
  beets/config_default.yaml
  beets/importer/session.py
  beets/importer/stages.py
  beets/importer/tasks.py
  beets/test/helper.py
  beets/ui/commands/import_/session.py
  docs/changelog.rst
  docs/reference/config.rst
  test/test_importer.py
Due: format, format-docs

Move duplicate_tracks changelog entry to Unreleased
  docs/changelog.rst
Due: format-docs

Trim duplicate-resolution comments
  beets/importer/session.py
  beets/importer/stages.py
  beets/importer/tasks.py
Due: format

titlecase: fix separator split when replace changes length
  beetsplug/titlecase.py
  docs/changelog.rst
  test/plugins/test_titlecase.py
Due: format, format-docs

Replace deprecated codecs.open() in edit and export
  beetsplug/edit.py
  beetsplug/export.py
  docs/changelog.rst
  test/plugins/test_edit.py
  test/plugins/test_export.py
Due: format, format-docs

docs: reflow changelog entry
  docs/changelog.rst
Due: format-docs

edit: add Back option to the edit Candidates prompt
  beetsplug/edit.py
  docs/changelog.rst
  test/plugins/test_edit.py
Due: format, format-docs

docs: shorten titlecase changelog entry
  docs/changelog.rst
Due: format-docs

absubmit: Handle invalid JSON from extractor
  beetsplug/absubmit.py
  docs/changelog.rst
Due: format, format-docs

Fix uniqueness cache reuse and invalidation
  beets/library/library.py
  beets/library/models.py
  test/test_library.py
Due: format

Added a reentrant lock to state.py to avoid race condition on concurrent state.pickle access
  beets/importer/state.py
Due: format

Added test for concurrent state.pickle access
  test/test_importer.py
Due: format

Added fix to changelog.rst
  docs/changelog.rst
Due: format-docs

Corrected line length, poe wasn't happy
  docs/changelog.rst
Due: format-docs
