Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

format:
  name: Format Python files
  entry: poe format
  language: system
  pass_filenames: true

format-docs:
  name: Format docs
  entry: poe format-docs
  language: system
  pass_filenames: true

Fix lyrics integration tests
  test/plugins/lyrics_pages.py
Due: format

typing: add missing core annotations
  beets/__init__.py
  beets/autotag/__init__.py
  beets/autotag/distance.py
  beets/autotag/match.py
  beets/context.py
  beets/dbcore/db.py
  beets/library/__init__.py
  beets/logging.py
  beets/metadata_plugins.py
  beets/plugins.py
  beets/test/_common.py
  beets/test/fixtures.py
  beets/test/helper.py
  beets/ui/__init__.py
  beets/ui/commands/__init__.py
  beets/ui/commands/completion.py
  beets/ui/commands/config.py
  beets/ui/commands/fields.py
  beets/ui/commands/help.py
  beets/ui/commands/list.py
  beets/ui/commands/modify.py
  beets/ui/commands/move.py
  beets/ui/commands/remove.py
  beets/ui/commands/stats.py
  beets/ui/commands/update.py
  beets/ui/commands/utils.py
  beets/ui/commands/write.py
  beets/util/config.py
  beets/util/extension.py
  beets/util/m3u.py
  beets/util/pipeline.py
  beets/util/units.py
Due: format

typing: fix annotations in bpd plugin
  beetsplug/bpd/__init__.py
  beetsplug/bpd/gstplayer.py
Due: format

remove: fix ui formatting and test it
  beets/ui/commands/remove.py
  test/ui/commands/test_remove.py
Due: format

typing: add annotations to API and export plugins
  beetsplug/aura.py
  beetsplug/export.py
  beetsplug/web/__init__.py
Due: format

typing: add annotations to mpdstats
  beetsplug/mpdstats.py
Due: format

Replace do_query with model-specific logic
  beets/ui/__init__.py
  beets/ui/commands/modify.py
  beets/ui/commands/move.py
  beets/ui/commands/remove.py
  beets/ui/commands/update.py
  beets/ui/commands/write.py
  beetsplug/edit.py
  test/ui/commands/test_move.py
  test/ui/commands/test_remove.py
  test/ui/commands/test_update.py
  test/ui/commands/test_utils.py
Due: format

typing: fix annotations in metadata source plugins
  beetsplug/_utils/musicbrainz.py
  beetsplug/acousticbrainz.py
  beetsplug/beatport.py
  beetsplug/chroma.py
  beetsplug/deezer.py
  beetsplug/listenbrainz.py
  beetsplug/mbsubmit.py
  beetsplug/spotify.py
  test/plugins/test_listenbrainz.py
Due: format

typing: add annotations to metadata source plugins
  beetsplug/_utils/musicbrainz.py
  beetsplug/_utils/requests.py
  beetsplug/acousticbrainz.py
  beetsplug/beatport.py
  beetsplug/chroma.py
  beetsplug/deezer.py
  beetsplug/discogs/__init__.py
  beetsplug/listenbrainz.py
  beetsplug/mbsubmit.py
  beetsplug/spotify.py
Due: format

typing: add annotations to bpd plugin
  beetsplug/bpd/__init__.py
  beetsplug/bpd/gstplayer.py
Due: format

modify: fix selecting objects
  beets/ui/commands/modify.py
  docs/changelog.rst
Due: format, format-docs

typing: fix API and export plugins
  beetsplug/aura.py
  beetsplug/export.py
  beetsplug/web/__init__.py
Due: format

typing: fix core annotations
  beets/autotag/distance.py
  beets/library/models.py
  beets/test/_common.py
  beets/test/fixtures.py
  beets/test/helper.py
  beets/ui/__init__.py
  beets/ui/commands/completion.py
  beets/ui/commands/help.py
  beets/ui/commands/import_/session.py
  beets/ui/commands/list.py
  beets/ui/commands/move.py
  beets/ui/commands/remove.py
  beets/ui/commands/update.py
  beets/ui/commands/utils.py
  beets/util/extension.py
  beets/util/m3u.py
  beetsplug/edit.py
  test/test_importer.py
Due: format

typing: fix annotations in mpdstats
  beetsplug/mpdstats.py
  test/plugins/test_mpdstats.py
Due: format

typing: add annotations to thumbnails
  beetsplug/thumbnails.py
Due: format

typing: fix annotations in thumbnails
  beetsplug/thumbnails.py
  test/plugins/test_thumbnails.py
Due: format

typing: add types to duplicates plugin
  beetsplug/duplicates.py
Due: format

typing: fix types and refactor duplicates plugin
  beetsplug/duplicates.py
Due: format

typing: configure flake8-annotations
  pyproject.toml
Due: none

typing: fix missing types in plugins
  beets/events.py
  beets/util/__init__.py
  beetsplug/absubmit.py
  beetsplug/advancedrewrite.py
  beetsplug/badfiles.py
  beetsplug/bareasc.py
  beetsplug/beatport.py
  beetsplug/bpsync.py
  beetsplug/bucket.py
  beetsplug/edit.py
  beetsplug/fish.py
  beetsplug/hook.py
  beetsplug/importadded.py
  beetsplug/info.py
  beetsplug/inline.py
  beetsplug/ipfs.py
  beetsplug/lastimport.py
  beetsplug/mbsync.py
  beetsplug/missing.py
  beetsplug/permissions.py
  beetsplug/play.py
  beetsplug/replaygain.py
  beetsplug/subsonicplaylist.py
  beetsplug/the.py
  test/plugins/test_badfiles.py
Due: format

typing: various consistency fixes
  beets/dbcore/query.py
  beets/library/library.py
  beets/library/models.py
  beets/ui/commands/import_/session.py
  beets/util/__init__.py
  beetsplug/autobpm.py
  beetsplug/random.py
  beetsplug/smartplaylist.py
Due: format

aura: fix filtering and sorting
  beetsplug/aura.py
  docs/changelog.rst
  test/plugins/test_aura.py
Due: format, format-docs

play: test play on import
  test/plugins/test_play.py
Due: format

typing: relax FieldTFuncs output type
  beets/dbcore/db.py
  beets/library/models.py
  beets/plugins.py
  beets/util/functemplate.py
  beetsplug/advancedrewrite.py
Due: format

Added rsgain ReplayGain backend and new max_peak configuration value.
  beetsplug/replaygain.py
  docs/plugins/replaygain.rst
  test/plugins/test_replaygain.py
  uv.lock
Due: format, format-docs

fix(tidal): respect search_limit configuration (#6770)
  beetsplug/tidal/__init__.py
  test/plugins/test_tidal.py
Due: format

fix(tidal): fix formatting and add branch coverage tests for search_limit
  beetsplug/tidal/__init__.py
  test/plugins/test_tidal.py
Due: format

Add missing commit from the previous PR to git blame ignores
  .git-blame-ignore-revs
Due: none

Test commands by CLI invocation
  test/ui/commands/test_fields.py
  test/ui/commands/test_import.py
  test/ui/commands/test_list.py
  test/ui/commands/test_move.py
  test/ui/commands/test_remove.py
  test/ui/commands/test_update.py
Due: format

Replace do_query with model-specific logic
  beets/ui/__init__.py
  beets/ui/commands/modify.py
  beets/ui/commands/move.py
  beets/ui/commands/remove.py
  beets/ui/commands/update.py
  beets/ui/commands/utils.py
  beets/ui/commands/write.py
  beetsplug/edit.py
  test/ui/commands/test_utils.py
Due: format

modify: fix selecting objects
  beets/ui/commands/modify.py
  docs/changelog.rst
  test/ui/commands/test_modify.py
Due: format, format-docs

move: fix moving albums in timid mode
  beets/ui/commands/move.py
  docs/changelog.rst
  test/ui/commands/test_move.py
Due: format, format-docs

docs: fix two dead external links
  docs/plugins/autobpm.rst
  docs/plugins/chroma.rst
Due: format-docs

library: skip saving files with unchanged tags
  beets/library/models.py
  beets/ui/commands/write.py
  docs/changelog.rst
  docs/dev/library.rst
  docs/dev/plugins/events.rst
  docs/reference/cli.rst
  docs/reference/config.rst
  test/test_library.py
  test/ui/commands/test_modify.py
Due: format, format-docs

library: pin the always-save of image writes with a test
  test/test_library.py
  test/test_plugins.py
Due: format

library: save files whose tags still need ID3 conversion
  beets/library/models.py
  docs/changelog.rst
  docs/dev/plugins/events.rst
  test/test_library.py
  test/test_plugins.py
  test/ui/commands/test_write.py
Due: format, format-docs

Path conditions:
  format: any of: .*.py
  format-docs: any of: .*.rst
