Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

format:
  name: Format Python files
  entry: poe format
  language: system
  pass_filenames: true

format-docs:
  name: Format docs
  entry: poe format-docs
  language: system
  pass_filenames: true

Extends the importer’s “fresh on reimport” lists so album flex metadata from new releases replaces stale values
  beetsplug/musicbrainz.py
  docs/changelog.rst
Due: format, format-docs

update imports
  beetsplug/musicbrainz.py
Due: format

Fixes an issue where empty metadata caused musicbrainz to crash beets.
  beets/autotag/match.py
  beets/metadata_plugins.py
  beets/ui/commands.py
  beetsplug/musicbrainz.py
  test/plugins/test_musicbrainz.py
Due: format

Added changelog entry.
  docs/changelog.rst
Due: format-docs

Fixed typing for discogs and beatport.
  beets/metadata_plugins.py
  beetsplug/beatport.py
  beetsplug/discogs.py
  beetsplug/musicbrainz.py
Due: format

play: Improve #4728 playlist marker docs
  docs/plugins/play.rst
Due: format-docs

play: Improve #4728 playlist marker test
  test/plugins/test_play.py
Due: format

fix spacing for "finding tags for" prompt
  beets/ui/commands.py
Due: format

Update configuration format.
  beetsplug/discogs.py
  docs/plugins/discogs.rst
  test/plugins/test_discogs.py
Due: format, format-docs

Update all functions with types
  beetsplug/discogs.py
Due: format

adding typechecks, need to fix the medium discrepancy
  beetsplug/discogs.py
Due: format

importhistory: Shorten comment reimport overwrite
  beetsplug/importhistory.py
Due: format

importhistory: Shorten comment about reimport event firing
  beetsplug/importhistory.py
Due: format

importhistory: Shorten comment about removal suggesting
  beetsplug/importhistory.py
Due: format

plugins: add importhistory
  beetsplug/importhistory.py
  docs/changelog.rst
  docs/plugins/importhistory.rst
  docs/plugins/index.rst
Due: format, format-docs

importhistory: Apply docstrfmt
  docs/plugins/importhistory.rst
Due: format-docs

importhistory: Fix deprecation
  beetsplug/importhistory.py
Due: format

importhistory: Fix deprecated logger syntax
  beetsplug/importhistory.py
Due: format

importfeeds: Fix CI failing tests (w/ importhistory plugin)
  beetsplug/importfeeds.py
  test/plugins/test_importhistory.py
Due: format

importhistory: Use path query instead of syspath
  test/plugins/test_importhistory.py
Due: format

test importhistory plugin
  test/plugins/test_importhistory.py
Due: format

importhistory: Apply sphinx-lint suggestions
  docs/plugins/importhistory.rst
Due: format-docs

importhistory: Use displayable_path utility
  beetsplug/importhistory.py
Due: format

importhistory: Shorten reimport info log msg
  beetsplug/importhistory.py
Due: format

importhistory: Small ruff suggestions
  beetsplug/importhistory.py
Due: format

importhistory: Check suggest_removal option first
  beetsplug/importhistory.py
Due: format

importhistory: Reimport check early continue
  beetsplug/importhistory.py
Due: format

importhistory: Config option docs format fix
  docs/plugins/importhistory.rst
Due: format-docs

importhistory: Shorten log msgs in suggest_removal
  beetsplug/importhistory.py
Due: format

importhistory: Fix config option docs
  docs/plugins/importhistory.rst
Due: format-docs

importhistory: Rewrite docs intro text
  docs/plugins/importhistory.rst
Due: format-docs

fix(metadata_plugins): add distance penalty when sources do not match
  beets/metadata_plugins.py
Due: format

Added type hints to all functions
  beetsplug/discogs.py
Due: format

type corrections
  beetsplug/discogs.py
Due: format

Path conditions:
  format: any of: .*.py
  format-docs: any of: .*.rst
