Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: format
        name: Format Python files
        entry: poe format
        language: system
        files: '.*.py'
        pass_filenames: true
      - id: format-docs
        name: Format docs
        entry: poe format-docs
        language: system
        files: '.*.rst'
        pass_filenames: true

Handle TEXT path values when migrating relative paths
  beets/library/migrations.py
  docs/changelog.rst
  test/library/test_migrations.py
Due: format, format-docs

Remove old cover art instead of keeping it
  beets/importer/tasks.py
  beets/library/models.py
  test/test_files.py
  test/test_importer.py
Due: format

Reproduce the issue
  test/test_files.py
  test/test_importer.py
Due: format

Add a note to the changelog
  docs/changelog.rst
Due: format-docs

lyrics: write synced LRC lyrics to SYLT ID3 frame
  beets/util/lyrics.py
  beetsplug/lyrics.py
  docs/changelog.rst
  docs/plugins/lyrics.rst
  test/plugins/test_lyrics.py
Due: format, format-docs

Fix formatting: resolve changelog merge conflict and remove extra blank line
  docs/changelog.rst
  test/plugins/test_lyrics.py
Due: format, format-docs

Fix docstrfmt line wrapping in changelog and lyrics docs
  docs/changelog.rst
  docs/plugins/lyrics.rst
Due: format-docs

Move SYLT changelog entry to Unreleased section
  docs/changelog.rst
Due: format-docs

fix(hooks): unmask cached_property AttributeError in AttrDict lookup
  beets/autotag/hooks.py
  test/autotag/test_hooks.py
Due: format

Address review: use XXX lang code, log save errors
  beetsplug/lyrics.py
  test/plugins/test_lyrics.py
Due: format

removed assert and removing default from lib
  beets/test/helper.py
Due: format

Fixed tests
  test/ui/commands/test_completion.py
  test/ui/test_ui.py
Due: format

Refactor library initialization to use consistent setup pattern
  beets/test/helper.py
  beets/ui/__init__.py
Due: format

Remove slow_test unittest marker
  CONTRIBUTING.rst
  beets/test/_common.py
  test/plugins/test_art.py
  test/plugins/test_convert.py
  test/plugins/test_edit.py
  test/test_dbcore.py
  test/test_importer.py
  test/test_logging.py
  test/ui/commands/test_completion.py
  test/ui/test_ui.py
Due: format, format-docs

Reformat py/rst, fix linting/formatting errors.
  docs/changelog.rst
  docs/faq.rst
  test/test_importer.py
Due: format, format-docs

Make test markers more varied. Cover more cases.
  test/test_importer.py
Due: format

Update changelog.
  docs/changelog.rst
Due: format-docs

Fix error in test.
  test/test_importer.py
Due: format

Add variety to suffixes in test. Add explicit test that 'CD01' and 'Enhanced CD02' should not be combined.
  test/test_importer.py
Due: format

Allow for vinyl (including 12 vinyl), cassette, and digital media multi-disc releases.
  beets/importer/tasks.py
  test/test_importer.py
Due: format

Make directories unique by using incrementing integer.
  test/test_importer.py
Due: format

Pre-compile relevant regex. Update documentation.
  beets/importer/tasks.py
  docs/faq.rst
  docs/guides/tagger.rst
Due: format, format-docs

Regression: issue with main entry raising an error if no default is given.
  beets/ui/__init__.py
Due: format

Use mediafile synced_lyrics field instead of _write_sylt_to_id3
  beetsplug/lyrics.py
  test/plugins/test_lyrics.py
Due: format

fix: ruff formatting and lint errors
  beetsplug/lyrics.py
  test/plugins/test_lyrics.py
Due: format

Fix labeler config
  .github/labeler.yaml
Due: none

Satisfy grug
  .github/labeler.yaml
Due: none

fix: Improve DBAccessError messages to guide users on permission/directory issues
  beets/dbcore/db.py
Due: format

library: add subtitle (id3 TIT3) field
  beets/library/fields.py
  beets/library/models.py
  docs/changelog.rst
  docs/reference/pathformat.rst
Due: format, format-docs

fix: keep LRC in DB, pass plain text to USLT via tags, bump mediafile to 0.17.0
  beetsplug/lyrics.py
  poetry.lock
  pyproject.toml
  test/plugins/test_lyrics.py
Due: format

fix: ruff line length
  test/plugins/test_lyrics.py
Due: format

Fix aunique path collisions after sanitization
  beets/library/models.py
  docs/changelog.rst
  test/test_library.py
Due: format, format-docs

Add a test to repro the issue
  test/plugins/test_discogs.py
Due: format

Keep unique ft artists
  beetsplug/discogs/states.py
  test/plugins/test_discogs.py
Due: format

Add a changelog note
  docs/changelog.rst
Due: format-docs

Allow empty checksums to deal with chocolatey CI failures
  .github/workflows/ci.yaml
Due: none

zero: treat images and art as aliases in keep_fields
  docs/changelog.rst
  test/plugins/test_zero.py
Due: format, format-docs

zero: fix ruff formatting
  beetsplug/zero.py
Due: format

Removed changelog entry until after review
  docs/changelog.rst
Due: format-docs

zero: updated comment
  beetsplug/zero.py
Due: format
