Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

format:
  name: Format Python files
  entry: poe format
  language: system
  pass_filenames: true

format-docs:
  name: Format docs
  entry: poe format-docs
  language: system
  pass_filenames: true

Replace ImporterMixin.import_dir attribute with ImporterMixin.import_path
  beets/test/helper.py
  test/plugins/test_permissions.py
  test/test_importer.py
  test/test_plugins.py
Due: format

Allow setting item.path = pathlib.Path()
  beets/dbcore/types.py
Due: format

Rename PathsMixin.temp_dir_path to PathsMixin.temp_path for consistency
  beets/test/helper.py
  test/plugins/test_art.py
  test/plugins/test_bpd.py
  test/plugins/test_convert.py
  test/plugins/test_hook.py
  test/plugins/test_importfeeds.py
  test/plugins/test_ipfs.py
  test/plugins/test_permissions.py
  test/plugins/test_playlist.py
  test/plugins/test_plugin_mediafield.py
  test/plugins/test_smartplaylist.py
  test/plugins/test_web.py
  test/test_files.py
  test/test_importer.py
  test/test_library.py
  test/test_util.py
  test/ui/commands/test_config.py
  test/ui/commands/test_import.py
  test/ui/commands/test_move.py
  test/ui/commands/test_update.py
  test/ui/test_ui.py
  test/ui/test_ui_init.py
Due: format

Replace TestHelper.libdir attribute with TestHelper.lib_path
  beets/test/helper.py
  test/plugins/test_art.py
  test/plugins/test_bpd.py
  test/plugins/test_importadded.py
  test/plugins/test_importsource.py
  test/test_files.py
  test/test_importer.py
  test/test_library.py
  test/ui/commands/test_move.py
  test/ui/commands/test_utils.py
Due: format

Add commits to blame ignore
  .git-blame-ignore-revs
Due: none

Make RSRC a pathlib.Path
  beets/test/_common.py
  beets/test/helper.py
  test/plugins/test_acousticbrainz.py
  test/plugins/test_art.py
  test/plugins/test_convert.py
  test/plugins/test_embedart.py
  test/plugins/test_metasync.py
  test/plugins/test_plugin_mediafield.py
  test/plugins/test_replace.py
  test/plugins/test_spotify.py
  test/plugins/test_web.py
  test/test_importer.py
  test/test_library.py
  test/ui/commands/test_completion.py
  test/ui/commands/test_update.py
  test/ui/commands/test_utils.py
  test/util/test_art_resize.py
  test/util/test_m3ufile.py
Due: format

Replace item.path with item.filepath in tests
  beets/util/__init__.py
  test/plugins/test_art.py
  test/plugins/test_aura.py
  test/plugins/test_duplicates.py
  test/plugins/test_embedart.py
  test/plugins/test_fetchart.py
  test/plugins/test_filefilter.py
  test/plugins/test_importadded.py
  test/plugins/test_info.py
  test/plugins/test_ipfs.py
  test/plugins/test_scrub.py
  test/test_files.py
  test/test_library.py
  test/ui/commands/test_move.py
  test/ui/commands/test_remove.py
  test/ui/commands/test_update.py
Due: format

Use pathlib.Path wherever possible in tests
  beets/test/_common.py
  beets/test/helper.py
  test/dbcore/test_db.py
  test/library/test_migrations.py
  test/plugins/test_convert.py
  test/plugins/test_embedart.py
  test/plugins/test_hook.py
  test/plugins/test_importadded.py
  test/plugins/test_importfeeds.py
  test/plugins/test_importsource.py
  test/plugins/test_info.py
  test/plugins/test_smartplaylist.py
  test/plugins/test_thumbnails.py
  test/plugins/test_web.py
  test/rsrc/convert_stub.py
  test/test_files.py
  test/test_importer.py
  test/test_library.py
  test/test_util.py
  test/testall.py
  test/ui/commands/test_completion.py
  test/ui/commands/test_config.py
  test/ui/test_ui.py
  test/util/test_hidden.py
  test/util/test_m3ufile.py
Due: format

Return Path from TestHelper.create_mediafile_fixture
  beets/test/helper.py
  test/plugins/test_info.py
Due: format

docs: mention terminal emulator for Windows
  docs/changelog.rst
  docs/guides/installation.rst
Due: format-docs

run docstrfmt on installation.rst
  docs/guides/installation.rst
Due: format-docs

Fix upgrade action when multiple old tracks share a duplicate key
  beets/importer/tasks.py
  test/test_importer.py
Due: format

Fix tar/7z archive import crashing with missing infolist() attribute
  beets/importer/tasks.py
  test/test_importer.py
Due: format

Fix ipfs plugin crash cleaning up a single-file download
  beetsplug/ipfs.py
  test/plugins/test_ipfs.py
Due: format

Catch UnicodeDecodeError from malformed terminal input
  beets/ui/__init__.py
  test/ui/test_ui_init.py
Due: format

lyrics: normalize missing lyrics body in from_item
  beets/util/lyrics.py
  test/util/test_lyrics.py
Due: format

importer: type archive handlers with a Protocol instead of Any
  beets/importer/tasks.py
Due: format

importer: fix tar and 7z archive import (#5664)
  beets/importer/tasks.py
  docs/changelog.rst
  test/test_importer.py
Due: format, format-docs

fetchart: Fix downloading pre-sized thumbnails from CAA
  beetsplug/fetchart.py
Due: format

Resolve upgrade target per-album when duplicates span multiple albums
  beets/importer/stages.py
  beets/importer/tasks.py
  docs/reference/config.rst
  test/test_importer.py
Due: format, format-docs

lint
  beets/importer/tasks.py
Due: format

docs: mention terminal emulator for Windows (#6866)
  docs/changelog.rst
  docs/guides/installation.rst
Due: format-docs

improve 503 error handling
  beetsplug/spotify.py
Due: format

improve 503 error handling
  beetsplug/spotify.py
  docs/changelog.rst
Due: format, format-docs

Add changelog
  docs/changelog.rst
Due: format-docs

ruff check
  beetsplug/spotify.py
Due: format

Update deps
  uv.lock
Due: none

fix: do not delete .mp3 file remuxed from MPEGLAYER3 WAV
  beets/util/extension.py
  docs/changelog.rst
  test/test_importer.py
Due: format, format-docs

docs: fix changelog to have single entry for editor config option
  docs/changelog.rst
Due: format-docs

style: apply ruff formatting to util/__init__.py
  beets/util/__init__.py
Due: format

docs: apply docstrfmt formatting to changelog
  docs/changelog.rst
Due: format-docs

feat: add editor config option to editor_command()
  beets/util/__init__.py
Due: format

style: apply ruff formatting
  beets/util/__init__.py
Due: format

docs: add changelog entry for editor config option
  docs/changelog.rst
Due: format-docs

Fix invariant list typedefs
  beetsplug/fetchart.py
Due: format

Update deps
  pyproject.toml
  uv.lock
Due: none

Fix yoda typedefs
  beetsplug/deezer.py
  beetsplug/fetchart.py
  beetsplug/spotify.py
  test/plugins/test_art.py
Due: format

Ignore last commit from blame
  .git-blame-ignore-revs
Due: none

Path conditions:
  format: any of: .*.py
  format-docs: any of: .*.rst
