Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

format:
  name: Format Python files
  entry: poe format
  language: system
  pass_filenames: true

format-docs:
  name: Format docs
  entry: poe format-docs
  language: system
  pass_filenames: true

Add OS labels to issue auto-labeler
  .github/labeler.yaml
Due: none

Mark letras.mus.br lyrics test as xfail on CI
  test/plugins/lyrics_pages.py
Due: format

Escape ambiguous paths in import logs
  beets/importer/session.py
  beets/ui/commands/import_/__init__.py
  docs/changelog.rst
  docs/reference/cli.rst
  test/ui/commands/test_import.py
Due: format, format-docs

Allow platform-specific wording for ambiguous log paths
  test/ui/commands/test_import.py
Due: format

Add a regression test for hyphenated bash completion names
  test/ui/commands/test_completion.py
Due: format

Fix changelog formatting
  docs/changelog.rst
Due: format-docs

subsonicupdate: add a command to trigger scans manually
  beetsplug/subsonicupdate.py
  docs/changelog.rst
  docs/plugins/subsonicupdate.rst
  test/plugins/test_subsonicupdate.py
Due: format, format-docs

fix formatting
  docs/plugins/subsonicupdate.rst
  test/plugins/test_subsonicupdate.py
Due: format, format-docs

web: resolve relative paths in file and art endpoints (#7063)
  beetsplug/web/__init__.py
  docs/changelog.rst
  test/plugins/test_web.py
Due: format, format-docs

lyrics: handle trailing blank lines when verifying synced lyrics (#7070)
  beetsplug/lyrics.py
  docs/changelog.rst
  test/plugins/test_lyrics.py
Due: format, format-docs

embedart: test normalize without maxwidth
  test/plugins/test_embedart.py
Due: format

embedart: fix formatting in tests
  test/plugins/test_embedart.py
Due: format

mbsubmit: sort printed tracks by disc then track
  beetsplug/mbsubmit.py
  test/plugins/test_mbsubmit.py
Due: format

Fix condition check for task.rec in before_choose_candidate_event
  beetsplug/mbsubmit.py
Due: format

Update mbsubmit plugin prompts for missing matches
  docs/changelog.rst
Due: format-docs

Implement test for no recommendation scenario
  test/plugins/test_mbsubmit.py
Due: format

Remove unnecessary blank line in test_mbsubmit.py
  test/plugins/test_mbsubmit.py
Due: format

Implement test for recommendation threshold behavior
  test/plugins/test_mbsubmit.py
Due: format

ui: gate import change normalization behind config option
  beets/config_default.yaml
  beets/ui/commands/import_/display.py
  docs/changelog.rst
  docs/reference/config.rst
  test/ui/commands/test_import.py
Due: format, format-docs

Refactor tests in test_subsonicupdate.py to use requests_mock instead of responses for HTTP requests
  test/plugins/test_subsonicupdate.py
Due: format

Add type hint for CLI options and improve argument handling in subsonicupdate command
  beetsplug/subsonicupdate.py
  test/plugins/test_subsonicupdate.py
Due: format

Configure xdist
  CONTRIBUTING.rst
  pyproject.toml
  setup.cfg
  test/conftest.py
  uv.lock
Due: format, format-docs

Add stable param IDs to test_intervals
  test/dbcore/test_datequery.py
Due: format

Isolate path query test data per test
  test/dbcore/test_query.py
Due: format

test: reset shared configuration state between tests
  test/conftest.py
  test/dbcore/test_sort.py
  test/plugins/test_musicbrainz.py
  test/test_util.py
Due: format

Unload plugins at the end of each test
  test/conftest.py
Due: format

test: reset config in ConfigTest teardown after a failed BEETSDIR read
  test/plugins/test_discogs.py
  test/ui/test_ui.py
Due: format

Add pytest-randomly
  CONTRIBUTING.rst
  pyproject.toml
  uv.lock
Due: format-docs

Test plugins in isolated subprocess rather than current interpreter
  beetsplug/playlist.py
  test/test_plugins.py
Due: format

replaygain: separate out r128 tests into a mixin to clarify which backends are tested
  test/plugins/test_replaygain.py
Due: format

Fix hook Windows support and enable related tests
  beetsplug/hook.py
  docs/changelog.rst
  docs/plugins/hook.rst
  test/plugins/test_hook.py
Due: format, format-docs

Remove TestImportPasswordRar test
  test/test_importer.py
Due: format

Fix play Windows support and enable tests
  beetsplug/play.py
  docs/changelog.rst
  docs/plugins/play.rst
  test/plugins/test_play.py
Due: format, format-docs

Implement empty_component_replace config option
  beets/config_default.yaml
  beets/util/__init__.py
  docs/changelog.rst
  docs/reference/config.rst
  test/test_library.py
  test/test_util.py
Due: format, format-docs

Add support for multiple --config files and unskip tests
  beets/ui/__init__.py
  beets/ui/commands/config.py
  docs/changelog.rst
  docs/reference/cli.rst
  docs/reference/config.rst
  test/ui/test_ui.py
Due: format, format-docs

Enable reflink tests on Ubuntu
  .github/workflows/ci.yaml
  beets/test/helper.py
Due: format

artresizer: always run test_art_resize tests
  .github/workflows/ci.yaml
  beets/util/artresizer.py
  docs/changelog.rst
  test/util/test_art_resize.py
Due: format, format-docs

Move sanitize_path tests to TestSanitizePath
  test/test_util.py
Due: format

ui: always run tests that need bash-completion
  .github/workflows/ci.yaml
  beets/ui/commands/completion.py
  test/rsrc/test_completion.sh
  test/ui/commands/test_completion.py
Due: format

windows: do not skip test when hiding file fails
  test/util/test_hidden.py
Due: format

Path conditions:
  format: any of: .*.py
  format-docs: any of: .*.rst
