Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

format:
  name: Format Python files
  entry: poe format
  language: system
  pass_filenames: true

format-docs:
  name: Format docs
  entry: poe format-docs
  language: system
  pass_filenames: true

Fix changelog formatting
  docs/changelog.rst
Due: format-docs

Store item paths relative to library directory
  beets/library/models.py
  beetsplug/ipfs.py
  test/test_files.py
  test/test_library.py
  test/ui/commands/test_list.py
  test/ui/test_ui.py
Due: format

Add ability to set temporary music dir context for ipfs
  beets/context.py
  beets/library/library.py
  beetsplug/ipfs.py
  test/plugins/test_ipfs.py
Due: format

Fix path tests on Windows
  test/test_library.py
  test/test_query.py
  test/test_sort.py
Due: format

Store paths relative to music dir in DB, expand on read
  beets/dbcore/pathutils.py
  beets/dbcore/query.py
  beets/dbcore/types.py
  beets/library/models.py
  beets/util/pipeline.py
  beetsplug/replaygain.py
  test/test_library.py
  test/test_query.py
Due: format

Update docs
  docs/dev/paths.rst
  docs/reference/query.rst
Due: format-docs

Use context to share music_dir
  beets/context.py
  beets/library/library.py
  beets/library/models.py
  beets/util/__init__.py
  test/plugins/test_ipfs.py
  test/test_query.py
Due: format

Migrate item/album paths to relative storage
  beets/dbcore/db.py
  beets/library/library.py
  beets/library/migrations.py
  test/library/test_migrations.py
Due: format

Fix paths for Windows
  beets/dbcore/pathutils.py
  beets/library/models.py
  test/library/test_migrations.py
  test/plugins/test_ipfs.py
  test/test_library.py
Due: format

Add changelog note
  docs/changelog.rst
Due: format-docs

Update docs
  docs/changelog.rst
  docs/reference/cli.rst
  docs/reference/pathformat.rst
  docs/reference/query.rst
Due: format-docs

Generalise multi-value migrations
  beets/library/migrations.py
Due: format

Set remixers in musicbrainz
  beetsplug/musicbrainz.py
Due: format

Generalise getting list value from list value in Info
  beets/autotag/hooks.py
  test/autotag/test_hooks.py
Due: format

Migrate remixer to remixers
  beets/dbcore/types.py
  beets/library/library.py
  beets/library/migrations.py
  beets/library/models.py
  test/library/test_migrations.py
Due: format

Update mediafile
  poetry.lock
  pyproject.toml
Due: none

Handle remixer str value in Info
  beets/autotag/hooks.py
  beetsplug/musicbrainz.py
Due: format

Add migration for lyricists list field
  beets/library/library.py
  beets/library/migrations.py
  beets/library/models.py
  test/library/test_migrations.py
Due: format

Test both genre/s and remixer/s handling in TrackInfo/AlbumInfo
  test/autotag/test_hooks.py
Due: format

Handle single lyricist in TrackInfo
  beets/autotag/hooks.py
  test/autotag/test_hooks.py
Due: format

Migrate composer -> composers
  beets/autotag/hooks.py
  beets/library/library.py
  beets/library/migrations.py
  beets/library/models.py
  beets/test/_common.py
  beetsplug/aura.py
  beetsplug/bpd/__init__.py
  beetsplug/musicbrainz.py
  docs/changelog.rst
  docs/reference/cli.rst
  docs/reference/pathformat.rst
  docs/reference/query.rst
  test/autotag/test_hooks.py
  test/library/test_migrations.py
  test/plugins/test_musicbrainz.py
  test/test_library.py
Due: format, format-docs

Set lyricists in musicbrainz
  beetsplug/musicbrainz.py
Due: format

Use __setattr__ to handle setting legacy string fields
  beets/autotag/hooks.py
  test/autotag/test_hooks.py
  test/plugins/test_musicbrainz.py
Due: format

Added comments to ensure_first_value, stored lowercase value in variable, improved join detection with all() and len check, simplified test case, restored changelog sections
  beets/autotag/hooks.py
  docs/changelog.rst
  test/autotag/test_hooks.py
Due: format, format-docs

Also created a variable for set(map(str.lower, list_val))
  beets/autotag/hooks.py
Due: format

autobpm: Options force,quite and deprecate overwrite
  beetsplug/autobpm.py
  docs/plugins/autobpm.rst
Due: format, format-docs

Changelog for #6481 autobpm force,quiet options
  docs/changelog.rst
Due: format-docs

autobpm: Test force, quiet, overwrite fallback
  test/plugins/test_autobpm.py
Due: format

Remove redundant and fix tests for confuse refactor
  test/plugins/test_lastgenre.py
Due: format

lastgenre: Dedup finding correct artist attr
  beetsplug/lastgenre/__init__.py
Due: format

Update docs for yaml refactor
  docs/plugins/lastgenre.rst
Due: format-docs

lastgenre: Dedup fallback handling in _get_genre
  beetsplug/lastgenre/__init__.py
Due: format

lastgenre: Genre ignorelist based on artist
  beetsplug/lastgenre/__init__.py
  beetsplug/lastgenre/client.py
  beetsplug/lastgenre/utils.py
  docs/plugins/lastgenre.rst
Due: format, format-docs

lastgenre: Refactor ignorelist to yaml
  beetsplug/lastgenre/__init__.py
  test/plugins/test_lastgenre.py
Due: format

lastgenre: Tests for genre ignorelist feature
  test/plugins/test_lastgenre.py
Due: format

lastgenre: Drop ignored helper
  beetsplug/lastgenre/__init__.py
  beetsplug/lastgenre/client.py
  beetsplug/lastgenre/utils.py
Due: format

Simplify longish multivalued albumartist test
  test/plugins/test_lastgenre.py
Due: format

lastgenre: Load ignorelist with confuse mapping template
  beetsplug/lastgenre/__init__.py
Due: format

Path conditions:
  format: any of: .*.py
  format-docs: any of: .*.rst
