Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: format
        name: Format Python files
        entry: poe format
        language: system
        files: '.*.py'
        pass_filenames: true
      - id: format-docs
        name: Format docs
        entry: poe format-docs
        language: system
        files: '.*.rst'
        pass_filenames: true

fix(replaygain): clear conflicting tags on write
  beetsplug/replaygain.py
  docs/changelog.rst
  test/plugins/test_replaygain.py
Due: format, format-docs

fetchart: gracefully handle filesystem errors when setting album art
  beetsplug/fetchart.py
Due: format

docs: add changelog entry for fetchart filesystem error fix
  docs/changelog.rst
Due: format-docs

docs: add changelog entry for fetchart fix
  docs/changelog.rst
Due: format-docs

test: add test for fetchart FilesystemError handling
  test/plugins/test_fetchart.py
Due: format

Make patterns case insensitive
  .github/labeler.yaml
Due: none

fix(deezer): use artist ID to detect Various Artists releases
  beetsplug/deezer.py
  docs/changelog.rst
Due: format, format-docs

fix(autotag): only write mb_* fields when data source is MusicBrainz
  beets/autotag/__init__.py
Due: format

discogs: swap style and genre
  beetsplug/discogs/__init__.py
  test/plugins/test_discogs.py
Due: format

Update docs
  docs/changelog.rst
  docs/plugins/discogs.rst
Due: format-docs

Ensure artist IDs are strings in deezer
  beetsplug/deezer.py
  docs/changelog.rst
Due: format, format-docs

Handle legacy fields in modify and queries
  beets/autotag/hooks.py
  beets/library/models.py
  beets/ui/commands/modify.py
  beets/util/deprecation.py
  test/autotag/test_hooks.py
  test/test_query.py
  test/ui/commands/test_modify.py
Due: format

Update docs
  docs/changelog.rst
  docs/reference/cli.rst
Due: format-docs

fix(fetchart): sources definition
  beets/util/config.py
  beetsplug/fetchart.py
  docs/changelog.rst
  test/plugins/test_fetchart.py
  test/util/test_config.py
Due: format, format-docs

ListenBrainz: aggregate play counts and improve pagination logic
  beetsplug/listenbrainz.py
  test/plugins/test_listenbrainz.py
Due: format

add changelog
  docs/changelog.rst
Due: format-docs

lint
  beetsplug/listenbrainz.py
  test/plugins/test_listenbrainz.py
Due: format

lint
  docs/changelog.rst
Due: format-docs

lint
  beetsplug/listenbrainz.py
Due: format

address reviewer comments
  beetsplug/listenbrainz.py
  test/plugins/test_listenbrainz.py
Due: format

listenbrainz: respect X-RateLimit headers during pagination
  beetsplug/listenbrainz.py
Due: format

feat(fetchart): add support for webp files
  beetsplug/fetchart.py
  docs/changelog.rst
  docs/plugins/fetchart.rst
  test/plugins/test_fetchart.py
Due: format, format-docs

listenbrainz: add --max option and drop per-listen MB lookups
  beetsplug/listenbrainz.py
  test/plugins/test_listenbrainz.py
Due: format

playcount: log progress every 250 tracks during processing
  beetsplug/_utils/playcount.py
Due: format

playcount: batch all store() calls in a single transaction
  beetsplug/_utils/playcount.py
Due: format

listenbrainz: update changelog to clarify MB lookup removal
  docs/changelog.rst
Due: format-docs

fix(mbpseudo): override raw_data to avoid TypeError on apply
  beetsplug/mbpseudo.py
  test/plugins/test_mbpseudo.py
Due: format

fix(mbpseudo): update match mapping instead of storing on AlbumInfo
  beetsplug/mbpseudo.py
Due: format

fix(mbpseudo): add regression test for fix and changelog
  docs/changelog.rst
  test/plugins/test_mbpseudo.py
Due: format, format-docs

Import MusicBrainz composer/lyricist/arranger ids
  beets/autotag/hooks.py
  beets/library/models.py
  beetsplug/musicbrainz.py
Due: format

Add remixer ids and merge recording artist relations query
  beetsplug/musicbrainz.py
Due: format

Add changelog
  docs/changelog.rst
Due: format-docs

Fix tests
  test/plugins/test_musicbrainz.py
Due: format

Address review feedback
  beets/autotag/hooks.py
  docs/changelog.rst
Due: format, format-docs

Do not delete the genres tag when musicbrainz.genres is False.
  beetsplug/mbsync.py
  docs/changelog.rst
  docs/plugins/mbsync.rst
  test/plugins/test_mbsync.py
Due: format, format-docs

fix(chroma): throttle fingerprint submits
  beetsplug/chroma.py
  docs/changelog.rst
Due: format, format-docs

Address further review feedback
  beets/autotag/hooks.py
  beets/library/models.py
  docs/changelog.rst
Due: format, format-docs

Address further review feedback
  beets/autotag/hooks.py
Due: format

lastgenre: Tests for genre ignorelist feature
  test/plugins/test_lastgenre.py
Due: format

lastgenre: Genre ignorelist based on artist
  beetsplug/lastgenre/__init__.py
  beetsplug/lastgenre/client.py
  beetsplug/lastgenre/utils.py
Due: format
