Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

format:
  name: Format Python files
  entry: poe format
  language: system
  pass_filenames: true

format-docs:
  name: Format docs
  entry: poe format-docs
  language: system
  pass_filenames: true

library: save the removal of a tag holding only empty values
  beets/library/models.py
  test/test_library.py
Due: format

importadded: note that a skipped write leaves the mtime alone
  docs/plugins/importadded.rst
Due: format-docs

library: skip saving files with unchanged tags
  beets/library/models.py
  beets/ui/commands/write.py
  docs/changelog.rst
  docs/dev/library.rst
  docs/dev/plugins/events.rst
  docs/reference/cli.rst
  docs/reference/config.rst
  test/test_library.py
  test/ui/commands/test_modify.py
Due: format, format-docs

library: test that a foreign-path write always saves
  test/test_library.py
Due: format

importadded: wrap the note the way the docs check wants
  docs/plugins/importadded.rst
Due: format-docs

library: record the compared mtime when skipping a save
  beets/library/models.py
Due: format

library: save files whose tags still need ID3 conversion
  beets/library/models.py
  docs/changelog.rst
  docs/dev/plugins/events.rst
  test/test_library.py
  test/test_plugins.py
  test/ui/commands/test_write.py
Due: format, format-docs

test: update TestWrite/TestWriteTags to the pathlib helper API
  test/test_library.py
  test/ui/commands/test_modify.py
Due: format

library: pin the always-save of image writes with a test
  test/test_library.py
  test/test_plugins.py
Due: format

docs: move changelog entries to Unreleased section
  docs/changelog.rst
Due: format-docs

Migrate art functionalities to use pathlib.Path
  beets/importer/tasks.py
  beets/library/exceptions.py
  beets/library/library.py
  beets/library/models.py
  beets/test/_common.py
  beets/util/__init__.py
  beets/util/artresizer.py
  beetsplug/_utils/art.py
  beetsplug/convert.py
  beetsplug/embedart.py
  beetsplug/fetchart.py
  beetsplug/play.py
  beetsplug/thumbnails.py
  docs/changelog.rst
  pyproject.toml
  test/plugins/test_art.py
  test/plugins/test_play.py
  test/plugins/test_thumbnails.py
  test/test_files.py
  uv.lock
Due: format, format-docs

Add tests for regressions
  test/plugins/test_art.py
  test/plugins/test_embedart.py
Due: format

And a small fetchart refactor
  beetsplug/fetchart.py
  docs/changelog.rst
Due: format, format-docs

Remove dependency on pyxdg in thumbnails
  beetsplug/thumbnails.py
  pyproject.toml
  uv.lock
Due: format

Refactor test_art_resize.py
  test/util/test_art_resize.py
Due: format

Preserve legacy path types in art resizing
  beets/util/__init__.py
  beets/util/artresizer.py
  beets/util/extension.py
  beetsplug/_utils/art.py
  docs/changelog.rst
  test/util/test_art_resize.py
Due: format, format-docs

Fix changelog
  docs/changelog.rst
Due: format-docs

Fixed - Issue-7056 FileNotFoundError when path has invalid character
  beetsplug/permissions.py
  test/plugins/test_permissions.py
Due: format

fix: improve DB open errors for permission failures
  beets/ui/__init__.py
  docs/changelog.rst
  test/ui/test_ui_init.py
Due: format, format-docs

test: parametrize open-library permissions error cases
  beets/test/ui/test_ui_init.py
Due: format

test: parametrize open-library permissions cases in correct path
  beets/test/ui/test_ui_init.py
  test/ui/test_ui_init.py
Due: format

lastgenre: Improve original fallback stage
  beetsplug/lastgenre/__init__.py
  test/plugins/test_lastgenre.py
Due: format

Changelog for lastgenre #6890 original fallback
  docs/changelog.rst
Due: format-docs

lastgenre: Refactor aliases and ignorelist tests
  test/plugins/test_lastgenre.py
Due: format

lastgenre: Add Original Genre Fallback chapter
  docs/plugins/lastgenre.rst
Due: format-docs

Delegate Match validation to Match subclasses
  beets/autotag/hooks.py
  beets/autotag/match.py
  beets/ui/commands/import_/display.py
Due: format

Refactor autotag matching around candidate collections
  beets/autotag/__init__.py
  beets/autotag/match.py
  beets/importer/tasks.py
  beets/ui/commands/import_/display.py
  beets/ui/commands/import_/session.py
  beetsplug/bench.py
  beetsplug/mbsubmit.py
  test/autotag/test_match.py
  test/plugins/test_mbpseudo.py
Due: format

Refactor reimport metadata flow across import task types
  beets/importer/tasks.py
Due: format

Rename ImportSession.choose_match -> ImportSession.choose_album
  beets/importer/session.py
  beets/importer/tasks.py
  beets/test/helper.py
  beets/ui/commands/import_/session.py
Due: format

Make ImportTask.cleanup own the import config
  beets/importer/tasks.py
  test/test_importer.py
Due: format

Simplify is_album logic
  beets/importer/tasks.py
  beets/ui/commands/import_/session.py
  beetsplug/fetchart.py
  beetsplug/ipfs.py
  beetsplug/lastgenre/__init__.py
  beetsplug/mbcollection.py
  beetsplug/replaygain.py
  test/plugins/test_art.py
  test/plugins/test_fromfilename.py
Due: format

Clean up archive imports during finalize
  beets/importer/stages.py
  beets/importer/tasks.py
  test/test_importer.py
Due: format

Create a module for candidates
  beets/autotag/__init__.py
  beets/autotag/candidates.py
  beets/autotag/match.py
  test/autotag/test_candidates.py
  test/autotag/test_match.py
Due: format

Replace has_program with shutil.which
  beets/test/helper.py
  test/plugins/test_art.py
  test/plugins/test_replaygain.py
  test/test_importer.py
  test/ui/commands/test_completion.py
Due: format

Use Path.as_posix()
  beets/util/__init__.py
  test/test_util.py
Due: format

lastgenre: raise UserError for an empty whitelist or canonical setting
  beetsplug/lastgenre/__init__.py
  docs/changelog.rst
  test/plugins/test_lastgenre.py
Due: format, format-docs

Use replace
  beets/util/__init__.py
  test/test_util.py
Due: format

Add changelog
  docs/changelog.rst
Due: format-docs

web: resolve relative item paths against the library directory (#7063)
  beetsplug/web/__init__.py
  docs/changelog.rst
  test/plugins/test_web.py
Due: format, format-docs

Path conditions:
  format: any of: .*.py
  format-docs: any of: .*.rst
