Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: format
        name: Format Python files
        entry: poe format
        language: system
        files: '.*.py'
        pass_filenames: true
      - id: format-docs
        name: Format docs
        entry: poe format-docs
        language: system
        files: '.*.rst'
        pass_filenames: true

Increment version to 2.12.0
  beets/__init__.py
  docs/changelog.rst
  docs/conf.py
  pyproject.toml
Due: format, format-docs

docs: remove deprecated acousticbrainz, absubmit, and beatport plugins
  docs/plugins/absubmit.rst
  docs/plugins/acousticbrainz.rst
  docs/plugins/beatport.rst
  docs/plugins/index.rst
Due: format-docs

Removed no output test and simplified assert logic
  test/plugins/test_lyrics.py
Due: format

Moved rest_directory changelog back to Unreleased section
  docs/changelog.rst
Due: format-docs

fix(importfeeds): keep import going when a symlink can't be created
  beetsplug/importfeeds.py
  test/plugins/test_importfeeds.py
Due: format

docs(changelog): add entry for importfeeds symlink fix (#840)
  docs/changelog.rst
Due: format-docs

Move duplicate_track_resolution changelog entry to Unreleased
  docs/changelog.rst
Due: format-docs

fix(library): don't propagate album artpath to items
  beets/library/library.py
  beets/library/migrations.py
  beets/library/models.py
  docs/changelog.rst
  test/library/test_migrations.py
  test/test_library.py
Due: format, format-docs

fixup! fix(library): don't propagate album artpath to items
  test/library/test_migrations.py
Due: format

fixup! fix(library): don't propagate album artpath to items
  docs/changelog.rst
Due: format-docs

lrclib: skip tracks where both plainLyrics and syncedLyrics are null
  beets/util/lyrics.py
  beetsplug/lyrics.py
  test/plugins/test_lyrics.py
Due: format

fixup! fix(library): don't propagate album artpath to items
  test/test_library.py
Due: format

convert: skip missing album art instead of crashing
  beetsplug/convert.py
  docs/changelog.rst
  test/plugins/test_convert.py
Due: format, format-docs

Remove whitespace
  docs/changelog.rst
Due: format-docs

[beetsplug/convert] Fix linting error Ruff (E501)
  beetsplug/convert.py
Due: format

Implement the convert.refresh configuration option
  beetsplug/convert.py
Due: format

Fix convert documentation paragraph order
  docs/plugins/convert.rst
Due: format-docs

Implement the --refresh/-r command line option for convert's new feature
  beetsplug/convert.py
Due: format

Update documentation according for new convert --refresh option
  docs/plugins/convert.rst
Due: format-docs

Implement the refresh behavior for convert command
  beetsplug/convert.py
Due: format

Update the changlog for new convert --refresh option
  docs/changelog.rst
Due: format-docs

refactor(convert.py): simplify logic and redundant function
  beetsplug/convert.py
Due: format

[beetsplug/convert] Run ruff format
  beetsplug/convert.py
Due: format

refactor(convert): factorize multiple logic tests
  beetsplug/convert.py
Due: format

[beetsplug/convert] Fix linting error trailing whitespace
  beetsplug/convert.py
Due: format

refactor(convert.py): remove uneeded util.syspath() calls
  beetsplug/convert.py
Due: format

style(convert.py): no newline
  beetsplug/convert.py
Due: format

style(convert.py): fix ruff complain
  beetsplug/convert.py
Due: format

style(convert): Consistent usage of original vs. item.path variables
  beetsplug/convert.py
Due: format

style(convert): Harmonize logging message when using pretend for refresh feature
  beetsplug/convert.py
Due: format

refactor(convert): Better logic to handle both refresh and keep_new features
  beetsplug/convert.py
Due: format

fix(convert.py): fix missing syntax + format using ruff
  beetsplug/convert.py
Due: format

docs(changelog): move --refresh entry in next release section
  docs/changelog.rst
Due: format-docs

chore(convert): Poe format
  beetsplug/convert.py
Due: format

refactor(convert): Merge redundant checks
  beetsplug/convert.py
Due: format

chore(changelog): Lint
  docs/changelog.rst
Due: format-docs

fix(convert): Get default value for refresh from config
  beetsplug/convert.py
Due: format

style(convert): Simplify logic
  beetsplug/convert.py
Due: format

fix(convert): continue -> return
  beetsplug/convert.py
Due: format

chore(docs): Format convert
  docs/plugins/convert.rst
Due: format-docs
