Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: format
        name: Format Python files
        entry: poe format
        language: system
        files: '.*.py'
        pass_filenames: true
      - id: format-docs
        name: Format docs
        entry: poe format-docs
        language: system
        files: '.*.rst'
        pass_filenames: true

Reorganise tests
  test/plugins/test_musicbrainz.py
Due: format

Remove redundant artist credit test
  test/plugins/test_musicbrainz.py
Due: format

Add a single data-driven recording test
  test/plugins/test_musicbrainz.py
Due: format

Use url to override lyrics
  beetsplug/lyrics.py
Due: format

fix rebase conflicts and restore synced protection logic
  beetsplug/lyrics.py
Due: format

fixed formatting
  beetsplug/lyrics.py
Due: format

Address reviewer comments
  beets/library/migrations.py
  beets/util/__init__.py
  beetsplug/spotify.py
  docs/changelog.rst
  test/plugins/test_spotify.py
Due: format, format-docs

lint
  beetsplug/spotify.py
  docs/changelog.rst
  test/plugins/test_spotify.py
Due: format, format-docs

simplify
  beets/util/__init__.py
  beetsplug/spotify.py
Due: format

more lint
  beets/util/__init__.py
  beetsplug/spotify.py
Due: format

Remove archive on import during move mode
  beets/importer/tasks.py
  docs/changelog.rst
  test/test_importer.py
Due: format, format-docs

Update docs for archive deletion on move
  beets/importer/tasks.py
  docs/reference/cli.rst
  docs/reference/config.rst
Due: format, format-docs

Add alias on artist credit release and track
  beetsplug/musicbrainz.py
  test/plugins/factories/musicbrainz.py
  test/plugins/test_musicbrainz.py
Due: format

Add changelog
  docs/changelog.rst
Due: format-docs

Update docstring
  beetsplug/musicbrainz.py
Due: format

No condition in tests
  test/plugins/test_musicbrainz.py
Due: format

Address reviewer comments and update related tests
  beetsplug/spotify.py
  test/plugins/test_spotify.py
Due: format

Parallelize candidate lookup for metadata plugins.
  beets/metadata_plugins.py
  docs/changelog.rst
Due: format, format-docs

Minified comments and materialize iterators
  beets/metadata_plugins.py
  docs/changelog.rst
Due: format, format-docs

Centralise field definitions
  beets/library/fields.py
  beets/library/models.py
Due: format

Simplify Album.item_keys
  beets/library/models.py
Due: format

Fix coverage measurement
  pyproject.toml
  setup.cfg
Due: none

Revise cleanup docstring for PEP-257
  beets/importer/tasks.py
Due: format

Fix XSS by using escaped template tags in web UI
  beetsplug/web/templates/index.html
Due: none

Add a note to the changelog
  docs/changelog.rst
Due: format-docs

Increment version to 2.10.0
  beets/__init__.py
  docs/changelog.rst
  docs/conf.py
  pyproject.toml
Due: format, format-docs

PEP257 again
  beets/importer/tasks.py
Due: format

smartplaylist: Tests for CLI overhaul
  test/plugins/test_smartplaylist.py
Due: format

smartplaylist: Fix existing tests after CLI overhaul
  test/plugins/test_smartplaylist.py
Due: format

smartplaylist: Document CLI output overhaul changes
  docs/plugins/smartplaylist.rst
Due: format-docs

smartplaylist: Fix duplicate entries and count bug
  beetsplug/smartplaylist.py
Due: format

smartplaylist: Use .get(bool) for all boolean configs
  beetsplug/smartplaylist.py
Due: format

smartplaylist: CLI output overhaul
  beetsplug/smartplaylist.py
Due: format

smartplaylist: Rework opts defaults handling
  beetsplug/smartplaylist.py
Due: format

Changelog for #6183 CLI output overhaul
  docs/changelog.rst
Due: format-docs

Move changelog to unreleased
  docs/changelog.rst
Due: format-docs

add new features header in changelog
  docs/changelog.rst
Due: format-docs

filter out zero penalty for cli display
  beets/autotag/distance.py
  test/autotag/test_distance.py
Due: format

changelog entry
  docs/changelog.rst
Due: format-docs

fmt changelog
  docs/changelog.rst
Due: format-docs
