Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: format
        name: Format Python files
        entry: poe format
        language: system
        files: '.*.py'
        pass_filenames: true
      - id: format-docs
        name: Format docs
        entry: poe format-docs
        language: system
        files: '.*.rst'
        pass_filenames: true

Fix data source penalty for mbpseudo
  beetsplug/mbpseudo.py
  docs/plugins/mbpseudo.rst
  test/plugins/test_mbpseudo.py
Due: format, format-docs

Update mbpseudo implementation for beets 2.5
  beets/autotag/match.py
  beets/plugins.py
  beetsplug/mbpseudo.py
Due: format

Update docs for mbpseudo plugin
  docs/changelog.rst
  docs/dev/plugins/events.rst
  docs/plugins/index.rst
  docs/plugins/mbpseudo.rst
Due: format-docs

lastgenre: Use apply methods during import
  beetsplug/lastgenre/__init__.py
Due: format

lastgenre: Refactor final genre apply
  beetsplug/lastgenre/__init__.py
Due: format

lastgenre: Fix test_pretend_option
  test/plugins/test_lastgenre.py
Due: format

lastgenre: Refactor test_pretend to pytest
  test/plugins/test_lastgenre.py
Due: format

Add pytest-mock to poetry test dependencies group
  poetry.lock
  pyproject.toml
Due: none

Update test
  poetry.lock
  pyproject.toml
  test/plugins/test_lastgenre.py
Due: format

lastgenre: refactor genre processing with singledispatch
  beetsplug/lastgenre/__init__.py
Due: format

Add _process_album and _process_item methods
  beetsplug/lastgenre/__init__.py
Due: format

Show genre change using show_model_changes
  beets/ui/__init__.py
  beetsplug/lastgenre/__init__.py
  test/plugins/test_lastgenre.py
Due: format

Drop 3.13 from python-version for now.
  .github/workflows/ci.yaml
Due: none

[beetsplug/spl] Add the dest_regen/dest-regen option
  beetsplug/smartplaylist.py
Due: format

[docs/spl] Add documentation for new dest_regen option
  docs/plugins/smartplaylist.rst
Due: format-docs

[beetsplug/spl] Fix linting error
  beetsplug/smartplaylist.py
Due: format

test(plugins): write dest_regen test for smartplaylist
  test/plugins/test_smartplaylist.py
Due: format

[docs/changelog] Add log for dest_regen option
  docs/changelog.rst
Due: format-docs

chore(test): format with poe
  test/plugins/test_smartplaylist.py
Due: format

Add main functionality
  beetsplug/ftintitle.py
Due: format

Add test
  test/plugins/test_ftintitle.py
Due: format

Add documentation
  docs/plugins/ftintitle.rst
Due: format-docs

Add changelog
  docs/changelog.rst
Due: format-docs

Update docs/changelog.rst
  docs/changelog.rst
Due: format-docs

Update docs/plugins/ftintitle.rst
  docs/plugins/ftintitle.rst
Due: format-docs
