Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: format
        name: Format Python files
        entry: poe format
        language: system
        files: '.*.py'
        pass_filenames: true
      - id: format-docs
        name: Format docs
        entry: poe format-docs
        language: system
        files: '.*.rst'
        pass_filenames: true

Add CODEOWNERS file to assign the entire repo to @maintainers
  .github/CODEOWNERS
Due: none

Add a note about ownership
  CONTRIBUTING.rst
Due: format-docs

hooks: Generalise AlbumInfo and TrackInfo into Info
  beets/autotag/hooks.py
Due: format

hooks: Update Info classes documentation
  beets/autotag/hooks.py
Due: format

hooks: Sort Info classes parameters and attr assignments alphabetically
  beets/autotag/hooks.py
Due: format

hooks: abstract common attrs info Info class
  beets/autotag/hooks.py
Due: format

hooks: Tidy up types and unused attributes
  beets/autotag/hooks.py
Due: format

lastgenre: Better existing genres and fallback code
  beetsplug/lastgenre/__init__.py
Due: format

fixed bytes->string decoding when inserting PLS_MARKER
  beetsplug/play.py
Due: format

fix formatting
  beetsplug/play.py
Due: format

fixed more formatting
  beetsplug/play.py
  docs/plugins/play.rst
Due: format, format-docs

Removed mailing list reference.
  _layouts/main.html
Due: none

fromfilename: Don't crash if title is missing
  beetsplug/fromfilename.py
  docs/changelog.rst
Due: format, format-docs

lastgenre: Fix c14n load log msg format
  beetsplug/lastgenre/__init__.py
Due: format

lastgerne: Update wl/tree load methods docstrings
  beetsplug/lastgenre/__init__.py
Due: format

lastgenre: Accept AI suggested use open() for tree file
  beetsplug/lastgenre/__init__.py
Due: format

lastgenre: Fix another mypy error in c14n load
  beetsplug/lastgenre/__init__.py
Due: format

Changelog for #5979 lastgenre move file loading
  docs/changelog.rst
Due: format-docs

lastgenre: Move file loading to helpers
  beetsplug/lastgenre/__init__.py
Due: format

lastgenre: canonical/whitelist setting None load default files
  beetsplug/lastgenre/__init__.py
Due: format

lastgenre: Add docstrings to file load methods
  beetsplug/lastgenre/__init__.py
Due: format

lastgenre: Fix failing CI tests by using syspath
  beetsplug/lastgenre/__init__.py
Due: format

lastgenre: Add expanduser to whitelist/tree load
  beetsplug/lastgenre/__init__.py
Due: format

lastgenre: Fix _load_whitelist return type bytes
  beetsplug/lastgenre/__init__.py
Due: format

lastgenre: Simplify default tree loading
  beetsplug/lastgenre/__init__.py
Due: format

lastgenre: Use pathlib for opening tree file
  beetsplug/lastgenre/__init__.py
Due: format

lastgenre: Fix mypy errors in file load methods
  beetsplug/lastgenre/__init__.py
Due: format
