Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

format:
  name: Format Python files
  entry: poe format
  language: system
  pass_filenames: true

format-docs:
  name: Format docs
  entry: poe format-docs
  language: system
  pass_filenames: true

fix: Issue-7033 - allow configuring move tempfile prefix
  beets/config_default.yaml
  beets/util/__init__.py
  docs/reference/config.rst
Due: format, format-docs

Fix: Accept null config tempfile_prefix using Confuse syntax, and reformat docs to satisfy linter
  beets/util/__init__.py
  docs/reference/config.rst
Due: format, format-docs

Move methods belonging to albums under AlbumChange
  beets/ui/commands/import_/display.py
Due: format

Rename ChangeRepresentation -> Change
  beets/ui/commands/import_/display.py
Due: format

Unify import match change display flow
  beets/ui/commands/import_/display.py
  beets/ui/commands/import_/session.py
Due: format

Delegate Match validation to Match subclasses
  beets/autotag/hooks.py
  beets/autotag/match.py
  beets/ui/commands/import_/display.py
Due: format

Create a module for candidates
  beets/autotag/__init__.py
  beets/autotag/candidates.py
  beets/autotag/match.py
  test/autotag/test_candidates.py
  test/autotag/test_match.py
Due: format

Refactor autotag matching around candidate collections
  beets/autotag/__init__.py
  beets/autotag/match.py
  beets/importer/tasks.py
  beets/ui/commands/import_/display.py
  beets/ui/commands/import_/session.py
  beetsplug/bench.py
  beetsplug/mbsubmit.py
  test/autotag/test_match.py
  test/plugins/test_mbpseudo.py
Due: format

Refactor reimport metadata flow across import task types
  beets/importer/tasks.py
Due: format

Simplify is_album logic
  beets/importer/tasks.py
  beets/ui/commands/import_/session.py
  beetsplug/fetchart.py
  beetsplug/ipfs.py
  beetsplug/lastgenre/__init__.py
  beetsplug/mbcollection.py
  beetsplug/replaygain.py
  test/plugins/test_art.py
  test/plugins/test_fromfilename.py
Due: format

Rename ImportSession.choose_match -> ImportSession.choose_album
  beets/importer/session.py
  beets/importer/tasks.py
  beets/test/helper.py
  beets/ui/commands/import_/session.py
Due: format

Clean up archive imports during finalize
  beets/importer/stages.py
  beets/importer/tasks.py
  test/test_importer.py
Due: format

Make ImportTask.cleanup own the import config
  beets/importer/tasks.py
  test/test_importer.py
Due: format

Dispatch on Match types
  beets/ui/commands/import_/display.py
  beets/ui/commands/import_/session.py
  test/ui/commands/test_import.py
Due: format

tidal: respect search_limit config option in candidates()
  beetsplug/tidal/__init__.py
  test/plugins/test_tidal.py
Due: format

docs: add changelog entry for tidal search_limit fix (#6770)
  docs/changelog.rst
Due: format-docs

tidal: fix lint, formatting, and mypy errors
  beetsplug/tidal/__init__.py
  test/plugins/test_tidal.py
Due: format

tidal: apply search_limit via round-robin early-break in candidates()
  beetsplug/tidal/__init__.py
  test/plugins/test_tidal.py
Due: format

tidal: simplify search_limit handling with itertools
  beetsplug/tidal/__init__.py
Due: format

tidal: fix mypy errors in interleaved search results
  beetsplug/tidal/__init__.py
Due: format

tidal: extract round-robin interleaving into a helper
  beetsplug/tidal/__init__.py
Due: format

Documentation: add tempfile_prefix changelog entry
  docs/changelog.rst
Due: format-docs

test/tidal: fix search_limit test mocks and post-rebase lint issues
  beetsplug/tidal/__init__.py
  docs/changelog.rst
  test/plugins/test_tidal.py
Due: format, format-docs

Add YAML highlighting to duplicate-key example
  docs/reference/config.rst
Due: format-docs

Use beetbox-release-bot to commit version bump
  .github/workflows/make_release.yaml
Due: none

Replace memoryview with bytes
  beets/dbcore/query.py
  beets/dbcore/types.py
  beets/library/models.py
  beetsplug/playlist.py
  docs/changelog.rst
  test/test_library.py
Due: format, format-docs

Fix small doc typo
  docs/plugins/convert.rst
Due: format-docs

Fix changelog
  docs/changelog.rst
Due: format-docs

Increment version to 2.14.1
  beets/__init__.py
  docs/changelog.rst
  docs/conf.py
  pyproject.toml
  uv.lock
Due: format, format-docs

hook: accept plugin-defined event names
  beetsplug/hook.py
  docs/changelog.rst
  docs/plugins/hook.rst
  test/plugins/test_hook.py
Due: format, format-docs

events: add alternatives.item_updated
  beets/events.py
  beets/plugins.py
  beetsplug/hook.py
  docs/changelog.rst
  docs/dev/plugins/events.rst
  docs/plugins/hook.rst
  test/plugins/test_hook.py
Due: format, format-docs

fix: improve DB open errors for permission and readonly failures
  beets/ui/__init__.py
  test/test_open_library_permissions.py
Due: format

test: cover permission and readonly DB open hints
  test/test_open_library_permissions.py
  test/ui/test_ui_init.py
Due: format

Replace has_program with shutil.which
  beets/test/helper.py
  test/plugins/test_art.py
  test/plugins/test_replaygain.py
  test/test_importer.py
  test/ui/commands/test_completion.py
Due: format

chroma: use force_fpcalc=True to prevent fd exhaustion
  beetsplug/chroma.py
  docs/changelog.rst
  docs/conf.py
  test/plugins/test_chroma.py
Due: format, format-docs

Do not skip any replaygain tests
  .github/workflows/ci.yaml
  beets/util/extension.py
  beetsplug/_utils/vfs.py
  beetsplug/bpd/__init__.py
  docs/changelog.rst
  pyproject.toml
  test/plugins/test_bpd.py
  test/plugins/test_replaygain.py
  test/test_importer.py
  test/util/test_extension.py
  uv.lock
Due: format, format-docs

replaygain: separate out r128 tests into a mixin to clarify which backends are tested
  .github/workflows/ci.yaml
  test/plugins/test_replaygain.py
Due: format

artresizer: always run test_art_resize tests
  .github/workflows/ci.yaml
  beets/util/artresizer.py
  docs/changelog.rst
  test/util/test_art_resize.py
Due: format, format-docs

windows: do not skip test when hiding file fails
  test/util/test_hidden.py
Due: format

Path conditions:
  format: any of: .*.py
  format-docs: any of: .*.rst
