Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

format:
  name: Format Python files
  entry: poe format
  language: system
  pass_filenames: true

format-docs:
  name: Format docs
  entry: poe format-docs
  language: system
  pass_filenames: true

feat(ftintitle): Insert featured artist before track variant
  beetsplug/ftintitle.py
  docs/changelog.rst
  test/plugins/test_ftintitle.py
Due: format, format-docs

fix(fitintitle): simplify keyword_pattern using map() instead of list comprehension
  beetsplug/ftintitle.py
Due: format

fix: abstract insert_ft_into_title, move bracket_keywords and find_bracket_position inside plugin
  beetsplug/ftintitle.py
  test/plugins/test_ftintitle.py
Due: format

test(ftintitle): mock import task to exercise import hooks
  test/plugins/test_ftintitle.py
Due: format

chore(ftintitle): add 'edition' to keyword defaults
  beetsplug/ftintitle.py
Due: format

fix: address sourcery comments
  beetsplug/ftintitle.py
  docs/plugins/ftintitle.rst
  test/plugins/test_ftintitle.py
Due: format, format-docs

fix(ftintitle): prune find_bracket_position docstring
  beetsplug/ftintitle.py
Due: format

docs(ftintitle): add bracket_keywords
  docs/plugins/ftintitle.rst
Due: format-docs

Fix convert --format with never_convert_lossy_files
  beetsplug/convert.py
  docs/changelog.rst
  docs/plugins/convert.rst
  test/plugins/test_convert.py
Due: format, format-docs

Use new format in determining destination.
  beetsplug/convert.py
  docs/changelog.rst
Due: format, format-docs

Catch ValueError when setting gst required version
  beetsplug/bpd/gstplayer.py
  docs/changelog.rst
Due: format, format-docs

Fix lint
  test/plugins/test_embedart.py
Due: format

Fix recursion in inline plugin when item_fields shadow DB fields (#6115)
  beetsplug/inline.py
  test/plugins/test_plugins.py
Due: format

Fix inline recursion test formatting
  test/plugins/test_plugins.py
Due: format

Added the force option to convert and update docs/tests
  beetsplug/convert.py
  docs/changelog.rst
  docs/plugins/convert.rst
  test/plugins/test_convert.py
Due: format, format-docs

Remove class variables for template fields and funcs
  beets/plugins.py
Due: format

Improve typing for template fields and funcs
  beets/plugins.py
Due: format

Revert "Remove class variables for template fields and funcs"
  beets/plugins.py
Due: format

Add album template value in ftintitle plugin
  beetsplug/ftintitle.py
  docs/changelog.rst
  docs/plugins/ftintitle.rst
  docs/reference/pathformat.rst
  test/plugins/test_ftintitle.py
Due: format, format-docs

Added comment for deprecation in 3.0.0.
  beets/plugins.py
Due: format

Let mbpseudo plugin work during reimport
  beets/autotag/match.py
  beets/metadata_plugins.py
  beetsplug/mbpseudo.py
  beetsplug/mbsync.py
  beetsplug/missing.py
  docs/changelog.rst
  docs/dev/plugins/events.rst
  test/plugins/test_mbpseudo.py
  test/test_importer.py
Due: format, format-docs

Send albuminfo_received only in metadata_plugins.py
  beets/autotag/match.py
  beets/metadata_plugins.py
Due: format

Reduce else branches
  beetsplug/mbpseudo.py
Due: format

Fix incompatible types
  beetsplug/mbpseudo.py
Due: format

Path conditions:
  format: any of: .*.py
  format-docs: any of: .*.rst
