Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

format:
  name: Format Python files
  entry: poe format
  language: system
  pass_filenames: true

format-docs:
  name: Format docs
  entry: poe format-docs
  language: system
  pass_filenames: true

Add new line after New features:
  docs/changelog.rst
Due: format-docs

Add progress bars to several commands and plugins.
  beets/ui/__init__.py
  beetsplug/autobpm.py
  beetsplug/badfiles.py
  beetsplug/chroma.py
  beetsplug/duplicates.py
  beetsplug/embedart.py
  beetsplug/fetchart.py
  beetsplug/ftintitle.py
  beetsplug/lastgenre/__init__.py
  beetsplug/lyrics.py
  beetsplug/mbsync.py
  beetsplug/missing.py
  beetsplug/parentwork.py
  beetsplug/permissions.py
  beetsplug/replaygain.py
  beetsplug/unimported.py
  beetsplug/zero.py
  docs/changelog.rst
  docs/dev/plugins/other/index.rst
  docs/dev/plugins/other/progressbars.rst
  poetry.lock
  pyproject.toml
  test/test_ui.py
Due: format, format-docs

remove feat from custom_feat_words
  beets/plugins.py
  beetsplug/ftintitle.py
  test/plugins/test_ftintitle.py
Due: format

Better custom_words documentation
  docs/plugins/ftintitle.rst
Due: format-docs

Add link in changelog
  docs/changelog.rst
Due: format-docs

Move TimeoutSession under beetsplug._utils
  beetsplug/_utils/requests.py
  beetsplug/lyrics.py
Due: format

Define MusicBrainzAPI class with rate limiting
  beetsplug/musicbrainz.py
  poetry.lock
  pyproject.toml
Due: format

musicbrainz: lookup release directly
  beetsplug/_utils/requests.py
  beetsplug/lyrics.py
  beetsplug/musicbrainz.py
  test/plugins/test_musicbrainz.py
Due: format

Add missing blame ignore revs from musicbrainz plugin
  .git-blame-ignore-revs
Due: none

musicbrainz: search directly
  beetsplug/musicbrainz.py
  test/plugins/test_musicbrainz.py
Due: format

musicbrainz: remove error handling
  beetsplug/musicbrainz.py
Due: format

musicbrainz: browse directly
  beetsplug/musicbrainz.py
Due: format

musicbrainz: access the custom server directly, if configured
  beetsplug/musicbrainz.py
  docs/plugins/musicbrainz.rst
Due: format, format-docs

Move pseudo release lookup under the plugin
  beetsplug/musicbrainz.py
Due: format

musicbrainz: lookup recordings directly
  beetsplug/musicbrainz.py
Due: format

Make musicbrainzngs dependency optional and requests required
  .github/workflows/ci.yaml
  docs/plugins/listenbrainz.rst
  docs/plugins/mbcollection.rst
  docs/plugins/missing.rst
  docs/plugins/parentwork.rst
  poetry.lock
  pyproject.toml
Due: format-docs

Refactor HTTP request handling with RequestHandler base class
  beetsplug/_utils/requests.py
  beetsplug/lyrics.py
  beetsplug/musicbrainz.py
  test/plugins/test_musicbrainz.py
Due: format

Misc formatting changes
  beetsplug/zero.py
  docs/changelog.rst
Due: format, format-docs

Adds a zero_disc_if_single_disc to the zero plugin
  beetsplug/zero.py
  docs/changelog.rst
  docs/plugins/zero.rst
Due: format, format-docs

Change parameter name, add return, add tests
  beetsplug/zero.py
  docs/changelog.rst
  docs/plugins/zero.rst
  test/plugins/test_zero.py
Due: format, format-docs

Remove tests. Update docs. Remove unnecessary return
  beetsplug/zero.py
  docs/plugins/zero.rst
  test/plugins/test_zero.py
Due: format, format-docs

Add back tests as they were.
  test/plugins/test_zero.py
Due: format

Add progress bar to 'beet mv', and handle missing file exceptions without crashing.
  beets/ui/commands.py
Due: format

Add progress bars to 'beet update', 'beet rm', 'beet mv', and the modify command.
  beets/ui/commands.py
Due: format

Removed additional linebreaks.
  pyproject.toml
Due: none

Reverted placeholder.
  extra/release.py
  pyproject.toml
Due: format

Added changelog entry fixed action to use sha.
  .github/workflows/test_release.yaml
  docs/changelog.rst
Due: format-docs

Added perms to flow.
  .github/workflows/test_release.yaml
Due: none

Removed test release file.
  .github/workflows/test_release.yaml
Due: none

Path conditions:
  format: any of: .*.py
  format-docs: any of: .*.rst
