Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

format:
  name: Format Python files
  entry: poe format
  language: system
  pass_filenames: true

format-docs:
  name: Format docs
  entry: poe format-docs
  language: system
  pass_filenames: true

Remove manual migrate command
  beets/ui/commands/__init__.py
  beets/ui/commands/migrate.py
Due: format

Add generic Migration implementation
  beets/dbcore/db.py
Due: format

Use compact generator expression in Beatport (ref https://github.com/beetbox/beets/pull/6169#issuecomment-3716893013)
  beetsplug/beatport.py
Due: format

Add support for migrations
  beets/dbcore/db.py
Due: format

Remove conditional logic from lastgenre tests (ref https://github.com/beetbox/beets/pull/6169#issuecomment-3716893013)
  test/plugins/test_lastgenre.py
Due: format

Fix mypy incompatible return type in lastgenre
  beetsplug/lastgenre/__init__.py
Due: format

Remove noisy comments from beatport tests (ref https://github.com/beetbox/beets/pull/6169#issuecomment-3716893013)
  test/plugins/test_beatport.py
Due: format

Simplify MusicBrainz genres assignment
  beetsplug/musicbrainz.py
Due: format

Update lastgenre docstring and remove misleading comment (ref https://github.com/beetbox/beets/pull/6169#issuecomment-3716893013)
  beetsplug/lastgenre/__init__.py
Due: format

Fix lastgenre migration separator logic (ref https://github.com/beetbox/beets/pull/6169#issuecomment-3716893013)
  beets/library/library.py
Due: format

Remove test case indices from test_lastgenre.py
  test/plugins/test_lastgenre.py
Due: format

Document ordering of the genre split separator
  beets/autotag/hooks.py
  beets/library/migrations.py
  docs/changelog.rst
Due: format, format-docs

Replace genre: with genres: in docs
  docs/plugins/fish.rst
  docs/plugins/ihate.rst
  docs/plugins/zero.rst
Due: format-docs

Fix deprecation warning
  beets/autotag/hooks.py
  test/autotag/test_hooks.py
Due: format

Update changelog note
  docs/changelog.rst
Due: format-docs

Remove lastgenre separator config
  beetsplug/lastgenre/__init__.py
  docs/plugins/lastgenre.rst
Due: format, format-docs

Fix the rest of the tests
  beets/test/_common.py
  beetsplug/aura.py
  beetsplug/bpd/__init__.py
  beetsplug/musicbrainz.py
  docs/plugins/smartplaylist.rst
  docs/reference/cli.rst
  docs/reference/config.rst
  test/plugins/test_ihate.py
  test/plugins/test_smartplaylist.py
  test/test_importer.py
  test/test_library.py
  test/test_query.py
  test/test_sort.py
  test/ui/commands/test_list.py
  test/ui/commands/test_update.py
  test/ui/test_field_diff.py
Due: format, format-docs

Remove genre field
  beets/autotag/__init__.py
  beets/dbcore/db.py
  beets/library/migrations.py
  beets/library/models.py
  test/library/test_migrations.py
  test/test_autotag.py
  test/test_library.py
Due: format

Add migration for multi-value genres field
  beets/dbcore/db.py
  beets/dbcore/types.py
  beets/library/library.py
  beets/library/migrations.py
  beets/test/helper.py
  test/library/__init__.py
  test/library/test_migrations.py
Due: format

Stop overwriting this test file name
  test/rsrc/unicode’d.mp3
Due: none

Only handle multiple genres in discogs
  beetsplug/discogs/__init__.py
  docs/plugins/discogs.rst
Due: format, format-docs

Add @snejus to team
  docs/team.rst
Due: format-docs

Create .instructions.md for Copilot
  .github/copilot-instructions.md
Due: none

remove noisy comment from test/plugins/test_beatport.py
  test/plugins/test_beatport.py
Due: format

Add native support for multiple genres per album/track
  beets/autotag/__init__.py
  beets/autotag/hooks.py
  beets/library/models.py
  beets/ui/commands/__init__.py
  beets/ui/commands/migrate.py
  beetsplug/beatport.py
  beetsplug/lastgenre/__init__.py
  beetsplug/musicbrainz.py
  docs/changelog.rst
  test/plugins/test_beatport.py
  test/plugins/test_lastgenre.py
  test/plugins/test_musicbrainz.py
  test/test_autotag.py
  test/test_library.py
Due: format, format-docs

simplify genre unpacking in beetsplug/lastgenre/__init__.py
  beetsplug/lastgenre/__init__.py
Due: format

better function description in beetsplug/lastgenre/__init__.py
  beetsplug/lastgenre/__init__.py
Due: format

simplify return logic in beetsplug/lastgenre/__init__.py
  beetsplug/lastgenre/__init__.py
Due: format

shorte test description in test/plugins/test_lastgenre.py
  test/plugins/test_lastgenre.py
Due: format

simplify check for fallback in beetsplug/lastgenre/__init__.py
  beetsplug/lastgenre/__init__.py
Due: format

Ensure correct data shape in recordings tests
  test/plugins/test_musicbrainz.py
Due: format

Path conditions:
  format: any of: .*.py
  format-docs: any of: .*.rst
