Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

format:
  name: Format Python files
  entry: poe format
  language: system
  pass_filenames: true

format-docs:
  name: Format docs
  entry: poe format-docs
  language: system
  pass_filenames: true

fix: use samefile for the remux self-delete guard
  beets/util/extension.py
  docs/changelog.rst
  test/test_importer.py
Due: format, format-docs

Simplify empty-search comment and shorten changelog entry
  beets/metadata_plugins.py
  docs/changelog.rst
Due: format, format-docs

fix: skip metadata source search when query and filters are empty
  beets/metadata_plugins.py
  docs/changelog.rst
  test/test_metadata_plugins.py
Due: format, format-docs

docs: scope changelog entry to SearchApiMetadataSourcePlugin plugins
  docs/changelog.rst
Due: format-docs

docs: reformat changelog entry with docstrfmt
  docs/changelog.rst
Due: format-docs

tidal: rework _normalize_label into a single regex
  beetsplug/_utils/func.py
  beetsplug/lyrics.py
  beetsplug/tidal/__init__.py
Due: format

docs: recommend artist/title duplicate keys when mb_trackid may be absent
  docs/reference/config.rst
Due: format-docs

Catch within-run track duplicates via a session seen-key cache
  beets/importer/session.py
  beets/importer/stages.py
  test/test_importer.py
Due: format

Add track-level duplicate resolution to the importer
  beets/config_default.yaml
  beets/importer/session.py
  beets/importer/stages.py
  beets/importer/tasks.py
  beets/test/helper.py
  beets/ui/commands/import_/session.py
  docs/changelog.rst
  docs/reference/config.rst
  test/test_importer.py
Due: format, format-docs

Format docs
  docs/changelog.rst
  docs/reference/config.rst
Due: format-docs

Merge fold into skip and colorize duplicate-skip messages
  beets/importer/session.py
  beets/importer/stages.py
  beets/importer/tasks.py
  beets/test/helper.py
  beets/ui/commands/import_/session.py
  docs/changelog.rst
  docs/reference/config.rst
  test/test_importer.py
Due: format, format-docs

Fold new tracks into existing album despite singleton matches
  beets/importer/stages.py
  docs/reference/config.rst
  test/test_importer.py
Due: format, format-docs

Address review: reuse DuplicateAction for track dedup
  beets/importer/session.py
  beets/importer/stages.py
  beets/test/helper.py
  beets/ui/commands/import_/session.py
  docs/reference/config.rst
  test/test_importer.py
  test/ui/test_ui_importer.py
Due: format, format-docs

Move duplicate_track_resolution changelog entry to Unreleased
  docs/changelog.rst
Due: format-docs

Add fold action and fix track duplicate resolution
  beets/config_default.yaml
  beets/importer/session.py
  beets/importer/stages.py
  beets/importer/tasks.py
  beets/test/helper.py
  beets/ui/commands/import_/session.py
  docs/changelog.rst
  docs/reference/config.rst
  test/test_importer.py
Due: format, format-docs

Redesign per-track duplicate resolution with integrated config and per-track decisions
  beets/config_default.yaml
  beets/importer/actions.py
  beets/importer/session.py
  beets/importer/stages.py
  beets/importer/tasks.py
  beets/ui/commands/import_/session.py
  docs/changelog.rst
  docs/reference/config.rst
  test/test_importer.py
  test/ui/test_ui_importer.py
Due: format, format-docs

Fix ReplayGain metaflac backend altering input files
  beetsplug/replaygain.py
  docs/plugins/replaygain.rst
  test/plugins/test_replaygain.py
Due: format, format-docs

Implement GitHub Copilot feedback
  beetsplug/replaygain.py
  docs/changelog.rst
  test/plugins/test_replaygain.py
Due: format, format-docs

Fix linting issues
  beetsplug/replaygain.py
  test/plugins/test_replaygain.py
Due: format

Set issue number in changelog instead of PR number
  docs/changelog.rst
Due: format-docs

Fix unreal peak value in test
  test/plugins/test_replaygain.py
Due: format

fix: retry Discogs search on JSON decode error
  beetsplug/discogs/__init__.py
Due: format

Fix list query man reference
  docs/changelog.rst
  docs/reference/cli.rst
Due: format-docs

reworking tests and types a bit
  beetsplug/fromfilename.py
  test/plugins/test_fromfilename.py
Due: format

Embedded art extraction for fetchart plugin
  beetsplug/fetchart.py
  docs/plugins/embedart.rst
  docs/plugins/fetchart.rst
Due: format, format-docs

test: FetchArt plugin embedded art
  test/plugins/test_art.py
  test/plugins/test_fetchart.py
Due: format

Changelog entry for FetchArt embedded features
  docs/changelog.rst
Due: format-docs

Add return type for album_has_art
  beetsplug/fetchart.py
Due: format

docs: add link directly to embedded-art-source
  docs/plugins/embedart.rst
Due: format-docs

Fix lint in embedded plugin
  beetsplug/fetchart.py
Due: format

Fix tempfile cleanup logic in fetchart.Embedded.get
  beetsplug/fetchart.py
Due: format

tidal: restore licen[sc]e option lost in formatting
  beetsplug/tidal/__init__.py
Due: format

tidal: rewrite _normalize_label with regex, using apply_transforms
  beetsplug/_utils/func.py
  beetsplug/lyrics.py
  beetsplug/tidal/__init__.py
Due: format

tidal: comment formatting/alignment, per review
  beetsplug/tidal/__init__.py
Due: format

tidal: rewrite _normalize_label without regex per review
  beetsplug/tidal/__init__.py
Due: format

tidal: Normalize copyright text into a concise label name
  beetsplug/tidal/__init__.py
  docs/changelog.rst
  test/plugins/test_tidal.py
Due: format, format-docs

fix(discogs): retry malformed search responses
  beetsplug/discogs/__init__.py
  docs/changelog.rst
  test/plugins/test_discogs.py
Due: format, format-docs

style: ruff format/isort for database error tests
  test/ui/test_ui_init.py
Due: format

style: blank lines between test classes for ruff format
  test/ui/test_ui_init.py
Due: format

Path conditions:
  format: any of: .*.py
  format-docs: any of: .*.rst
