Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

format:
  name: Format Python files
  entry: poe format
  language: system
  pass_filenames: true

format-docs:
  name: Format docs
  entry: poe format-docs
  language: system
  pass_filenames: true

Moved arts.py file into beetsplug namespace as it is not used in core.
  beetsplug/_utils/art.py
Due: format

New import location for art.py
  beetsplug/_utils/__init__.py
  beetsplug/convert.py
  beetsplug/embedart.py
  test/plugins/test_embedart.py
Due: format

Added changelog and git blame ignore rev
  .git-blame-ignore-revs
  docs/changelog.rst
Due: format-docs

fix test by changing patch
  .git-blame-ignore-revs
  docs/changelog.rst
  test/plugins/test_embedart.py
Due: format, format-docs

Moved vfs to beetsplug
  beetsplug/_utils/vfs.py
  test/plugins/utils/test_vfs.py
Due: format

Improved typing of vfs.
  beets/vfs.py
Due: format

Added change-log entry and fixed some imports.
  beetsplug/bench.py
  beetsplug/bpd/__init__.py
  docs/changelog.rst
Due: format, format-docs

Always emit official releases if no pseudo-releases found
  beetsplug/mbpseudo.py
Due: format

Fix linting issues
  beetsplug/mbpseudo.py
Due: format

Update imports
  beetsplug/mbpseudo.py
Due: format

Add some documentation and plugins-loaded check
  beetsplug/mbpseudo.py
Due: format

Add mbpseudo plugin
  beetsplug/mbpseudo.py
Due: format

Execute even if loaded before MusicBrainz plugin
  beetsplug/mbpseudo.py
Due: format

Optionally emit official candidates
  beetsplug/mbpseudo.py
Due: format

Support embedded album ids
  beetsplug/mbpseudo.py
Due: format

Revert "Use pseudo-release's track titles for its recordings"
  beetsplug/musicbrainz.py
Due: format

Use pseudo-release's track titles for its recordings
  beetsplug/musicbrainz.py
Due: format

Use Optional
  beetsplug/mbpseudo.py
Due: format

Update beetsplug/lastgenre/__init__.py
  beetsplug/lastgenre/__init__.py
Due: format

Enhance lastgenre plugin: add item.try_write() for write operations and improve documentation clarity
  beetsplug/lastgenre/__init__.py
  docs/plugins/lastgenre.rst
Due: format, format-docs

lastgenre: Also mock try_write in test_pretend..
  test/plugins/test_lastgenre.py
Due: format

Add --pretend option to lastgenre plugin for previewing genre changes
  beetsplug/lastgenre/__init__.py
  docs/changelog.rst
  docs/plugins/lastgenre.rst
Due: format, format-docs

more lint
  docs/plugins/lastgenre.rst
Due: format-docs

Add prefix to log messages for genre fetching in LastGenrePlugin
  beetsplug/lastgenre/__init__.py
Due: format

Add test for --pretend option in LastGenrePlugin to skip library updates
  test/plugins/test_lastgenre.py
Due: format

Lint
  docs/plugins/lastgenre.rst
Due: format-docs

Path conditions:
  format: any of: .*.py
  format-docs: any of: .*.rst
