Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: format
        name: Format Python files
        entry: poe format
        language: system
        files: '.*.py'
        pass_filenames: true
      - id: format-docs
        name: Format docs
        entry: poe format-docs
        language: system
        files: '.*.rst'
        pass_filenames: true

Add prefix to log messages for genre fetching in LastGenrePlugin
  beetsplug/lastgenre/__init__.py
Due: format

Moved arts.py file into beetsplug namespace as it is not used in core.
  beetsplug/_utils/art.py
Due: format

New import location for art.py
  beetsplug/_utils/__init__.py
  beetsplug/convert.py
  beetsplug/embedart.py
  test/plugins/test_embedart.py
Due: format

Added changelog and git blame ignore rev
  .git-blame-ignore-revs
  docs/changelog.rst
Due: format-docs

fix test by changing patch
  .git-blame-ignore-revs
  docs/changelog.rst
  test/plugins/test_embedart.py
Due: format, format-docs

Reformat docs
  docs/changelog.rst
Due: format-docs

Update missing plugin configuration options and formatting details
  docs/plugins/missing.rst
Due: format-docs

lint
  docs/plugins/missing.rst
Due: format-docs

Added typehints from typeshed and removed default argument.
  beets/logging.py
Due: format

Removed typealias, worked locally with mypy but does seem to cause issues with the ci. Also python 3.9 requires unions here...
  beets/logging.py
Due: format

test(ftintitle): fix flake, massage mypy
  test/plugins/test_ftintitle.py
Due: format

test(ftintitle): parameterize tests
  test/plugins/test_ftintitle.py
Due: format

feat(FtInTitle): support tracks by artists != album artist
  beetsplug/ftintitle.py
  docs/changelog.rst
  test/plugins/test_ftintitle.py
Due: format, format-docs

Improved typing of vfs.
  beets/vfs.py
Due: format

Added change-log entry and fixed some imports.
  beetsplug/bench.py
  beetsplug/bpd/__init__.py
  docs/changelog.rst
Due: format, format-docs

Exposed vfs and art from beets for backwards compatibility.
  beets/__init__.py
Due: format

Moved vfs to beetsplug
  beetsplug/_utils/vfs.py
  test/plugins/utils/test_vfs.py
Due: format

Refactor tests, adjust changelog, move config option to new features.
  docs/changelog.rst
  test/plugins/test_discogs.py
Due: format, format-docs

Test written, beginning fix
  beetsplug/discogs.py
  test/plugins/test_discogs.py
Due: format

Fix plugin loading
  beets/plugins.py
  docs/changelog.rst
Due: format, format-docs

Mock DummyPlugin properly
  test/test_logging.py
Due: format

Featured artists extracted and appended, need to see if join needs to be variable
  beetsplug/discogs.py
  test/plugins/test_discogs.py
Due: format

testing, updated changelog
  beetsplug/discogs.py
  docs/changelog.rst
  test/plugins/test_discogs.py
Due: format, format-docs

add documentation for write_metadata option
  docs/changelog.rst
  docs/plugins/convert.rst
Due: format-docs

Add option to not write metadata
  beetsplug/convert.py
Due: format
