Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: format
        name: Format Python files
        entry: poe format
        language: system
        files: '.*.py'
        pass_filenames: true
      - id: format-docs
        name: Format docs
        entry: poe format-docs
        language: system
        files: '.*.rst'
        pass_filenames: true

lint
  beetsplug/smartplaylist.py
  test/plugins/test_smartplaylist.py
Due: format

Remove duplicate tracks
  beetsplug/smartplaylist.py
  test/plugins/test_smartplaylist.py
Due: format

reflink() doesn't take Path parameters
  test/test_files.py
Due: format

New Plugin: Titlecase (#6133)
  .github/CODEOWNERS
  beetsplug/titlecase.py
  docs/changelog.rst
  docs/plugins/index.rst
  docs/plugins/titlecase.rst
  poetry.lock
  pyproject.toml
  test/plugins/test_titlecase.py
Due: format, format-docs

Added documentation header
  test/plugins/test_inline.py
Due: format

Fixed unit tests
  test/plugins/test_inline.py
Due: format

Fixed unit tests import
  test/plugins/test_inline.py
Due: format

Updated changelog documentation
  docs/changelog.rst
Due: format-docs

Show "Loading" in results list during query
  beetsplug/web/static/beets.js
Due: none

Show title of playing song in player
  beetsplug/web/__init__.py
  beetsplug/web/static/beets.css
  beetsplug/web/static/beets.js
  beetsplug/web/templates/index.html
Due: format

add query param to randomize albums
  beetsplug/web/__init__.py
Due: format

add query param to b64 album art
  beetsplug/web/__init__.py
Due: format

remove debug logging
  beetsplug/web/static/beets.js
Due: none

update backbone and underscore
  beetsplug/web/static/backbone.js
  beetsplug/web/static/underscore.js
Due: none

add album cover backbone and template stuff
  beetsplug/web/static/beets.js
  beetsplug/web/templates/index.html
Due: none

convert to flexbox and style album view
  beetsplug/web/static/beets.css
  beetsplug/web/templates/index.html
Due: none

sort imports
  beetsplug/web/__init__.py
Due: format

tweak browser colors
  beetsplug/web/static/beets.css
Due: none

enable switching to and from album browser
  beetsplug/web/static/beets.css
  beetsplug/web/static/beets.js
  beetsplug/web/templates/index.html
Due: none

Fix mismatched tag
  beetsplug/web/templates/index.html
Due: none

fix quotes
  beetsplug/web/__init__.py
Due: format

feat(types): Add type hints to smartplaylist.py
  beetsplug/smartplaylist.py
Due: format

lint
  beetsplug/smartplaylist.py
Due: format

Remove duplication in matches method
  beetsplug/smartplaylist.py
Due: format

fix(smartplaylist): Resolve mypy type errors and update tests
  beetsplug/smartplaylist.py
  test/plugins/test_smartplaylist.py
Due: format

refactor(smartplaylist): Improve type safety in query building
  beetsplug/smartplaylist.py
Due: format
