Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: format
        name: Format Python files
        entry: poe format
        language: system
        files: '.*.py'
        pass_filenames: true
      - id: format-docs
        name: Format docs
        entry: poe format-docs
        language: system
        files: '.*.rst'
        pass_filenames: true

web: fix mypy types and changelog placement for item_file
  beetsplug/web/__init__.py
  docs/changelog.rst
Due: format, format-docs

Minor fix
  test/test_util.py
Due: format

Minor fix
  docs/changelog.rst
Due: format-docs

lastgenre: Album stage albumartists fall back
  beetsplug/lastgenre/__init__.py
Due: format

Changelog #6893 lastgenre album stage fallback
  docs/changelog.rst
Due: format-docs

lastgenre: Docs for album stage albumartists fallback
  docs/plugins/lastgenre.rst
Due: format-docs

lastgenre: Streamline log label wording: albumartist
  beetsplug/lastgenre/__init__.py
  test/plugins/test_lastgenre.py
Due: format

replaygain: separate out r128 tests into a mixin to clarify which backends are tested
  test/plugins/test_replaygain.py
Due: format

Fix Windows compatibility and refactor test organization for backends
  .github/workflows/ci.yaml
  beets/util/extension.py
  beetsplug/_utils/vfs.py
  beetsplug/bpd/__init__.py
  docs/changelog.rst
  pyproject.toml
  test/plugins/test_bpd.py
  test/plugins/test_replaygain.py
  test/test_importer.py
  test/util/test_extension.py
  uv.lock
Due: format, format-docs

windows: do not skip test when hiding file fails
  test/util/test_hidden.py
Due: format

artresizer: always run test_art_resize tests
  .github/workflows/ci.yaml
  beets/util/artresizer.py
  docs/changelog.rst
  test/util/test_art_resize.py
Due: format, format-docs

Enable reflink tests on Ubuntu
  .github/workflows/ci.yaml
  beets/test/helper.py
Due: format

importer: always test .rar archives
  .github/workflows/ci.yaml
  test/test_importer.py
Due: format

ui: always run tests that need bash-completion
  .github/workflows/ci.yaml
  beets/ui/commands/completion.py
  test/rsrc/test_completion.sh
  test/ui/commands/test_completion.py
Due: format

Add pytest-randomly
  pyproject.toml
  uv.lock
Due: none

Add stable param IDs to test_intervals
  test/dbcore/test_datequery.py
Due: format

Unload plugins at the end of each test
  test/conftest.py
Due: format

Isolate path query test data per test
  test/dbcore/test_query.py
Due: format

Configure xdist
  pyproject.toml
  setup.cfg
  test/conftest.py
  uv.lock
Due: format

Test plugins in isolated subprocess rather than current interpreter
  beetsplug/playlist.py
  test/test_plugins.py
Due: format

test: reset shared configuration state between tests
  test/conftest.py
  test/dbcore/test_sort.py
  test/plugins/test_musicbrainz.py
  test/test_util.py
Due: format

Bump python3-discogs-client optional and test dependencies
  pyproject.toml
  uv.lock
Due: none

discogs: Catch MalformedResponseError
  beetsplug/discogs/__init__.py
  test/plugins/test_discogs.py
Due: format

lastgenre: say yes/no in the invalid whitelist and canonical errors
  beetsplug/lastgenre/__init__.py
Due: format

lyrics: handle trailing blank lines when verifying synced lyrics (#7070)
  beetsplug/lyrics.py
  docs/changelog.rst
  test/plugins/test_lyrics.py
Due: format, format-docs

test: mark Letras lyrics page as xfail on CI due to 403 Forbidden
  test/plugins/lyrics_pages.py
Due: format

fix: request work relations for singleton imports
  beetsplug/_utils/musicbrainz.py
  docs/changelog.rst
  test/plugins/test_musicbrainz.py
Due: format, format-docs

Defer changelog entry until review completes
  docs/changelog.rst
Due: format-docs

update: continue when an item or album can't be moved (#2419)
  beets/ui/commands/update.py
  docs/changelog.rst
  test/ui/commands/test_update.py
Due: format, format-docs

zero: preserve paired and aliased fields when using keep_fields (#7069)
  beetsplug/zero.py
  docs/changelog.rst
  test/plugins/test_zero.py
Due: format, format-docs

embedart: add normalize option for existing artwork
  beetsplug/embedart.py
  docs/changelog.rst
  docs/plugins/embedart.rst
  test/plugins/test_embedart.py
Due: format, format-docs

Fix duplicate_keys with mb_albumid/mb_trackid for autotagged imports
  beets/importer/tasks.py
  docs/changelog.rst
  test/test_importer.py
Due: format, format-docs

docs: shorten changelog entry for #7067 to repo style
  docs/changelog.rst
Due: format-docs

test: cover no-artist early-return branch in find_duplicates
  test/test_importer.py
Due: format

embedart: respect import write option when normalizing
  beetsplug/embedart.py
  test/plugins/test_embedart.py
Due: format

export, info: expand glob patterns in --include-keys
  beetsplug/info.py
  docs/changelog.rst
  docs/plugins/info.rst
  test/plugins/test_export.py
Due: format, format-docs

embedart: use the configured quality when embedding on art_set
  beetsplug/embedart.py
  docs/changelog.rst
  test/plugins/test_embedart.py
Due: format, format-docs

export, info: match globs against the model's fields, keep path out of info
  beetsplug/info.py
  docs/plugins/export.rst
  test/plugins/test_export.py
  test/plugins/test_info.py
Due: format, format-docs

docs: info's glob patterns match built-in and plugin-declared fields
  docs/plugins/info.rst
Due: format-docs

lyrics: Store metadata for instrumental matches
  beetsplug/lyrics.py
  docs/changelog.rst
  test/plugins/test_lyrics.py
Due: format, format-docs
