Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

format:
  name: Format Python files
  entry: poe format
  language: system
  pass_filenames: true

format-docs:
  name: Format docs
  entry: poe format-docs
  language: system
  pass_filenames: true

explicitly add classmethod decorator where appropriate
  beets/dbcore/db.py
  beets/library/models.py
  beets/metadata_plugins.py
Due: format

fix(musicbrainz): handle missing aliases in browse_recordings for large releases
  beetsplug/musicbrainz.py
  test/plugins/test_musicbrainz.py
Due: format

doc(changelog): add entry for browse_recordings aliases fix
  docs/changelog.rst
Due: format-docs

style: apply ruff formatting and address review comments
  beetsplug/musicbrainz.py
  test/plugins/test_musicbrainz.py
Due: format

refactor: compile LRC timestamp pattern as class attr, simplify unpacking
  beets/util/lyrics.py
Due: format

merge: add ListenBrainz changelog entry from master
  docs/changelog.rst
Due: format-docs

Add py.typed to beetsplug
  beetsplug/py.typed
Due: format

I think it is a good time to move the PytestPluginTestHelper class.
  beets/test/helper.py
  test/plugins/test_embedart.py
  test/plugins/test_hook.py
  test/plugins/test_mbsync.py
Due: format

Migrated `test_plugins` to use pytest instead of unittest cases.
  test/test_plugins.py
Due: format

refactor(musicbrainz): use direct aliases access and improve browse test
  beetsplug/musicbrainz.py
  test/plugins/test_musicbrainz.py
Due: format

style: apply ruff formatting to test
  test/plugins/test_musicbrainz.py
Due: format

fetchart: add test and changelog for OSError handling in _set_art
  docs/changelog.rst
  test/plugins/test_fetchart.py
Due: format, format-docs

fetchart: catch OSError in _set_art for graceful permission error handling
  beetsplug/fetchart.py
Due: format

Simplify test.
  test/plugins/test_musicbrainz.py
Due: format

Make aliases-as-credits functionality opt-in.
  beetsplug/musicbrainz.py
  docs/changelog.rst
  docs/plugins/musicbrainz.rst
  test/plugins/test_musicbrainz.py
Due: format, format-docs

PR feedback.
  docs/changelog.rst
  test/plugins/test_musicbrainz.py
Due: format, format-docs

limit: Fix HeadQuery + SlowFieldSort applying limit before sort
  beets/dbcore/db.py
  test/plugins/test_limit.py
Due: format

Fix lint errors
  test/plugins/test_web.py
Due: format

Add reference to commit fixing CVE
  test/plugins/test_web.py
Due: format

Test for unsafe input fields in web UI against XSS
  test/plugins/test_web_xss.py
Due: format

Fix formatting in test/plugins/test_web_xss.py
  test/plugins/test_web_xss.py
Due: format

One more too long line in test_web_xss.py
  test/plugins/test_web_xss.py
Due: format

Refactor to pytest and PluginMixin, merge into test_web.py
  beets/test/helper.py
  test/plugins/test_web.py
  test/plugins/test_web_xss.py
Due: format

importer: fix tar and 7z archive import (#5664)
  beets/importer/tasks.py
  docs/changelog.rst
  test/test_importer.py
Due: format, format-docs

POC lyrics to txt
  beetsplug/lyrics.py
Due: format

Batch SQLite commits and follow write-before-store pattern
  beetsplug/spotify.py
  docs/changelog.rst
  test/plugins/test_spotify.py
Due: format, format-docs

remove capture_log
  test/plugins/test_spotify.py
Due: format

remove optional test
  test/plugins/test_spotify.py
Due: format

simplify test
  test/plugins/test_spotify.py
Due: format

add typehints
  beetsplug/spotify.py
Due: format

Treat unknown media totals as empty
  beets/dbcore/types.py
  beets/library/fields.py
  beets/library/models.py
  docs/changelog.rst
  test/plugins/test_info.py
  test/test_library.py
  test/test_types.py
Due: format, format-docs

Fix mpdstats CLI option overrides
  beetsplug/mpdstats.py
  docs/changelog.rst
  test/plugins/test_mpdstats.py
Due: format, format-docs

Fix replace command callback signature
  beetsplug/replace.py
  docs/changelog.rst
  test/plugins/test_replace.py
Due: format, format-docs

SingletonDisambiguationTest -> TestSingletonDisambiguation
  test/test_library.py
Due: format

ItemFormattedMappingTest -> TestItemFormattedMapping
  test/test_library.py
Due: format

MtimeTest -> TestMtime
  test/test_library.py
Due: format

Added git blame ignore rev entry and formatting.
  .git-blame-ignore-revs
  test/test_library.py
Due: format

TemplateTest -> TemplateTest
  test/test_library.py
Due: format

PathStringTest -> TestPathString
  test/test_library.py
Due: format

ItemPruneDirsClutterTest -> TestItemPruneDirsClutter
  test/test_library.py
Due: format

Path conditions:
  format: any of: .*.py
  format-docs: any of: .*.rst
