Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

format:
  name: Format Python files
  entry: poe format
  language: system
  pass_filenames: true

format-docs:
  name: Format docs
  entry: poe format-docs
  language: system
  pass_filenames: true

Sometimes it is time to let go of old things: This removes old references and docs for the old gmusic plugin.
  beetsplug/gmusic.py
  docs/changelog.rst
  docs/plugins/gmusic.rst
  docs/plugins/index.rst
Due: format, format-docs

Change missing plugin to allow for filtering albums by release type
  beetsplug/missing.py
  docs/changelog.rst
  docs/plugins/missing.rst
  test/plugins/test_missing.py
Due: format, format-docs

Add more descriptive argparse help string
  beetsplug/missing.py
Due: format

Fix formatting
  beetsplug/missing.py
Due: format

Finish rebase
  beetsplug/missing.py
  docs/changelog.rst
  docs/plugins/missing.rst
Due: format, format-docs

Fix tests
  beetsplug/missing.py
  test/plugins/test_missing.py
Due: format

Fix lint
  docs/changelog.rst
  test/plugins/test_missing.py
Due: format, format-docs

reformat failing docs
  docs/changelog.rst
  docs/plugins/missing.rst
Due: format-docs

Load musicbrainz implicitly and supply a deprecation warning
  beets/config_default.yaml
  beets/plugins.py
Due: format

Centralise warnings for maintainers into deprecate_for_maintainers
  beets/__init__.py
  beets/autotag/__init__.py
  beets/library/__init__.py
  beets/mediafile.py
  beets/plugins.py
  beets/ui/__init__.py
  beets/ui/commands/__init__.py
  beets/util/deprecation.py
Due: format

Warn users of deprecated musicbrainz.enabled option
  beets/plugins.py
  beets/util/deprecation.py
Due: format

Add deprecate_for_user function
  beets/plugins.py
  beets/util/deprecation.py
  beetsplug/musicbrainz.py
Due: format

Move deprecate_imports to beets.util.deprecation
  beets/__init__.py
  beets/autotag/__init__.py
  beets/library/__init__.py
  beets/util/__init__.py
  beets/util/deprecation.py
Due: format

Do not show a warning to users that have musicbrainz disabled
  beets/config_default.yaml
  beets/plugins.py
Due: format

Do not force load musicbrainz, add a test to show the behaviour
  beets/config_default.yaml
  beets/plugins.py
  test/test_plugins.py
Due: format

Removed redundant dash in changelog.rst
  docs/changelog.rst
Due: format-docs

Changed docs to reflect feature addition instead of bug-fix
  docs/changelog.rst
  docs/plugins/convert.rst
Due: format-docs

added tests for max_bitrate and no_convert
  test/plugins/test_convert.py
Due: format

Linted new tests
  test/plugins/test_convert.py
Due: format

Move PromptChoice to beets.util module
  beets/ui/commands/__init__.py
  beets/ui/commands/import_/session.py
  beets/util/__init__.py
  beetsplug/edit.py
  beetsplug/mbsubmit.py
  beetsplug/play.py
  docs/dev/plugins/other/prompts.rst
  test/test_plugins.py
Due: format, format-docs

fix: Sanitize log messages by removing control characters
  beets/logging.py
  docs/changelog.rst
  test/test_logging.py
Due: format, format-docs

docs: Fix link to plugin development docs
  README.rst
  README_kr.rst
Due: format-docs

Added sql db indices as ORM model class.
  beets/dbcore/__init__.py
  beets/dbcore/db.py
Due: format

Added tests for index class.
  test/test_dbcore.py
Due: format

Ruff format after rebase.
  beets/dbcore/db.py
  test/test_dbcore.py
Due: format

Added album_id index to speed up queries against album items.
  beets/library/models.py
Due: format

Path conditions:
  format: any of: .*.py
  format-docs: any of: .*.rst
