Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

format:
  name: Format Python files
  entry: poe format
  language: system
  pass_filenames: true

format-docs:
  name: Format docs
  entry: poe format-docs
  language: system
  pass_filenames: true

Adjust docs
  docs/changelog.rst
  docs/dev/plugins/commands.rst
  docs/plugins/absubmit.rst
  docs/plugins/acousticbrainz.rst
  docs/plugins/autobpm.rst
  docs/plugins/badfiles.rst
  docs/plugins/bareasc.rst
  docs/plugins/bpm.rst
  docs/plugins/bpsync.rst
  docs/plugins/chroma.rst
  docs/plugins/convert.rst
  docs/plugins/deezer.rst
  docs/plugins/duplicates.rst
  docs/plugins/embedart.rst
  docs/plugins/export.rst
  docs/plugins/fetchart.rst
  docs/plugins/ftintitle.rst
  docs/plugins/info.rst
  docs/plugins/ipfs.rst
  docs/plugins/keyfinder.rst
  docs/plugins/limit.rst
  docs/plugins/lyrics.rst
  docs/plugins/mbsubmit.rst
  docs/plugins/mbsync.rst
  docs/plugins/metasync.rst
  docs/plugins/missing.rst
  docs/plugins/play.rst
  docs/plugins/random.rst
  docs/plugins/replace.rst
  docs/plugins/replaygain.rst
  docs/plugins/spotify.rst
  docs/plugins/thumbnails.rst
  docs/plugins/tidal.rst
  docs/plugins/zero.rst
  docs/reference/cli.rst
Due: format-docs

Add tests
  test/ui/commands/test_list.py
  test/ui/test_ui.py
Due: format

Fix tests
  beetsplug/ipfs.py
  test/plugins/test_tidal.py
Due: format

docs: add beets-genrecanon to external plugins
  docs/plugins/index.rst
Due: format-docs

docs: apply documentation formatting
  docs/plugins/index.rst
Due: format-docs

docs: remove trailing whitespace
  docs/plugins/index.rst
Due: format-docs

docs: order genrecanon entry alphabetically
  docs/plugins/index.rst
Due: format-docs

Fix unique path collision handling
  beets/library/library.py
  beets/library/models.py
  test/test_library.py
Due: format

util: store authentication token files with 0600 permissions
  beets/util/__init__.py
  beetsplug/beatport.py
  beetsplug/discogs/__init__.py
  beetsplug/plexupdate.py
  beetsplug/spotify.py
  beetsplug/tidal/session.py
  docs/changelog.rst
  test/test_util.py
Due: format, format-docs

Address review comments: validate open modes and propagate chmod errors
  beets/util/__init__.py
  test/test_util.py
Due: format

lyrics: support 3-decimal millisecond timestamps in LRC parsing
  beets/util/lyrics.py
  docs/changelog.rst
  test/plugins/test_lyrics.py
  test/util/test_lyrics.py
Due: format, format-docs

web: add optional limit/offset paging to album and artist lists
  beetsplug/web/__init__.py
  test/plugins/test_web.py
Due: format

web: new buildless index shell; drop jQuery/Backbone/Underscore
  beetsplug/web/static/backbone.js
  beetsplug/web/static/jquery.js
  beetsplug/web/static/underscore.js
  beetsplug/web/templates/index.html
Due: none

web: modern dark-first stylesheet with light/dark themes
  beetsplug/web/static/beets.css
Due: none

Fix importer UI displaying canonical artist name instead of artist credit (#5010)
  beets/autotag/hooks.py
  beets/ui/commands/import_/display.py
  beets/ui/commands/import_/session.py
  docs/changelog.rst
  test/autotag/test_hooks.py
  test/ui/commands/test_import.py
Due: format, format-docs

autotag, ui: address maintainer review feedback on artist credit display
  beets/ui/commands/import_/display.py
  docs/changelog.rst
  test/autotag/test_hooks.py
  test/ui/commands/test_import.py
Due: format, format-docs

util: handle empty path components and avoid leading slashes in destination paths
  beets/library/models.py
  beets/util/__init__.py
  docs/changelog.rst
  test/test_library.py
  test/test_util.py
Due: format, format-docs

web: split frontend into api/app modules; paginated albums grid
  beetsplug/web/static/api.js
  beetsplug/web/static/app.js
  beetsplug/web/static/beets.js
Due: none

docs: describe the redesigned web UI and album/artist paging params
  docs/changelog.rst
  docs/plugins/web.rst
Due: format-docs

util: split path only by platform separators in sanitize_path
  beets/util/__init__.py
  test/test_util.py
Due: format

web: update XSS regression test for the client-render UI
  test/plugins/test_web.py
Due: format

fetchart: fix cover_format conversion, deinterlace interaction, and alpha handling (#4452)
  beets/util/artresizer.py
  beetsplug/fetchart.py
  docs/changelog.rst
  test/plugins/test_art.py
  test/util/test_art_resize.py
Due: format, format-docs

web: escape MusicBrainz ids in links; harden esc() and pager; extend XSS test
  beetsplug/web/static/app.js
  test/plugins/test_web.py
Due: format

test: fix posix absolute path assertion in empty leading components tests
  test/test_library.py
Due: format

docs: format changelog entry with docstrfmt
  docs/changelog.rst
Due: format-docs

import: fix parsing logfiles when paths contain semicolons (#4941)
  beets/ui/commands/import_/__init__.py
  docs/changelog.rst
  test/ui/commands/test_import.py
Due: format, format-docs

fetchart: fix stream parameter override, early status check, and streaming bounds (#5454)
  beetsplug/fetchart.py
  docs/changelog.rst
  test/plugins/test_fetchart.py
Due: format, format-docs

Add remove_missing option to convert plugin
  beetsplug/convert.py
Due: format

Add remove_missing test cases
  test/plugins/test_convert.py
Due: format

Add documentation for remove_missing option of convert plugin
  docs/plugins/convert.rst
Due: format-docs

Add changelog entry for remove_missing option of convert plugin
  docs/changelog.rst
Due: format-docs

Simplify test setup
  test/plugins/test_convert.py
Due: format

Update remove_non_item_files signature with annotations and remove unnecessary parameters
  beetsplug/convert.py
Due: format

Use new configuration API
  beetsplug/convert.py
Due: format

Remove conflict with refresh short option
  beetsplug/convert.py
Due: format

Remove multi-line string for remove-missing help text
  beetsplug/convert.py
Due: format

Improve remove_missing option documentation
  docs/plugins/convert.rst
Due: format-docs

Improve test coverage and test documentation
  test/plugins/test_convert.py
Due: format

Path conditions:
  format: any of: .*.py
  format-docs: any of: .*.rst
