Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

format:
  name: Format Python files
  entry: poe format
  language: system
  pass_filenames: true

format-docs:
  name: Format docs
  entry: poe format-docs
  language: system
  pass_filenames: true

Fix tests
  test/test_library.py
  test/ui/test_ui.py
Due: format

Formatting
  docs/dev/plugins/other/progressbars.rst
  test/test_library.py
Due: format, format-docs

Review feedback
  beets/library/library.py
  beets/ui/__init__.py
  beetsplug/ftintitle.py
  beetsplug/missing.py
  beetsplug/parentwork.py
  beetsplug/permissions.py
  beetsplug/unimported.py
  beetsplug/zero.py
  pyproject.toml
  test/test_ui.py
Due: format

Fix poetry, and lint
  beets/library/library.py
  beets/ui/__init__.py
  beets/ui/commands/move.py
  beets/ui/commands/update.py
  beetsplug/badfiles.py
  beetsplug/missing.py
  beetsplug/permissions.py
  beetsplug/unimported.py
  beetsplug/zero.py
  poetry.lock
  test/test_library.py
Due: format

Fix units
  beets/ui/commands/move.py
  beetsplug/duplicates.py
  beetsplug/mbsync.py
Due: format

Fix import
  beetsplug/badfiles.py
Due: format

Review feedback
  beets/library/library.py
  beets/ui/commands/move.py
  beetsplug/badfiles.py
  beetsplug/duplicates.py
  beetsplug/embedart.py
  beetsplug/ftintitle.py
  beetsplug/mbsync.py
  beetsplug/missing.py
  beetsplug/parentwork.py
  beetsplug/permissions.py
  beetsplug/unimported.py
  beetsplug/zero.py
  docs/changelog.rst
  test/test_library.py
  test/ui/test_ui.py
Due: format, format-docs

Formatting
  beets/ui/commands/move.py
  beetsplug/parentwork.py
  beetsplug/permissions.py
  beetsplug/zero.py
  test/test_library.py
Due: format

Fix small counter error
  beets/ui/__init__.py
Due: format

Plural units -> singular units
  beets/ui/__init__.py
  beetsplug/autobpm.py
  beetsplug/chroma.py
  beetsplug/duplicates.py
  beetsplug/embedart.py
  beetsplug/fetchart.py
  beetsplug/lastgenre/__init__.py
  beetsplug/lyrics.py
  docs/dev/plugins/other/progressbars.rst
Due: format, format-docs

Revise documentation formatting
  docs/changelog.rst
  docs/dev/plugins/other/progressbars.rst
Due: format-docs

Format progressbars.rst
  docs/dev/plugins/other/progressbars.rst
  pyproject.toml
Due: format-docs

Revert unintended change to format-docs command
  pyproject.toml
Due: none

Check if revision is not None, as it will be 0 for items not net written to the database.
  beets/ui/__init__.py
Due: format

Show that album genres are not applied to tracks
  test/test_autotag.py
Due: format

autotag: refactor autotag tests to use single comprehensive test
  test/test_autotag.py
Due: format

Keep missing multi-value fields as None instead of empty list
  beets/autotag/hooks.py
  docs/changelog.rst
  test/plugins/test_musicbrainz.py
  test/test_autotag.py
Due: format, format-docs

Move test_autotag tests under test/autotag
  test/autotag/test_autotag.py
Due: format

Fix lint
  beets/ui/commands/config.py
Due: format

Match substrings fuzzily
  beetsplug/fuzzy.py
Due: format

Add tests
  test/plugins/test_fuzzy.py
Due: format

Add changelog note
  docs/changelog.rst
Due: format-docs

Force slow queries for FuzzyPlugin
  beetsplug/fuzzy.py
  docs/changelog.rst
Due: format, format-docs

Use util function for song selection
  beetsplug/replace.py
Due: format

Enable duplicate detection for as-is imports
  beets/importer/stages.py
  docs/changelog.rst
  test/test_importer.py
Due: format, format-docs

Move changelog note under Unreleased section
  docs/changelog.rst
Due: format-docs

Fix lint issues
  test/plugins/test_convert.py
Due: format

convert: generate playlist entries from effective output paths
  beetsplug/convert.py
  test/plugins/test_convert.py
Due: format

Path conditions:
  format: any of: .*.py
  format-docs: any of: .*.rst
