Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: format
        name: Format Python files
        entry: poe format
        language: system
        files: '.*.py'
        pass_filenames: true
      - id: format-docs
        name: Format docs
        entry: poe format-docs
        language: system
        files: '.*.rst'
        pass_filenames: true

library: add subtitle (id3 TIT3) field
  beets/library/models.py
  docs/changelog.rst
  docs/reference/pathformat.rst
Due: format, format-docs

Fixed issue with plugins not loaded as multiple plugins are exposed in the plugins file.
  beets/plugins.py
  beetsplug/bpsync.py
  beetsplug/chroma.py
  docs/changelog.rst
Due: format, format-docs

Replaced filter with list comprehension.
  beets/plugins.py
Due: format

Added a test for multiple plugin classes in a single module.
  beets/plugins.py
  test/test_plugins.py
Due: format

Add docs fixes.
  beetsplug/musicbrainz.py
  docs/changelog.rst
  docs/plugins/musicbrainz.rst
Due: format, format-docs

Expand documentation
  docs/plugins/discogs.rst
Due: format-docs

Added changelog and git blame ignore rev
  .git-blame-ignore-revs
Due: none

Moved vfs to beetsplug
  beetsplug/_utils/vfs.py
  test/plugins/utils/test_vfs.py
Due: format

Improved typing of vfs.
  beets/vfs.py
Due: format

Exposed vfs and art from beets for backwards compatibility.
  beets/__init__.py
Due: format

Using deprecate_imports.
  beets/__init__.py
  beetsplug/_utils/__init__.py
Due: format

Added change-log entry and fixed some imports.
  beetsplug/bench.py
  beetsplug/bpd/__init__.py
  docs/changelog.rst
Due: format, format-docs

Int ids
  beetsplug/_utils/vfs.py
Due: format

Move `vfs.py` to `beetsplug._utils` package to avoid polluting core namespace (#6017)
  .git-blame-ignore-revs
  beets/__init__.py
  beetsplug/_utils/__init__.py
  beetsplug/_utils/vfs.py
  beetsplug/bench.py
  beetsplug/bpd/__init__.py
  docs/changelog.rst
  test/plugins/utils/test_vfs.py
Due: format, format-docs

Git suffix for git installs
  beets/__init__.py
  docs/changelog.rst
Due: format, format-docs

Setup dynamic versioning
  beets/__init__.py
  pyproject.toml
Due: format

Revert autoformat
  .gitignore
  beets/__init__.py
  beets/_version.py
  pyproject.toml
Due: format

release flow not editing __init__ anymore
  beets/__init__.py
  extra/release.py
Due: format

Add git commit suffix to __version__ for development installs (#5967)
  .gitignore
  beets/__init__.py
  beets/_version.py
  docs/changelog.rst
  extra/release.py
  pyproject.toml
Due: format, format-docs

Removed outdated installation instructions.
  docs/faq.rst
  docs/guides/main.rst
  docs/guides/tagger.rst
Due: format-docs

Removed mailing list ref in index.rst
  docs/index.rst
Due: format-docs

Modernized getting started guide.
  docs/conf.py
  docs/guides/index.rst
  docs/guides/installation.rst
  docs/guides/main.rst
  poetry.lock
  pyproject.toml
Due: format, format-docs

Added pipx refernces
  docs/guides/main.rst
Due: format-docs

Set sphinx dependencies as optional
  poetry.lock
  pyproject.toml
Due: none

Run formatter.
  docs/faq.rst
  docs/guides/main.rst
  docs/index.rst
Due: format-docs

Removed duplicate yet.
  docs/guides/main.rst
Due: format-docs

Readded (outdated) mac instructions. No idea why they were dropped.
  docs/guides/main.rst
Due: format-docs

Added changelog entry.
  docs/changelog.rst
Due: format-docs

Re-added macport instructions. Removed mailing list ref. Added section header for pip and pipx. Removed python 3.13 attention.
  docs/guides/main.rst
  docs/index.rst
Due: format-docs

Persist spotify track attributes even if audio features are missing
  beetsplug/spotify.py
  docs/changelog.rst
Due: format, format-docs

lint
  docs/changelog.rst
Due: format-docs

Remove potentially expensive item.get() calls
  beetsplug/spotify.py
Due: format

Removed __all__ as they are not needed here anymore.
  beetsplug/bpsync.py
  beetsplug/chroma.py
Due: format

Extends the importer’s “fresh on reimport” lists so album flex metadata from new releases replaces stale values
  beetsplug/musicbrainz.py
  docs/changelog.rst
Due: format, format-docs
