Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

format:
  name: Format Python files
  entry: poe format
  language: system
  pass_filenames: true

format-docs:
  name: Format docs
  entry: poe format-docs
  language: system
  pass_filenames: true

Support 'track' prefix when parsing track from filename
  beetsplug/fromfilename.py
  docs/changelog.rst
  test/plugins/test_fromfilename.py
Due: format, format-docs

Enabled strict typing.
  setup.cfg
Due: none

Added changelog entry
  .github/CODEOWNERS
  docs/changelog.rst
Due: format-docs

Added candidate method implementations methods: Required a slight amount of refactoring but im more happy with the abstraction now.
  beetsplug/tidal/__init__.py
  beetsplug/tidal/api.py
  beetsplug/tidal/api_types.py
  beetsplug/tidal/authenticate.py
  test/plugins/test_tidal.py
Due: format

Added state verify step in authentication function. Not that is needed but a good thing to have.
  beetsplug/tidal/authenticate.py
Due: format

Added a few tests for the RateLimitAdapter
  test/plugins/utils/test_requests.py
Due: format

Move auth flow to use requests-oauth.
  beetsplug/tidal/__init__.py
  beetsplug/tidal/api.py
  beetsplug/tidal/authenticate.py
  beetsplug/tidal/session.py
Due: format

Another subset of review comments from @snejus: - Renamed _extract_* methods to _parse_* - Renamed release to date_parts - Using .get instead of .request("GET"...)
  beetsplug/tidal/__init__.py
  beetsplug/tidal/api.py
  test/plugins/test_tidal.py
Due: format

Added a number of unit tests for the parsing.
  test/plugins/test_tidal.py
Due: format

Use get_json where applicable and simplified iso 8601 parsing.
  beetsplug/tidal/__init__.py
  beetsplug/tidal/api.py
Due: format

Ignore types files in coverage.
  setup.cfg
Due: none

Added tests for the id extractor.
  test/util/test_id_extractors.py
Due: format

Renamed Album, Track, Artists to TidalAlbum, TidalTrack, TidalArtist
  beetsplug/tidal/__init__.py
  beetsplug/tidal/api_types.py
Due: format

Moved beets ui import to top.
  beetsplug/tidal/api.py
Due: format

renamed hashmaps to *_by_id from *_lookup
  beetsplug/tidal/__init__.py
Due: format

Added retry logic to TidalSession and added RequestHandler abstraction to api layer.
  beetsplug/_utils/requests.py
  beetsplug/tidal/api.py
  beetsplug/tidal/session.py
Due: format

Added tests for candidates and item_candidates.
  test/plugins/test_tidal.py
Due: format

First iteration of reviews: - too strict ids - typos and docstring improvements
  beets/util/id_extractors.py
  beetsplug/tidal/__init__.py
  beetsplug/tidal/api.py
Due: format

Refactored slightly and move search into own methods
  beetsplug/tidal/__init__.py
Due: format

Added batching for max filter size.
  beetsplug/tidal/api.py
Due: format

Implemented batch lookup methods for more efficient retrieval.
  beetsplug/tidal/__init__.py
  test/plugins/test_tidal.py
Due: format

Auth flow should open browser if possible.
  beetsplug/tidal/api.py
  beetsplug/tidal/session.py
Due: format

super requests already raises.
  beetsplug/tidal/api.py
Due: format

Added small typing wrapper for api layer. Not enterly needed but it makes working with the api response data so much easier.
  beetsplug/tidal/api.py
  beetsplug/tidal/api_types.py
Due: format

Fixed a few typing issues and a small bug around how responses are handled in the session.
  beetsplug/tidal/api.py
Due: format

Added the *_by_id capabilities for TidalPlugin.
  beetsplug/tidal/__init__.py
Due: format

Added documentation.
  docs/plugins/index.rst
  docs/plugins/tidal.rst
Due: format-docs

warning instead of raising errors.
  beetsplug/tidal/__init__.py
  test/plugins/test_tidal.py
Due: format

Changelog entry moved to unrelease section
  docs/changelog.rst
Due: format-docs

lastgenre: Docs hint on canonical without whitelist
  docs/plugins/lastgenre.rst
Due: format-docs

Catch exception on invalid alias template
  beetsplug/lastgenre/utils.py
Due: format

lastgenre: Docs for genre normalization (aliases)
  docs/plugins/lastgenre.rst
Due: format-docs

lastgenre: Test aliases and ship default config
  beetsplug/lastgenre/aliases.yaml
  test/plugins/test_lastgenre.py
Due: format

Test invalid alias template catch
  test/plugins/test_lastgenre.py
Due: format

Fixes/additions to default aliases
  beetsplug/lastgenre/aliases.yaml
Due: none

Fix normalize_genre docstring wording
  beetsplug/lastgenre/utils.py
Due: format

lastgenre: Slightly optimize filter_valid performance
  beetsplug/lastgenre/__init__.py
Due: format

lastgenre: Implement genre alias normalization
  beetsplug/lastgenre/__init__.py
  beetsplug/lastgenre/client.py
  beetsplug/lastgenre/utils.py
Due: format

fix CI failure
  docs/changelog.rst
Due: format-docs

fix CI issues
  docs/changelog.rst
Due: format-docs

Path conditions:
  format: any of: .*.py
  format-docs: any of: .*.rst
