Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

format:
  name: Format Python files
  entry: poe format
  language: system
  pass_filenames: true

format-docs:
  name: Format docs
  entry: poe format-docs
  language: system
  pass_filenames: true

docs bug fix line added to changelog
  docs/changelog.rst
Due: format-docs

linting and formatting fixes
  beetsplug/musicbrainz.py
  test/plugins/test_musicbrainz.py
Due: format

linting fixes for tests
  beetsplug/musicbrainz.py
  test/plugins/test_musicbrainz.py
Due: format

changelog formatting tweaks
  docs/changelog.rst
Due: format-docs

changelog extra line deleted
  docs/changelog.rst
Due: format-docs

changelog reformatt with poetry
  docs/changelog.rst
Due: format-docs

Fix import --from-logfile
  beets/ui/commands/import_/__init__.py
Due: format

Changelog for #6161
  docs/changelog.rst
Due: format-docs

Added support for pre-tag selection stage
  beetsplug/titlecase.py
  docs/plugins/titlecase.rst
  test/plugins/test_titlecase.py
Due: format, format-docs

hooks: make AlbumMatch.mapping a tuple
  beets/autotag/__init__.py
  beets/autotag/distance.py
  beets/autotag/hooks.py
  beets/autotag/match.py
  beets/importer/tasks.py
  beets/ui/commands/import_/display.py
  beetsplug/bpsync.py
  beetsplug/mbpseudo.py
  beetsplug/mbsync.py
  test/autotag/test_distance.py
  test/test_autotag.py
  test/ui/commands/test_import.py
Due: format

matching: replace search_title, search_album with search_name
  beets/autotag/match.py
Due: format

hooks: Generalise AlbumMatch and TrackMatch into Match
  beets/autotag/hooks.py
Due: format

plugins/web: fix endpoints `/…/values/…`
  beetsplug/web/__init__.py
  docs/changelog.rst
  test/plugins/test_web.py
Due: format, format-docs

Web plugin: add type hint for g.lib
  beetsplug/web/__init__.py
Due: format

fix The artist behavior with artists with 'the' string in the name
  beetsplug/titlecase.py
  test/plugins/test_titlecase.py
Due: format

fix type issues
  beetsplug/titlecase.py
Due: format

Add native support for multiple genres per album/track
  beets/autotag/__init__.py
  beets/autotag/hooks.py
  beets/config_default.yaml
  beets/library/models.py
  beetsplug/beatport.py
  beetsplug/lastgenre/__init__.py
  beetsplug/musicbrainz.py
  docs/changelog.rst
  docs/reference/config.rst
  test/test_autotag.py
  test/test_library.py
Due: format, format-docs

Address code review feedback for multi-value genres
  beetsplug/beatport.py
  test/plugins/test_lastgenre.py
  test/test_autotag.py
  test/test_library.py
Due: format

Add word boundary support, fix The artist behavior
  beetsplug/titlecase.py
  docs/plugins/titlecase.rst
  test/plugins/test_titlecase.py
Due: format, format-docs

only apply & log change if there's a difference
  beetsplug/titlecase.py
Due: format

hooks: introduce Info.name property
  beets/autotag/hooks.py
  beets/ui/commands/import_/display.py
  beets/ui/commands/import_/session.py
Due: format

import: simplify tagging item
  beets/autotag/__init__.py
  beets/autotag/hooks.py
  beets/autotag/match.py
  beets/importer/tasks.py
  beetsplug/bpsync.py
  beetsplug/mbsync.py
  test/test_autotag.py
Due: format

autotag: refactor autotag tests to use single comprehensive test
  test/test_autotag.py
Due: format

tagging: fix list albumartists field
  beets/autotag/__init__.py
  beets/importer/tasks.py
  test/plugins/test_edit.py
Due: format

tagging: allow nulling singleton fields
  beets/autotag/__init__.py
Due: format

autotag: add a test for overwrite_null configuration
  test/test_autotag.py
Due: format

autotag: split tests into test_match.py and test_hooks.py
  test/autotag/test_hooks.py
  test/autotag/test_match.py
Due: format

autotag: fix list fields
  beets/autotag/__init__.py
Due: format

Unified search string construction between albums and items.
  beets/autotag/match.py
  beets/metadata_plugins.py
  docs/changelog.rst
Due: format, format-docs

Adjusted changelog, added suggestions by copilot
  beets/autotag/match.py
  docs/changelog.rst
Due: format, format-docs

Removed trailing comma
  beets/metadata_plugins.py
Due: format

Added testcase.
  test/autotag/test_match.py
Due: format

search query are now strigns, removed None type
  beets/autotag/match.py
Due: format

Simplified search_ids logic: now uses sequence typing
  beets/autotag/match.py
Due: format

Added note on title and artist usage.
  beets/metadata_plugins.py
Due: format

test(ftintitle): mock import task to exercise import hooks
  test/plugins/test_ftintitle.py
Due: format

Path conditions:
  format: any of: .*.py
  format-docs: any of: .*.rst
