Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: format
        name: Format Python files
        entry: poe format
        language: system
        files: '.*.py'
        pass_filenames: true
      - id: format-docs
        name: Format docs
        entry: poe format-docs
        language: system
        files: '.*.rst'
        pass_filenames: true

tidal: respect search_limit when collecting candidates
  beetsplug/tidal/__init__.py
  docs/changelog.rst
  test/plugins/test_tidal.py
Due: format, format-docs

tidal: count distinct candidates toward search limit
  beetsplug/tidal/__init__.py
  test/plugins/test_tidal.py
Due: format

add tunique
  beets/config_default.yaml
  beets/library/models.py
  docs/changelog.rst
  docs/reference/config.rst
  docs/reference/pathformat.rst
  test/test_library.py
Due: format, format-docs

fix(deezer): detect compilations credited to a single main artist
  beetsplug/deezer.py
  docs/changelog.rst
  test/plugins/test_deezer.py
Due: format, format-docs

tidal: respect search_limit config option in candidates()
  beetsplug/tidal/__init__.py
  test/plugins/test_tidal.py
Due: format

docs: add changelog entry for tidal search_limit fix (#6770)
  docs/changelog.rst
Due: format-docs

tidal: extract round-robin interleaving into a helper
  beetsplug/tidal/__init__.py
Due: format

tidal: simplify search_limit handling with itertools
  beetsplug/tidal/__init__.py
Due: format

tidal: fix mypy errors in interleaved search results
  beetsplug/tidal/__init__.py
Due: format

tidal: apply search_limit via round-robin early-break in candidates()
  beetsplug/tidal/__init__.py
  test/plugins/test_tidal.py
Due: format

tidal: fix lint, formatting, and mypy errors
  beetsplug/tidal/__init__.py
  test/plugins/test_tidal.py
Due: format

Embedded art extraction for fetchart plugin
  beetsplug/fetchart.py
  docs/plugins/embedart.rst
  docs/plugins/fetchart.rst
Due: format, format-docs

test: FetchArt plugin embedded art
  test/plugins/test_art.py
  test/plugins/test_fetchart.py
Due: format

Changelog entry for FetchArt embedded features
  docs/changelog.rst
Due: format-docs

Add return type for album_has_art
  beetsplug/fetchart.py
Due: format

docs: add link directly to embedded-art-source
  docs/plugins/embedart.rst
Due: format-docs

Fix lint in embedded plugin
  beetsplug/fetchart.py
Due: format

Fix tempfile cleanup logic in fetchart.Embedded.get
  beetsplug/fetchart.py
Due: format

lyrics: don't match LRCLib entries that have no lyrics
  beetsplug/_typing.py
  beetsplug/lyrics.py
  docs/changelog.rst
  test/plugins/test_lyrics.py
Due: format, format-docs

docs: add changelog entry for editor config option
  docs/changelog.rst
Due: format-docs

feat: add editor config option to editor_command()
  beets/util/__init__.py
Due: format

style: apply ruff formatting
  beets/util/__init__.py
Due: format

docs: apply docstrfmt formatting to changelog
  docs/changelog.rst
Due: format-docs

docs: add editor config option to configuration reference
  docs/reference/config.rst
Due: format-docs

test: add tests for editor_command() config option
  test/test_util.py
Due: format

docs: fix RST markup and improve test coverage per review
  test/test_util.py
Due: format

docs: apply docstrfmt formatting to editor section
  docs/reference/config.rst
Due: format-docs

docs: move changelog entry to Unreleased section
  docs/changelog.rst
Due: format-docs

style: apply ruff formatting to test_util.py
  test/test_util.py
Due: format

use the importer's single-artist threshold
  beetsplug/deezer.py
  docs/changelog.rst
  test/plugins/test_deezer.py
Due: format, format-docs

Fix queries for flexible attributes with uppercase names
  beets/dbcore/db.py
  docs/changelog.rst
  test/dbcore/test_query.py
Due: format, format-docs

resolve flex keys through a lowered-key map
  beets/dbcore/db.py
Due: format

Fix storing flex media fields during update
  beets/dbcore/db.py
  docs/changelog.rst
  test/dbcore/test_db.py
  test/ui/commands/test_update.py
Due: format, format-docs

Use new format in determining destination.
  beets/library/models.py
  beetsplug/convert.py
  docs/changelog.rst
Due: format, format-docs

pass in extension, not suffix
  beets/library/models.py
  beetsplug/convert.py
Due: format

Move changelog message to unreleased section.
  docs/changelog.rst
Due: format-docs

importsource: Only register listener if configured
  beetsplug/importsource.py
Due: format

musicbrainz: fetch composer/lyricist aliases
  beetsplug/_utils/musicbrainz.py
  beetsplug/musicbrainz.py
  docs/changelog.rst
  docs/reference/config.rst
  test/plugins/test_musicbrainz.py
Due: format, format-docs

fix(tidal): honor search_limit when searching albums and tracks
  beetsplug/tidal/__init__.py
  docs/changelog.rst
  test/plugins/test_tidal.py
Due: format, format-docs

Refactor template evaluation to handle format strings ONLY
  beets/dbcore/db.py
  beets/library/models.py
  beets/test/helper.py
  beets/ui/commands/modify.py
  beets/util/functemplate.py
  beets/util/pathformats.py
  beetsplug/bench.py
  beetsplug/smartplaylist.py
  test/plugins/test_smartplaylist.py
  test/ui/test_ui.py
  test/util/test_pathformats.py
Due: format
