Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: format
        name: Format Python files
        entry: poe format
        language: system
        files: '.*.py'
        pass_filenames: true
      - id: format-docs
        name: Format docs
        entry: poe format-docs
        language: system
        files: '.*.rst'
        pass_filenames: true

lastgenre: Dedup fallback handling in _get_genre
  beetsplug/lastgenre/__init__.py
Due: format

This PR improves the regex detection used for the drive_sep_replace default.
  beets/dbcore/db.py
  docs/changelog.rst
  docs/plugins/duplicates.rst
  docs/plugins/playlist.rst
Due: format, format-docs

Update __init__.py harden blacklist config sanity check
  beetsplug/lastgenre/__init__.py
Due: format

Added test_get_albums_forwards_extra_criteria_to_discogs_client_search
  test/plugins/test_discogs.py
Due: format

Add support for extra_tags in discogs plugin
  beetsplug/discogs/__init__.py
  docs/plugins/discogs.rst
Due: format, format-docs

Fix changelog and discogs plugin documentation
  .gazelle.yaml.swp
  docs/changelog.rst
  docs/plugins/discogs.rst
Due: format-docs

Update changelog.rst
  docs/changelog.rst
Due: format-docs

Added new tests for discogs plugin to test extra_tags
  test/plugins/test_discogs.py
Due: format

Delete gazelle.yaml
  gazelle.yaml
Due: none

Delete config directory
  config/library.blb
Due: none

This PR improves the regex detection used for the drive_sep_replace default.
  beets/dbcore/db.py
  docs/changelog.rst
Due: format, format-docs

Moved changelog note to top, under Unreleased.
  docs/changelog.rst
Due: format-docs

Pulled latest changelog and added my entry to 'Unreleased > Bug fixes' section.
  docs/changelog.rst
Due: format-docs

Return album candidates from multiple sources when matching by IDs
  beets/autotag/match.py
  test/autotag/test_match.py
  test/test_importer.py
Due: format

Move assignment tests to test/autotag/test_match.py
  test/autotag/__init__.py
  test/autotag/test_autotag.py
  test/autotag/test_match.py
Due: format

Add a test to reproduce the issue
  test/autotag/test_match.py
Due: format

Take data source into account when deciding duplicate candidates
  beets/autotag/hooks.py
  beets/autotag/match.py
  docs/changelog.rst
  docs/dev/plugins/autotagger.rst
  test/autotag/test_match.py
Due: format, format-docs

Refactor match_by_id
  beets/autotag/match.py
Due: format

Require data_source in album_for_id and track_for_id functions
  beets/metadata_plugins.py
  beetsplug/mbsync.py
  beetsplug/missing.py
  docs/changelog.rst
  docs/plugins/mbsync.rst
  docs/plugins/missing.rst
  test/plugins/test_mbsync.py
  test/test_metadata_plugins.py
Due: format, format-docs

Invoke album_matched hook from AlbumMatch.__post_init__
  beets/autotag/hooks.py
  beets/autotag/match.py
  docs/dev/plugins/events.rst
Due: format, format-docs

Copilot feedback
  beetsplug/musicbrainz.py
  docs/reference/config.rst
  test/plugins/test_musicbrainz.py
Due: format, format-docs

Fix writing your own plugin ref in readme
  README.rst
Due: format-docs

docs(installation): Remove redundant MacOS section from installation guide
  docs/changelog.rst
  docs/guides/installation.rst
Due: format-docs
