Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

format:
  name: Format Python files
  entry: poe format
  language: system
  pass_filenames: true

format-docs:
  name: Format docs
  entry: poe format-docs
  language: system
  pass_filenames: true

Reformatted
  beets/test/helper.py
  test/plugins/test_art.py
Due: format

Address review: wrap tests in class, add changelog, update docs
  docs/changelog.rst
  docs/reference/cli.rst
  test/test_dbcore.py
Due: format, format-docs

fix: keep LRC in USLT, simplify synced_lyrics write path, fix poetry.lock
  beetsplug/lyrics.py
  poetry.lock
  test/plugins/test_lyrics.py
Due: format

fix: regenerate poetry.lock after merge with master
  poetry.lock
Due: none

fix: move SYLT changelog entry to Unreleased section
  docs/changelog.rst
Due: format-docs

docs: adding beets-getlrc to the 'other plugins' list
  docs/plugins/index.rst
Due: format-docs

lastgenre: replace built-in genre list with improved hierarchy
  beetsplug/lastgenre/genres-tree.yaml
  beetsplug/lastgenre/genres.txt
Due: none

Fixed Poetry lock
  poetry.lock
Due: none

Update poetry.lock
  poetry.lock
Due: none

docs: fix received spelling in docs
  docs/plugins/titlecase.rst
Due: format-docs

library: include path and reason in ReadError/WriteError messages
  beets/library/exceptions.py
  docs/changelog.rst
  test/test_library.py
Due: format, format-docs

Pass tests
  beetsplug/listenbrainz.py
  test/plugins/test_listenbrainz.py
Due: format

Import listens from file
  beetsplug/listenbrainz.py
Due: format

Fix code review comments
  beetsplug/listenbrainz.py
  docs/plugins/listenbrainz.rst
Due: format, format-docs

Address review feedback
  beetsplug/listenbrainz.py
Due: format

Add tests for file import
  test/plugins/test_listenbrainz.py
Due: format

Add changelog
  docs/changelog.rst
Due: format-docs

Prefer explicitly supplied recording_mbid from additional_info if available
  beetsplug/listenbrainz.py
Due: format

Add missing return type
  beetsplug/listenbrainz.py
Due: format

Use TypedDict for listen return type
  beetsplug/listenbrainz.py
Due: format

Fix formatting
  beetsplug/listenbrainz.py
  test/plugins/test_listenbrainz.py
Due: format

Add tests for new behavior
  test/plugins/test_listenbrainz.py
Due: format

Move types to the top
  beetsplug/listenbrainz.py
Due: format

Handle null mbid_mapping
  beetsplug/listenbrainz.py
Due: format

Stop using `Any` in `TypeVar` bound to Database
  beets/dbcore/db.py
  beets/library/models.py
Due: format

re-add the default to D_co
  beets/dbcore/db.py
  beets/dbcore/query.py
  beets/dbcore/sort.py
  beets/library/migrations.py
  beets/util/diff.py
  test/test_dbcore.py
Due: format

remove the default to enforce explicit anntotions
  beets/dbcore/db.py
  beets/dbcore/query.py
  beets/dbcore/sort.py
  beets/library/migrations.py
  beets/util/diff.py
  test/test_dbcore.py
Due: format

Create UnauthorizedMBError
  beetsplug/_utils/musicbrainz.py
  beetsplug/_utils/requests.py
Due: format

Handle BeetsHTTPError in mbcollection graciously
  beetsplug/mbcollection.py
  docs/changelog.rst
  test/plugins/test_mbcollection.py
Due: format, format-docs

Define Library.path_formats property
  beets/library/library.py
  beets/library/models.py
  beets/library/queries.py
  beets/test/helper.py
  beets/ui/__init__.py
  beets/util/pathformats.py
  beetsplug/bench.py
  beetsplug/convert.py
  test/ui/test_ui.py
Due: format

Define Library.replacements property
  beets/library/library.py
  beets/ui/__init__.py
Due: format

Remove default path_formats value only used in tests
  beets/library/library.py
  beets/test/helper.py
  test/plugins/test_bpd.py
  test/test_library.py
Due: format

Define ConvertPlugin.get_item_destination to centralize the args
  beetsplug/convert.py
Due: format

Clarify the logic inside get_path_formats
  beets/util/pathformats.py
  test/ui/test_ui.py
  test/util/test_pathformats.py
Due: format

Draft sort by circle of fiths feature
  beets/config_default.yaml
  beets/dbcore/__init__.py
  beets/dbcore/sort.py
  beets/dbcore/types.py
  beets/library/models.py
  beets/util/musictheory.py
Due: format

avoid casting from object
  beets/util/__init__.py
Due: format

Revert "avoid casting from object"
  beets/util/__init__.py
Due: format

improve cached_classproperty
  beets/autotag/distance.py
  beets/autotag/hooks.py
  beets/dbcore/db.py
  beets/importer/tasks.py
  beets/library/models.py
  beets/metadata_plugins.py
  beets/util/__init__.py
  test/conftest.py
  test/test_dbcore.py
Due: format

Revert "improve cached_classproperty"
  beets/autotag/distance.py
  beets/autotag/hooks.py
  beets/dbcore/db.py
  beets/importer/tasks.py
  beets/library/models.py
  beets/metadata_plugins.py
  beets/util/__init__.py
  test/conftest.py
  test/test_dbcore.py
Due: format

alternative implementation of cached_classproperty loosely based on https://stackoverflow.com/a/79582219
  beets/util/__init__.py
  test/conftest.py
Due: format

Path conditions:
  format: any of: .*.py
  format-docs: any of: .*.rst
