Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: format
        name: Format Python files
        entry: poe format
        language: system
        files: '.*.py'
        pass_filenames: true
      - id: format-docs
        name: Format docs
        entry: poe format-docs
        language: system
        files: '.*.rst'
        pass_filenames: true

add documentation for write_metadata option
  docs/changelog.rst
  docs/plugins/convert.rst
Due: format-docs

Add option to not write metadata
  beetsplug/convert.py
Due: format

fixup! add documentation for write_metadata option
  docs/changelog.rst
  docs/plugins/convert.rst
Due: format-docs

Featured artists extracted and appended, need to see if join needs to be variable
  beetsplug/discogs.py
  test/plugins/test_discogs.py
Due: format

testing, updated changelog
  beetsplug/discogs.py
  docs/changelog.rst
  test/plugins/test_discogs.py
Due: format, format-docs

Test written, beginning fix
  beetsplug/discogs.py
  test/plugins/test_discogs.py
Due: format

Fixes, test improvement, rebase to master
  beetsplug/discogs.py
  docs/changelog.rst
  test/plugins/test_discogs.py
Due: format, format-docs

lastgenre_pretend_refactor
  beetsplug/lastgenre/__init__.py
  docs/changelog.rst
  poetry.lock
  pyproject.toml
  test/plugins/test_lastgenre.py
Due: format, format-docs

lastgenre: Refactor final genre apply
  beetsplug/lastgenre/__init__.py
Due: format

lastgenre: Use apply methods during import
  beetsplug/lastgenre/__init__.py
Due: format

lastgenre: Changelog for #6021 refactor apply/pretend
  docs/changelog.rst
Due: format-docs

Add pytest-mock to poetry test dependencies group
  poetry.lock
  pyproject.toml
Due: none

lastgenre: Fix test_pretend_option
  test/plugins/test_lastgenre.py
Due: format

lastgenre: Refactor test_pretend to pytest
  test/plugins/test_lastgenre.py
Due: format

lastgenre_aliases
  beetsplug/lastgenre/__init__.py
  beetsplug/lastgenre/aliases.ini
Due: format

Write initial ANV test
  test/plugins/test_discogs.py
Due: format

Test working, need to implement anv now
  beetsplug/discogs.py
  test/plugins/test_discogs.py
Due: format

lastgenre: Album to item genre fallback
  beetsplug/lastgenre/__init__.py
Due: format

Testing and implemented anv method, also added Featuring customizable string
  beetsplug/discogs.py
  test/plugins/test_discogs.py
Due: format

test updates, one case still failing
  beetsplug/discogs.py
  test/plugins/test_discogs.py
Due: format

Updates to documentation
  beetsplug/discogs.py
  docs/changelog.rst
  test/plugins/test_discogs.py
Due: format, format-docs

Changed query from double to single quotes.
  beets/metadata_plugins.py
  docs/changelog.rst
Due: format, format-docs

Spotify tests are now consistent with quote change
  test/plugins/test_spotify.py
Due: format

improve flexibility of use of anv on artist tracks
  beetsplug/discogs.py
  test/plugins/test_discogs.py
Due: format

Add artist credit support, artist name variation support, more flexible featured credit.
  beetsplug/discogs.py
  docs/changelog.rst
  docs/plugins/discogs.rst
  test/plugins/test_discogs.py
Due: format, format-docs

type checking, tuple unpacking fix in various artists
  beetsplug/discogs.py
Due: format
