Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

format:
  name: Format Python files
  entry: poe format
  language: system
  pass_filenames: true

format-docs:
  name: Format docs
  entry: poe format-docs
  language: system
  pass_filenames: true

added tests for multi-artist spotify and lastgenre changes
  beetsplug/spotify.py
  docs/changelog.rst
  test/plugins/test_lastgenre.py
  test/plugins/test_spotify.py
  test/rsrc/spotify/multi_artist_request.json
Due: format, format-docs

address linter and ai comments from pr
  beetsplug/lastgenre/__init__.py
  beetsplug/spotify.py
  docs/changelog.rst
Due: format, format-docs

remove changes for lastgenre as there was an existing PR for that work
  beetsplug/lastgenre/__init__.py
  docs/changelog.rst
  test/plugins/test_lastgenre.py
Due: format, format-docs

expand tests to include check for track artists
  beetsplug/spotify.py
  test/plugins/test_spotify.py
  test/rsrc/spotify/multiartist_album.json
  test/rsrc/spotify/multiartist_track.json
Due: format

Fix #6177, remove derived types, refactor coalesce tracks
  beetsplug/discogs.py
  docs/changelog.rst
  test/plugins/test_discogs.py
Due: format, format-docs

Fix #6068 - Multivalue fields are now supported & tested.
  beetsplug/discogs.py
  docs/changelog.rst
  test/plugins/test_discogs.py
Due: format, format-docs

Cleanup for #6177, #6068
  beetsplug/discogs.py
  docs/changelog.rst
  test/plugins/test_discogs.py
Due: format, format-docs

Fix handling of commas and semicolons in artist join
  beetsplug/discogs.py
  test/plugins/test_discogs.py
Due: format

Refactored most plugin tests to use pytest instead of unitest. Also simplified test wherever possible.
  beets/test/helper.py
  test/test_plugins.py
Due: format

musicbrainz: access the custom server directly, if configured
  beetsplug/musicbrainz.py
  docs/plugins/musicbrainz.rst
Due: format, format-docs

musicbrainz: lookup release directly
  beetsplug/_utils/requests.py
  beetsplug/lyrics.py
  beetsplug/mbpseudo.py
  beetsplug/musicbrainz.py
  test/plugins/test_mbpseudo.py
  test/plugins/test_musicbrainz.py
  test/rsrc/mbpseudo/official_release.json
  test/rsrc/mbpseudo/pseudo_release.json
Due: format

Move TimeoutSession under beetsplug._utils
  beetsplug/_utils/requests.py
  beetsplug/lyrics.py
Due: format

Add missing blame ignore revs from musicbrainz plugin
  .git-blame-ignore-revs
Due: none

musicbrainz: browse directly
  beetsplug/musicbrainz.py
Due: format

Move pseudo release lookup under the plugin
  beetsplug/musicbrainz.py
Due: format

musicbrainz: search directly
  beetsplug/musicbrainz.py
  test/plugins/test_musicbrainz.py
Due: format

musicbrainz: lookup recordings directly
  beetsplug/musicbrainz.py
Due: format

Define MusicBrainzAPI class with rate limiting
  beetsplug/musicbrainz.py
  poetry.lock
  pyproject.toml
Due: format

Make musicbrainzngs dependency optional and requests required
  .github/workflows/ci.yaml
  docs/plugins/listenbrainz.rst
  docs/plugins/mbcollection.rst
  docs/plugins/missing.rst
  docs/plugins/parentwork.rst
  poetry.lock
  pyproject.toml
Due: format-docs

musicbrainz: remove error handling
  beetsplug/mbpseudo.py
  beetsplug/musicbrainz.py
Due: format

Fix behavior when ANV does not exist
  beetsplug/discogs.py
  test/plugins/test_discogs.py
Due: format

fix: address remaining review comments
  beetsplug/ftintitle.py
  test/plugins/test_ftintitle.py
Due: format

fix: line length
  beetsplug/ftintitle.py
Due: format

Refactor HTTP request handling with RequestHandler base class
  beetsplug/_utils/requests.py
  beetsplug/lyrics.py
  beetsplug/musicbrainz.py
  test/plugins/test_musicbrainz.py
Due: format

Path conditions:
  format: any of: .*.py
  format-docs: any of: .*.rst
