Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

format:
  name: Format Python files
  entry: poe format
  language: system
  pass_filenames: true

format-docs:
  name: Format docs
  entry: poe format-docs
  language: system
  pass_filenames: true

Add missing test parameter
  test/plugins/test_ftintitle.py
Due: format

play plugin: $playlist marker for precise control where the playlist file is placed in the command
  beetsplug/play.py
  docs/plugins/play.rst
Due: format, format-docs

$playlist marker for play command with test and doc
  beetsplug/play.py
  docs/changelog.rst
  docs/plugins/play.rst
  test/plugins/test_play.py
Due: format, format-docs

Revert "importfeeds: Fix CI failing tests (w/ importhistory plugin)"
  beetsplug/importfeeds.py
  test/plugins/test_importhistory.py
Due: format

importhistory: Shorten reimport info log msg
  beetsplug/importhistory.py
Due: format

importhistory: Use displayable_path utility
  beetsplug/importhistory.py
Due: format

Fix importfeeds plugin tests
  test/plugins/test_importfeeds.py
Due: format

importhistory: Shorten comment about reimport event firing
  beetsplug/importhistory.py
Due: format

importhistory: Apply docstrfmt
  docs/plugins/importhistory.rst
Due: format-docs

plugins: add importhistory
  beetsplug/importhistory.py
  docs/changelog.rst
  docs/plugins/importhistory.rst
  docs/plugins/index.rst
Due: format, format-docs

importhistory: Rewrite docs intro text
  docs/plugins/importhistory.rst
Due: format-docs

importhistory: Reimport check early continue
  beetsplug/importhistory.py
Due: format

importhistory: Apply sphinx-lint suggestions
  docs/plugins/importhistory.rst
Due: format-docs

importhistory: Config option docs format fix
  docs/plugins/importhistory.rst
Due: format-docs

importhistory: Fix deprecated logger syntax
  beetsplug/importhistory.py
Due: format

importhistory: Fix deprecation
  beetsplug/importhistory.py
Due: format

Revert "importhistory: Use path query instead of syspath"
  test/plugins/test_importhistory.py
Due: format

importhistory: Shorten comment reimport overwrite
  beetsplug/importhistory.py
Due: format

importhistory: Shorten comment about removal suggesting
  beetsplug/importhistory.py
Due: format

importhistory: Fix config option docs
  docs/plugins/importhistory.rst
Due: format-docs

importhistory: Use path query instead of syspath
  test/plugins/test_importhistory.py
Due: format

importhistory: Shorten log msgs in suggest_removal
  beetsplug/importhistory.py
Due: format

Use explicit path query
  test/plugins/test_importhistory.py
Due: format

importhistory: Check suggest_removal option first
  beetsplug/importhistory.py
Due: format

importhistory: Small ruff suggestions
  beetsplug/importhistory.py
Due: format

test importhistory plugin
  test/plugins/test_importhistory.py
Due: format

importfeeds: Fix CI failing tests (w/ importhistory plugin)
  beetsplug/importfeeds.py
  test/plugins/test_importhistory.py
Due: format

lastgenre: Use -vvv for tuning log messages
  beetsplug/lastgenre/__init__.py
Due: format

Have convert use the new format when deciding path
  beetsplug/convert.py
  docs/changelog.rst
Due: format, format-docs

working on field titlecasing
  beetsplug/titlecase.py
  test/plugins/test_titlecase.py
Due: format

fixed cache management in the add_album method
  beets/library/library.py
Due: format

fixed cache management in the add_album method
  docs/changelog.rst
Due: format-docs

fixed changelog.txt formating
  docs/changelog.rst
Due: format-docs

Add Sphinx extension for configuration value documentation
  docs/conf.py
  docs/extensions/conf.py
  poetry.lock
  pyproject.toml
Due: format

Add references to configuration values in the changelog
  docs/changelog.rst
Due: format-docs

Convert autotagger plugin docs to use conf role
  beetsplug/discogs.py
  docs/plugins/deezer.rst
  docs/plugins/discogs.rst
  docs/plugins/index.rst
  docs/plugins/musicbrainz.rst
  docs/plugins/shared_metadata_source_config.rst
  docs/plugins/spotify.rst
Due: format, format-docs

Path conditions:
  format: any of: .*.py
  format-docs: any of: .*.rst
