Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

format:
  name: Format Python files
  entry: poe format
  language: system
  pass_filenames: true

format-docs:
  name: Format docs
  entry: poe format-docs
  language: system
  pass_filenames: true

convert: generate playlist entries from effective output paths
  beetsplug/convert.py
  test/plugins/test_convert.py
Due: format

feat(lastgenre): cleanup_existing
  beetsplug/lastgenre/__init__.py
  docs/changelog.rst
  docs/plugins/lastgenre.rst
  test/plugins/test_lastgenre.py
Due: format, format-docs

Fix typo
  docs/changelog.rst
Due: format-docs

Use function
  beetsplug/musicbrainz.py
Due: format

Fix type dep
  test/plugins/test_musicbrainz.py
Due: format

feat(lastgenre): Add fallback_original
  beetsplug/lastgenre/__init__.py
  docs/changelog.rst
  docs/plugins/lastgenre.rst
  test/plugins/test_lastgenre.py
Due: format, format-docs

[beetsplug/spl] Add the dest_regen/dest-regen option
  beetsplug/smartplaylist.py
Due: format

lyrics: validate synced lyrics duration
  beetsplug/lyrics.py
  docs/changelog.rst
  test/plugins/test_lyrics.py
Due: format, format-docs

Preserve synced lyrics when fetched result is plain text
  beetsplug/lyrics.py
  docs/changelog.rst
  docs/plugins/lyrics.rst
  test/plugins/test_lyrics.py
Due: format, format-docs

Do not split orig/trans if they are not different
  beetsplug/lyrics.py
  test/plugins/test_lyrics.py
Due: format

Add a test to show duplicate translations we have right now
  test/plugins/test_lyrics.py
Due: format

[docs/spl] Add documentation for new dest_regen option
  docs/plugins/smartplaylist.rst
Due: format-docs

[docs/changelog] Add log for dest_regen option
  docs/changelog.rst
Due: format-docs

[beetsplug/spl] Fix linting error
  beetsplug/smartplaylist.py
Due: format

test(plugins): write dest_regen test for smartplaylist
  test/plugins/test_smartplaylist.py
Due: format

chore(test): format with poe
  test/plugins/test_smartplaylist.py
Due: format

fix(test): Linting issues in smartplaylist
  test/plugins/test_smartplaylist.py
Due: format

Fix mypy type error: use bytes literal for db_dir fallback
  beets/ui/__init__.py
Due: format

Add support for extra_tags in discogs plugin
  beetsplug/discogs/__init__.py
  docs/plugins/discogs.rst
Due: format, format-docs

Update changelog.rst
  docs/changelog.rst
Due: format-docs

Move Lyrics class under beets.util as it is used by migrations
  beets/library/migrations.py
  beets/util/lyrics.py
  beetsplug/lyrics.py
  test/plugins/test_lyrics.py
  test/util/test_lyrics.py
Due: format

Document methods changed/introduced
  beets/dbcore/db.py
  beets/library/migrations.py
  beets/util/lyrics.py
  beetsplug/lyrics.py
Due: format

Refactor lyrics handling to use structured Lyrics object
  beetsplug/lyrics.py
  docs/changelog.rst
  docs/plugins/lyrics.rst
  test/plugins/lyrics_pages.py
  test/plugins/test_lyrics.py
Due: format, format-docs

Set constant langdetection seed for stable results
  beetsplug/lyrics.py
Due: format

Document migrations
  docs/api/database.rst
  docs/dev/library.rst
Due: format-docs

Migrate lyrics metadata to flex fields on library open
  beets/dbcore/db.py
  beets/library/library.py
  beets/library/migrations.py
  beetsplug/lyrics.py
  docs/changelog.rst
  test/library/test_migrations.py
  test/plugins/test_lyrics.py
Due: format, format-docs

Fix timestamp format in translation/synced lyrics test
  beetsplug/lyrics.py
  test/plugins/test_lyrics.py
Due: format

Fix genius end to end lyrics test
  beetsplug/_typing.py
  beetsplug/lyrics.py
  test/plugins/lyrics_pages.py
Due: format

Path conditions:
  format: any of: .*.py
  format-docs: any of: .*.rst
