Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: format
        name: Format Python files
        entry: poe format
        language: system
        files: '.*.py'
        pass_filenames: true
      - id: format-docs
        name: Format docs
        entry: poe format-docs
        language: system
        files: '.*.rst'
        pass_filenames: true

lastgenre: Genre ignorelist based on artist
  beetsplug/lastgenre/__init__.py
  beetsplug/lastgenre/client.py
  beetsplug/lastgenre/utils.py
  docs/plugins/lastgenre.rst
Due: format, format-docs

lastgenre: Dedup fallback handling in _get_genre
  beetsplug/lastgenre/__init__.py
Due: format

lastgenre: Tests for genre ignorelist feature
  test/plugins/test_lastgenre.py
Due: format

Added has_cover_art query
  beets/library/models.py
Due: format

Added Images query tests, docs and changelog
  docs/changelog.rst
  docs/reference/query.rst
  test/test_query.py
Due: format, format-docs

Changed has_images to has_cover_art
  beets/library/models.py
  docs/changelog.rst
  docs/reference/query.rst
  test/test_query.py
Due: format, format-docs

Simplified has_cover_art
  beets/library/models.py
Due: format

Updated tests to test the behaviour
  test/test_query.py
Due: format

tagging: allow nulling singleton fields
  beets/autotag/__init__.py
Due: format

autotag: fix list fields
  beets/autotag/__init__.py
  test/autotag/test_autotag.py
Due: format

tagging: fix list albumartists field
  beets/autotag/__init__.py
  beets/importer/tasks.py
  test/plugins/test_edit.py
Due: format

autotag: add a test for overwrite_null configuration
  test/autotag/test_autotag.py
Due: format

Add uv.lock to gitignore
  .gitignore
Due: none

feat: `beets info --links` to make external ids links
  beets/ui/__init__.py
  beets/util/color.py
  beetsplug/info.py
  docs/changelog.rst
  docs/plugins/info.rst
  test/plugins/test_info.py
Due: format, format-docs

import: simplify tagging item
  beets/autotag/__init__.py
  beets/autotag/hooks.py
  beets/autotag/match.py
  beets/importer/tasks.py
  beetsplug/bpsync.py
  beetsplug/mbsync.py
  test/autotag/test_autotag.py
Due: format

Add a note to the changelog
  docs/changelog.rst
Due: format-docs

autotag: do not sync joined artist to artists field
  beets/autotag/hooks.py
  test/autotag/test_hooks.py
Due: format

autotag: move tests to test_hooks.py
  test/autotag/test_autotag.py
  test/autotag/test_hooks.py
Due: format

Add test for original_date
  test/autotag/test_hooks.py
Due: format

Add test for from_scratch
  test/autotag/test_hooks.py
Due: format

docs: Update links to `pipx` installation guide
  CONTRIBUTING.rst
  docs/changelog.rst
  docs/guides/installation.rst
Due: format-docs

Ensure we use Distance to initialise Match objects
  beetsplug/bpsync.py
  beetsplug/mbsync.py
  test/autotag/test_hooks.py
  test/plugins/test_art.py
  test/test_importer.py
Due: format

Update beetsplug/lyrics.py
  beetsplug/lyrics.py
Due: format

Remove + chars
  test/plugins/lyrics_pages.py
Due: format

Fix integration test
  test/plugins/lyrics_pages.py
Due: format

Added feature to exclude albums/songs during importing when auto is enabled, as requested in issue #3523. Also added corresponding tests and documentation.
  beetsplug/lyrics.py
  docs/changelog.rst
  docs/plugins/lyrics.rst
  test/plugins/test_lyrics.py
Due: format, format-docs

Fix formatting
  beetsplug/lyrics.py
Due: format

copied more generic implementation from snejus, and updated the tests and docs accordingly
  beetsplug/lyrics.py
  docs/changelog.rst
  docs/plugins/lyrics.rst
  test/plugins/test_lyrics.py
Due: format, format-docs

Revert docstring
  beetsplug/lyrics.py
Due: format

Update docs/plugins/lyrics.rst
  docs/plugins/lyrics.rst
Due: format-docs

Improve test
  test/plugins/test_lyrics.py
Due: format

Fix formatting
  beetsplug/lyrics.py
  test/plugins/test_lyrics.py
Due: format

Fix indentation
  beetsplug/lyrics.py
  docs/plugins/lyrics.rst
  test/plugins/test_lyrics.py
Due: format, format-docs

Fix docs formatting
  docs/changelog.rst
  docs/plugins/lyrics.rst
Due: format-docs

Refactor exclusion tests to pytest
  test/plugins/test_lyrics.py
Due: format

chore: drop stale ruff ignore for renamed test_field_diff path
  pyproject.toml
Due: none

docs: move database error changelog entry under Unreleased
  docs/changelog.rst
Due: format-docs
