Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

format:
  name: Format Python files
  entry: poe format
  language: system
  pass_filenames: true

format-docs:
  name: Format docs
  entry: poe format-docs
  language: system
  pass_filenames: true

tidal: simplify search_limit handling with itertools
  beetsplug/tidal/__init__.py
Due: format

tidal: fix mypy errors in interleaved search results
  beetsplug/tidal/__init__.py
Due: format

Normalize Tidal copyright labels
  beetsplug/tidal/__init__.py
  docs/changelog.rst
  test/plugins/test_tidal.py
Due: format, format-docs

fix(ui): handle database permission errors gracefully
  beets/dbcore/db.py
  beets/ui/__init__.py
  test/ui/test_ui_init.py
Due: format

test: use pytest.raises/assert for database error tests (ruff PT)
  test/ui/test_ui_init.py
Due: format

test: fix ruff PT009/PT027 in database error tests
  test/ui/test_ui_init.py
Due: format

fix: ruff I001 on tests; sync migrations.py with master for mypy
  test/ui/test_ui_init.py
Due: format

fix: add Migration.CHUNK_SIZE for mypy; sort test imports
  beets/dbcore/db.py
Due: format

lastgenre: The default aliases file
  beetsplug/lastgenre/aliases.yaml
Due: none

lastgenre: Test genre aliases
  test/plugins/test_lastgenre.py
Due: format

lastgenre: Fixes to whitelist and genres tree
  beetsplug/lastgenre/genres-tree.yaml
  beetsplug/lastgenre/genres.txt
Due: none

lastgenre: Test _filter_valid,
  test/plugins/test_lastgenre.py
Due: format

lastgenre: Genre aliases docs; Tools chapter, More
  docs/plugins/lastgenre.rst
Due: format-docs

lastgenre: Genre aliases; Refactoring
  beetsplug/lastgenre/__init__.py
  beetsplug/lastgenre/client.py
  beetsplug/lastgenre/utils.py
Due: format

lastgenre: Sync instance var naming
  beetsplug/lastgenre/client.py
Due: format

Moved ui logging setup into own setup/bootstrap function.
  beets/__init__.py
  beets/ui/__init__.py
Due: format

Enhanced comment. See thread https://github.com/beetbox/beets/pull/6755#discussion_r3444580358
  beets/__init__.py
  beets/ui/__init__.py
Due: format

Short round of reviews, typo and use logging function.
  beets/ui/__init__.py
Due: format

Ensure default config is read, even on config error.
  beets/ui/__init__.py
Due: format

Moved early logging error on windows into place where the error will propagate and log properly.
  beets/ui/__init__.py
Due: format

Minor fixup: added typehint and improved docstring
  beets/ui/__init__.py
Due: format

Fix Tidal plugin to honor manual importer search overrides
  beetsplug/tidal/__init__.py
  test/plugins/test_tidal.py
Due: format

replaygain: add metaflac backend
  beetsplug/replaygain.py
  docs/changelog.rst
  docs/plugins/replaygain.rst
  test/plugins/test_replaygain.py
Due: format, format-docs

add tunique
  beets/config_default.yaml
  beets/library/models.py
  docs/changelog.rst
  docs/reference/config.rst
  docs/reference/pathformat.rst
  test/test_library.py
Due: format, format-docs

sync branch
  beetsplug/edit.py
  docs/changelog.rst
  docs/plugins/edit.rst
  test/plugins/test_edit.py
Due: format, format-docs

Changelog for #6466 genre aliases
  docs/changelog.rst
Due: format-docs

Update beetsplug/lastgenre/aliases.yaml
  beetsplug/lastgenre/aliases.yaml
Due: none

Replace poetry by uv
  .github/workflows/ci.yaml
  .github/workflows/integration_test.yaml
  .github/workflows/lint.yaml
  .github/workflows/make_release.yaml
  CONTRIBUTING.rst
  docs/dev/plugins/index.rst
  docs/faq.rst
  extra/release.py
  poetry.lock
  pyproject.toml
  uv.lock
Due: format, format-docs

Replace pipx tool installs with uv tool
  .github/workflows/ci.yaml
  .github/workflows/integration_test.yaml
  .github/workflows/lint.yaml
  .github/workflows/make_release.yaml
  CONTRIBUTING.rst
  docs/changelog.rst
  docs/guides/installation.rst
  docs/guides/main.rst
  pyproject.toml
Due: format-docs

Pin poethepoet below 0.47.0
  .github/workflows/ci.yaml
  .github/workflows/integration_test.yaml
  .github/workflows/lint.yaml
  .github/workflows/make_release.yaml
  CONTRIBUTING.rst
Due: format-docs

Make docs a dependency group
  .github/workflows/ci.yaml
  .github/workflows/integration_test.yaml
  .github/workflows/lint.yaml
  .github/workflows/make_release.yaml
  CONTRIBUTING.rst
  pyproject.toml
  uv.lock
Due: format-docs

Do not attempt to install linux-specific deps on Windows
  pyproject.toml
  uv.lock
Due: none

Add a note to the changelog
  docs/changelog.rst
Due: format-docs

Add --locked flag to all uv installs
  .github/workflows/ci.yaml
  .github/workflows/integration_test.yaml
  .github/workflows/lint.yaml
  .github/workflows/make_release.yaml
  pyproject.toml
Due: none

Add dev dependency group
  CONTRIBUTING.rst
  pyproject.toml
  uv.lock
Due: format-docs

Define DB fixtures in a shared place
  beets/test/fixtures.py
  test/test_dbcore.py
  test/test_queryparse.py
Due: format

Path conditions:
  format: any of: .*.py
  format-docs: any of: .*.rst
