Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

format:
  name: Format Python files
  entry: poe format
  language: system
  pass_filenames: true

format-docs:
  name: Format docs
  entry: poe format-docs
  language: system
  pass_filenames: true

typing: add types to beets.ui.import_
  beets/importer/session.py
  beets/ui/commands/import_/__init__.py
  beets/ui/commands/import_/session.py
Due: format

typing: add types to embedart
  beetsplug/embedart.py
Due: format

typing: add missing core annotations
  beets/__init__.py
  beets/autotag/__init__.py
  beets/autotag/distance.py
  beets/autotag/match.py
  beets/context.py
  beets/dbcore/db.py
  beets/library/__init__.py
  beets/logging.py
  beets/metadata_plugins.py
  beets/plugins.py
  beets/test/_common.py
  beets/test/fixtures.py
  beets/test/helper.py
  beets/ui/__init__.py
  beets/ui/commands/__init__.py
  beets/ui/commands/completion.py
  beets/ui/commands/config.py
  beets/ui/commands/fields.py
  beets/ui/commands/help.py
  beets/ui/commands/list.py
  beets/ui/commands/modify.py
  beets/ui/commands/move.py
  beets/ui/commands/remove.py
  beets/ui/commands/stats.py
  beets/ui/commands/update.py
  beets/ui/commands/utils.py
  beets/ui/commands/version.py
  beets/ui/commands/write.py
  beets/util/config.py
  beets/util/extension.py
  beets/util/m3u.py
  beets/util/pipeline.py
  beets/util/units.py
Due: format

docs: fix changelog formatting per docstrfmt
  docs/changelog.rst
Due: format-docs

ci: migrate from probot/stale to actions/stale
  .github/stale.yml
  .github/workflows/stale.yaml
  docs/changelog.rst
Due: format-docs

typing: fix core annotations
  beets/autotag/distance.py
  beets/events.py
  beets/library/models.py
  beets/test/_common.py
  beets/test/fixtures.py
  beets/test/helper.py
  beets/ui/__init__.py
  beets/ui/commands/completion.py
  beets/ui/commands/help.py
  beets/ui/commands/list.py
  beets/ui/commands/move.py
  beets/ui/commands/remove.py
  beets/ui/commands/update.py
  beets/ui/commands/utils.py
  beets/util/extension.py
  beets/util/m3u.py
  test/test_importer.py
Due: format

Replace do_query with model-specific logic
  beets/ui/__init__.py
  beets/ui/commands/modify.py
  beets/ui/commands/move.py
  beets/ui/commands/remove.py
  beets/ui/commands/update.py
  beets/ui/commands/utils.py
  beets/ui/commands/write.py
  beetsplug/edit.py
  test/ui/commands/test_move.py
  test/ui/commands/test_remove.py
  test/ui/commands/test_update.py
  test/ui/commands/test_utils.py
Due: format

modify: fix selecting objects
  beets/ui/commands/modify.py
  docs/changelog.rst
Due: format, format-docs

typing: fix types in beetsplug._utils.art
  beetsplug/_utils/art.py
  beetsplug/embedart.py
  test/plugins/test_embedart.py
Due: format

typing: add types to beetsplug._utils.art
  beetsplug/_utils/art.py
Due: format

typing: make dbcore.db.Results a Sequence
  beets/dbcore/db.py
  beetsplug/spotify.py
  beetsplug/tidal/__init__.py
  test/dbcore/test_db.py
Due: format

typing: fix types in beets.util.functemplate
  beets/util/functemplate.py
Due: format

Prefer imports from modules that provide import aliases
  beets/test/fixtures.py
  beets/ui/commands/import_/display.py
  beets/util/diff.py
  beetsplug/_utils/playcount.py
  beetsplug/aura.py
  beetsplug/smartplaylist.py
  beetsplug/tidal/__init__.py
  test/dbcore/test_db.py
  test/dbcore/test_query.py
  test/library/test_migrations.py
  test/plugins/test_ftintitle.py
  test/plugins/test_tidal.py
Due: format

typing: rename AnyLibModel -> AlbumOrItem
  beets/importer/session.py
  beets/library/__init__.py
  beets/library/models.py
  beets/ui/commands/import_/session.py
Due: format

typing: fix types under beets.ui.commands.import_
  beets/test/helper.py
  beets/ui/commands/import_/__init__.py
  beets/ui/commands/import_/session.py
  beets/util/__init__.py
Due: format

typing: add types to beets.util.functemplate
  beets/util/functemplate.py
Due: format

typing: remove redundant types
  beets/autotag/distance.py
  beets/autotag/match.py
  beets/dbcore/db.py
  beetsplug/beatport.py
  beetsplug/replaygain.py
  beetsplug/spotify.py
Due: format

Add commits to blame ignore
  .git-blame-ignore-revs
Due: none

Introduced SearchQuery to abstract search syntax for tagging. This unifies `tag_album` and`tag_item` quite a bit. We might be able to combine the functions in the future.
  beets/autotag/__init__.py
  beets/autotag/match.py
  beets/ui/commands/import_/session.py
Due: format

Adjusted metadata_plugins signature.
  beets/metadata_plugins.py
  beets/ui/commands/import_/session.py
Due: format

Move methods belonging to albums under AlbumChange
  beets/ui/commands/import_/display.py
Due: format

Rename ChangeRepresentation -> Change
  beets/ui/commands/import_/display.py
Due: format

Unify import match change display flow
  beets/ui/commands/import_/display.py
  beets/ui/commands/import_/session.py
Due: format

Delegate Match validation to Match subclasses
  beets/autotag/hooks.py
  beets/autotag/match.py
  beets/ui/commands/import_/display.py
Due: format

Refactor autotag matching around candidate collections
  beets/autotag/__init__.py
  beets/autotag/match.py
  beets/importer/tasks.py
  beets/ui/commands/import_/display.py
  beets/ui/commands/import_/session.py
  beetsplug/bench.py
  beetsplug/mbsubmit.py
  test/autotag/test_match.py
  test/plugins/test_mbpseudo.py
Due: format

Create a module for candidates
  beets/autotag/__init__.py
  beets/autotag/candidates.py
  beets/autotag/match.py
  test/autotag/test_candidates.py
  test/autotag/test_match.py
Due: format

ipfs: fix play command
  beetsplug/ipfs.py
  docs/changelog.rst
  test/plugins/test_ipfs.py
Due: format, format-docs

Add commit to blame ignore
  .git-blame-ignore-revs
Due: none

Add "Rescan directory" import prompt choice
  beets/importer/actions.py
  beets/importer/stages.py
  beets/importer/tasks.py
  beets/ui/commands/import_/session.py
  docs/changelog.rst
  docs/guides/tagger.rst
  test/test_importer.py
  uv.lock
Due: format, format-docs

Fix CI failures: mypy errors and plugin-choice test conflicts
  beets/importer/stages.py
  test/test_plugins.py
Due: format

Fix coverage gaps and a real test-timing bug in rescan tests
  beets/importer/stages.py
  test/test_importer.py
Due: format

Use new format in determining destination.
  beets/library/models.py
  beetsplug/convert.py
  docs/changelog.rst
Due: format, format-docs

pass in extension, not suffix
  beets/library/models.py
  beetsplug/convert.py
Due: format

Move changelog message to unreleased section.
  docs/changelog.rst
Due: format-docs

typing: fix command handlers types
  beets/dbcore/sort.py
  beets/ui/__init__.py
  beets/ui/commands/config.py
  beets/ui/commands/import_/__init__.py
  beets/ui/commands/list.py
  beets/ui/commands/modify.py
  beets/ui/commands/move.py
  beets/ui/commands/remove.py
  beets/ui/commands/stats.py
  beets/ui/commands/update.py
  beets/ui/commands/write.py
  beetsplug/bareasc.py
  beetsplug/bpd/__init__.py
  beetsplug/chroma.py
  beetsplug/convert.py
  beetsplug/duplicates.py
  beetsplug/edit.py
  beetsplug/export.py
  beetsplug/info.py
  beetsplug/lastgenre/__init__.py
  beetsplug/limit.py
  beetsplug/play.py
  beetsplug/random.py
  beetsplug/replaygain.py
  beetsplug/spotify.py
  beetsplug/tidal/__init__.py
  beetsplug/web/__init__.py
  test/ui/commands/test_move.py
  test/ui/test_ui.py
Due: format

Path conditions:
  format: any of: .*.py
  format-docs: any of: .*.rst
