Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: format
        name: Format Python files
        entry: poe format
        language: system
        files: '.*.py'
        pass_filenames: true
      - id: format-docs
        name: Format docs
        entry: poe format-docs
        language: system
        files: '.*.rst'
        pass_filenames: true

Improve visibility of Distance tests failures
  test/autotag/test_distance.py
  test/conftest.py
Due: format

Make naming consistent with the field name
  beets/config_default.yaml
  beets/metadata_plugins.py
  docs/changelog.rst
  docs/reference/config.rst
  test/autotag/test_distance.py
Due: format, format-docs

Add default config yaml to each data source docs
  docs/plugins/deezer.rst
  docs/plugins/discogs.rst
  docs/plugins/musicbrainz.rst
  docs/plugins/spotify.rst
Due: format-docs

Rename source_weight -> data_source_mismatch_penalty
  beets/metadata_plugins.py
  docs/plugins/index.rst
  docs/plugins/spotify.rst
Due: format, format-docs

Consider unseen tracks in data source matching
  beets/autotag/distance.py
  docs/plugins/index.rst
  test/autotag/test_distance.py
Due: format, format-docs

Cache found metadata source plugins
  beets/metadata_plugins.py
  beets/plugins.py
Due: format

Remove redundant source_weight defaults
  beetsplug/beatport.py
  beetsplug/discogs.py
Due: format

Only penalize multi data sources on first import
  beets/autotag/distance.py
  test/autotag/test_distance.py
Due: format

Fix data source penalty application logic
  beets/autotag/distance.py
  beets/metadata_plugins.py
  beets/util/__init__.py
  docs/changelog.rst
  docs/plugins/deezer.rst
  docs/plugins/discogs.rst
  docs/plugins/index.rst
  docs/plugins/musicbrainz.rst
  docs/plugins/spotify.rst
  test/autotag/test_distance.py
Due: format, format-docs

Add deprecation warning for <plugin>.source_weight
  beets/metadata_plugins.py
  beets/plugins.py
  docs/plugins/index.rst
  docs/plugins/musicbrainz.rst
Due: format, format-docs

Set default data_source_penalty to 0.0
  beets/metadata_plugins.py
  docs/plugins/index.rst
Due: format, format-docs

Reset cached_classproperty cache for every test
  beets/test/helper.py
  test/autotag/test_distance.py
  test/conftest.py
Due: format

Increment version to 2.5.0
  docs/changelog.rst
  docs/conf.py
  pyproject.toml
Due: format, format-docs

play plugin: $playlist marker for precise control where the playlist file is placed in the command
  beetsplug/play.py
Due: format

implemented test_pls_marker()
  test/plugins/test_play.py
Due: format

fixed lint errors
  beetsplug/play.py
Due: format

fix formatting
  beetsplug/play.py
Due: format

play: use log.debug(), added changelog entry for PLS_MARKER
  beetsplug/play.py
Due: format

play: use log.debug(), added changelog entry for PLS_MARKER
  beetsplug/play.py
  docs/changelog.rst
Due: format, format-docs

fixed more formatting
  beetsplug/play.py
  docs/plugins/play.rst
Due: format, format-docs

shlex.quote() the playlist path so the subsequent shlex.split() on command_str can not break it appart
  beetsplug/play.py
Due: format

fix: dont convert open_args to contain strings, use another var for that
  beetsplug/play.py
Due: format

play plugin: $playlist marker for precise control where the playlist file is placed in the command
  beetsplug/play.py
  docs/plugins/play.rst
Due: format, format-docs

fixed bytes->string decoding when inserting PLS_MARKER
  beetsplug/play.py
Due: format

formatting
  beetsplug/play.py
Due: format

formatting
  test/plugins/test_play.py
Due: format

play: Improve #4728 playlist marker test
  test/plugins/test_play.py
Due: format

play: Improve #4728 playlist marker docs
  docs/plugins/play.rst
Due: format-docs

fixed formatting
  beetsplug/play.py
  docs/changelog.rst
Due: format, format-docs
