Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: format
        name: Format Python files
        entry: poe format
        language: system
        files: '.*.py'
        pass_filenames: true
      - id: format-docs
        name: Format docs
        entry: poe format-docs
        language: system
        files: '.*.rst'
        pass_filenames: true

type corrections
  beetsplug/discogs.py
Due: format

Revert "importhistory: Use path query instead of syspath"
  test/plugins/test_importhistory.py
Due: format

Revert "importfeeds: Fix CI failing tests (w/ importhistory plugin)"
  beetsplug/importfeeds.py
  test/plugins/test_importhistory.py
Due: format

Initial title case plugin written and working, needs to apply to tags
  beetsplug/titlecase.py
  poetry.lock
  pyproject.toml
  test/plugins/test_titlecase.py
Due: format

working on metadata tagging
  beetsplug/titlecase.py
  test/plugins/test_titlecase.py
Due: format

fromfilename: Fix tiny changelog formatting issue
  docs/changelog.rst
Due: format-docs

Added releasegroup_id to _MB_REIMPORT_FRESH_FIELDS_ITEM list
  beetsplug/musicbrainz.py
Due: format

Added the MusicBrainz flex fields directly to the importer
  beets/importer/tasks.py
  beetsplug/musicbrainz.py
Due: format

Refactor reimport fresh fields: consolidate REIMPORT_FRESH_FIELDS_ITEM and REIMPORT_FRESH_FIELDS_ALBUM definitions
  beets/importer/tasks.py
Due: format

remove releasegroup_id
  beets/importer/tasks.py
Due: format

Fix linting issues
  beetsplug/mbpseudo.py
Due: format

Add some documentation and plugins-loaded check
  beetsplug/mbpseudo.py
Due: format

Always emit official releases if no pseudo-releases found
  beetsplug/mbpseudo.py
Due: format

Update imports
  beetsplug/mbpseudo.py
Due: format

Use pseudo-release's track titles for its recordings
  beetsplug/musicbrainz.py
Due: format

Revert "Use pseudo-release's track titles for its recordings"
  beetsplug/musicbrainz.py
Due: format

Support embedded album ids
  beetsplug/mbpseudo.py
Due: format

Add mbpseudo plugin
  beetsplug/mbpseudo.py
Due: format

Optionally emit official candidates
  beetsplug/mbpseudo.py
Due: format

Execute even if loaded before MusicBrainz plugin
  beetsplug/mbpseudo.py
Due: format

Use Optional
  beetsplug/mbpseudo.py
Due: format

Reimplement mbpseudo plugin inheriting from MusicBrainzPlugin
  beetsplug/mbpseudo.py
  beetsplug/musicbrainz.py
Due: format

feat(plugin/web): support for nexttrack keypress
  beetsplug/web/static/beets.js
  docs/changelog.rst
Due: format-docs

lastgenre: Helper method for extended debug logs
  beetsplug/lastgenre/__init__.py
Due: format

fix(github/workflows): update to checkout v5, and setup-python v6.
  .github/workflows/changelog_reminder.yaml
  .github/workflows/ci.yaml
  .github/workflows/integration_test.yaml
  .github/workflows/lint.yml
  .github/workflows/make_release.yaml
Due: none

Add default config yaml to each data source docs
  docs/plugins/deezer.rst
  docs/plugins/discogs.rst
  docs/plugins/musicbrainz.rst
  docs/plugins/spotify.rst
Due: format-docs

Update data_source_penalty docs
  docs/plugins/index.rst
Due: format-docs

Set default data_source_penalty to 0.0
  beets/metadata_plugins.py
  docs/plugins/index.rst
Due: format, format-docs

Update data source documentation
  docs/plugins/index.rst
Due: format-docs

Remove redundant source_weight defaults
  beetsplug/beatport.py
  beetsplug/discogs.py
Due: format

Only penalize multi data sources on first import
  beets/autotag/distance.py
  test/autotag/test_distance.py
Due: format

Fix data source penalty application logic
  beets/autotag/distance.py
  beets/metadata_plugins.py
  beets/util/__init__.py
  docs/changelog.rst
  docs/plugins/deezer.rst
  docs/plugins/discogs.rst
  docs/plugins/index.rst
  docs/plugins/musicbrainz.rst
  docs/plugins/spotify.rst
  test/autotag/test_distance.py
Due: format, format-docs
