Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: format
        name: Format Python files
        entry: poe format
        language: system
        files: '.*.py'
        pass_filenames: true
      - id: format-docs
        name: Format docs
        entry: poe format-docs
        language: system
        files: '.*.rst'
        pass_filenames: true

Remove unused function
  test/plugins/test_convert.py
Due: format

Test transcode using parametrize
  test/plugins/test_convert.py
Due: format

Test playlist entry using parametrize
  test/plugins/test_convert.py
Due: format

initial on branch
  beetsplug/nonsense.py
  docs/changelog.rst
  docs/plugins/index.rst
  docs/plugins/nonsense.rst
  poetry.lock
  pyproject.toml
  test/plugins/test_nonsense.py
Due: format, format-docs

Create test_force_overrides
  test/plugins/test_convert.py
Due: format

Parametrize never_convert_lossy_files transcode tests
  test/plugins/test_convert.py
Due: format

Remove shell_quote func
  test/plugins/test_convert.py
Due: format

Remove ConvertMixin
  test/plugins/test_convert.py
Due: format

Fix lyrics JSON decode error compatibility
  beetsplug/lyrics.py
  docs/changelog.rst
  test/plugins/test_lyrics.py
Due: format, format-docs

Tidy convert playlist help text
  beetsplug/convert.py
  docs/changelog.rst
Due: format, format-docs

Enable bpd plugin coverage
  setup.cfg
  test/plugins/test_bpd.py
Due: format

lyrics.py lyrics to file fix
  beetsplug/lyrics.py
Due: format

fix CI issues in lyrics.py
  beetsplug/lyrics.py
Due: format

actually fix lyrics.py CI issues
  beetsplug/lyrics.py
Due: format

linting
  beetsplug/lyrics.py
Due: format

Update changelog.rst
  docs/changelog.rst
Due: format-docs

Fix KeyError when Spotify album response lacks 'label' field
  beetsplug/spotify.py
Due: format

chore: improve beets maintenance path
  test/test_files.py
  uv.lock
Due: format

Fix mypy FormattedMapping assignment issue
  beets/dbcore/db.py
  beets/library/models.py
  test/test_dbcore.py
Due: format

Return KeysView from every keys method
  beets/autotag/distance.py
  beets/dbcore/db.py
  beets/library/models.py
  beets/ui/commands/fields.py
  beetsplug/fish.py
  test/ui/commands/test_fields.py
Due: format

Remove overly long parametrize names
  test/plugins/test_discogs.py
  test/plugins/test_lastgenre.py
Due: format

Fix titlecase template documentation
  docs/plugins/titlecase.rst
  docs/reference/pathformat.rst
Due: format-docs

Add titlecase docs changelog note
  docs/changelog.rst
Due: format-docs

working on testing for source configuration
  beetsplug/fromfilename.py
  test/plugins/test_fromfilename.py
Due: format

remove old apply function
  beetsplug/fromfilename.py
Due: format

restructure config, refine behavior with fields, work on docs
  beetsplug/fromfilename.py
  docs/plugins/fromfilename.rst
  test/plugins/test_fromfilename.py
Due: format, format-docs

Enhance move command to handle missing files gracefully
  beets/library/models.py
  docs/changelog.rst
  test/ui/commands/test_move.py
Due: format, format-docs

fix copilot comments
  beets/library/models.py
  test/ui/commands/test_move.py
Due: format

Reformat badfiles.rst
  docs/plugins/badfiles.rst
Due: format-docs

Fix formatting
  beetsplug/badfiles.py
  beetsplug/tidal/__init__.py
Due: format

Fixed doc grammar; added error precedence comment
  beetsplug/badfiles.py
  docs/plugins/badfiles.rst
Due: format, format-docs

Handle false-positive error case
  beetsplug/badfiles.py
Due: format

Fix format
  docs/plugins/badfiles.rst
Due: format-docs

badfiles: added config options to automatically take action on error/warning
  beetsplug/badfiles.py
  docs/changelog.rst
  docs/plugins/badfiles.rst
Due: format, format-docs

Moved changelog entry to current release
  docs/changelog.rst
Due: format-docs

Addressed PR comments
  beetsplug/badfiles.py
  beetsplug/tidal/__init__.py
  docs/changelog.rst
Due: format, format-docs

Added duduping on mb_trackid to the duplicates plugin
  beetsplug/duplicates.py
  beetsplug/tidal/__init__.py
  docs/changelog.rst
  docs/plugins/duplicates.rst
Due: format, format-docs

Update beets/library/models.py
  beets/library/models.py
Due: format

First pass at moving duplicates detection to main import path
  beets/config_default.yaml
  beets/importer/session.py
  beets/importer/stages.py
  beets/importer/tasks.py
  beets/test/helper.py
  beets/ui/commands/import_/session.py
  beetsplug/duplicates.py
  docs/changelog.rst
  docs/plugins/duplicates.rst
  docs/reference/config.rst
  test/test_importer.py
Due: format, format-docs

Enable and fix flake8-pie
  beets/importer/session.py
  beets/importer/tasks.py
  beets/test/helper.py
  beets/util/artresizer.py
  beets/util/bluelet.py
  beets/util/m3u.py
  beetsplug/bpd/__init__.py
  beetsplug/embyupdate.py
  beetsplug/export.py
  beetsplug/fetchart.py
  beetsplug/lastimport.py
  beetsplug/missing.py
  beetsplug/spotify.py
  pyproject.toml
  test/plugins/test_bpd.py
  test/test_art_resize.py
  test/ui/commands/test_modify.py
Due: format
