Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

format:
  name: Format Python files
  entry: poe format
  language: system
  pass_filenames: true

format-docs:
  name: Format docs
  entry: poe format-docs
  language: system
  pass_filenames: true

Remove manual migrate command
  beets/ui/commands/__init__.py
  beets/ui/commands/migrate.py
Due: format

Musicbrainz: fix original release id access for a pseudo releae
  beetsplug/musicbrainz.py
  test/plugins/test_musicbrainz.py
Due: format

fetchart: Add support for configurable fallback cover art
  beetsplug/fetchart.py
  docs/changelog.rst
  docs/plugins/fetchart.rst
  test/plugins/test_art.py
Due: format, format-docs

Add comments, clean up types.
  beetsplug/discogs.py
  test/plugins/test_discogs.py
Due: format

lastgenre: Simplify genre fetchers
  beetsplug/lastgenre/__init__.py
Due: format

lastgenre: Changelog for #5981 lastgenre
  docs/changelog.rst
Due: format-docs

lastgenre: Use multi-valued albumartists field
  beetsplug/lastgenre/__init__.py
Due: format

lastgenre: Adapt test_get_genre function signatures
  test/plugins/test_lastgenre.py
Due: format

lastgenre: Hint mypy to Album.items()
  beetsplug/lastgenre/__init__.py
Due: format

lastgenre: Type hints for genre fetch methods
  beetsplug/lastgenre/__init__.py
Due: format

lastgenre: Add typehints to remaining methods,
  beetsplug/lastgenre/__init__.py
Due: format

add azlyrics test case
  test/plugins/lyrics_pages.py
Due: format

set encoding to None for non-genius backends
  beetsplug/lyrics.py
Due: format

drop extraneous dependency on old external "mock"
  pyproject.toml
Due: none

Update poetry.lock after removing mock
  poetry.lock
Due: none

Add packaging note about mock dependency removal
  docs/changelog.rst
Due: format-docs

fix(ftintitle): remaining opportunities for improvement
  beetsplug/ftintitle.py
  pyproject.toml
  test/plugins/test_ftintitle.py
Due: format

Try simple MB search in case artist is an alias
  beetsplug/musicbrainz.py
Due: format

Add explicit candidate params and another test
  beets/metadata_plugins.py
  test/plugins/test_musicbrainz_pseudo.py
Due: format

Add missing logic when emitting candidates
  beetsplug/musicbrainz.py
Due: format

Fix grammar
  docs/plugins/musicbrainz.rst
Due: format-docs

Update events doc
  docs/dev/plugins/events.rst
Due: format-docs

Merge mbpseudo into musicbrainz and improve
  .github/CODEOWNERS
  beetsplug/mbpseudo.py
  beetsplug/musicbrainz.py
  docs/changelog.rst
  docs/plugins/index.rst
  docs/plugins/mbpseudo.rst
  docs/plugins/musicbrainz.rst
  test/plugins/test_mbpseudo.py
  test/plugins/test_musicbrainz_pseudo.py
  test/rsrc/mbpseudo/official_release.json
  test/rsrc/mbpseudo/pseudo_release.json
Due: format, format-docs

Introduce album_info_received event with items
  beets/autotag/match.py
  beets/metadata_plugins.py
  beets/plugins.py
  beetsplug/mbsync.py
  beetsplug/missing.py
  test/test_importer.py
Due: format

Refactor plugin, add type hints
  beetsplug/fromfilename.py
Due: format

Rewrite and extend regex, extend bad titles
  beetsplug/fromfilename.py
  test/plugins/test_fromfilename.py
Due: format

Add album fields parsing, refactored tag updating, expanded testing.
  beetsplug/fromfilename.py
  docs/plugins/fromfilename.rst
  test/plugins/test_fromfilename.py
Due: format, format-docs

Path conditions:
  format: any of: .*.py
  format-docs: any of: .*.rst
