Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: format
        name: Format Python files
        entry: poe format
        language: system
        files: '.*.py'
        pass_filenames: true
      - id: format-docs
        name: Format docs
        entry: poe format-docs
        language: system
        files: '.*.rst'
        pass_filenames: true

db: disable DQS on Python >= 3.12
  beets/dbcore/db.py
Due: format

Add future annotations, add vinyl track index parsing, simplify docs
  beetsplug/fromfilename.py
  docs/plugins/fromfilename.rst
  test/plugins/test_fromfilename.py
Due: format, format-docs

fix(fetchart): prevent deletion of configured fallback cover art
  beetsplug/fetchart.py
  test/plugins/test_art.py
Due: format

Configure ruff for py310
  beets/dbcore/query.py
  beets/logging.py
  beets/util/__init__.py
  beetsplug/lastgenre/__init__.py
  beetsplug/spotify.py
  pyproject.toml
Due: format

Configure future-annotations
  beets/autotag/match.py
  beets/dbcore/db.py
  beets/dbcore/query.py
  beets/importer/session.py
  beets/importer/tasks.py
  beets/logging.py
  beets/ui/commands/import_/display.py
  beets/ui/commands/move.py
  beets/util/__init__.py
  beetsplug/albumtypes.py
  beetsplug/aura.py
  beetsplug/chroma.py
  beetsplug/deezer.py
  beetsplug/mbpseudo.py
  beetsplug/missing.py
  beetsplug/playlist.py
  beetsplug/replace.py
  beetsplug/smartplaylist.py
  beetsplug/spotify.py
  beetsplug/titlecase.py
  poetry.lock
  pyproject.toml
  test/plugins/test_albumtypes.py
  test/plugins/test_aura.py
  test/plugins/test_convert.py
  test/plugins/test_ftintitle.py
  test/plugins/test_lyrics.py
  test/plugins/test_mbpseudo.py
Due: format

Address RUF012
  beets/dbcore/db.py
  beets/dbcore/query.py
  beets/dbcore/types.py
  beets/library/models.py
  beets/plugins.py
  beets/test/helper.py
  beetsplug/acousticbrainz.py
  beetsplug/bpd/__init__.py
  beetsplug/deezer.py
  beetsplug/fetchart.py
  beetsplug/lyrics.py
  beetsplug/metasync/__init__.py
  beetsplug/metasync/amarok.py
  beetsplug/metasync/itunes.py
  beetsplug/missing.py
  beetsplug/mpdstats.py
  beetsplug/playlist.py
  beetsplug/spotify.py
  beetsplug/the.py
  docs/extensions/conf.py
  test/plugins/lyrics_pages.py
  test/plugins/test_bpd.py
  test/plugins/test_edit.py
  test/plugins/test_hook.py
  test/plugins/test_mpdstats.py
  test/plugins/test_musicbrainz.py
  test/test_dbcore.py
  test/test_plugins.py
Due: format

Update git blame ignore revs
  .git-blame-ignore-revs
Due: none

Enable RUF rules
  beets/dbcore/queryparse.py
  beets/importer/__init__.py
  beets/importer/stages.py
  beets/importer/tasks.py
  beets/library/__init__.py
  beets/plugins.py
  beets/test/helper.py
  beets/ui/commands/import_/display.py
  beets/ui/commands/import_/session.py
  beets/ui/commands/write.py
  beets/util/artresizer.py
  beets/util/pipeline.py
  beetsplug/bpd/__init__.py
  beetsplug/bpd/gstplayer.py
  beetsplug/bpsync.py
  beetsplug/convert.py
  beetsplug/discogs.py
  beetsplug/export.py
  beetsplug/fetchart.py
  beetsplug/fromfilename.py
  beetsplug/keyfinder.py
  beetsplug/lastgenre/__init__.py
  beetsplug/mbsubmit.py
  beetsplug/mbsync.py
  beetsplug/replaygain.py
  beetsplug/the.py
  pyproject.toml
  test/autotag/test_distance.py
  test/plugins/test_edit.py
  test/plugins/test_lyrics.py
  test/plugins/test_random.py
  test/test_art_resize.py
  test/test_dbcore.py
  test/test_library.py
  test/test_plugins.py
  test/ui/commands/test_completion.py
  test/ui/commands/test_modify.py
  test/ui/commands/test_utils.py
  test/ui/test_ui.py
  test/util/test_id_extractors.py
Due: format

Add mp3rgain support to ReplayGain command backend
  beetsplug/replaygain.py
  docs/plugins/replaygain.rst
Due: format, format-docs

Use util functions for confirmation and path conversion
  beetsplug/replace.py
  test/plugins/test_replace.py
Due: format

Switch to using try_sync
  beetsplug/replace.py
  test/plugins/test_replace.py
Due: format

Move some imports into type-checking blocks
  beetsplug/replace.py
  test/plugins/test_replace.py
Due: format

No default for replace confirmation
  beetsplug/replace.py
Due: format

Gracefully handle 404s when importing from MusicBrainz.
  beetsplug/musicbrainz.py
  test/plugins/test_musicbrainz.py
Due: format

add changelog for and to resolve PR #5828
  docs/changelog.rst
Due: format-docs

Update convert.py
  beetsplug/convert.py
Due: format

Add note to the changelog
  docs/changelog.rst
Due: format-docs

Improve error message when database directory is not writable
  beets/ui/__init__.py
Due: format

Address review feedback: soften wording, include original error
  beets/ui/__init__.py
Due: format

refactor: suppress OSError when unlinking temporary files in ArtResizer
  beets/util/artresizer.py
Due: format

remove changelog not related to pr
  docs/changelog.rst
Due: format-docs

fix: sort imports
  beets/util/artresizer.py
  docs/changelog.rst
Due: format, format-docs

style: remove trailing whitespace from blank line
  beetsplug/replaygain.py
Due: format

style: format replaygain.rst with docstrfmt
  docs/plugins/replaygain.rst
Due: format-docs

badfiles: added config options to automatically take action on error/warning
  beetsplug/badfiles.py
  docs/changelog.rst
  docs/plugins/badfiles.rst
Due: format, format-docs
