Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

format:
  name: Format Python files
  entry: poe format
  language: system
  pass_filenames: true

format-docs:
  name: Format docs
  entry: poe format-docs
  language: system
  pass_filenames: true

Update docs/changelog.rst
  docs/changelog.rst
Due: format-docs

feat(play): Add -R/--randomize option to `play` plugin
  beetsplug/play.py
  docs/changelog.rst
  docs/plugins/play.rst
  test/plugins/test_play.py
Due: format, format-docs

Ensure changelog entries are under Unreleased section
  .github/workflows/lint.yaml
Due: none

Normalize dashes to underscores in musicbrainz data fields
  beetsplug/_utils/musicbrainz.py
  beetsplug/mbpseudo.py
  beetsplug/musicbrainz.py
  test/plugins/test_mbpseudo.py
  test/plugins/test_musicbrainz.py
  test/plugins/utils/test_musicbrainz.py
  test/rsrc/mbpseudo/official_release.json
  test/rsrc/mbpseudo/pseudo_release.json
Due: format

Type musicbrainz fully
  beetsplug/_utils/musicbrainz.py
  beetsplug/mbpseudo.py
  beetsplug/musicbrainz.py
  setup.cfg
Due: format

CI: skip discogs tests when discogs_client missing, guard empty items, reset config in test
  beetsplug/discogs/__init__.py
  test/plugins/test_discogs.py
Due: format

Add `discogs.extra_tags` and updated documentation
  beetsplug/discogs/__init__.py
  docs/plugins/discogs.rst
  test/plugins/test_discogs.py
Due: format, format-docs

Fix formatting: run ruff format on discogs plugin
  beetsplug/discogs/__init__.py
Due: format

Update test/plugins/test_discogs.py
  test/plugins/test_discogs.py
Due: format

Update discogs.rst
  docs/plugins/discogs.rst
Due: format-docs

Format discogs plugin after review changes
  beetsplug/discogs/__init__.py
Due: format

CI: install discogs extra so discogs tests run; remove skip logic
  .github/workflows/ci.yaml
  test/plugins/test_discogs.py
Due: format

Fix test class structure: move DGSearchQueryTest after DGAlbumInfoTest
  test/plugins/test_discogs.py
Due: format

Fix module-level skip: use pytest.skip(allow_module_level=True) for discogs
  test/plugins/test_discogs.py
Due: format

Update changelog
  docs/changelog.rst
Due: format-docs

Remove alias/tracks special case handling for new Discogs extra_tags function
  beetsplug/discogs/__init__.py
Due: format

fetchart: handle sources config given as plain string
  beetsplug/fetchart.py
  docs/changelog.rst
  test/plugins/test_art.py
Due: format, format-docs

Use va_name config for all artist fields on VA releases
  beetsplug/beatport.py
  beetsplug/musicbrainz.py
  docs/changelog.rst
Due: format, format-docs

Update ArtResizer tests to use new convert method
  test/rsrc/greyskies.png
  test/test_art_resize.py
Due: format

Add result_path = source back in
  beets/util/artresizer.py
Due: format

Replace resize and deinterlace with convert for IMBackend
  beets/util/artresizer.py
Due: format

Update fetchart plugin Candidate validation and add convert function
  beets/util/artresizer.py
  beetsplug/fetchart.py
Due: format

Add convert function to ArtResizer class to handle all conversion options
  beets/util/artresizer.py
Due: format

Make test png smaller
  test/rsrc/greyskies.png
Due: none

Artresizer: Remove convert_format functions for PIL and IM backends
  beets/util/artresizer.py
Due: format

Replace resize and deinterlace with convert for PILBackend
  beets/util/artresizer.py
Due: format

Path conditions:
  format: any of: .*.py
  format-docs: any of: .*.rst
