Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

format:
  name: Format Python files
  entry: poe format
  language: system
  pass_filenames: true

format-docs:
  name: Format docs
  entry: poe format-docs
  language: system
  pass_filenames: true

autotag: move tests to test_hooks.py
  test/autotag/test_autotag.py
  test/autotag/test_hooks.py
Due: format

autotag: do not sync joined artist to artists field
  beets/autotag/hooks.py
  test/autotag/test_hooks.py
Due: format

tagging: fix list albumartists field
  beets/autotag/__init__.py
  beets/importer/tasks.py
  test/plugins/test_edit.py
Due: format

autotag: add a test for overwrite_null configuration
  test/autotag/test_autotag.py
Due: format

tagging: allow nulling singleton fields
  beets/autotag/__init__.py
Due: format

import: simplify tagging item
  beets/autotag/__init__.py
  beets/autotag/hooks.py
  beets/autotag/match.py
  beets/importer/tasks.py
  beetsplug/bpsync.py
  beetsplug/mbsync.py
  test/autotag/test_autotag.py
Due: format

autotag: fix list fields
  beets/autotag/__init__.py
  test/autotag/test_autotag.py
Due: format

Add test for from_scratch
  test/autotag/test_hooks.py
Due: format

Ensure we use Distance to initialise Match objects
  beetsplug/bpsync.py
  beetsplug/mbsync.py
  test/autotag/test_hooks.py
  test/plugins/test_art.py
  test/test_importer.py
Due: format

Add a note to the changelog
  docs/changelog.rst
Due: format-docs

Add test for original_date
  test/autotag/test_hooks.py
Due: format

docs: remove duplicate 2.6.0 changelog line (fixes Check docs CI)
  docs/changelog.rst
Due: format-docs

Document extra_debug logging method for plugin authors
  docs/changelog.rst
  docs/dev/plugins/other/logging.rst
Due: format-docs

Parameterized the 2 tests into one
  test/test_query.py
Due: format

Fixed Linting
  beets/library/models.py
  test/test_query.py
Due: format

Fixed changelog mistake made with the merge
  docs/changelog.rst
Due: format-docs

Fixed docs formatting
  docs/changelog.rst
  docs/reference/query.rst
Due: format-docs

Updated missed has_images
  docs/reference/query.rst
Due: format-docs

Formatted docs again
  docs/reference/query.rst
Due: format-docs

autotag: use explicit imports
  beets/autotag/match.py
  beets/importer/tasks.py
  beets/ui/commands/import_/display.py
  beets/ui/commands/import_/session.py
  beetsplug/bench.py
  beetsplug/deezer.py
  beetsplug/mbpseudo.py
  beetsplug/mbsubmit.py
  beetsplug/musicbrainz.py
  test/autotag/test_distance.py
  test/autotag/test_match.py
  test/plugins/test_art.py
  test/plugins/test_mbpseudo.py
  test/test_importer.py
  test/ui/commands/test_import.py
Due: format

Add commit to git blame ignore revs
  .git-blame-ignore-revs
Due: none

Set ImportTask.candidates to None by default
  beets/importer/tasks.py
Due: format

Increment version to 2.8.0
  beets/__init__.py
  docs/changelog.rst
  docs/conf.py
  pyproject.toml
Due: format, format-docs

Clarify that genre field has been removed
  docs/changelog.rst
Due: format-docs

Sync fork with master and paste in changes
  beets/importer/tasks.py
  docs/changelog.rst
  test/test_importer.py
Due: format, format-docs

add missing test files
  test/rsrc/no_ext
  test/rsrc/no_ext_not_music
Due: none

fix windows tests
  beets/importer/tasks.py
Due: format

add config & doc, refactor, optimize
  beets/config_default.yaml
  beets/importer/tasks.py
  beets/util/__init__.py
  docs/reference/config.rst
  test/test_importer.py
Due: format, format-docs

Clean up parameterized test
  test/test_types.py
Due: format

Add test for reading externally tagged semicolon-delimited genres
  test/test_library.py
Due: format

Add test for lastgenre with existing semicolon-delimited tags
  test/plugins/test_lastgenre.py
Due: format

Address review feedback
  beets/dbcore/types.py
  docs/changelog.rst
  test/test_types.py
Due: format, format-docs

Add changelog note for external delimited tags fix
  docs/changelog.rst
Due: format-docs

Explicitly normalize delimited genres on read
  beets/dbcore/types.py
  test/test_types.py
Due: format

importsource: Test listeners based on config
  test/plugins/test_importsource.py
Due: format

importsource: Only register listener if configured
  beetsplug/importsource.py
Due: format

Update beetsplug/importsource.py
  beetsplug/importsource.py
Due: format

lastgenre: Refactor ignorelist to yaml
  beetsplug/lastgenre/__init__.py
  test/plugins/test_lastgenre.py
Due: format

Update docs for yaml refactor
  docs/plugins/lastgenre.rst
Due: format-docs

Path conditions:
  format: any of: .*.py
  format-docs: any of: .*.rst
