Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

format:
  name: Format Python files
  entry: poe format
  language: system
  pass_filenames: true

format-docs:
  name: Format docs
  entry: poe format-docs
  language: system
  pass_filenames: true

Remove test case indices from test_lastgenre.py
  test/plugins/test_lastgenre.py
Due: format

Document ordering of the genre split separator
  beets/autotag/hooks.py
  beets/library/migrations.py
  docs/changelog.rst
Due: format, format-docs

Remove lastgenre separator config
  beetsplug/lastgenre/__init__.py
  docs/plugins/lastgenre.rst
Due: format, format-docs

Update changelog note
  docs/changelog.rst
Due: format-docs

Clarify tests
  test/test_importer.py
  test/test_library.py
Due: format

lastgenre: Adapt existing tests to refactor
  test/plugins/test_lastgenre.py
Due: format

lastgenre: Fix all confuse get() usage
  beetsplug/lastgenre/loaders.py
Due: format

lastgenre: Named types; Document flatten_tree
  beetsplug/lastgenre/__init__.py
  beetsplug/lastgenre/client.py
  beetsplug/lastgenre/loaders.py
  beetsplug/lastgenre/types.py
Due: format

Update client.py missing period
  beetsplug/lastgenre/client.py
Due: format

lastgenre: Move fetching to client module
  beetsplug/lastgenre/__init__.py
  beetsplug/lastgenre/client.py
  beetsplug/lastgenre/utils.py
Due: format

lastgenre: Move tree helpers to where they are used
  beetsplug/lastgenre/__init__.py
  beetsplug/lastgenre/loaders.py
Due: format

lastgenre: File loaders module
  beetsplug/lastgenre/__init__.py
  beetsplug/lastgenre/loaders.py
Due: format

lastgenre: Fix type hints after refactor
  beetsplug/lastgenre/loaders.py
Due: format

lastgenre: tunelog better
  beetsplug/lastgenre/__init__.py
  beetsplug/lastgenre/client.py
  beetsplug/lastgenre/utils.py
Due: format

Remove unused plugin_dir instance var
  beetsplug/lastgenre/loaders.py
Due: format

Only add fields when we create new table
  beets/dbcore/db.py
Due: format

Merge mbpseudo into musicbrainz
  .github/CODEOWNERS
  beetsplug/mbpseudo.py
  beetsplug/musicbrainz.py
  docs/changelog.rst
  docs/plugins/index.rst
  docs/plugins/mbpseudo.rst
  docs/plugins/musicbrainz.rst
  test/plugins/test_musicbrainz_pseudo.py
  test/rsrc/musicbrainz/official_release.json
  test/rsrc/musicbrainz/pseudo_release.json
Due: format, format-docs

Introduce album_info_received event with items
  beets/autotag/match.py
  beets/metadata_plugins.py
  beets/plugins.py
  beetsplug/mbsync.py
  beetsplug/missing.py
  docs/changelog.rst
  docs/dev/plugins/events.rst
  test/test_importer.py
  test/test_metadata_plugins.py
Due: format, format-docs

Support multiple pseudo-releases and reimport in musicbrainz
  beetsplug/musicbrainz.py
  docs/plugins/musicbrainz.rst
  test/plugins/test_musicbrainz_pseudo.py
  test/rsrc/musicbrainz/official_release.json
Due: format, format-docs

Try simple MB search in case artist is an alias
  beetsplug/_utils/musicbrainz.py
  beetsplug/musicbrainz.py
Due: format

fix(lastgenre): Reset plugin config in fixtured tests
  beetsplug/lastgenre/__init__.py
  test/plugins/test_lastgenre.py
Due: format

feat(lastgenre): cleanup_existing
  beetsplug/lastgenre/__init__.py
  docs/changelog.rst
  docs/plugins/lastgenre.rst
  test/plugins/test_lastgenre.py
Due: format, format-docs

lastgenre: Tests for blacklist feature
  test/plugins/test_lastgenre.py
Due: format

lastgenre: Blacklist based on artist
  beetsplug/lastgenre/__init__.py
  beetsplug/lastgenre/client.py
  beetsplug/lastgenre/loaders.py
  beetsplug/lastgenre/processing.py
  beetsplug/lastgenre/types.py
  docs/plugins/lastgenre.rst
Due: format, format-docs

Add generic filter method, keep old for now
  beetsplug/lastgenre/__init__.py
  beetsplug/lastgenre/processing.py
Due: format

validation performance optimiziations
  beetsplug/lastgenre/processing.py
Due: format

Update beetsplug/importsource.py
  beetsplug/importsource.py
Due: format

importsource: Only register listener if configured
  beetsplug/importsource.py
Due: format

importsource: Test listeners based on config
  test/plugins/test_importsource.py
Due: format

Dedup blacklist pattern logic
  beetsplug/lastgenre/processing.py
Due: format

Use proper syntax highlighting for code block
  docs/reference/config.rst
Due: format-docs

Format docs
  docs/reference/config.rst
Due: format-docs

docs: Document match.distance_weights in autotagger docs
  docs/reference/config.rst
Due: format-docs

Improve error message when database directory is not writable
  beets/ui/__init__.py
Due: format

Address review feedback: soften wording, include original error
  beets/ui/__init__.py
Due: format

docs: Add changelog entry for database permission error fix
  docs/changelog.rst
Due: format-docs

Path conditions:
  format: any of: .*.py
  format-docs: any of: .*.rst
