Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: format
        name: Format Python files
        entry: poe format
        language: system
        files: '.*.py'
        pass_filenames: true
      - id: format-docs
        name: Format docs
        entry: poe format-docs
        language: system
        files: '.*.rst'
        pass_filenames: true

Convert autotagger plugin docs to use conf role
  beetsplug/discogs.py
  docs/plugins/deezer.rst
  docs/plugins/discogs.rst
  docs/plugins/index.rst
  docs/plugins/musicbrainz.rst
  docs/plugins/shared_metadata_source_config.rst
  docs/plugins/spotify.rst
Due: format, format-docs

Add references to configuration values in the changelog
  docs/changelog.rst
Due: format-docs

Make sure conf references are converted properly in release notes
  extra/release.py
Due: format

Convert Python 2 URLs to Python 3
  docs/dev/plugins/other/logging.rst
  docs/plugins/export.rst
  docs/plugins/play.rst
  docs/reference/config.rst
Due: format-docs

Add a changelog note
  docs/changelog.rst
Due: format-docs

Drop 3.13 from python-version for now.
  .github/workflows/ci.yaml
Due: none

fix(github/workflows): update to checkout v5, and setup-python v6.
  .github/workflows/changelog_reminder.yaml
  .github/workflows/ci.yaml
  .github/workflows/integration_test.yaml
  .github/workflows/lint.yml
  .github/workflows/make_release.yaml
Due: none

play plugin: $playlist marker for precise control where the playlist … (#4728)
  beetsplug/play.py
  docs/changelog.rst
  docs/plugins/play.rst
  test/plugins/test_play.py
Due: format, format-docs

Remove duplicate changelog entry (play plugin)
  docs/changelog.rst
Due: format-docs

use `Generic` instead of `Any` for `cached_classproperty`
  beets/util/__init__.py
Due: format

fix transaction context manager signature
  .gitignore
  beets/dbcore/db.py
Due: format

fix mypy error
  beets/dbcore/db.py
Due: format

make `cached_classproperty` more robust
  beets/util/__init__.py
  test/conftest.py
Due: format

fix clear_cache
  beets/util/__init__.py
Due: format

Add overloads for cached_classproperty.clear_cache
  beets/util/__init__.py
Due: format

working on changing position in import process - may consider options for pre or post import
  beetsplug/titlecase.py
  poetry.lock
  pyproject.toml
  test/plugins/test_titlecase.py
Due: format

Reimplement mbpseudo plugin inheriting from MusicBrainzPlugin
  beetsplug/mbpseudo.py
  beetsplug/musicbrainz.py
Due: format

Update mbpseudo implementation for beets 2.5
  beets/autotag/match.py
  beets/plugins.py
  beetsplug/mbpseudo.py
Due: format

Don't use Optional
  beetsplug/mbpseudo.py
Due: format

Revert "Use pseudo-release's track titles for its recordings"
  beetsplug/musicbrainz.py
Due: format

Use Optional
  beetsplug/mbpseudo.py
Due: format

Add tests for mbpseudo plugin
  beetsplug/mbpseudo.py
  test/plugins/test_mbpseudo.py
  test/rsrc/mbpseudo/official_release.json
  test/rsrc/mbpseudo/pseudo_release.json
Due: format

Add mbpseudo plugin
  .github/CODEOWNERS
  beetsplug/mbpseudo.py
Due: format

Use pseudo-release's track titles for its recordings
  beetsplug/musicbrainz.py
Due: format

Fix linting issues
  beetsplug/mbpseudo.py
Due: format

Update docs for mbpseudo plugin
  docs/changelog.rst
  docs/dev/plugins/events.rst
  docs/plugins/index.rst
  docs/plugins/mbpseudo.rst
Due: format-docs

Fix data source penalty for mbpseudo
  beetsplug/mbpseudo.py
  docs/plugins/mbpseudo.rst
  test/plugins/test_mbpseudo.py
Due: format, format-docs

mitigate possible race condition
  beets/util/__init__.py
Due: format

`cached_classproperty.clear_cache`: remove unused parameters
  beets/util/__init__.py
Due: format

Change arg name
  beetsplug/ftintitle.py
  docs/plugins/ftintitle.rst
  test/plugins/test_ftintitle.py
Due: format, format-docs
