Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

format:
  name: Format Python files
  entry: poe format
  language: system
  pass_filenames: true

format-docs:
  name: Format docs
  entry: poe format-docs
  language: system
  pass_filenames: true

Update git blame ignore revs
  .git-blame-ignore-revs
Due: none

Migrate mbcollection to use MusicBrainzAPI
  beetsplug/_utils/musicbrainz.py
  beetsplug/_utils/requests.py
  beetsplug/mbcollection.py
  docs/plugins/mbcollection.rst
  poetry.lock
  pyproject.toml
  test/plugins/conftest.py
  test/plugins/test_mbcollection.py
  test/plugins/utils/__init__.py
Due: format, format-docs

Add request handler utils to the docs
  beetsplug/_utils/requests.py
  docs/_templates/autosummary/class.rst
  docs/api/index.rst
  docs/api/plugin_utilities.rst
  docs/changelog.rst
  docs/conf.py
  poetry.lock
  pyproject.toml
Due: format, format-docs

Type MusicBrainzAPI properly
  beetsplug/_utils/musicbrainz.py
  beetsplug/listenbrainz.py
  beetsplug/mbcollection.py
  beetsplug/musicbrainz.py
Due: format

Fix changelog formatting
  docs/changelog.rst
Due: format-docs

mbcollection: slight refactor
  beetsplug/mbcollection.py
  test/plugins/test_mbcollection.py
Due: format

Add some documentation to musicbrainz api mixins
  beetsplug/_utils/musicbrainz.py
  beetsplug/mbcollection.py
Due: format

Retry on server errors too
  beetsplug/_utils/requests.py
  test/plugins/utils/test_request_handler.py
Due: format

Rework fromfilename_task, rename dictionaries, create mock task
  beetsplug/fromfilename.py
  test/plugins/test_fromfilename.py
Due: format

Add documentation and changelog
  docs/changelog.rst
  docs/plugins/embedart.rst
Due: format-docs

User patterns implemented
  beetsplug/fromfilename.py
  docs/plugins/fromfilename.rst
  test/plugins/test_fromfilename.py
Due: format, format-docs

Refactor to use mutable mapping.
  beetsplug/fromfilename.py
  test/plugins/test_fromfilename.py
Due: format

Updated changelog.
  docs/changelog.rst
Due: format-docs

Fixed docs formatting as docstrfmt v2.0.1 introduced some changes.
  docs/plugins/duplicates.rst
  docs/plugins/playlist.rst
  pyproject.toml
Due: format-docs

autotag: refactor autotag tests to use single comprehensive test
  test/test_autotag.py
Due: format

autotag: split tests into test_match.py and test_hooks.py
  test/autotag/test_hooks.py
  test/autotag/test_match.py
Due: format

autotag: fix list fields
  beets/autotag/__init__.py
  test/test_autotag.py
Due: format

tagging: fix list albumartists field
  beets/autotag/__init__.py
  beets/importer/tasks.py
  test/plugins/test_edit.py
Due: format

autotag: add a test for overwrite_null configuration
  test/test_autotag.py
Due: format

import: simplify tagging item
  beets/autotag/__init__.py
  beets/autotag/hooks.py
  beets/autotag/match.py
  beets/importer/tasks.py
  beetsplug/bpsync.py
  beetsplug/mbsync.py
  test/test_autotag.py
Due: format

tagging: allow nulling singleton fields
  beets/autotag/__init__.py
Due: format

autotag: do not sync joined artist to artists field
  beets/autotag/hooks.py
  test/autotag/test_hooks.py
Due: format

Moved functions from random.py into random plugin. Removed random.py
  beets/random.py
  beetsplug/random.py
Due: format

Added an option to define the field to use for equal chance sampling
  beetsplug/random.py
Due: format

Replace random.Random with random module
  beetsplug/random.py
  test/plugins/test_random.py
Due: format

Overall refactor of random plugin. Added length property to albums.
  beets/library/models.py
  beetsplug/random.py
  test/plugins/test_random.py
Due: format

Add annotation for LibModel.length property
  beets/library/models.py
  beetsplug/random.py
Due: format

Added typehints and some more tests.
  beetsplug/random.py
  docs/changelog.rst
  test/plugins/test_random.py
Due: format, format-docs

Cached property for length & forgot sorted.
  beets/library/models.py
  beetsplug/random.py
Due: format

Readded licence. Removed last legacy occurrences of `artist` and replaced them with `field`. Removed unnecessary default parameters where applicable.
  beetsplug/random.py
  test/plugins/test_random.py
Due: format

Enhanced documentation of random plugin.
  docs/changelog.rst
  docs/plugins/random.rst
Due: format-docs

Fix fetchart colors broken by 67e668d81ff03d7ce14671e68676a7ad9d0ed94a
  beetsplug/fetchart.py
  docs/changelog.rst
  test/plugins/test_fetchart.py
Due: format, format-docs

Fix fetchart colors broken by 6a6f8fe2920bf21f4c21296ee41d25e04b975bef
  beetsplug/fetchart.py
  docs/changelog.rst
  test/plugins/test_fetchart.py
Due: format, format-docs

Align lint
  docs/changelog.rst
  docs/plugins/embedart.rst
Due: format-docs

Clarify variable in _process_clean_tracklist
  beetsplug/discogs.py
Due: format

Path conditions:
  format: any of: .*.py
  format-docs: any of: .*.rst
