Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

format:
  name: Format Python files
  entry: poe format
  language: system
  pass_filenames: true

format-docs:
  name: Format docs
  entry: poe format-docs
  language: system
  pass_filenames: true

Define a container for Likelies
  beets/autotag/distance.py
  beets/autotag/source.py
  beets/util/__init__.py
Due: format

Move methods belonging to albums under AlbumChange
  beets/ui/commands/import_/display.py
Due: format

Rename ChangeRepresentation -> Change
  beets/ui/commands/import_/display.py
Due: format

Delegate Match validation to Match subclasses
  beets/autotag/hooks.py
  beets/autotag/match.py
  beets/ui/commands/import_/display.py
Due: format

Refactor autotag matching around candidate collections
  beets/autotag/__init__.py
  beets/autotag/match.py
  beets/importer/tasks.py
  beets/ui/commands/import_/display.py
  beets/ui/commands/import_/session.py
  beetsplug/bench.py
  beetsplug/mbsubmit.py
  test/autotag/test_match.py
  test/plugins/test_mbpseudo.py
Due: format

Refactor reimport metadata flow across import task types
  beets/importer/tasks.py
Due: format

Rename ImportSession.choose_match -> ImportSession.choose_album
  beets/importer/session.py
  beets/importer/tasks.py
  beets/test/helper.py
  beets/ui/commands/import_/session.py
Due: format

Extract album-specific behavior into AlbumImportTask
  beets/autotag/__init__.py
  beets/autotag/hooks.py
  beets/autotag/match.py
  beets/importer/__init__.py
  beets/importer/session.py
  beets/importer/stages.py
  beets/importer/tasks.py
  beets/plugins.py
  beets/test/helper.py
  beets/ui/commands/import_/session.py
  beetsplug/autobpm.py
  beetsplug/bench.py
  beetsplug/convert.py
  beetsplug/edit.py
  beetsplug/fetchart.py
  beetsplug/ftintitle.py
  beetsplug/ipfs.py
  beetsplug/lastgenre/__init__.py
  beetsplug/lyrics.py
  beetsplug/mbcollection.py
  beetsplug/replaygain.py
  beetsplug/titlecase.py
  test/plugins/test_art.py
  test/plugins/test_titlecase.py
  test/test_importer.py
Due: format

Simplify is_album logic
  beets/importer/tasks.py
  beets/ui/commands/import_/session.py
  beetsplug/chroma.py
  beetsplug/fetchart.py
  beetsplug/fromfilename.py
  beetsplug/ipfs.py
  beetsplug/lastgenre/__init__.py
  beetsplug/mbcollection.py
  beetsplug/replaygain.py
  test/plugins/test_art.py
  test/plugins/test_fromfilename.py
Due: format

typing: add types to ui.commands.import_
  beets/ui/commands/import_/session.py
  beets/util/__init__.py
Due: format

Create a module for candidates
  beets/autotag/__init__.py
  beets/autotag/candidates.py
  beets/autotag/match.py
  test/autotag/test_candidates.py
  test/autotag/test_match.py
Due: format

Make ImportTask.cleanup own the import config
  beets/importer/tasks.py
  test/test_importer.py
Due: format

Unify import match change display flow
  beets/ui/commands/import_/display.py
  beets/ui/commands/import_/session.py
Due: format

Clean up archive imports during finalize
  beets/importer/stages.py
  beets/importer/tasks.py
  test/test_importer.py
Due: format

Use new format in determining destination.
  beets/library/models.py
  beetsplug/convert.py
  docs/changelog.rst
Due: format, format-docs

pass in extension, not suffix
  beets/library/models.py
  beetsplug/convert.py
Due: format

Add track-level duplicate resolution to the importer
  beets/config_default.yaml
  beets/importer/session.py
  beets/importer/stages.py
  beets/importer/tasks.py
  beets/test/helper.py
  beets/ui/commands/import_/session.py
  docs/changelog.rst
  docs/reference/config.rst
  test/test_importer.py
Due: format, format-docs

Merge fold into skip and colorize duplicate-skip messages
  beets/importer/session.py
  beets/importer/stages.py
  beets/importer/tasks.py
  beets/test/helper.py
  beets/ui/commands/import_/session.py
  docs/changelog.rst
  docs/reference/config.rst
  test/test_importer.py
Due: format, format-docs

Add fold action and fix track duplicate resolution
  beets/config_default.yaml
  beets/importer/session.py
  beets/importer/stages.py
  beets/importer/tasks.py
  beets/test/helper.py
  beets/ui/commands/import_/session.py
  docs/changelog.rst
  docs/reference/config.rst
  test/test_importer.py
Due: format, format-docs

Format docs
  docs/changelog.rst
  docs/reference/config.rst
Due: format-docs

Move duplicate_track_resolution changelog entry to Unreleased
  docs/changelog.rst
Due: format-docs

Address review: reuse DuplicateAction for track dedup
  beets/importer/session.py
  beets/importer/stages.py
  beets/test/helper.py
  beets/ui/commands/import_/session.py
  docs/reference/config.rst
  test/test_importer.py
  test/ui/test_ui_importer.py
Due: format, format-docs

Catch within-run track duplicates via a session seen-key cache
  beets/importer/session.py
  beets/importer/stages.py
  test/test_importer.py
Due: format

docs: recommend artist/title duplicate keys when mb_trackid may be absent
  docs/reference/config.rst
Due: format-docs

Fold new tracks into existing album despite singleton matches
  beets/importer/stages.py
  docs/reference/config.rst
  test/test_importer.py
Due: format, format-docs

Redesign per-track duplicate resolution with integrated config and per-track decisions
  beets/config_default.yaml
  beets/importer/actions.py
  beets/importer/session.py
  beets/importer/stages.py
  beets/importer/tasks.py
  beets/ui/commands/import_/session.py
  docs/changelog.rst
  docs/reference/config.rst
  test/test_importer.py
  test/ui/test_ui_importer.py
Due: format, format-docs

Migrating to `argparse`
  beets/ui/__init__.py
  beets/ui/commands/config.py
  beets/ui/commands/import_/__init__.py
  beets/ui/commands/list.py
  beets/ui/commands/modify.py
  beets/ui/commands/move.py
  beets/ui/commands/remove.py
  beets/ui/commands/stats.py
  beets/ui/commands/update.py
  beets/ui/commands/write.py
Due: format

fix formatting.
  beets/ui/__init__.py
  beets/ui/commands/list.py
Due: format

fix linting.
  beets/test/helper.py
  beets/ui/__init__.py
  beetsplug/fetchart.py
Due: format

overhaul plugins for tests..
  beetsplug/absubmit.py
  beetsplug/acousticbrainz.py
  beetsplug/aura.py
  beetsplug/autobpm.py
  beetsplug/badfiles.py
  beetsplug/bareasc.py
  beetsplug/bench.py
  beetsplug/bpsync.py
  beetsplug/chroma.py
  beetsplug/convert.py
  beetsplug/duplicates.py
  beetsplug/edit.py
  beetsplug/embedart.py
  beetsplug/export.py
  beetsplug/fetchart.py
  beetsplug/fish.py
  beetsplug/ftintitle.py
  beetsplug/info.py
  beetsplug/ipfs.py
  beetsplug/lastgenre/__init__.py
  beetsplug/limit.py
  beetsplug/listenbrainz.py
  beetsplug/lyrics.py
  beetsplug/mbcollection.py
  beetsplug/mbsync.py
  beetsplug/metasync/__init__.py
  beetsplug/missing.py
  beetsplug/mpdstats.py
  beetsplug/parentwork.py
  beetsplug/play.py
  beetsplug/random.py
  beetsplug/replaygain.py
  beetsplug/scrub.py
  beetsplug/smartplaylist.py
  beetsplug/spotify.py
  beetsplug/subsonicplaylist.py
  beetsplug/thumbnails.py
  beetsplug/tidal/__init__.py
  beetsplug/web/__init__.py
  test/rsrc/beetsplug/test.py
Due: format

fix more on tidal and importer..
  beets/ui/__init__.py
  beets/util/extension.py
  beetsplug/fish.py
  beetsplug/smartplaylist.py
Due: format

fix(dbcore): filter flex attributes out of store() main-table update
  beets/dbcore/db.py
  docs/changelog.rst
  test/dbcore/test_db.py
Due: format, format-docs

style(changelog): wrap entry to 72 cols (docstrfmt)
  docs/changelog.rst
Due: format-docs

fix(embedart): retry compare without phash:colorspaces on empty IM7 output
  beets/util/artresizer.py
  docs/changelog.rst
  test/plugins/test_embedart.py
Due: format, format-docs

lyrics: treat missing lyrics body as empty text instead of crashing
  beets/util/lyrics.py
  docs/changelog.rst
  test/util/test_lyrics.py
Due: format, format-docs

Use active stderr for CLI logging
  beets/ui/__init__.py
  test/conftest.py
Due: format

Do not IncludeLazyConfig.log_sources while testing to reduce verbosity
  test/conftest.py
Due: format

feat: add editor config option to editor_command()
  beets/util/__init__.py
Due: format

docs: add changelog entry for editor config option
  docs/changelog.rst
Due: format-docs

Replace PathsMixin.temp_dir attribute with PathsMixin.temp_dir_path
  beets/test/helper.py
  test/plugins/test_art.py
  test/plugins/test_permissions.py
  test/plugins/test_plugin_mediafield.py
  test/plugins/test_web.py
  test/test_files.py
  test/test_importer.py
  test/test_library.py
  test/test_util.py
  test/ui/commands/test_config.py
  test/ui/commands/test_import.py
  test/ui/commands/test_update.py
  test/ui/test_ui.py
  test/ui/test_ui_init.py
Due: format

Path conditions:
  format: any of: .*.py
  format-docs: any of: .*.rst
