Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: format
        name: Format Python files
        entry: poe format
        language: system
        files: '.*.py'
        pass_filenames: true
      - id: format-docs
        name: Format docs
        entry: poe format-docs
        language: system
        files: '.*.rst'
        pass_filenames: true

Collapse many tests into a single data-driven test
  test/plugins/factories/musicbrainz.py
  test/plugins/test_musicbrainz.py
Due: format

chroma: gate candidates on the musicbrainz plugin being enabled
  beetsplug/chroma.py
  docs/changelog.rst
  docs/plugins/chroma.rst
  test/plugins/test_chroma.py
Due: format, format-docs

Update pyproject.toml
  pyproject.toml
Due: none

Resolve merge conflict in changelog.rst
  docs/changelog.rst
Due: format-docs

Add remux_mp3_in_wav config option and updated mediafile to >=0.16.1
  beets/config_default.yaml
  beets/importer/tasks.py
  poetry.lock
  pyproject.toml
Due: format

Replaced ffmpeg with Python extraction, add docs, and second test
  beets/importer/tasks.py
  docs/reference/config.rst
  poetry.lock
  test/test_importer.py
Due: format, format-docs

Add a link to the aisauce plugin.
  docs/plugins/index.rst
Due: format-docs

Fix docs formatting
  docs/reference/config.rst
Due: format-docs

Moved remux function to util.extension, fixed exception handling, added docs
  beets/importer/tasks.py
  beets/util/extension.py
  docs/changelog.rst
  test/test_importer.py
Due: format, format-docs

Renamed to public function remux_mpeglayer3_wav
  beets/importer/tasks.py
  beets/util/extension.py
  test/test_importer.py
Due: format

test(chroma): consolidate gating tests into a single class
  test/plugins/test_chroma.py
Due: format

chroma: address review feedback
  beetsplug/chroma.py
  docs/changelog.rst
  test/plugins/test_chroma.py
Due: format, format-docs

changelog: note mbpseudo compatibility side-effect and reference #6441
  docs/changelog.rst
Due: format-docs

docs: simplify changelog
  docs/changelog.rst
Due: format-docs

docs: fix formatting
  docs/changelog.rst
Due: format-docs

inline: make the album/item available directly
  beetsplug/inline.py
  docs/changelog.rst
  docs/plugins/inline.rst
  test/plugins/test_inline.py
Due: format, format-docs

Fetch remixers, composers, arrangers and lyricists from Discogs
  beetsplug/discogs/states.py
  beetsplug/discogs/types.py
  test/plugins/test_discogs.py
Due: format

Update docs
  docs/changelog.rst
  docs/plugins/discogs.rst
Due: format-docs

Teach copilot about pseudo-fixtures
  .github/copilot-instructions.md
Due: none

Add tests
  test/plugins/test_discogs.py
Due: format

Add a note to the changelog
  docs/changelog.rst
Due: format-docs

Replace poetry by uv
  .github/workflows/ci.yaml
  .github/workflows/integration_test.yaml
  .github/workflows/lint.yaml
  .github/workflows/make_release.yaml
  CONTRIBUTING.rst
  docs/dev/plugins/index.rst
  docs/faq.rst
  extra/release.py
  poetry.lock
  pyproject.toml
  uv.lock
Due: format, format-docs

Do not attempt to install linux-specific deps on Windows
  pyproject.toml
  uv.lock
Due: none

lastgenre: Fix artist_for_filter fallback handling
  beetsplug/lastgenre/__init__.py
Due: format

lyrics: add keep_synced option to not overwrite synced lyrics
  beetsplug/lyrics.py
  test/plugins/test_lyrics.py
Due: format

Update docs
  docs/changelog.rst
  docs/plugins/lyrics.rst
Due: format-docs

Fix non-MB sources writing IDs to MusicBrainz tags
  beets/autotag/hooks.py
  docs/changelog.rst
  test/autotag/test_hooks.py
Due: format, format-docs

Fix changelog merge conflict
  docs/changelog.rst
Due: format-docs

Fix test fixtures: use valid UUIDs in AutotagStub
  beets/test/helper.py
  test/plugins/test_edit.py
  test/test_importer.py
Due: format

Fix changelog RST formatting
  docs/changelog.rst
Due: format-docs

fix(library): pass clutter to move command
  beets/importer/tasks.py
  beets/library/models.py
Due: format

test(library): ensure clutter config works properly
  test/test_library.py
Due: format

docs(library): add changelog entry for clutter
  docs/changelog.rst
Due: format-docs

Bump mediafile to >=0.16.2
  poetry.lock
  pyproject.toml
Due: none

Call remux_mpeglayer3_wav proactively in read_item
  beets/importer/tasks.py
Due: format

Ensure correct data shape in recordings tests
  test/plugins/test_musicbrainz.py
Due: format

Rename track -> recording in tests for clarity
  test/plugins/test_musicbrainz.py
Due: format

Fix recording parsing
  beetsplug/musicbrainz.py
Due: format

Refactor track_info taking into account Recording data shape
  beetsplug/musicbrainz.py
Due: format
