Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: format
        name: Format Python files
        entry: poe format
        language: system
        files: '.*.py'
        pass_filenames: true
      - id: format-docs
        name: Format docs
        entry: poe format-docs
        language: system
        files: '.*.rst'
        pass_filenames: true

typing: add types to beets.test.helper
  beets/test/helper.py
Due: format

typing: make path utils more flexible re path types
  beets/util/__init__.py
Due: format

typing: fix beets.test.helper
  beets/test/helper.py
Due: format

typing: add types to beets.util
  beets/util/__init__.py
Due: format

test(convert): cover never_convert_lossy_files in playlist entry tests
  test/plugins/test_convert.py
Due: format

fix lint: wrap long test_playlist_entry signature
  test/plugins/test_convert.py
Due: format

fix format: expand long parametrize line
  test/plugins/test_convert.py
Due: format

typing: make is_hidden, sorted_walk and albums_in_dir generic over AnyStr
  beets/importer/tasks.py
  beets/util/__init__.py
  beets/util/extension.py
  beets/util/hidden.py
  beetsplug/fetchart.py
  test/test_importer.py
Due: format

Apply suggestion from @snejus
  beetsplug/lastgenre/__init__.py
Due: format

Fix chillout alias
  beetsplug/lastgenre/aliases.yaml
Due: none

Refactor template evaluation to handle format strings ONLY
  beets/dbcore/db.py
  beets/library/models.py
  beets/ui/commands/modify.py
  beets/util/functemplate.py
  beets/util/pathformats.py
  beetsplug/bench.py
  beetsplug/smartplaylist.py
  test/plugins/test_smartplaylist.py
  test/ui/test_ui.py
  test/util/test_pathformats.py
Due: format

fix(importfeeds): keep import going when a symlink can't be created
  beetsplug/importfeeds.py
  docs/changelog.rst
  test/plugins/test_importfeeds.py
Due: format, format-docs

Update asciification tests
  test/test_library.py
  test/test_util.py
Due: format

Centralize path asciification normalization
  beets/library/models.py
  beets/util/__init__.py
  test/test_library.py
  test/test_util.py
Due: format

Cache config.source in ConfigMixin for test speedup
  beets/test/helper.py
  test/conftest.py
  test/plugins/test_lyrics.py
Due: format

Make the global config fixture function-scoped
  test/autotag/test_distance.py
  test/conftest.py
  test/dbcore/test_sort.py
  test/plugins/test_lastgenre.py
Due: format

lastgenre: Genre aliases; Refactoring
  beetsplug/lastgenre/__init__.py
  beetsplug/lastgenre/client.py
  beetsplug/lastgenre/utils.py
Due: format

lastgenre: Sync instance var naming
  beetsplug/lastgenre/client.py
Due: format

lastgenre: Tests for genre alias normalization
  test/plugins/test_lastgenre.py
Due: format

minimal alternative
  beetsplug/lastgenre/aliases.yaml
  beetsplug/lastgenre/genres.txt
Due: none

lastgenre: Tests for _filter_valid helper,
  test/plugins/test_lastgenre.py
Due: format

lastgenre: The default aliases file
  beetsplug/lastgenre/aliases.yaml
Due: none

Changelog for #6466 genre aliases
  docs/changelog.rst
Due: format-docs

Alias, tree, wl changes
  beetsplug/lastgenre/aliases.yaml
  beetsplug/lastgenre/genres-tree.yaml
  beetsplug/lastgenre/genres.txt
Due: none

lastgenre: Genre aliases docs; Tools chapter, More
  docs/plugins/lastgenre.rst
Due: format-docs

lastgenre: Fixes to whitelist and genres tree
  beetsplug/lastgenre/genres-tree.yaml
  beetsplug/lastgenre/genres.txt
Due: none

Remove redundant test logic exposed by full coverage
  beets/test/fixtures.py
  test/dbcore/test_db.py
  test/plugins/test_chroma.py
  test/plugins/test_convert.py
  test/plugins/test_discogs.py
  test/plugins/test_fetchart.py
  test/plugins/test_ftintitle.py
  test/plugins/test_importadded.py
  test/plugins/test_importsource.py
  test/plugins/test_ipfs.py
  test/plugins/test_listenbrainz.py
  test/plugins/test_smartplaylist.py
  test/plugins/test_thumbnails.py
  test/plugins/test_web.py
  test/test_library.py
  test/test_logging.py
  test/test_util.py
  test/ui/commands/test_modify.py
  test/ui/test_ui.py
  test/ui/test_ui_init.py
Due: format

Remove wrongly added copyright markers
  beets/test/fixtures.py
  test/dbcore/test_queryparse.py
Due: format

Docs for multi-value modify operators
  docs/reference/cli.rst
Due: format-docs

Support multi-value modify operators
  beets/ui/commands/modify.py
  test/ui/commands/test_modify.py
Due: format

Changelog for PR 6648 multi-value modify operators
  docs/changelog.rst
Due: format-docs

feat(ftintitle): hook metadata events, fixing mbsync
  beets/autotag/hooks.py
  beetsplug/ftintitle.py
  docs/changelog.rst
  docs/plugins/ftintitle.rst
  test/autotag/test_hooks.py
  test/plugins/test_ftintitle.py
Due: format, format-docs

fix(ftintitle): rename to _strip_featured_from_field
  beetsplug/ftintitle.py
Due: format

test(ftintitle): remove artist_credit tests
  test/plugins/test_ftintitle.py
Due: format

fix(hooks): remove cached property invalidation
  beets/autotag/hooks.py
  test/autotag/test_hooks.py
  test/plugins/test_ftintitle.py
Due: format

fix(ftintitle): remove and inline _strip_featured_from_field
  beetsplug/ftintitle.py
Due: format
