Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: format
        name: Format Python files
        entry: poe format
        language: system
        files: '.*.py'
        pass_filenames: true
      - id: format-docs
        name: Format docs
        entry: poe format-docs
        language: system
        files: '.*.rst'
        pass_filenames: true

Fix mypy incompatible return type in lastgenre
  beetsplug/lastgenre/__init__.py
Due: format

Update lastgenre docstring and remove misleading comment (ref https://github.com/beetbox/beets/pull/6169#issuecomment-3716893013)
  beetsplug/lastgenre/__init__.py
Due: format

Fix deprecation warning
  beets/autotag/hooks.py
  test/autotag/test_hooks.py
Due: format

Fix lastgenre migration separator logic (ref https://github.com/beetbox/beets/pull/6169#issuecomment-3716893013)
  beets/library/library.py
Due: format

Add migration for multi-value genres field
  beets/dbcore/db.py
  beets/dbcore/types.py
  beets/library/library.py
  beets/library/migrations.py
  beets/test/helper.py
  test/library/__init__.py
  test/library/test_migrations.py
Due: format

Implement automatic database-level genre migration
  beets/autotag/__init__.py
  beets/autotag/hooks.py
  beets/library/library.py
  beetsplug/beatport.py
  beetsplug/lastgenre/__init__.py
  docs/changelog.rst
  docs/plugins/lastgenre.rst
  test/plugins/test_discogs.py
  test/plugins/test_lastgenre.py
  test/test_autotag.py
Due: format, format-docs

Add generic Migration implementation
  beets/dbcore/db.py
Due: format

Remove conditional logic from lastgenre tests (ref https://github.com/beetbox/beets/pull/6169#issuecomment-3716893013)
  test/plugins/test_lastgenre.py
Due: format

Use compact generator expression in Beatport (ref https://github.com/beetbox/beets/pull/6169#issuecomment-3716893013)
  beetsplug/beatport.py
Due: format

Remove manual migrate command
  beets/ui/commands/__init__.py
  beets/ui/commands/migrate.py
Due: format

Remove noisy comments from beatport tests (ref https://github.com/beetbox/beets/pull/6169#issuecomment-3716893013)
  test/plugins/test_beatport.py
Due: format

Simplify MusicBrainz genres assignment
  beetsplug/musicbrainz.py
Due: format

Add support for migrations
  beets/dbcore/db.py
Due: format

Stop overwriting this test file name
  test/rsrc/unicode’d.mp3
Due: none

Replace genre: with genres: in docs
  docs/plugins/fish.rst
  docs/plugins/ihate.rst
  docs/plugins/zero.rst
Due: format-docs

Only handle multiple genres in discogs
  beetsplug/discogs/__init__.py
  docs/plugins/discogs.rst
Due: format, format-docs

Remove genre field
  beets/autotag/__init__.py
  beets/dbcore/db.py
  beets/library/migrations.py
  beets/library/models.py
  beetsplug/bpd/__init__.py
  beetsplug/smartplaylist.py
  test/library/test_migrations.py
  test/test_autotag.py
  test/test_library.py
Due: format

Fix the rest of the tests
  beets/test/_common.py
  beetsplug/aura.py
  beetsplug/bpd/__init__.py
  beetsplug/fish.py
  beetsplug/musicbrainz.py
  docs/plugins/smartplaylist.rst
  docs/reference/cli.rst
  docs/reference/config.rst
  test/plugins/test_beatport.py
  test/plugins/test_ihate.py
  test/plugins/test_musicbrainz.py
  test/plugins/test_smartplaylist.py
  test/test_importer.py
  test/test_library.py
  test/test_query.py
  test/test_sort.py
  test/ui/commands/test_list.py
  test/ui/commands/test_update.py
  test/ui/test_field_diff.py
Due: format, format-docs

Remove test case indices from test_lastgenre.py
  test/plugins/test_lastgenre.py
Due: format

Dedupe genres parsing in beatport
  beetsplug/beatport.py
  test/plugins/test_beatport.py
Due: format

Clarify tests
  test/test_importer.py
  test/test_library.py
Due: format
