Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

format:
  name: Format Python files
  entry: poe format
  language: system
  pass_filenames: true

format-docs:
  name: Format docs
  entry: poe format-docs
  language: system
  pass_filenames: true

Normalize psytrance
  beetsplug/lastgenre/aliases.yaml
  beetsplug/lastgenre/genres-tree.yaml
  beetsplug/lastgenre/genres.txt
  test/plugins/test_lastgenre.py
Due: format

Replace \g<...> backrefs
  test/plugins/test_lastgenre.py
Due: format

Use r&b instead of rhytm and blues
  beetsplug/lastgenre/aliases.yaml
  beetsplug/lastgenre/genres-tree.yaml
  beetsplug/lastgenre/genres.txt
  test/plugins/test_lastgenre.py
Due: format

Escape single quote in aliases.yaml to fix treesitter
  beetsplug/lastgenre/aliases.yaml
Due: none

Fix old school aliases
  beetsplug/lastgenre/aliases.yaml
  beetsplug/lastgenre/genres-tree.yaml
  beetsplug/lastgenre/genres.txt
  test/plugins/test_lastgenre.py
Due: format

Do not normalize disney to soundtrack
  beetsplug/lastgenre/aliases.yaml
  test/plugins/test_lastgenre.py
Due: format

Fix darkwave normalisation
  beetsplug/lastgenre/aliases.yaml
  beetsplug/lastgenre/genres-tree.yaml
  beetsplug/lastgenre/genres.txt
  test/plugins/test_lastgenre.py
Due: format

Remove aliases that would be dropped by canonicalization
  beetsplug/lastgenre/aliases.yaml
Due: none

Tidy up hyphenation patterns
  beetsplug/lastgenre/aliases.yaml
  test/plugins/test_lastgenre.py
Due: format

Regroup aliases
  beetsplug/lastgenre/aliases.yaml
Due: none

Apply suggestion from @JOJ0
  beetsplug/lastgenre/genres-tree.yaml
Due: none

Fix genres-tree.yaml formatting
  beetsplug/lastgenre/genres-tree.yaml
Due: none

Embedded art extraction for fetchart plugin
  beetsplug/fetchart.py
  docs/plugins/embedart.rst
  docs/plugins/fetchart.rst
Due: format, format-docs

test: FetchArt plugin embedded art
  test/plugins/test_art.py
  test/plugins/test_fetchart.py
Due: format

Changelog entry for FetchArt embedded features
  docs/changelog.rst
Due: format-docs

Refactor where beetsplug._utils.art emits logs
  beetsplug/_utils/art.py
  beetsplug/fetchart.py
Due: format

Treat null edit values as safe
  beetsplug/edit.py
Due: format

Preserve null artpath in edit
  beetsplug/edit.py
  docs/changelog.rst
  test/plugins/test_edit.py
Due: format, format-docs

Format changelog entry
  docs/changelog.rst
Due: format-docs

lastgenre: Tests for genre alias normalization
  test/plugins/test_lastgenre.py
Due: format

lastgenre: Tests for _filter_valid helper,
  test/plugins/test_lastgenre.py
Due: format

lastgenre: Genre aliases; Refactoring
  beetsplug/lastgenre/__init__.py
  beetsplug/lastgenre/client.py
  beetsplug/lastgenre/utils.py
Due: format

Changelog for #6466 genre aliases
  docs/changelog.rst
Due: format-docs

lastgenre: Whitelist/Tree fixes; Default aliases
  beetsplug/lastgenre/aliases.yaml
  beetsplug/lastgenre/genres-tree.yaml
  beetsplug/lastgenre/genres.txt
  test/plugins/test_lastgenre.py
Due: format

lastgenre: Sync instance var naming
  beetsplug/lastgenre/client.py
Due: format

lastgenre: Genre aliases docs; Tools chapter, More
  docs/plugins/lastgenre.rst
Due: format-docs

lyrics: add lrcmux backend
  beetsplug/lyrics.py
  docs/changelog.rst
  docs/plugins/lyrics.rst
  test/plugins/lyrics_pages.py
  test/plugins/test_lyrics.py
Due: format, format-docs

importsource: Only register listener if configured
  beetsplug/importsource.py
Due: format

Add remove_missing test cases
  test/plugins/test_convert.py
Due: format

Add remove_missing option to convert plugin
  beetsplug/convert.py
Due: format

Add documentation for remove_missing option of convert plugin
  docs/plugins/convert.rst
Due: format-docs

Add changelog entry for remove_missing option of convert plugin
  docs/changelog.rst
Due: format-docs

Remove conflict with refresh short option
  beetsplug/convert.py
Due: format

Improve test coverage
  test/plugins/test_convert.py
Due: format

Remove multi-line string for remove-missing help text
  beetsplug/convert.py
Due: format

Improve remove_non_item_files docs
  beetsplug/convert.py
Due: format

Improve test coverage and test documentation
  test/plugins/test_convert.py
Due: format

Simplify test setup
  test/plugins/test_convert.py
Due: format

Use new configuration API
  beetsplug/convert.py
Due: format

Path conditions:
  format: any of: .*.py
  format-docs: any of: .*.rst
