Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

format:
  name: Format Python files
  entry: poe format
  language: system
  pass_filenames: true

format-docs:
  name: Format docs
  entry: poe format-docs
  language: system
  pass_filenames: true

Enable and fix flake8-builtins
  beets/dbcore/query.py
  beets/metadata_plugins.py
  beets/test/helper.py
  beets/ui/__init__.py
  beets/util/pipeline.py
  beetsplug/albumtypes.py
  beetsplug/beatport.py
  beetsplug/discogs/__init__.py
  beetsplug/listenbrainz.py
  beetsplug/lyrics.py
  beetsplug/random.py
  beetsplug/thumbnails.py
  beetsplug/tidal/__init__.py
  beetsplug/tidal/api.py
  beetsplug/web/__init__.py
  docs/conf.py
  extra/release.py
  pyproject.toml
  test/plugins/test_beatport.py
  test/plugins/test_chroma.py
  test/plugins/test_fetchart.py
  test/plugins/test_musicbrainz.py
  test/plugins/test_smartplaylist.py
  test/plugins/test_substitute.py
  test/plugins/test_tidal.py
  test/test_importer.py
  test/ui/commands/test_config.py
Due: format

Add lint fixes to git-blame-ignore-revs
  .git-blame-ignore-revs
Due: none

Cast keys to list to avoid exception in optparse
  beetsplug/fish.py
  docs/changelog.rst
Due: format, format-docs

lyrics: add rate limiting and exponential backoff to prevent 429 errors
  beetsplug/lyrics.py
  docs/changelog.rst
Due: format, format-docs

fix mypy return type and address copilot review comments
  beetsplug/_utils/requests.py
  beetsplug/lyrics.py
Due: format

permissions: ImportTestCase -> ImporterHelper
  test/plugins/test_permissions.py
Due: format

Remove now unused ImportTestCase
  beets/test/helper.py
  test/test_logging.py
Due: format

test_importer: ImportTestCase -> ImporterHelper
  beets/test/helper.py
  test/test_importer.py
Due: format

scrub: ImportTestCase -> ImporterHelper
  test/plugins/test_scrub.py
Due: format

chroma: ImportTestCase -> ImportHelper
  test/plugins/test_chroma.py
Due: format

keyfinder: ImportTestCase -> ImporterHelper
  test/plugins/test_keyfinder.py
Due: format

Propagate rename to test_ui_importer
  test/ui/test_ui_importer.py
Due: format

Use monkeypatch in logging instead of patch
  test/test_logging.py
Due: format

replaygain: ImportTestCase -> ImportHelper
  test/plugins/test_replaygain.py
Due: format

test_logging: ImportTestCase -> ImporterHelper
  test/test_logging.py
Due: format

filefilter: ImportTestCase -> ImportHelper and fixture based setup
  test/plugins/test_filefilter.py
Due: format

Naming change in ui inheritance.
  test/ui/test_ui_importer.py
Due: format

refactor LyricsSession to extend TimeoutAndRetrySession
  beetsplug/lyrics.py
Due: format

revert base class return type annotation change
  beetsplug/_utils/requests.py
Due: format

fix create_session return type annotation to match parent class
  beetsplug/lyrics.py
Due: format

TimeoutAndRetrySession: fold in RateLimitAdapter and 429 retry
  beetsplug/_utils/requests.py
  beetsplug/lyrics.py
  docs/changelog.rst
Due: format, format-docs

Support configurable TIDAL OAuth scopes
  beetsplug/tidal/__init__.py
  beetsplug/tidal/api.py
  beetsplug/tidal/session.py
  test/plugins/test_tidal.py
Due: format

Document TIDAL lyrics source
  docs/changelog.rst
  docs/plugins/lyrics.rst
  docs/plugins/tidal.rst
Due: format-docs

Hardcode expanded TIDAL scope
  beetsplug/lyrics.py
  beetsplug/tidal/__init__.py
  beetsplug/tidal/api.py
  docs/plugins/lyrics.rst
  docs/plugins/tidal.rst
  test/plugins/test_lyrics.py
  test/plugins/test_tidal.py
Due: format, format-docs

Add TIDAL lyrics backend
  beetsplug/lyrics.py
  beetsplug/tidal/api_types.py
  test/plugins/test_lyrics.py
Due: format

fix mypy errors
  beetsplug/_utils/requests.py
Due: format

Enable lyrics tests
  .github/workflows/integration_test.yaml
Due: none

Fix links
  docs/conf.py
  docs/faq.rst
  docs/plugins/fetchart.rst
  docs/plugins/lyrics.rst
Due: format, format-docs

Install dependencies in integration test
  .github/workflows/integration_test.yaml
Due: none

Only skip tests not in CI
  beets/test/helper.py
  test/plugins/test_art.py
Due: format

Exclude artresizer tests when unavailable
  beets/test/helper.py
  test/conftest.py
  test/plugins/test_art.py
Due: format

Exclude tests that depend on ffprobe when unavailable
  beets/test/helper.py
  test/plugins/test_embedart.py
  test/test_importer.py
Due: format

Exclude chroma tests when unimportable
  test/plugins/test_chroma.py
Due: format

Centralise RUNNING_IN_CI definition
  beets/test/helper.py
  test/conftest.py
  test/test_plugins.py
  test/test_release.py
  test/ui/commands/test_completion.py
Due: format

refactor(ftintitle): cache config options
  beetsplug/ftintitle.py
Due: format

Refactor lazy model value storage
  beets/dbcore/db.py
Due: format

Import pipeline directly in convert plugin
  beetsplug/convert.py
Due: format

tidal: add flexattrs and tidalsync command
  beets/importer/tasks.py
  beetsplug/tidal/__init__.py
  docs/changelog.rst
  docs/plugins/tidal.rst
  test/plugins/test_tidal.py
Due: format, format-docs

fix tests
  test/plugins/test_tidal.py
Due: format

Path conditions:
  format: any of: .*.py
  format-docs: any of: .*.rst
