Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: format
        name: Format Python files
        entry: poe format
        language: system
        files: '.*.py'
        pass_filenames: true
      - id: format-docs
        name: Format docs
        entry: poe format-docs
        language: system
        files: '.*.rst'
        pass_filenames: true

Dedupe common logic from both layout methods
  beets/ui/commands/import_/display.py
  beets/util/layout.py
  test/ui/commands/test_import.py
Due: format

Address comments and add new test case
  beetsplug/missing.py
  docs/plugins/missing.rst
  test/plugins/test_missing.py
Due: format, format-docs

Address review comments
  beetsplug/_utils/musicbrainz.py
  beetsplug/missing.py
Due: format

Change missing plugin to allow for filtering albums by release type
  beetsplug/_utils/musicbrainz.py
  beetsplug/missing.py
  docs/changelog.rst
  docs/plugins/missing.rst
  test/plugins/test_missing.py
Due: format, format-docs

Fix lint and mypy
  beetsplug/_utils/musicbrainz.py
  beetsplug/missing.py
Due: format

Add IOMixin to fix failures
  test/plugins/test_missing.py
Due: format

Fix rebase in tests
  test/plugins/test_missing.py
Due: format

Address comments
  beetsplug/missing.py
  test/plugins/test_missing.py
Due: format

Fix lint
  test/plugins/test_missing.py
Due: format

Fix show_model_changes
  beets/ui/__init__.py
  beets/util/diff.py
  test/ui/test_ui.py
Due: format

Add a note to the changelog
  docs/changelog.rst
Due: format-docs

feat(play): Add -R/--randomize option to `play` plugin
  beetsplug/play.py
  docs/changelog.rst
  docs/plugins/play.rst
  test/plugins/test_play.py
Due: format, format-docs

Fix Windows fallback for config editor command
  beets/util/__init__.py
  docs/changelog.rst
  test/test_util.py
  test/ui/commands/test_config.py
Due: format, format-docs

Remove implementation-focused tests per review
  test/test_util.py
  test/ui/commands/test_config.py
Due: format

Format changelog entry for docs check
  docs/changelog.rst
Due: format-docs

lastgenre: Named types Whitelist and CanonTree
  beetsplug/lastgenre/__init__.py
Due: format

Add extra_debug utility to beets.logging
  beets/logging.py
Due: format

lastgenre: Polish method grouping comments wording
  beetsplug/lastgenre/__init__.py
Due: format

lastgenre: Group all tree processing helpers together
  beetsplug/lastgenre/__init__.py
Due: format

lastgenre: Adapt test to canon helpers move
  test/plugins/test_lastgenre.py
Due: format

lastgenre: Move fetching to client module
  beetsplug/lastgenre/__init__.py
  beetsplug/lastgenre/client.py
Due: format

lastgenre: Adapt test to last.fm client separation
  test/plugins/test_lastgenre.py
Due: format

Changelog for extra_debug tool
  docs/changelog.rst
Due: format-docs

lastgenre: Ignore client.py move commit
  .git-blame-ignore-revs
Due: none

Make extra_debug a BeetsLogger method
  beets/logging.py
  beetsplug/lastgenre/__init__.py
  beetsplug/lastgenre/client.py
Due: format

lastimport: rename flexible field because of the clash with mpdstats
  beetsplug/lastimport.py
  docs/changelog.rst
  docs/plugins/lastimport.rst
Due: format, format-docs

docs(installation): Update installation guide
  docs/changelog.rst
  docs/guides/installation.rst
Due: format-docs

docs(main): Update to reflect current installation guide
  docs/changelog.rst
  docs/guides/main.rst
Due: format-docs

Create attributes for widths
  beets/ui/commands/import_/display.py
  beets/util/layout.py
Due: format

Refactor ShowChangeTest to use snapshot-style assertions
  test/ui/commands/test_import.py
Due: format

Use NamedTuple instead of dict for Side
  beets/ui/commands/import_/display.py
  beets/util/layout.py
Due: format

Middle and last line widths are always the same for split_into_lines
  beets/util/layout.py
  test/util/test_layout.py
Due: format

Document Side
  beets/util/layout.py
Due: format

Dedupe common logic from both layout methods
  beets/ui/commands/import_/display.py
  beets/util/layout.py
Due: format

Rename width_tuple to widths
  beets/util/layout.py
Due: format

Remove redundant term_width and separator args
  beets/ui/commands/import_/display.py
  beets/util/layout.py
Due: format

Refactor distance and match display into properties
  beets/autotag/distance.py
  beets/autotag/hooks.py
  beets/ui/commands/import_/display.py
  beets/ui/commands/import_/session.py
  beets/util/color.py
Due: format

fetchart: handle sources config given as plain string
  beetsplug/fetchart.py
  docs/changelog.rst
  test/plugins/test_art.py
Due: format, format-docs

lastgenre: Tests for genre ignorelist feature
  test/plugins/test_lastgenre.py
Due: format

Fix tests for utils move
  test/plugins/test_lastgenre.py
Due: format
