Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: format
        name: Format Python files
        entry: poe format
        language: system
        files: '.*.py'
        pass_filenames: true
      - id: format-docs
        name: Format docs
        entry: poe format-docs
        language: system
        files: '.*.rst'
        pass_filenames: true

fix(ftintitle): defer inclusion of artist_credit, review cleanup
  beetsplug/ftintitle.py
  test/plugins/test_ftintitle.py
Due: format

refactor(ftintitle): abstract update_item_metadata and update_info_metadata into update_metadata
  beetsplug/ftintitle.py
Due: format

fix(ftintitle): use Item type and type featured field
  beetsplug/ftintitle.py
Due: format

refactor(ftintitle): abstract ft_in_info into ft_in_title
  beetsplug/ftintitle.py
  test/plugins/test_ftintitle.py
Due: format

test(ftintitle): remove item_data["artist"] assertion from artist_credit test
  test/plugins/test_ftintitle.py
Due: format

fix(ftintitle): remove singleton handling as out of scope
  beetsplug/ftintitle.py
  test/plugins/test_ftintitle.py
Due: format

test(ftintitle): remove mostly redundant test_trackinfo_received_preserves_collaborative_artist_credit
  test/plugins/test_ftintitle.py
Due: format

fix path normalization
  beetsplug/playlist.py
Due: format

fix line skipping
  beetsplug/playlist.py
Due: format

sync branch
  beetsplug/edit.py
  docs/changelog.rst
  docs/plugins/edit.rst
  test/plugins/test_edit.py
Due: format, format-docs

added type hints
  beetsplug/edit.py
Due: format

refactor code to remove duplication
  beetsplug/edit.py
  test/plugins/test_edit.py
Due: format

Update beetsplug/edit.py
  beetsplug/edit.py
Due: format

address reviewer comment; match track to items by id
  beetsplug/edit.py
  test/plugins/test_edit.py
Due: format

removed conflict marker
  docs/changelog.rst
Due: format-docs

Add fetch_for_asis setting to FetchArt plugin
  beetsplug/fetchart.py
  docs/changelog.rst
  docs/plugins/fetchart.rst
Due: format, format-docs

test: convert test_fetchart to TestHelper
  test/plugins/test_fetchart.py
Due: format

test: add importer test for fetchart plugin
  beetsplug/fetchart.py
  test/plugins/test_fetchart.py
Due: format

harden edit-plugin id matching against duplicate ids and header reordering
  beetsplug/edit.py
  test/plugins/test_edit.py
Due: format

test: fix ffprobe tests incorrectly skipped
  beets/test/helper.py
Due: format

test: increase test verbosity
  beets/test/helper.py
Due: format

Track instrumental lyrics metadata
  beets/util/lyrics.py
  beetsplug/lyrics.py
  docs/changelog.rst
  docs/plugins/lyrics.rst
  test/plugins/test_lyrics.py
  test/util/test_lyrics.py
Due: format, format-docs

Add a migration
  beets/library/library.py
  beets/library/migrations.py
  docs/changelog.rst
  test/library/test_migrations.py
Due: format, format-docs

ignore item-only fields configured in albumfields
  beetsplug/edit.py
  test/plugins/test_edit.py
Due: format

Add --no-keep-synced CLI option to lyrics
  beetsplug/lyrics.py
  docs/changelog.rst
  docs/plugins/lyrics.rst
  test/plugins/test_lyrics.py
Due: format, format-docs

test: fix requests_mock setup in test_art.py
  test/plugins/test_art.py
Due: format

Fix crash when sorting by a nullable field missing on some items
  beets/dbcore/sort.py
  docs/changelog.rst
  test/dbcore/test_sort.py
Due: format, format-docs

Fix incorrect line numbers in logs
  beets/logging.py
Due: format

switch the logic ot strip item-only fixed fields
  beetsplug/edit.py
  test/plugins/test_edit.py
Due: format

remove redundant test
  test/plugins/test_edit.py
Due: format

Add commits from the previous merge to git blame ignore
  .git-blame-ignore-revs
Due: none

typing: make is_hidden, sorted_walk and albums_in_dir generic over AnyStr
  beets/importer/tasks.py
  beets/util/__init__.py
  beets/util/extension.py
  beets/util/hidden.py
  beetsplug/fetchart.py
Due: format

Move prefixes to where they are used
  beets/dbcore/queryparse.py
  beets/library/queries.py
  beetsplug/advancedrewrite.py
  test/dbcore/test_queryparse.py
Due: format

Replace construct_sort_term by SortTerm class
  beets/dbcore/queryparse.py
  beets/dbcore/sort.py
Due: format

Fix beets.plugins.queries type
  beets/plugins.py
Due: format

dbcore: rename Database._fetch to Database.get_results
  beets/dbcore/db.py
  beets/library/library.py
  test/dbcore/test_db.py
Due: format

Read sort case sensitivity in FieldSort
  beets/dbcore/queryparse.py
  beets/dbcore/sort.py
  beets/library/queries.py
  test/dbcore/test_sort.py
Due: format

Replace parse_query_part with QueryTerm
  beets/dbcore/queryparse.py
  beets/library/queries.py
  beets/test/fixtures.py
  test/dbcore/test_db.py
  test/dbcore/test_queryparse.py
Due: format

Replace construct_query_term with QueryPart.get_query
  beets/dbcore/query.py
  beets/dbcore/queryparse.py
  beets/test/fixtures.py
Due: format

Centralize field query construction in query classes
  beets/dbcore/query.py
  beets/dbcore/queryparse.py
  beets/library/models.py
  beetsplug/aura.py
  beetsplug/bpd/__init__.py
Due: format
