Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

format:
  name: Format Python files
  entry: poe format
  language: system
  pass_filenames: true

format-docs:
  name: Format docs
  entry: poe format-docs
  language: system
  pass_filenames: true

Fix readthedocs config
  .readthedocs.yaml
Due: none

Increment version to 2.13.0
  beets/__init__.py
  docs/changelog.rst
  docs/conf.py
  pyproject.toml
Due: format, format-docs

reformat beatport/bpsync docs
  docs/plugins/beatport.rst
  docs/plugins/bpsync.rst
Due: format-docs

lint
  beets/importer/tasks.py
Due: format

Resolve upgrade target per-album when duplicates span multiple albums
  beets/importer/stages.py
  beets/importer/tasks.py
  docs/reference/config.rst
  test/test_importer.py
Due: format, format-docs

Add bitrate-based upgrade duplicate_action
  beets/importer/actions.py
  beets/importer/stages.py
  beets/importer/tasks.py
  docs/changelog.rst
  docs/reference/config.rst
  test/plugins/test_art.py
  test/test_importer.py
Due: format, format-docs

Fix upgrade action when multiple old tracks share a duplicate key
  beets/importer/tasks.py
  test/test_importer.py
Due: format

update changelog
  docs/changelog.rst
Due: format-docs

Include uv.lock in changes docs files
  .github/workflows/lint.yaml
Due: none

Removed unused doc sections. Preparing for hotfix.
  docs/changelog.rst
Due: format-docs

It seems like the man folder was ignored as it is not part of our vcs.
  pyproject.toml
Due: none

Changelog entry
  docs/changelog.rst
Due: format-docs

Increment version to 2.13.1
  beets/__init__.py
  docs/changelog.rst
  docs/conf.py
  pyproject.toml
  uv.lock
Due: format, format-docs

fix: report filtered MusicBrainz track totals
  beetsplug/musicbrainz.py
  test/plugins/test_musicbrainz.py
Due: format

fix: lyrics plugin crash for lyrics with None text
  beets/util/lyrics.py
  test/util/test_lyrics.py
Due: format

fix: add defensive normalization
  beets/util/lyrics.py
Due: format

fix: tests
  test/util/test_lyrics.py
Due: format

Normalise reversed date ranges instead of crashing
  beets/dbcore/query.py
  docs/changelog.rst
  docs/reference/query.rst
  test/dbcore/test_datequery.py
Due: format, format-docs

Fix unique_path counter for names ending in two or more digits
  beets/util/__init__.py
  docs/changelog.rst
  test/test_util.py
Due: format, format-docs

Moved changelog entry to the current unreleased section.
  docs/changelog.rst
Due: format-docs

fix(autotag): make featuring word boundary symmetric
  beets/autotag/distance.py
Due: format

fix(autotag): "featuring" pattern in string_dist matches mid-word "ft"
  beets/autotag/distance.py
  docs/changelog.rst
  test/autotag/test_distance.py
Due: format, format-docs

docs: reflow changelog entry to satisfy docstrfmt
  docs/changelog.rst
Due: format-docs

Moved changelog entry into unreleased section.
  docs/changelog.rst
Due: format-docs

importer: fix tar and 7z archive import (#5664)
  beets/importer/tasks.py
  docs/changelog.rst
  test/test_importer.py
Due: format, format-docs

importer: type archive handlers with a Protocol instead of Any
  beets/importer/tasks.py
Due: format

Moved changelog entry under new version
  docs/changelog.rst
Due: format-docs

lyrics: normalize missing lyrics body in from_item
  beets/util/lyrics.py
  test/util/test_lyrics.py
Due: format

lyrics: include instrumental in from_item flexible keys
  beets/util/lyrics.py
Due: format

lyrics: treat missing lyrics body as empty text instead of crashing
  beets/util/lyrics.py
  docs/changelog.rst
  test/util/test_lyrics.py
Due: format, format-docs

Replace item.path with item.filepath in tests
  beets/util/__init__.py
  test/plugins/test_art.py
  test/plugins/test_aura.py
  test/plugins/test_duplicates.py
  test/plugins/test_embedart.py
  test/plugins/test_fetchart.py
  test/plugins/test_filefilter.py
  test/plugins/test_importadded.py
  test/plugins/test_importsource.py
  test/plugins/test_info.py
  test/plugins/test_ipfs.py
  test/plugins/test_scrub.py
  test/plugins/test_zero.py
  test/test_files.py
  test/test_library.py
  test/test_plugins.py
  test/ui/commands/test_modify.py
  test/ui/commands/test_move.py
  test/ui/commands/test_remove.py
  test/ui/commands/test_update.py
Due: format

Use pathlib.Path wherever possible in tests
  beets/test/helper.py
  test/dbcore/test_db.py
  test/library/test_migrations.py
  test/plugins/test_art.py
  test/plugins/test_convert.py
  test/plugins/test_embedart.py
  test/plugins/test_hook.py
  test/plugins/test_importadded.py
  test/plugins/test_importfeeds.py
  test/plugins/test_importsource.py
  test/plugins/test_info.py
  test/plugins/test_smartplaylist.py
  test/plugins/test_thumbnails.py
  test/plugins/test_web.py
  test/rsrc/convert_stub.py
  test/test_files.py
  test/test_importer.py
  test/test_library.py
  test/test_util.py
  test/testall.py
  test/ui/commands/test_completion.py
  test/ui/commands/test_config.py
  test/ui/test_ui.py
  test/util/test_hidden.py
  test/util/test_m3ufile.py
Due: format

Remove syspath
  test/plugins/test_art.py
  test/plugins/test_embedart.py
  test/plugins/test_importadded.py
  test/plugins/test_plugin_mediafield.py
  test/plugins/test_zero.py
  test/test_files.py
  test/test_importer.py
  test/test_library.py
  test/ui/commands/test_utils.py
  test/ui/test_ui.py
  test/util/test_art_resize.py
Due: format

Return Path from TestHelper.create_mediafile_fixture
  beets/test/helper.py
  test/plugins/test_info.py
Due: format

beets.util: remove prefix= kwarg from syspath
  beets/util/__init__.py
  beets/util/artresizer.py
  beetsplug/ipfs.py
Due: format

Ignore commits in git blame
  .git-blame-ignore-revs
Due: none

Add a global `editor` configuration option
  beets/config_default.yaml
  beets/ui/commands/config.py
  beets/util/__init__.py
  docs/changelog.rst
  docs/plugins/edit.rst
  docs/reference/cli.rst
  docs/reference/config.rst
  test/test_util.py
  test/ui/commands/test_config.py
Due: format, format-docs

fix(deezer): use free text for singleton searches
  beetsplug/deezer.py
  docs/changelog.rst
  test/plugins/test_deezer.py
Due: format, format-docs

Path conditions:
  format: any of: .*.py
  format-docs: any of: .*.rst
