Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

format:
  name: Format Python files
  entry: poe format
  language: system
  pass_filenames: true

format-docs:
  name: Format docs
  entry: poe format-docs
  language: system
  pass_filenames: true

Added proposal for logging modes to docs. This is intended for review and decision making at the moment.
  docs/reference/index.rst
  docs/reference/logging.rst
Due: format-docs

Fixed broken plugin link closes #6419
  index.md
Due: none

tidal: respect search_limit config option in candidates()
  beetsplug/tidal/__init__.py
  test/plugins/test_tidal.py
Due: format

docs: add changelog entry for tidal search_limit fix (#6770)
  docs/changelog.rst
Due: format-docs

fix(modify): parse typed values when selecting objects at the confirmation prompt
  beets/ui/commands/modify.py
  docs/changelog.rst
  test/ui/commands/test_modify.py
Due: format, format-docs

Add docs
  beetsplug/tidal/api_types.py
Due: format

Extract shared Tidal attributes type
  beetsplug/tidal/__init__.py
  beetsplug/tidal/api_types.py
Due: format

tidal: Add missing return types in TidalPlugin
  beetsplug/tidal/__init__.py
Due: format

Set create_backup_before_migrations=False in ConfigMixin
  beets/test/helper.py
Due: format

Only rely on configuration for db backup conditional
  beets/dbcore/db.py
Due: format

Fix storing flex media fields during update
  beets/dbcore/db.py
  docs/changelog.rst
  test/test_dbcore.py
  test/ui/commands/test_update.py
Due: format, format-docs

Refactor template evaluation to handle format strings ONLY
  beets/dbcore/db.py
  beets/library/models.py
  beets/ui/commands/modify.py
  beets/util/functemplate.py
  beets/util/pathformats.py
  beetsplug/bench.py
  beetsplug/smartplaylist.py
  test/plugins/test_smartplaylist.py
  test/ui/test_ui.py
  test/util/test_pathformats.py
Due: format

Use new format in determining destination.
  beets/library/models.py
  beetsplug/convert.py
  docs/changelog.rst
Due: format, format-docs

pass in extension, not suffix
  beets/library/models.py
  beetsplug/convert.py
Due: format

tidal: apply search_limit via round-robin early-break in candidates()
  beetsplug/tidal/__init__.py
  test/plugins/test_tidal.py
Due: format

tidal: fix lint, formatting, and mypy errors
  beetsplug/tidal/__init__.py
  test/plugins/test_tidal.py
Due: format

feat(ftintitle): hook metadata events, fixing mbsync
  beets/autotag/hooks.py
  beetsplug/ftintitle.py
  docs/changelog.rst
  docs/plugins/ftintitle.rst
  test/autotag/test_hooks.py
  test/plugins/test_ftintitle.py
Due: format, format-docs

fix(ftintitle): defer inclusion of artist_credit, review cleanup
  beetsplug/ftintitle.py
  test/plugins/test_ftintitle.py
Due: format

fix(ftintitle): use Item type and type featured field
  beetsplug/ftintitle.py
Due: format

fix(hooks): remove cached property invalidation
  beets/autotag/hooks.py
  test/autotag/test_hooks.py
  test/plugins/test_ftintitle.py
Due: format

fix(ftintitle): rename to _strip_featured_from_field
  beetsplug/ftintitle.py
Due: format

Centralize path asciification normalization
  beets/library/models.py
  beets/util/__init__.py
  test/test_library.py
  test/test_util.py
Due: format

Simplify template evaluation and path format handling
  beets/dbcore/db.py
  beets/library/models.py
  beets/ui/commands/modify.py
  beets/util/functemplate.py
  beets/util/pathformats.py
  beetsplug/bench.py
  beetsplug/smartplaylist.py
  test/plugins/test_inline.py
  test/plugins/test_rewrite.py
  test/plugins/test_smartplaylist.py
  test/plugins/test_types_plugin.py
  test/test_library.py
  test/ui/test_ui.py
  test/util/test_pathformats.py
Due: format

Add --no-keep-synced CLI option to lyrics
  beetsplug/lyrics.py
  docs/changelog.rst
  docs/plugins/lyrics.rst
  test/plugins/test_lyrics.py
Due: format, format-docs

Track instrumental lyrics metadata
  beets/util/lyrics.py
  beetsplug/lyrics.py
  docs/changelog.rst
  docs/plugins/lyrics.rst
  test/plugins/test_lyrics.py
  test/util/test_lyrics.py
Due: format, format-docs

Add a migration
  beets/library/library.py
  beets/library/migrations.py
  docs/changelog.rst
  test/library/test_migrations.py
Due: format, format-docs

Skip invalid absubmit JSON output
  beetsplug/absubmit.py
  docs/changelog.rst
  test/plugins/test_absubmit.py
Due: format, format-docs

Use Deezer album artist for missing contributors
  beetsplug/deezer.py
  docs/changelog.rst
  test/plugins/test_deezer.py
Due: format, format-docs

Support hyphenated bash completion aliases
  beets/ui/commands/completion.py
  docs/changelog.rst
  test/rsrc/beetsplug/test.py
  test/rsrc/test_completion.sh
  test/ui/commands/test_completion.py
Due: format, format-docs

Delay Dolphin metadata until thumbnails finish
  beetsplug/thumbnails.py
  docs/changelog.rst
  test/plugins/test_thumbnails.py
Due: format, format-docs

Preview album item paths during move selection
  beets/ui/commands/move.py
  docs/changelog.rst
  test/ui/commands/test_move.py
Due: format, format-docs

Keep redirected mbcollection releases
  beetsplug/mbcollection.py
  docs/changelog.rst
  test/plugins/test_mbcollection.py
Due: format, format-docs

Write import log paths as JSON lists
  beets/importer/logfile.py
  beets/importer/session.py
  beets/ui/commands/import_/__init__.py
  docs/changelog.rst
  test/test_importer.py
  test/ui/commands/test_import.py
Due: format, format-docs

Fix playlist queries for library-relative paths
  beetsplug/playlist.py
  docs/changelog.rst
  test/plugins/test_playlist.py
Due: format, format-docs

format and lint with ruff
  beets/ui/commands/modify.py
  test/ui/commands/test_modify.py
Due: format

fix: keep remuxed MP3 files when source is .mp3
  beets/util/extension.py
  docs/changelog.rst
  test/test_importer.py
Due: format, format-docs

fix: disambiguate path-equivalent aunique keys
  beets/library/library.py
  beets/library/models.py
  docs/changelog.rst
  test/test_library.py
Due: format, format-docs

Detach stdin when running badfiles checker commands
  beetsplug/badfiles.py
  docs/changelog.rst
  test/plugins/test_badfiles.py
Due: format, format-docs

tidal: honor manual search terms
  beetsplug/tidal/__init__.py
  docs/changelog.rst
  test/plugins/test_tidal.py
Due: format, format-docs

Reflow changelog entry to satisfy docstrfmt (line-length 80)
  docs/changelog.rst
Due: format-docs

Path conditions:
  format: any of: .*.py
  format-docs: any of: .*.rst
