Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

format:
  name: Format Python files
  entry: poe format
  language: system
  pass_filenames: true

format-docs:
  name: Format docs
  entry: poe format-docs
  language: system
  pass_filenames: true

try to fix fish plugin
  beetsplug/fish.py
Due: format

Update changelog.rst
  docs/changelog.rst
Due: format-docs

Fix docs: use single-line deprecated directive compatible with docstrfmt
  docs/plugins/beatport.rst
  docs/plugins/bpsync.rst
Due: format-docs

Fix docs formatting for beatport and bpsync rst files
  docs/plugins/beatport.rst
  docs/plugins/bpsync.rst
Due: format-docs

Deprecate beatport and bpsync plugins
  beetsplug/beatport.py
  beetsplug/bpsync.py
  docs/changelog.rst
  docs/plugins/beatport.rst
  docs/plugins/bpsync.rst
Due: format, format-docs

refactor: Use deprecate_for_user for beatport/bpsync deprecation warnings
  beetsplug/beatport.py
  beetsplug/bpsync.py
Due: format

Replace docs more specific about metadata syncing
  docs/plugins/replace.rst
Due: format-docs

Use Mock instead of 'always' function
  beetsplug/replace.py
  test/plugins/test_replace.py
Due: format

Tests for replace.replace_file
  test/plugins/test_replace.py
Due: format

Add tests for replace CLI command
  beetsplug/replace.py
  test/plugins/test_replace.py
Due: format

Switch to using try_sync
  beetsplug/replace.py
  test/plugins/test_replace.py
Due: format

Use util function for song selection
  beetsplug/replace.py
Due: format

Save new path before writing metadata
  beetsplug/replace.py
Due: format

Update replace plugin docs
  docs/plugins/replace.rst
Due: format-docs

Use util functions for confirmation and path conversion
  beetsplug/replace.py
  test/plugins/test_replace.py
Due: format

Fix fixture return type
  test/plugins/test_replace.py
Due: format

Fix ReplacePlugin CLI command
  beetsplug/replace.py
Due: format

Test running replace command
  beetsplug/replace.py
  test/plugins/test_replace.py
Due: format

Update changelog
  docs/changelog.rst
Due: format-docs

Move some imports into type-checking blocks
  test/plugins/test_replace.py
Due: format

Store new path only after successful write
  beetsplug/replace.py
Due: format

Replace command now writes metadata to the file
  beetsplug/replace.py
  test/plugins/test_replace.py
Due: format

Format docs
  docs/changelog.rst
  docs/plugins/replace.rst
Due: format-docs

No default for replace confirmation
  beetsplug/replace.py
Due: format

lastgenre: Adapt test to canon helpers move
  test/plugins/test_lastgenre.py
Due: format

lastgenre: Named types Whitelist and CanonTree
  beetsplug/lastgenre/__init__.py
Due: format

Relocate an existing lastgenre changelog entry
  docs/changelog.rst
Due: format-docs

lastgenre: Polish method grouping comments wording
  beetsplug/lastgenre/__init__.py
Due: format

lastgenre: Group all tree processing helpers together
  beetsplug/lastgenre/__init__.py
Due: format

Changelog for extra_debug tool
  docs/changelog.rst
Due: format-docs

lastgenre: Move fetching to client module
  beets/logging.py
  beetsplug/lastgenre/__init__.py
  beetsplug/lastgenre/client.py
Due: format

lastgenre: Adapt test to last.fm client separation
  test/plugins/test_lastgenre.py
Due: format

lastgenre: Tests for blacklist feature
  test/plugins/test_lastgenre.py
Due: format

lastgenre: Blacklist based on artist
  beetsplug/lastgenre/__init__.py
  beetsplug/lastgenre/client.py
  docs/plugins/lastgenre.rst
Due: format, format-docs

Path conditions:
  format: any of: .*.py
  format-docs: any of: .*.rst
