Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: format
        name: Format Python files
        entry: poe format
        language: system
        files: '.*.py'
        pass_filenames: true
      - id: format-docs
        name: Format docs
        entry: poe format-docs
        language: system
        files: '.*.rst'
        pass_filenames: true

Fixed doc grammar; added error precedence comment
  beetsplug/badfiles.py
  docs/plugins/badfiles.rst
Due: format, format-docs

Reformat badfiles.rst
  docs/plugins/badfiles.rst
Due: format-docs

Remove readonly check - only triggers on write ops, not open
  beets/ui/__init__.py
Due: format

Fix test failures
  test/plugins/test_ftintitle.py
  test/ui/test_ui.py
Due: format

Patch sys.stdin and sys.stdout in tests
  beets/test/_common.py
  beets/test/helper.py
  test/ui/commands/test_completion.py
Due: format

Replace capture_output with io.getoutput
  beets/test/helper.py
  test/plugins/test_bareasc.py
  test/plugins/test_convert.py
  test/plugins/test_edit.py
  test/plugins/test_export.py
  test/plugins/test_fetchart.py
  test/plugins/test_info.py
  test/plugins/test_lastgenre.py
  test/plugins/test_limit.py
  test/plugins/test_mbsubmit.py
  test/plugins/test_missing.py
  test/plugins/test_play.py
  test/plugins/test_smartplaylist.py
  test/plugins/test_types_plugin.py
  test/test_metasync.py
  test/test_plugins.py
  test/ui/commands/test_config.py
  test/ui/commands/test_list.py
  test/ui/commands/test_write.py
  test/ui/test_ui.py
Due: format

Replace control_stdin with io.addinput
  beets/test/helper.py
  test/plugins/test_bpd.py
  test/plugins/test_convert.py
  test/plugins/test_edit.py
  test/plugins/test_importsource.py
  test/plugins/test_mbsubmit.py
  test/plugins/test_play.py
  test/plugins/test_zero.py
  test/test_plugins.py
  test/ui/commands/test_modify.py
  test/ui/test_ui_init.py
Due: format

Replace custom stdio mocks with pytest io fixture
  beets/test/_common.py
  beets/test/helper.py
  test/conftest.py
  test/ui/commands/test_fields.py
Due: format

refactor: simplify CommandBackend with SUPPORTED_FORMATS_BY_TOOL
  beetsplug/replaygain.py
Due: format

fix: sort imports alphabetically
  beetsplug/replaygain.py
Due: format

importsource: Only register listener if configured
  beetsplug/importsource.py
Due: format

importsource: Test listeners based on config
  test/plugins/test_importsource.py
Due: format

fix: changelog entry
  docs/changelog.rst
Due: format-docs

Merge mbpseudo into musicbrainz
  .github/CODEOWNERS
  beetsplug/mbpseudo.py
  beetsplug/musicbrainz.py
  docs/changelog.rst
  docs/plugins/index.rst
  docs/plugins/mbpseudo.rst
  docs/plugins/musicbrainz.rst
  test/plugins/test_musicbrainz_pseudo.py
  test/rsrc/musicbrainz/official_release.json
  test/rsrc/musicbrainz/pseudo_release.json
Due: format, format-docs

Introduce album_info_received event with items
  beets/autotag/match.py
  beets/metadata_plugins.py
  beets/plugins.py
  beetsplug/mbsync.py
  beetsplug/missing.py
  docs/changelog.rst
  docs/dev/plugins/events.rst
  test/test_importer.py
Due: format, format-docs

Support multiple pseudo-releases and reimport in musicbrainz
  beetsplug/musicbrainz.py
  docs/plugins/musicbrainz.rst
  test/plugins/test_musicbrainz_pseudo.py
  test/rsrc/musicbrainz/official_release.json
Due: format, format-docs

Try simple MB search in case artist is an alias
  beetsplug/_utils/musicbrainz.py
  beetsplug/musicbrainz.py
Due: format

Replace/fix Release.type with Release.primary-type
  beetsplug/musicbrainz.py
  test/plugins/test_musicbrainz.py
Due: format

library: add subtitle (id3 TIT3) field
  beets/library/models.py
  docs/changelog.rst
  docs/reference/pathformat.rst
  poetry.lock
Due: format, format-docs

detectmissing: init
  beets/library/models.py
  beetsplug/detectmissing.py
Due: format

fish: complete files in more places
  beetsplug/fish.py
Due: format

refactor: simplify CommandBackend and improve documentation
  beetsplug/replaygain.py
  docs/plugins/replaygain.rst
Due: format, format-docs

library: add subtitle (id3 TIT3) field
  beets/library/models.py
  docs/changelog.rst
  docs/reference/pathformat.rst
  poetry.lock
  pyproject.toml
Due: format, format-docs

Remove redundant lastgenre separator checks
  beets/library/library.py
Due: format

fix lint/format
  beets/library/library.py
Due: format

fix lint/format
  beetsplug/lastgenre/__init__.py
Due: format

clearer migration note in changelog
  docs/changelog.rst
Due: format-docs

apply docstrfmt formatting to changelog
  docs/changelog.rst
Due: format-docs

Fix formatting
  test/plugins/test_musicbrainz.py
Due: format

Fix #6177, remove derived types, refactor coalesce tracks
  beetsplug/discogs.py
  docs/changelog.rst
  test/plugins/test_discogs.py
Due: format, format-docs

Fix #6068 - Multivalue fields are now supported & tested.
  beetsplug/discogs.py
  docs/changelog.rst
  test/plugins/test_discogs.py
Due: format, format-docs

Cleanup for #6177, #6068
  beetsplug/discogs.py
  test/plugins/test_discogs.py
Due: format
