Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

format:
  name: Format Python files
  entry: poe format
  language: system
  pass_filenames: true

format-docs:
  name: Format docs
  entry: poe format-docs
  language: system
  pass_filenames: true

Added duduping on mb_trackid to the duplicates plugin
  beetsplug/duplicates.py
  docs/changelog.rst
  docs/plugins/duplicates.rst
Due: format, format-docs

Fixed bug where move() function deleted files without catching errors, now more gracefully fallback is provided to the user
  beets/util/__init__.py
  docs/changelog.rst
  test/util/test_move_function.py
Due: format, format-docs

Changed logic of fallback in util.move()
  beets/util/__init__.py
Due: format

Added information about temporary file left, and its location
  beets/util/__init__.py
  test/util/test_move_function.py
Due: format

Add missed ANSI codes for 4 bit colors
  beets/ui/__init__.py
Due: format

Update color docs with bright_* and bg_bright_* entries
  beets/ui/__init__.py
  docs/reference/config.rst
Due: format, format-docs

Fix test failures: correct path literal and formatting issues
  pyproject.toml
  test/ui/test_ui_init.py
Due: format

Fix TypeError: use fsdecode to handle bytes temp_dir path
  test/ui/test_ui_init.py
Due: format

Address code review: soften error message and improve path handling
  beets/ui/__init__.py
  test/ui/test_ui_init.py
Due: format

Update changelog to reflect code review improvements
  docs/changelog.rst
Due: format-docs

Add remove_missing option to convert plugin
  beetsplug/convert.py
Due: format

Add remove_missing test cases
  test/plugins/test_convert.py
Due: format

Add documentation for remove_missing option of convert plugin
  docs/plugins/convert.rst
Due: format-docs

Add changelog entry for remove_missing option of convert plugin
  docs/changelog.rst
Due: format-docs

Simplify test setup
  test/plugins/test_convert.py
Due: format

Improve test coverage
  test/plugins/test_convert.py
Due: format

Improve test coverage and test documentation
  test/plugins/test_convert.py
Due: format

Simplify database directory logic to fix coverage
  beets/ui/__init__.py
Due: format

Update changelog
  docs/changelog.rst
Due: format-docs

Update confuse
  poetry.lock
  pyproject.toml
Due: none

Adapt code to fully typed confuse library
  beets/__init__.py
  beets/plugins.py
  beets/ui/__init__.py
  beets/ui/commands/import_/session.py
  beetsplug/discogs/__init__.py
  beetsplug/fetchart.py
  beetsplug/lastgenre/__init__.py
  beetsplug/lyrics.py
  beetsplug/playlist.py
  beetsplug/smartplaylist.py
  beetsplug/titlecase.py
Due: format

Fixed doc grammar; added error precedence comment
  beetsplug/badfiles.py
  docs/plugins/badfiles.rst
Due: format, format-docs

badfiles: added config options to automatically take action on error/warning
  beetsplug/badfiles.py
  docs/changelog.rst
  docs/plugins/badfiles.rst
Due: format, format-docs

Reformat badfiles.rst
  docs/plugins/badfiles.rst
Due: format-docs

Handle false-positive error case
  beetsplug/badfiles.py
Due: format

Fix to properly redact Acoustid API key when dumping configuration file
  beetsplug/chroma.py
  docs/changelog.rst
Due: format, format-docs

Removed changelog to prevent conflicts (for now)
  docs/changelog.rst
Due: format-docs

Remove whitespace
  beetsplug/chroma.py
Due: format

Moved functions from random.py into random plugin. Removed random.py
  beets/random.py
  beetsplug/random.py
Due: format

Added typehints and some more tests.
  beetsplug/random.py
  docs/changelog.rst
  test/plugins/test_random.py
Due: format, format-docs

Replace random.Random with random module
  beetsplug/random.py
  test/plugins/test_random.py
Due: format

Cached property for length & forgot sorted.
  beets/library/models.py
  beetsplug/random.py
Due: format

Add annotation for LibModel.length property
  beets/library/models.py
  beetsplug/random.py
Due: format

Readded licence. Removed last legacy occurrences of `artist` and replaced them with `field`. Removed unnecessary default parameters where applicable.
  beetsplug/random.py
  test/plugins/test_random.py
Due: format

Path conditions:
  format: any of: .*.py
  format-docs: any of: .*.rst
