Repository beetbox/beets: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, format-docs

format:
  name: Format Python files
  entry: poe format
  language: system
  pass_filenames: true

format-docs:
  name: Format docs
  entry: poe format-docs
  language: system
  pass_filenames: true

Generalise multi-value migrations
  beets/library/migrations.py
Due: format

Migrate composer -> composers
  beets/autotag/hooks.py
  beets/library/library.py
  beets/library/migrations.py
  beets/library/models.py
  beets/test/_common.py
  beetsplug/aura.py
  beetsplug/bpd/__init__.py
  beetsplug/musicbrainz.py
  docs/changelog.rst
  docs/reference/cli.rst
  docs/reference/pathformat.rst
  docs/reference/query.rst
  test/autotag/test_hooks.py
  test/library/test_migrations.py
  test/plugins/test_musicbrainz.py
  test/test_library.py
Due: format, format-docs

Consistent wording of multi-valued in migrations.py
  beets/library/migrations.py
Due: format

Update mediafile
  poetry.lock
  pyproject.toml
Due: none

Migrate arranger -> arrangers
  beets/autotag/hooks.py
  beets/library/library.py
  beets/library/migrations.py
  beets/library/models.py
  beets/test/_common.py
  beetsplug/musicbrainz.py
  docs/changelog.rst
  docs/reference/cli.rst
  docs/reference/pathformat.rst
  docs/reference/query.rst
  test/autotag/test_hooks.py
  test/library/test_migrations.py
  test/plugins/test_musicbrainz.py
Due: format, format-docs

Update docs
  docs/changelog.rst
  docs/reference/cli.rst
  docs/reference/pathformat.rst
  docs/reference/query.rst
Due: format-docs

Migrate remixer to remixers
  beets/dbcore/types.py
  beets/library/library.py
  beets/library/migrations.py
  beets/library/models.py
  test/library/test_migrations.py
Due: format

Use __setattr__ to handle setting legacy string fields
  beets/autotag/hooks.py
  test/autotag/test_hooks.py
  test/plugins/test_musicbrainz.py
Due: format

Generalise getting list value from list value in Info
  beets/autotag/hooks.py
  test/autotag/test_hooks.py
Due: format

Handle single lyricist in TrackInfo
  beets/autotag/hooks.py
  beets/test/_common.py
  test/autotag/test_hooks.py
Due: format

Add migration for lyricists list field
  beets/library/library.py
  beets/library/migrations.py
  beets/library/models.py
  test/library/test_migrations.py
Due: format

lastgenre: Genre ignorelist based on artist
  beetsplug/lastgenre/__init__.py
  beetsplug/lastgenre/client.py
  beetsplug/lastgenre/utils.py
  docs/plugins/lastgenre.rst
Due: format, format-docs

lastgenre: Drop ignored helper
  beetsplug/lastgenre/__init__.py
  beetsplug/lastgenre/client.py
  beetsplug/lastgenre/utils.py
Due: format

Simplify longish multivalued albumartist test
  test/plugins/test_lastgenre.py
Due: format

lastgenre: Load ignorelist with confuse mapping template
  beetsplug/lastgenre/__init__.py
Due: format

Docs wording fix 3
  docs/plugins/lastgenre.rst
Due: format-docs

Shorten genre to g in utils
  beetsplug/lastgenre/utils.py
Due: format

Remove redundant and fix tests for confuse refactor
  test/plugins/test_lastgenre.py
Due: format

Fix artist handler
  beetsplug/lastgenre/__init__.py
Due: format

lastgenre: Dedup fallback handling in _get_genre
  beetsplug/lastgenre/__init__.py
Due: format

Docs fix regex metal example
  docs/plugins/lastgenre.rst
Due: format-docs

Docs wording fix 1
  docs/plugins/lastgenre.rst
Due: format-docs

Update docs for yaml refactor
  docs/plugins/lastgenre.rst
Due: format-docs

lastgenre: Refactor ignorelist to yaml
  beetsplug/lastgenre/__init__.py
  test/plugins/test_lastgenre.py
Due: format

Docs wording fix 2
  docs/plugins/lastgenre.rst
Due: format-docs

lastgenre: Tests for genre ignorelist feature
  test/plugins/test_lastgenre.py
Due: format

lastgenre: Dedup finding correct artist attr
  beetsplug/lastgenre/__init__.py
Due: format

Shorten genre to g in main plugin
  beetsplug/lastgenre/__init__.py
Due: format

Remove case-sensitive flag which breaks patterns
  .github/labeler.yaml
Due: none

Handle legacy fields in modify
  beets/autotag/hooks.py
  beets/ui/commands/modify.py
  beets/util/deprecation.py
  test/autotag/test_hooks.py
  test/ui/commands/test_modify.py
Due: format

Fix safeguard
  beetsplug/lastgenre/utils.py
Due: format

Make sure labels can be added to PRs
  .github/workflows/label-issues.yaml
Due: none

Docs add trailing colon to attention box
  docs/plugins/lastgenre.rst
Due: format-docs

Wrap tests into TestIgnorelist class
  test/plugins/test_lastgenre.py
Due: format

Update docs
  docs/changelog.rst
  docs/reference/cli.rst
Due: format-docs

Add remixer ids and merge recording artist relations query
  beetsplug/musicbrainz.py
Due: format

Import MusicBrainz composer/lyricist/arranger ids
  beets/autotag/hooks.py
  beets/library/models.py
  beetsplug/musicbrainz.py
Due: format

Add changelog
  docs/changelog.rst
Due: format-docs

Fix tests
  test/plugins/test_musicbrainz.py
Due: format

Path conditions:
  format: any of: .*.py
  format-docs: any of: .*.rst
